[2018-04-06 14:27] jmprieur commented on #1026
@rachelvwood : did you read https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/build-and-test ?

[2018-04-06 15:46] rachelvwood commented on #1026
Yep.  I have all requirements downloaded.

[2018-04-06 15:49] jmprieur commented on #1026
@rachelvwood : thanks for checking. I'll try to setup a VM to understand the differences with our build configurations.
- which OS are you using?
- did you install VS 2015 and then VS 2017? (and which patch versions)?

[2018-04-06 16:12] rachelvwood commented on #1026
Windows 10. Just VS 2017. 15.6.5

[2018-04-06 17:04] jmprieur commented on #1026
I think you also need VS 2015 (and install it before VS 2017 which is a problem in your case), to be able to build it, as it requires WinRT.
Now, you could also build it with VSTS?

[2018-04-07 06:29] shawnjones253 commented on #511
I'm also running into this problem with 3.17.2

[2018-04-08 01:09] jmprieur commented on #511
what is the target platform of your library?
did you try 3.19.2?

[2018-04-09 18:40] rachelvwood commented on #1026
Uninstalled VS15, installed VS17.  Ran nuget restore.
ran "msbuild Combined.NoWinRT.sln /t:build /p:configuration=release"

Now I'm getting:
Platforms\winrt\CoreCryptographyHelpers.cs(64,24): error CS0012: The type 'IBuffer' is defined in an assembly that is
 not referenced. You must add a reference to assembly 'Windows, Version=255.255.255.255, Culture=neutral, PublicKeyToke
n=null, ContentType=W

[2018-04-09 20:12] jennyf19 commented on #1026
@rachelvwood - You can try cleaning and rebuilding just Microsoft.Identity.Core and see if that helps (from Visual Studio 2017).
Also, can you see if building from the branch [adalv3/dev](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/tree/adalv3/dev) works for you?

[2018-04-09 20:31] rachelvwood commented on #1026
@jennyf19
I got the same errors for Microsoft.Identity.Core

adalv3/dev gave me errors during nuget restore:
error : Unable to load the service index for source https://msasg.pkgs.visualstudio.com/_packaging/Bing/nu
get/v3/index.json. [\azure-activedirectory-library-for-dotnet\ADAL.NET.NoWinRT.sln]
C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\CommonExtensions\Microsof

[2018-04-09 20:53] jennyf19 commented on #1026
@rachelvwood - I'm not able to reproduce the errors you are seeing. I did some searching on-line, maybe try restarting Visual Studio. Also, make sure you have all the [required elements for building ADAL](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Visual-Studio-2017-Required-Components).

[2018-04-09 22:34] eylult commented on #1023
Thank you. We've updated our Adal version and fixed the issue.

[2018-04-09 22:34] #1023 closed

[2018-04-10 07:37] gi097 opened #1032 "Can't login when inside corporation network"
I am using `ADAL.NET` in `Xamarin`. The login works fine, however when I am inside the corporation network the `ADFS` redirects to the internal server, which should not happen, it returns a `404`. How can I force the app to redirect to our external server? Are there some parameters that I am missing?

[2018-04-10 14:25] jmprieur commented on #1032
Hello @gi097
Did you do all what is recommended in the following paragraph: [Properties of PlatformParameter specific to WinRT and UWP (Corporate network)](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Acquiring-tokens-interactively---Public-client-application-flows#properties-of-platformparameter-specific-to-winrt-and-uwp-corporate-network)

Alternatively, if this appli

[2018-04-10 18:48] keithfry-gm commented on #671
We also have the same experience as MatFillion and would also like this Enhancement implemented so we don't have to patch it manually.

Thanks.

[2018-04-10 18:51] jennyf19 commented on #671
Thanks for bringing this up again, @keithfry-gm

cc: @jmprieur @henrik-me

[2018-04-11 14:39] CyberNyanta opened #1033 "When using Android with Broker, calling acquireTokenSilentAsync will fail"
When using Intune + Authenticator App + Microsoft.ADAL.AuthenticationSettings.setUseBroker(true) works fine for the acquireTokenAsync call on ours app in azure. In case we call `AcquireTokenSilentAsync` on `https://graph.microsoft.com,` it will fail because there are no items in the TokenCache. However, it has one token before call `AcquireTokenSilentAsync`, after call it is empty;
Exact error:
Er

[2018-04-11 16:26] jennyf19 commented on #1033
@CyberNyanta - Thanks for all the info. We'll take a look. Are you using the simulator or an Android device?

[2018-04-11 16:35] CyberNyanta commented on #1033
@jennyf19 Enrolled Android device, however, I facing same results with unenrolled devices

[2018-04-11 21:42] jennyf19 commented on #1028
Fixed with hotfix release [3.19.3](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/v3.19.3) and verified by our own testing and @AArnott

[2018-04-11 21:42] #1028 closed

[2018-04-11 21:54] ivannp opened #1036 "Are there any plans to support authentication for .NET Core?"
The UI used for authentication seems to be Windows based.

[2018-04-11 23:50] shawnjones253 commented on #511
Targeting .NET 4.7 (Any CPU)
I just tried both 3.19.2 and 3.19.3. In both cases, the project that directly references ADAL gets both .dll files in its output, while the upstream project referencing the first project ends up missing the platform dll.

[2018-04-12 00:10] jmprieur commented on #1036
ADAL.NET does support authentication, but not interactive authentication:

**Why?**
.NET Core does not provide (to my knowledge) any Web browser, and they are required for ADAL.NET. Please read [ADAL.NET uses an embedded web browser](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/ADAL.NET-uses-an-embedded-web-browser).

**What can you do?**
You can other flows depending o

[2018-04-12 00:12] #1036 closed

[2018-04-13 15:51] jennyf19 commented on #1032
Thanks @jbpoulsen - we'll look into this issue

[2018-04-13 15:53] jennyf19 commented on #1027
@Xeno-Xamarin - Any update on this? Have you got things working?

[2018-04-14 16:50] CyberNyanta commented on #1033
Sorry, i've copy-paste wrong,
Code below is works with `new PlatformParameters(this, false);`
but when we set use broker true `new PlatformParameters(this, true);` **AcquireTokenSilentAsync** fails with graph API android
[code]

[2018-04-14 16:54] CyberNyanta commented on #1033
CommonAuthority - "https://login.microsoftonline.com/{tenantId}";
GraphResourceUri - "https://graph.microsoft.com";

[2018-04-14 17:56] jennyf19 commented on #1033
@CyberNyanta Thanks for the update

[2018-04-14 18:35] jennyf19 commented on #1033
@CyberNyanta - Which redirect uri are you using for Android? Have you seen our [wiki](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/leveraging-brokers-on-Android-and-iOS#brokered-authentication-for-android) on brokered authentication w/Android?

[2018-04-14 18:43] jennyf19 commented on #993
@ondrejspilka Going to close this since we haven't heard from you, but feel free to re-open if you need help.

[2018-04-14 18:43] #993 closed

[2018-04-14 19:25] CyberNyanta commented on #1033
I've used this code from your repository to generate redirect URL
[code]

all URLs register at portal.azure.com
`App registrations/MobileAppName/Settings/Redirect URIs`

[2018-04-16 10:56] angshuman-agarwal commented on #879
[code]

I do not believe above will work with `PromptBehavior.Never` because the very 1st time , it token is not present in cache, it will flash up a web browser and `PromptBehavior.Never` will fail.

Please read `Note that:` section [here ](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Acquiring-tokens-interactively---Public-client-application-flows#properties-or-platfo

[2018-04-16 14:03] jmprieur commented on #879
markdwags, the flow you describe above is an interactive flow which is not supported in .NET core as .NET core does not offer a Web browser

Indeed @angshuman-agarwal, indeed one should what is described in [recommended pattern to acquire a token in public client application](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/AcquireTokenSilentAsync-using-a-cached-token#recom

[2018-04-16 14:03] #879 closed

[2018-04-16 15:08] jmprieur commented on #879
@angshuman-agarwal  if you use systematically AcuireTokenSilentAsync before your call to AcquireTokenAsync( with Auto), then you will not see any browser.

[2018-04-16 15:39] angshuman-agarwal commented on #879
@jmprieur

Sorry, that is not true.

I followed this [pattern here](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/AcquireTokenSilentAsync-using-a-cached-token#recommended-pattern-to-acquire-a-token) where I call `AcuireTokenSilentAsync` 1st and then in `catch`  I *will have* to call `AcquireTokenAsyc` as very `1st time`, token will not be found silently and always requir

[2018-04-16 15:46] jmprieur commented on #879
@angshuman-agarwal. I'm confused about what you want to achieve

This is an interactive flow. so the very first time the user uses the application, s/he will have to sign-in interactively. Then,  provided you have implemented a [token cache serialization](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Token-cache-serialization) (only needed on .NET Framework and .NET Core

[2018-04-16 15:52] markdwags commented on #879
@jmprieur

I'm trying to get past the part that requires someone to sign in interactively -- where it would use an Active Directory username and password (stored in a config or obtained some other way) that I pass in instead to bypass the interactive window.

Specifically, my use-case is attempting to get this token from an AWS Lambda function and then using that token to interact with the CRM Web

[2018-04-16 17:25] jennyf19 commented on #1025
@michaelsrichter - Here are [two samples](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Token-cache-serialization#some-of-the-samples-illustrating-token-cache-serialization) that use token cache serialization.

[2018-04-16 17:27] angshuman-agarwal commented on #879
I will open a new issue. Sorry about that

[2018-04-17 19:48] fpintos opened #1039 "3.19.2: Trace events from Microsoft.IdentityModel.Clients.ActiveDirectory.AdalOption.AdalEventSource seem to be coming as Errors when they should be Information or Verbose"
**Issue**
Events from AdalOption.AdalEventSource are reaching the event listener with name & level of "Error", when they should in fact be informational events.

This is likely due to [DefaultLog](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/130219b656485b4f536be62af1a18c4e123fe09d/adal/src/Microsoft.IdentityModel.Clients.ActiveDirectory/Features/WinCommon/AdalLogger.cs

[2018-04-17 19:59] jennyf19 commented on #1039
Thanks for the detailed information @fpintos
Are you using 3.19.2?

[2018-04-17 21:56] jorupp opened #1040 "Making use of refresh token returned by no-resource AcquireTokenByAuthorizationCodeAsync"
Unless I'm missing something, this library doesn't offer a way to make use of the refresh token returned by `AcquireTokenByAuthorizationCodeAsync` when no resource is supplied.  There's no corresponding `AcquireTokenSilentAsync` where you a resource isn't required, and even if there was, `AcquireTokenByAuthorizationCodeAsync` doesn't save the refresh token in the `TokenCache` supplied when creatin

[2018-04-18 02:56] jennyf19 commented on #1039
With this fix, @fpintos verified that the events come with the correct level and can be filtered as expected by the event listener.

[2018-04-18 03:08] jmprieur commented on #1040
Hello @jorupp : I understand that that you are building an ASP.NET Web application, and get notified when it gets the authorization code, and redeem the token.

I suggest you read this page of the conceptual documentation [](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Acquiring-tokens-with-authorization-codes-on-web-apps), and in particular [It's a first step to make c

[2018-04-18 03:12] jorupp commented on #1040
I'm using the token cache for the resource-specific calls without issue.  In my scenario, I'm dealing with a number of different resources, and was planning not to acquire tokens for them until necessary, at which point I'll use the token cache.  I'm trying to figure out how to leverage the refresh token (likely via the token cache) for the *non-resource* authentication so I can get a new `UserAss

[2018-04-18 12:54] jmprieur commented on #1040
@jorupp :
When you use the on-behalf-of flow, and acquire a token for a different resource, but in the name of the same user, ADAL.NET should get you a token (indeed, leveraging the refresh token). Isn't it what you are observing? you will need, however to add dependencies to these resources in the azure portal during the app registration.

I don't understand, though, what a *non-resource* authent

[2018-04-18 14:34] CyberNyanta commented on #1033
@jennyf19 I've tried to specify user but it still won't work without indicating PlatformParameters,
I've managed to receive token only with this code
`await authContext
                .AcquireTokenSilentAsync(AdalConstants.GraphResourceUri,
                                         AdalConstants.ClientId,
                                         new UserIdentifier(authResultBrokerResult.UserInfo.U

[2018-04-18 20:34] jennyf19 commented on #1033
@CyberNyanta - So, to recap, the issue is AcquireTokenSilent with broker on Android was failing? Based on your last post, seems like it's now working if you are able to acquire a token with the code you posted. If you are using broker, you have to set the PlatformParameters _and_ specify the user.

Just trying to clarify where we are at so we better assist you.

Here is the [documentation ](https:

[2018-04-19 21:08] jennyf19 commented on #1016
@smstuebe - I did some testing w/Xamarin iOS and there is no reason to not shut down the UI as soon as it is done. I will make the change you suggested.

[2018-04-19 21:54] henrik-me commented on #1016
pls. see my comment in the related PR. it is about ensuring that the callback actually is performed.

[2018-04-20 19:26] webster354 commented on #720
@benleonard101 I had the same problem with this exception being thrown every single time.

The solution for me was to fix the the authority URL. Based on the sample code from Microsoft's [https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/blob/1fbde7c25316274a4abaab64893957a80269e1e5/TaskWebApp/App_Start/Startup.Auth.cs#L142](active-directory-b2c-dotnet-webapp-and-webap

[2018-04-21 00:43] jennyf19 commented on #1039
Addressed with [3.19.4](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/v3.19.4) release

@fpintos

[2018-04-21 00:43] #1039 closed

[2018-04-28 05:29] jennyf19 commented on #1033
@CyberNyanta - Any update on this? Thanks

[2018-05-04 19:31] jennyf19 commented on #497
@benrbray - did you ever get this figured out?

[2018-05-06 03:27] benrbray commented on #497
Short-term, I think I ended up doing something hacky that I don't quite remember involving multiple projects and older versions of certain packages.  It still never quite worked though.  We actually ended up abandoning Xamarin because at the time, it wasn't mature enough for our needs.  Good luck!

[2018-05-07 19:02] binoypatel commented on #988
Got this showstopper as we are converting WCF to .net core, please consider to bring this

[2018-05-08 22:32] gotgenes opened #1048 ""Could not load file or assembly" on Azure Functions v2 (.NET Core) for v3.16.1 and newer"
Starting with v3.16.1, there is an issue loading `Microsoft.IdentityModel.Clients.ActiveDirectory` in Azure Functions v2 targeting .NET Core. When referencing newer versions of this library, running the function with Azure Function Core Tools gives an error like the following:

[code]

While @xpillons filed Azure/azure-functions-host#2373 against the Azure Functions project, I couldn't find a corr

[2018-05-09 03:26] jmprieur commented on #1048
@gotgenes did you try with ADAL.NET 3.19.4 ?

[2018-05-09 04:39] gotgenes commented on #1048
@jmprieur Yes. I started with `Microsoft.IdentityModel.Clients.ActiveDirectory` v3.19.4. Searching for the error is what led me to Azure/azure-functions-host#2373.

[2018-05-09 19:03] henrik-me commented on #1048
@gotgenes do you have a sample app or a set of repro steps?
Also are other parts of Azure Functions or what you do referencing other libraries which depends on other ADAL versions?

[2018-05-10 15:56] bhushanppatil opened #1049 "AuthenticationContext.AcquireTokenAsync using ClientAssertionCertificate is giving error Object reference not set to an instance of an object"
Hi,
I am using Microsoft.IdentityModel.Clients.ActiveDirectory version 3.19.4
Trying to generate token from Asp.Net Core API through AuthenticationContext.AcquireTokenAsync using ClientAssertionCertificate

it is giving following error:
Object reference not set to an instance of an object
   at Microsoft.IdentityModel.Clients.ActiveDirectory.CryptographyHelper.SignWithCertificate(String message, X

[2018-05-10 17:06] bhushanppatil commented on #1049
resolved the solution.
My Bad, was using self sign certificate which was not have the valid authority.  Due to this was getting error.

[2018-05-10 17:06] #1049 closed

[2018-05-10 17:06] jennyf19 commented on #1049
@bhushanppatil Glad you figured it out, thanks for letting us know and closing the issue.

[2018-05-10 23:09] henrik-me commented on #684
#969 is closed. @jennyf19 anything else we need to verify?

[2018-05-10 23:43] jennyf19 commented on #684
@henrik-me I don't believe so...the customer verified it, as did we. you can see the notes in the attached [issue](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/969).

[2018-05-10 23:44] jennyf19 commented on #684
Addressed in [3.19.2](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/v3.19.2)

[2018-05-10 23:44] #684 closed

[2018-05-10 23:48] henrik-me commented on #868
@aherrick is this an issue with the current version of MSAL? Is the code you provided run as is on e.g. a click of a button?

[2018-05-13 23:29] lucdem opened #1051 "NullReferenceException on ADAL AquireTokenAsync despite using const variables as paramaters"
I have the following line of code throwing a NullReferenceException:

`var authResult = await AuthContext.AcquireTokenAsync(Resource, new ClientCredential(Program.ClientId, Program.ClientSecret));`

Resource is a const string, Program.ClientId and Program.ClientSecret are static strings initialized when the program starts and never altered, so I can guarantee with 100% certainty that the parameter

[2018-05-15 09:39] skyflyer opened #1052 "OBO scenario with OpenID Connect and authorization code flow"
I'm trying to wire up a scenario where one can use OpenID Connect *authorization code* flow to retrieve an id_token (and access_token) from AD FS and use that access token to retrieve resource-specific access token for downstream WebAPIs to use (see "image" below).

Additionally, I have the same questions regarding `TokenCache` as outlined in #514, which was closed with a working workaround, but n

[2018-05-16 15:59] sroyvs opened #1054 "Blank Login with ADFS Self Signed Certificate"
I'm doing some testing with an internal test ADFS server which is using a self-signed certificate, and when I get to the login page I simply get a empty white dialog.

![capture](https://user-images.githubusercontent.com/20728797/40128746-c5252900-5908-11e8-93ab-b14459b727ef.PNG)

[2018-05-16 16:48] sroyvs commented on #1054
Got the same result on an android device, and this is the [log](https://paste.ee/p/295br) from the point where AcquireTokenAsync was called

[2018-05-16 16:48] jennyf19 commented on #1054
@sroyvs Thanks - I'll take a look

[2018-05-16 17:15] jennyf19 commented on #1054
@sroyvs In Android, the developer can disable [webview](https://developer.android.com/reference/android/webkit/WebView), but ADAL needs the webview to launch the UI with the log-in screen. Can you double check you have webview enbabled?

Also, does your Android manifest look something like this:
[code]

[2018-05-17 16:31] sroyvs commented on #1054
Added those extra permissions, but still the same.  But I was able to get around the problem by getting a valid SSL certificate for our test environment.  Maybe having the option to connect to an ADFS server with a self-signed certificates would be nice to have option for testing purposes, but not that important I guess.

[2018-05-17 16:39] jennyf19 commented on #1054
@sroyvs Thanks for the feedback. I'll go ahead and close this issue.

[2018-05-17 16:39] #1054 closed

[2018-05-21 12:43] jmprieur commented on #1040
@jorupp : I suppose that calling AcquireTokenAsync for every resource you might use could be a good workaround. Also, for the issue you see, is it for the same user?

[2018-05-21 12:57] jmprieur commented on #568
Closing the issue as we did not receive the logs

[2018-05-21 12:57] #568 closed

[2018-05-21 14:09] jorupp commented on #1040
@jmprieur, yes, this is for the same user the whole time (I'm using a distinct user token cache w/ persistence per-user).

[2018-05-21 14:26] jmprieur commented on #1040
@jorupp what exception is returned by `AcquireTokenSilentAsync` when you try to get a token for *resource2* ? can you tell me a bit more?

[2018-05-21 14:55] jorupp commented on #1040
@jmprieur I'm not sure if it returns an exception or just null - didn't think to log it since it was totally expected - how can it possibly get a token silently if there's not one in the cache...

[2018-05-21 15:30] jorupp commented on #1040
@jmprieur maybe I wasn't clear, _resource1_ and _resource2_ are two *different* resources.  The tokens acquired for the first aren't valid (or even candidates) for the second.

[2018-05-21 16:35] jmprieur commented on #1040
@jorupp is your organization using AAD or ADFS?

- With AAD you can get a token for another resource and the same user if you have a multiple resource refresh (contained in the cache maintained by ADAL)
- ADFS does not support this.

[2018-05-21 16:36] jorupp commented on #1040
@jmprieur AAD.  I looked at the tokens stored in the cache.  There weren't any non-resource-based ones.

[2018-05-21 18:25] aherrick commented on #868
I don't believe this to be an issue anymore.

[2018-05-21 18:25] #868 closed

[2018-05-22 16:17] henrik-me commented on #1048
Thanks @awernick. Have you validated the sample on Windows/Mac or only on your Linux box?

[2018-05-22 16:54] awernick commented on #1048
I have only verified on Linux, maybe someone else can verify if it also happens on other platforms?

[2018-05-22 21:02] henrik-me commented on #1051
@lucdem we will take a look. I would like to see the entire stack trace and also the logs as that will help the investigation.

[2018-05-23 18:22] henrik-me commented on #1048
I will verify this on Windows. However the change made between 3.16.0 and 3.16.1 is only a version change and a change affecting the .net for desktop apps, nothing have changed for Core in that change. Others suggest that they had a mix of ADAL v.2 and ADAL v3 libraries, which will not work (however given this works on 3.16.0 it's a different issue).

[2018-05-23 21:07] sameertotey opened #1059 "Getting the following error when trying to link the lastest version of nuget package in Xamarin.iOS"
**I am using nuget package version 3.19.6**

When I try to build my app, I get the following error:
MTOUCH : error MT2002: Failed to resolve "Microsoft.IdentityModel.Clients.ActiveDirectory.ClientAssertionCertificate" reference from "Microsoft.IdentityModel.Clients.ActiveDirectory, Version=3.17.2.31801, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    --- inner exception

I only get this erro

[2018-05-23 21:26] jennyf19 commented on #1059
@sameertotey
This is because you are trying to access a method which has been marked as [obsolete](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/dev/adal/src/Microsoft.IdentityModel.Clients.ActiveDirectory/AuthenticationContext.cs#L757) for public clients. Xamarin only supports public clients, and since version [3.17.1](https://github.com/AzureAD/azure-activedirectory-li

[2018-05-23 21:58] sameertotey commented on #1059
I am using the public client application flow to obtain the token using ADAL.  I am not referencing the ClientAssertionCertificate in my app.  It is the linker that is having this problem. Thanks

[2018-05-23 21:58] jennyf19 commented on #1059
@sameertotey
I see...thanks for clarifying.
Can you try with the latest version of the library? Linked above. thanks

[2018-05-24 04:04] sameertotey commented on #1059
The linking problem is happening with 3.19.6.   Everything was fine when I was using 3.19.4. The only way I can build my app with 3.19.6 is to turn linking off, however this increases the size of my app (ipa file).  I will try this with the sample app (Dir-SearchClient) active-directory-dotnet-native-multitarget

[2018-05-24 04:04] #1059 closed

[2018-05-24 04:30] jennyf19 commented on #1059
@sameertotey Glad you got it figured out...thanks for the update.

[2018-05-24 14:07] sameertotey commented on #1059
Opened an issue with Microsoft.Azure.ServiceBus because it now has a dependency on Microsoft.Azure.Services.AppAuthentication which is causing the issue.
https://github.com/Azure/azure-service-bus-dotnet/issues/472

[2018-05-24 19:28] gastart opened #1067 "Could not load type 'System.Security.Cryptography.SHA256Cng'"
I have a class library targeted for .net framework 4.6.2 where I am using library Microsoft.IdentityModel.Clients.ActiveDirectory v3.19.6

I have a class library where I have my nunit tests targeted for .net core 2.0 and when I run the test that makes use of the class library I created above I get

**System.TypeLoadException : Could not load type 'System.Security.Cryptography.SHA256Cng' from assem

[2018-05-24 19:42] gastart commented on #988
+1

[2018-05-25 12:34] kamalbabu commented on #1025
@michaelsrichter  I have the same concern .
I do want my refresh token in a distributed cache rather than in memory. How can i achieve this?

[2018-05-25 12:47] jmprieur commented on #1025
@kamalbabu : the page that @jennyf19 shared has several samples and links that might help you. It mentions the simple case but also
- this sample which shows a cache implemented with a Database (for a Web API where in memory and file cache are not adapted): https://github.com/Azure-Samples/active-directory-dotnet-webapi-onbehalfof
- this article which explains how to create a distributed cache: ht

[2018-05-25 13:06] jmprieur commented on #988
+ @henrik-me

[2018-05-25 17:55] henrik-me commented on #988
@rayluo @SomkaPe @jennyf19 let's consider this as part of our MSAL work on the u/p scenarios

[2018-05-29 23:13] ckarras opened #1070 "When AuthenticationContext acquires a new token using a Refresh Token, why does the returned token exclude scope information?"
Using ADAL 2.29 and ADFS 2016, I have an application that calls a Web API, and this Web API expects tokens with scope = user_impersonation.

- The app requests this scope explicitly in OpenIdConnectAuthenticationOptions.
- Then, in AuthorizationCodeReceived, I call authContext.AcquireTokenByAuthorizationCode, and the acquired token contains the requested scope (confirmed by inspecting results in F

[2018-05-30 11:54] HofmT opened #1071 "Redirect after Login does not work as expected. (Vue App)"
Hello,

I have a Vue App with Webpack that I want to secure with ADAL. My Vue App has a separate Log-In page to initiate the login process with Azure AD. After a successful login I want the user to be redirected to the root index ('/').
In order to achieve that I set my _redirectUri_ to _http://127.0.0.1:8081/_ and also set the config variable _navigateToLoginRequestUrl_ to false.

Now what happen

[2018-05-30 13:47] jmprieur commented on #1071
Hello @HofmT : are you using ADAL.NET in the backend ? I'm not familiar with Vue, and thought is was for JavaScript.
- Would it be a question for [ADAL.js](https://github.com/AzureAD/azure-activedirectory-library-for-Dotnet) ?
- Otherwise if this is for ADAL.NET, can you please share a simple repro?

[2018-06-01 07:40] HofmT commented on #1071
@jmprieur I am sorry. You're right I am using ADAL.js. Sorry for the confusion.

[2018-06-01 07:40] #1071 closed

[2018-06-01 15:10] Kyle-Reis opened #1074 "How to share tokens between Xamarin.iOS apps and native iOS apps?"
Hi, is it possible for Xamarin.iOS apps which use this library to share tokens with native apps which use the [Objective-C library](https://github.com/AzureAD/azure-activedirectory-library-for-objc)? If so, how can this be accomplished?

[2018-06-02 02:55] jmprieur commented on #1074
This is not possible yet, @Kyle-Reis but we are working right now on enabling a shared cache between all the ADAL and MSAL libraries.

[2018-06-02 02:55] #1074 closed

[2018-06-02 13:27] ausqball opened #1077 "Feature Request: Support Xamarin.macOS"
I think this would be a beneficial platform to support

[2018-06-04 13:49] avorobjovs opened #1078 "3.19.6 UWP AcquireTokenAsync - AdalServiceException: "User canceled authentication" without canceling"
Hi,

I have a UWP application and need to authorize with Azure AD.

I use ADAL v 3.19.6. But I have the AdalServiceException "User canceled authentication" every time when I try to call the AcquireTokenAsync. Authentication popup is not opening at all, but the exception is thrown after half a second.
I tried to rollback the ADAL to version 3.17.3, but the result is the same.

[code]

My Windows ve

[2018-06-04 14:08] jennyf19 commented on #1078
@avorobjovs Did you set up everything according to what is recommended in [Properties Specific to UWP](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Acquiring-tokens-interactively---Public-client-application-flows#properties-of-platformparameter-specific-to-winrt-and-uwp-corporate-network)?

[2018-06-04 14:56] avorobjovs commented on #1078
@jennyf19 I set up everything according to this documentation. I also tried to change the UseCorporateNetwork in the PlatformParameters to FALSE.
But the result is the same.

Only the redirectUri for my app is not the callback URI for windows store applications. Because we use the same settings in the Azure portal for an authorization from UWP, Xamarin.iOS, Xamarin.Android and other apps.
How is i

[2018-06-07 00:31] mohitkhatri88 opened #1081 "Unable to Install ADAL using powershell."
Hi All,

I have been using [ADAL ](https://www.nuget.org/packages/Microsoft.IdentityModel.Clients.ActiveDirectory/)package for a Powershell script which i distribute to my customers. The powershell script is no longer able to install it as one of it's dependencies has been "unlisted" by it's owners. Can you please help me find a workaround to installing ADAL??

**I use the following command to ins

[2018-06-07 16:42] jennyf19 commented on #1081
@mohitkhatri88 Thanks for opening the issue. I was able to reproduce this. Will get back to you.

[2018-06-07 21:56] bgavrilMS commented on #1081
Looks similar to this: https://github.com/PowerShell/PowerShell/issues/6988 - I'll try out their workaround and confirm.

[2018-06-07 22:37] mohitkhatri88 commented on #1081
Seems like the post is talking about `PSCoreWindowsCompat` as a replacement for `Microsoft.Windows.Compatibility` nuget package. Couldn't find ADAL as a component of [windows compatibility pack](https://blogs.msdn.microsoft.com/dotnet/2017/11/16/announcing-the-windows-compatibility-pack-for-net-core/).

Also, `PSCoreWindowsCompat` requires PowerShell 6, and I am working with Powershell 5 :(

[2018-06-07 22:43] bgavrilMS commented on #1081
Yes, that workaround is for PowerShell Core (i.e. PS6), which lives side by side with PowerShell 5.

Here's my workaround, please try out - use the nuget CLI to install the package instead of Install-Package. Here's the PowerShell for it:

[code]

[2018-06-07 22:44] bgavrilMS commented on #1081
Root cause issue seems to be https://github.com/OneGet/oneget/issues/322

[2018-06-07 23:07] DamianWiese commented on #1081
Bogdan, I was able to use your workaround above to get the libraries downloaded from PowerShell. I tweaked your example a bit to drop them in a separate location since it doesn't look like nuget.exe gets added to the PATH variable automatically.

`# Install the nuget command line (may have to do it for current user only to avoid admin prompt)
Find-Package -name NuGet.CommandLine -Source  'https://

[2018-06-07 23:55] bgavrilMS commented on #1081
Closing the issue, please refer to OneGet/oneget#322 for the root cause, or use the workaround provided.

[2018-06-07 23:55] #1081 closed

[2018-06-08 00:42] mohitkhatri88 commented on #1081
The work around did it. Thanks @bgavrilMS @jennyf19

[2018-06-08 04:55] GitHubSachin opened #1083 "AcquireTokenAsync throws CryptographicException: Key not valid for use in specified state."
We are getting following exception when using c# library calling AcquireTokenAsync method.
Is there any fix for this, we verified certificate on the machine is correct installed, user account running have access to its private key and can use it via certutil.exe

---> System.Security.Cryptography.CryptographicException: Key not valid for use in specified state.

   at System.Security.Cryptography.

[2018-06-11 19:30] henrik-me commented on #1083
@GitHubSachin Do you have a repro steps and more details on the cert you are using? I may not understand the stack trace entirely but it's eluding at the private key not being available in the cert?

[2018-06-11 20:33] brentschmaltz commented on #1083
@GitHubSachin Can you add what .Net Target you app specifies and what .Net version is on the test machine?

[2018-06-11 23:48] TimLovellSmith opened #1085 "Can we please bring back method overload AcquireTokenAsync(string, string, UserCredential)?"
Now when I try to use recent Microsoft Azure Rest SDK versions with higher versions of ADAL, like the latest, 3.19.6 I get this compatibility error.

"Method not found: 'System.Threading.Tasks.Task`1<Microsoft.IdentityModel.Clients.ActiveDirectory.AuthenticationResult> Microsoft.IdentityModel.Clients.ActiveDirectory.AuthenticationContext.AcquireTokenAsync(System.String, System.String, Microsoft.Id

[2018-06-12 05:44] jmprieur commented on #1085
hello, @TimLovellSmith :
- what was the previous version you were using? would it be ADAL v2.x ?
- The method is still there (as an extension method): https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/62a82c78b2a8504065f342309f8015dde8b9eccc/adal/src/Microsoft.IdentityModel.Clients.ActiveDirectory/Features/WinCommon/AuthenticationContextIntegratedAuthExtensions.cs#L48
- It's

[2018-06-12 06:16] jmprieur commented on #511
@shawnjones253 @CarlosOnline
Indeed, my impression is that you'd want your project referencing directly ADAL.NET to be a multi-targeting project (like ADAL.NET)

cc: @henrik-me for confirming.

[2018-06-12 16:45] henrik-me commented on #511
I would try evaluate if the references are actually setup in both projects. It's possible that nuget restore failed.

[2018-06-12 16:49] TimLovellSmith commented on #1085
@jmprieur Unfortunately, being there as an extension method just isn't binary compatible, and the call to it is not from our code, it is from a DLL we depend on. An extension method is basically syntactic sugar for calling a static method, where the static method is on a different class. When you look at the compiled IL it is trying to call an instance method on the AuthenticationContext class, no

[2018-06-12 16:58] jmprieur commented on #1085
@TimLovellSmith
you should expect breaking changes when moving from ADAL 2.x to ADAL 3.x as the major number was incremented. ADAL uses semantinc versioning (See https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Semantic-versioning.-API-change-management)

I agree that changing a method to an extension method is a binary breaking change. (I wonder why this was done ...)

Can

[2018-06-12 17:08] TimLovellSmith commented on #1085
@jmprieur
I agree that you are doing semver right since you incremented the major version when you made breaking chagnes...

However! I don't think that is a great reason to make breaking changes. So got another reason?

In particular regarding binary compatibility I think you are better off trying to keep binary compatibility where possible, especially compatibility with other popular libraries (

[2018-06-12 17:47] jmprieur commented on #1085
@TimLovellSmith , I was not part of the team when it happened, and therefore I've no idea why this binary breaking change was made, but it was made between 2.x and 3.x. We cannot undo this.
ADAL 3.x hasGAed on May 11th 2016, that is more than 2 years ago (See https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/v3.10.305110106), with many (minor) versions since. Your PR

[2018-06-12 17:52] TimLovellSmith commented on #1085
@jmprieur I don't think it would, but maybe I'm overlooking something - whats the breaking change I'm making?

[2018-06-13 14:46] bgavrilMS commented on #1085
I checked and your fix does indeed seems to not break binary compatibility.

But be advised that all the assemblies are signed / strongly named, and as such you won't be able to just copy a new assembly and over the old one. Binary versioning is enforced by strong naming. You'd have add some binding redirects over your solution or do something along the lines of https://stackoverflow.com/questions

[2018-06-13 14:49] jmprieur commented on #1085
@bgavrilMS : no we don't yet. I guess it would be a good idea to add an article in the conceptual documentation. Added a story for that in the backlog

[2018-06-13 17:11] TimLovellSmith commented on #1085
@bgavrilMS Well, personally I think it could be pretty cool if you could put out another release of ADAL v3 with this kind of binary compat fix - I guess there may be other issues like this, this is just the first one I happened to run into. I have been trying to get my app to work with ADAL v2 and unfortunately all I could get so far was 500 internal server error to come back from the server, no

[2018-06-14 08:42] jmprieur commented on #1083
@GitHubSachin :
I got a similar experience when copying to a different machine, the folder structure of a sample that serializes the token cache in a file protected with [ProtectedData.Protect](https://msdn.microsoft.com/en-us/library/2fh8203k(v=vs.110).aspx)

That's the case, for instance when using the `FileCache` class that we provide in our .NET Desktop client samples (.NET Framework and .NET

[2018-06-14 11:12] bgavrilMS commented on #1085
Might as well upgrade to ADAL v3 then? v2 is quite old and you'll have trouble finding someone to help you troubleshoot, even in the ADAL team.

Also note that apart for binary compatibility, v2 and v3 are not even logically compatible - constant names like error codes have changed etc.

I thinnk we're not going to take this fix as we cannot ensure full compatibility between v2 and v3. I would rec

[2018-06-14 11:12] #1085 closed

[2018-06-14 11:56] jmprieur commented on #1070
@ckarras : is it an option for you to upgrade to ADAL V3.x ?

[2018-06-14 14:00] ckarras commented on #1070
@jmprieur Not for now: I'm trying to fix a bug in an existing production application, ADAL v3 would require too many code changes that are unrelated to the bug I'm trying to fix (updating it causes several compilation errors due to modified method signatures, and I also see that the structure of the source code has significantly changed between 2.x and 3.x). I already updated to the latest ADAL v2

[2018-06-14 20:21] GitHubSachin commented on #1083
@brentschmaltz We compile our app with .net 4.5.2 (desktop version)
I don't have exact repro steps but this gets reported in production by one of our app users and not consistently repro. If I hear any detailed from user, I will post it here.

[2018-06-19 12:32] jmprieur commented on #999
Fixed in #1087

[2018-06-19 19:20] MartinKuhne opened #1094 "AcquireTokenSilentAsync using Integrated authentication on Windows (Kerberos) : password_required_for_managed_user"
I tried out this code
AcquireTokenSilentAsync using Integrated authentication on Windows (Kerberos)

Unhandled Exception: System.AggregateException: One or more errors occurred. ---> Microsoft.IdentityModel.Clients.ActiveDirectory.AdalException: password_required_for_managed_user: Password is required for managed user
   at Microsoft.IdentityModel.Clients.ActiveDirectory.Internal.Flows.AcquireToke

[2018-06-21 12:50] ghelyar opened #1098 "Seamless SSO and Azure AD Join"
I have followed this documentation on Seamless SSO
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/adal-and-seamless-sso
(dead link due to missing http:// on aka.ms by the way)
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/AcquireTokenSilentAsync-using-Integrated-authentication-on-Windows-(Kerberos)

The code I'm using is:
[code]

This works on a

[2018-06-21 16:53] test-account8-live-com opened #1099 "During add account screen reader does not read the dialog title"
When ADAL pops up the sign in dialog, narrator does not announce that a dialog has popped up and starts reading the content of the dialog. It is an A11yMAS violation.

NOTE:
Same issue does not exists with NVDA.

MAS Reference:
MAS 4.2.1 - Object Information (33A) - https://microsoft.sharepoint.com/:w:/r/teams/msenable/_layouts/15/WopiFrame2.aspx?sourcedoc=%7ba12f3779-bdf1-40c2-bbcc-0e314ea94858%7

[2018-06-21 16:54] atiqhaqu commented on #1099
Sorry I did not realize I was logged in to GitHub with a test account.

[2018-06-22 08:44] jmprieur commented on #1099
triage: accessibility issue
cc;  @henrik-me

**Repro steps:**:

- Run one of the [.NET desktop samples](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-code-samples#desktop-and-mobile-public-client-applications-calling-microsoft-graph-or-a-web-api) (use the app creation script to run quicker) for instance: [Dotnet-native-desktop](https://github.com/Azure-Samples/ac

[2018-06-22 08:58] jmprieur commented on #1099
After going through the repro, setting this as a P2 as it says "login.onmicrosoftone.com sign-in with email, phone, skype" … not ideal, but not completely wrong? @atiqhaqu what's your opinion
cc: @henrik-me @bgavrilMS

[2018-06-22 16:19] tmandekic commented on #511
Not sure if this is the same issue:

-  when i use Microsoft.IdentityModel.Clients.ActiveDirectory in Service Fabric Stateless Service (Asp.Net Core 2), PlatformParameters is parameter-less (that's what led me to this thread).

- when  I implement the same code and ADAL package with Service Fabric Stateless Service (.net 4.6), all is well (PlatformParameters expects correct parameters).
Thank you

[2018-06-22 17:18] henrik-me commented on #511
@tmandekic : can you pls. describe a bit more which issues you are seeing and how to reproduce them? @bgavrilMS for awareness on a potential packaging issue, however the later comment here seems though to point out the differences in platform parameters based on platform. There are some intentional differences but it's currently unclear to me in this story whether this is what is being asked for h

[2018-06-22 18:38] henrik-me commented on #1099
@jmprieur : not really sure what is expected here. I suppose we need to validate all our samples with narrator and other tools for accessibility, however not sure what we are actually expected to do differently.

[2018-06-22 18:42] henrik-me commented on #1099
@atiqhaqu : what is the actual test scenario you were running? What @jmprieur mentions or?

[2018-06-22 18:49] henrik-me commented on #1094
@MartinKuhne : Not sure I fully understand what you are trying to achieve. Is the purpose of this issue to tell us that the error message might be wrong or do you have other expectations?
@jmprieur : Shouldn't Kerberos work with seamless SSO?

[2018-06-22 18:56] henrik-me commented on #1094
#1098

[2018-06-22 19:08] bgavrilMS commented on #511
@tmandekic - regarding PlatformParameters, this class is implemented differently on target framework - it is pretty much empty for dotnet core (since dotnet core does not have UI), and has a lot of options on net45 (e.g. https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/dev/adal/src/Microsoft.IdentityModel.Clients.ActiveDirectory/Platforms/netstandard1.1/PlatformParameters.c

[2018-06-22 19:29] tmandekic commented on #511
While my VS is updating, if I may ask another question: for communication from ServiceFabric StatelessService to WebAPI, where WebAPI is using B2C auth, which auth flow should I follow? (there is no browser or specific user involved).
I am considering [device profile](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Device-profile-for-devices-without-web-browsers). Is that

[2018-06-22 20:04] jmprieur commented on #511
@tmandekic
I'd say that the [client credentials](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Client-credential-flows) flows (with application password or with certificate) would be the most adapted if you don't want to call the Web API in the name of a user:

[2018-06-25 10:31] jmprieur commented on #1094
@henrik-me : it should. I've involved the seamless SSO team.

[2018-06-27 06:02] Anant-Dabhi commented on #1032
I have same issue on one of my user WIA not work in corporate network however it user try to access from outside network it working perfect.
In internal network when user set "EnablePrivateNetwork=1" it working but changing reg. value for every user is not feasible solution.

Is that any other  workaround for above issue?

[2018-06-27 14:26] jmprieur commented on #1032
@tatvaanant : maybe the solution is to work with the domain admins so that they add this registry key in the group policies: http://woshub.com/how-to-create-modify-and-delete-registry-keys-using-gpo/

[2018-06-28 16:57] JacksReacher commented on #999
Has anyone verified this? I'm still getting errors related to this issue.

[2018-06-28 17:18] jmprieur commented on #999
@joepeavey : we got positive verification from the AzureAD PowerShell team.
Did you update to the latest AzureAD powerShell module?

[2018-06-28 22:46] JacksReacher commented on #999
I'm not using powershell, I'm using clientcredential in a Web App hosted in PF and it's still losing the password...

[2018-06-29 01:49] jmprieur commented on #999
@joepeavey can you please share repro steps?

[2018-06-29 19:14] atiqhaqu commented on #1099
@jmprieur the issue here is the narrator does not read the dialog title and there is no way to know using narrator that a new dialog has popped up. This shows up in our sign in/add account flow in VS.

For priority, this bug is marked as A11yBlocking, so it has to have higher priority than P2, because it will require an exception. We will also need an ETA on the fix.

[2018-06-29 21:37] henrik-me commented on #1099
@atiqhaqu : It is still not clear to me exactly what the issue is. Can you pls provide screenshots? If you are talking about the web dialog itself then we may not be the right team for this.
Also as this is open source you are welcome to contribute to the codebase. We will be happy to review your change and help getting the changes shipped.

[2018-07-01 22:41] NiclasOlofsson commented on #482
I too need this, since me and my users can't control their Office365 (EDU). For anyone struggling and want a full example of how to do the ADAL manually, there is a full example here https://github.com/NiclasOlofsson/MiNET/blob/MCEE-1.4/src/MiNET/MiNET/EduTokenManager.cs#L58

[2018-07-02 22:12] CamSoper opened #1110 "Customer question: What does AcquireTokenAsync failure look like?"
Hi there! I'm the docs author at the [Azure .NET SDK docs site](https://docs.microsoft.com/dotnet/azure), and a customer submitted the following question. Please be sure to @ them in your response. Thanks!

@rocifier asked regarding [AuthenticationContext.AcquireTokenAsync Method (Microsoft.IdentityModel.Clients.ActiveDirectory)](https://docs.microsoft.com/en-us/dotnet/api/microsoft.identitymodel.

[2018-07-03 16:39] henrik-me commented on #1110
@CamSoper @rocifier

We generally use exceptions for error handling. We should have those documented in the reference doc as well. Keeping this issue open to ensure we track that.

Something about the exceptions you can expect in the library:
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Exceptions-in-ADAL.NET

Some additional info on Aquiring Tokens
https://github.com/A

[2018-07-03 17:01] brentschmaltz commented on #1083
@jmprieur I am not seeing DPAPI in this stack.

@GitHubSachin X509AsymmetricSecurityKey.GetAsymmetricAlgorithm sometimes has issues with SHA2 or when .Net is upgraded to 4.6+.
What version of ADAL are you using?

[2018-07-03 19:17] nddipiazza commented on #509
Hey @duncanp-sonar

I'm experiencing this issue with all the latest versions of everything still. Can I trouble you for a moment and ask what is the work-around here? All the things on this ticket seem non-applicable.

link to my latest issue https://github.com/SharePoint/PnP-Sites-Core/issues/1844

[2018-07-03 19:36] duncanp-sonar commented on #509
Hi @nddipiazza. I no longer work for Microsoft so I'm afraid I have no information about the current state of this issue.
@jmprieur might have more info.

[2018-07-06 18:05] GitHubSachin commented on #1083
We use 3.19.4 version of ADAL, the app is compiled with .net 4.5.2 desktop version.

[2018-07-06 18:32] GitHubSachin opened #1113 "AdalServiceException: unknown_error StatusCode: 408"
Hi,
On few of the production machines we are seeing errors authenticating with AAD, The exception stack trace indicates **AdalServiceException** and **ErrorCode: unknown_error StatusCode: 408**
Is there any way to know when such errors are thrown and what causes them? Unfortunately we don't have correlationid printed in exception stack trace.

Microsoft.IdentityModel.Clients.ActiveDirectory.AdalSe

[2018-07-06 22:42] henrik-me commented on #1083
@GitHubSachin - a few additional questions
What OS is the service running on and which version of .net is on that box?
How frequent does this issue occur?
Has the server been restarted?

[2018-07-07 13:20] IlyaSemenchenko opened #1115 "Js Alert not shown in Xamarin.Android and Xamarin.iOS webviews"
One of our customers has ADFS on their tenant and after redirect JS alert with inputs for login and password are shown.
![microsoftteams-image 3](https://user-images.githubusercontent.com/39047408/42411196-840e205e-8200-11e8-9764-e1fed2068087.png)
In the mobile app it redirects to the right url, but alert is now shown.
![simulator screen shot - iphone 7 - 2018-07-07 at 16 17 43](https://user-image

[2018-07-08 09:54] jmprieur commented on #1115
Can you please provide repro steps? Can you reference a sample which exhibits this behavior: we don't have enough information to act on this issue for the moment.

[2018-07-09 22:43] chetanmnit2003 opened #1116 "AcquireToken TokenCache BeforeAccessNotification failing on deserialization"
Hi,

I am getting following exception intermittently on custom token cache implementation for BeforeAccessNotification. Can anyone help if I am doing something wrong here.

My implementation of the method..

/// <summary>
/// Notification raised before ADAL accesses the cache.
/// </summary>
/// <param name="args">The token cache notification arguments.</param>
internal void BeforeAccessNotificati

[2018-07-09 22:47] chetanmnit2003 commented on #717
I am seeing this issue happening when acquiring a token for an app(no user context). I reported the issue at https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/1116

[2018-07-12 13:57] bgavrilMS commented on #1116
Hi @chetanmnit2003 - could you provide a few more details here? What library are you using ADAL or MSAL (Microsoft.Client.Identity ?) and what version?

Is your app using Turkish culture?

Here are 2 reference implementations of the cache, first one for a WPF client app (cache is stored in a file) and second one for web app (cache is stored in the session)

https://github.com/Azure-Samples/active-

[2018-07-13 14:32] sgiovinetti opened #1130 "AcquireTokenAsync(resource, clientId, userCreds) does not function in PowerShell"
`AcquireTokenAsync(resource, clientId, userCreds)` throws `Cannot find an overload for "AcquireTokenAsync" and the argument count: "3".` in PowerShell.

The same method call works perfectly in .NET.

This is an issue only affecting ADALV3 and above. V2 works correctly.

[2018-07-13 17:50] bgavrilMS commented on #1130
What version of PowerShell are you using? And of ADAL? Could you paste a code sample of how you are calling AcquireTokenAsync from PS?

[2018-07-16 05:24] ankitbko commented on #482
Atleast make this thing extensible, so other devs can plugin their own implementation of UserPasswordCredential flow and still get benefit of TokenCache and other features.

[2018-07-16 07:57] sgiovinetti commented on #1130
PS Version: 5.1.15063

ADAL version: tried with all the 3.X versions. All failed. Latest working is V. 2.18

[2018-07-17 00:34] chetanmnit2003 commented on #1116
Hi,

I am using Microsoft.IdentityModel.Clients.ActiveDirectory and I was on the older version. No, it's not related to Turkish culture.

I can see that newer package is thread safe as it’s locking the method so I hope, I won’t see this issue with new version.

Code with new version would be deployed next week and I would update the thread. Thanks for help.

[2018-07-17 07:03] bgavrilMS commented on #1116
Cool, thanks for the update. I'll close the thread now, please open it if you encounter problems.

[2018-07-17 07:03] #1116 closed, assigned to nobody

[2018-07-17 07:43] web265p3 opened #1134 "AcquireTokenSilentAsync with Client Credential flow does not find cached token"
What I am doing is pretty easy. I'm acquiring a token via client credentials for my service:

[code]

After the first call of this code fragment, "context" contains a cached token. I can see this when I debug. But AcquireTokenSilentAsync always throws the AdalSilentTokenAcquisitionException so I always have to get another token.

Because I am using client credential flow, all user regarding proper

[2018-07-17 08:04] jmprieur commented on #1134
@web265p3
Client credentials benefits from the cache automatically (See the last line of this paragraph: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Client-credential-flows#client-credentials-with-application-secret-in-adalnet). You don't need to call `AcquireTokenSilentAsync` for the non-user flows.

See the sample: https://github.com/Azure-Samples/active-directory-do

[2018-07-17 08:04] #1134 closed, assigned to nobody

[2018-07-17 08:05] jmprieur commented on #1134
David, feel free to reopen if I did not answer your question, BTW

[2018-07-17 12:53] jmprieur commented on #1113
I believe that this is a network issue. See http://www.checkupdown.com/status/E408.html
Did you look at the HttpHeaders member?

[2018-07-17 12:56] jmprieur commented on #1113
@henrik-me, @trwalke : I don't think that we can do better in term of reporting this kind of issue? or do you think we can?

[2018-07-17 14:48] bgavrilMS commented on #1130
Which overload of AcquireTokenAsync are you using?

 public async Task<AuthenticationResult> AcquireTokenAsync(
string resource,
string clientId,
UserAssertion userAssertion)

[2018-07-17 14:53] sgiovinetti commented on #1130
No `AcquireTokenAsync(string resource, string clientId,  UserCredential userCreds)`
This is the unique method for obtaining a valid token for using with PBI embedded since PBI embedded API use the "On-Behalf-Of" Oauth2 flow and not the client_credentials flow.

This overlaod method is shown and works perfectly in C# but for some reasons does not appear in PS.

[2018-07-17 15:00] bgavrilMS commented on #1130
Got it, I know what the problem is. This overload of AcquireTokenAsync was moved to an extension class. I believe the reason for this was to make it less discover-able (sic) since we don't encourage using this low.

https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/dev/adal/src/Microsoft.IdentityModel.Clients.ActiveDirectory/Features/WinCommon/AuthenticationContextIntegrated

[2018-07-17 16:00] bgavrilMS commented on #1130
https://powershellstation.com/2017/10/06/calling-extension-method-in-powershell/

[2018-07-17 19:59] nddipiazza commented on #509
I think I'll re-open a new issue to see if I can pick up some visibility. Thanks!

[2018-07-17 20:23] nddipiazza commented on #509
@jmprieur do you have a moment to look into this? this is preventing me from being able to do app-only authentication with adfs private key of sharepoint online.

[2018-07-18 00:36] rayluo opened #1135 "Making an AT expire would cause an exception"
This might not happen in real world, but it can be reproduced by using the [DesktopTestApp and click the Expire-Access-Token button](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/27bf9fa0a12a1d7ab7e8305d32688014ab757721/msal/tests/dev%20apps/DesktopTestApp/MsalUserAccessTokenControl.cs#L39), which will then trigger a NullReferenceException at [this line](https://github.c

[2018-07-18 06:10] jmprieur commented on #509
@nddipiazza : do you have detailed repro steps? or a project we could use to repro?

[2018-07-18 15:00] njangir2 opened #1137 "Hard refresh access token without login back"
Hi,

I am working in a xamarin application where I need to hard refresh AD access token without logging back to the application.
At the time of login to xamarin application I am calling method `AuthenticationContext.AcquireTokenAsync(resourceUrl, clientId, returnUri, platformParameters)` and this method generate access token without any issue.
The problem that I am facing is that on a user action

[2018-07-18 22:29] jmprieur commented on #1137
@njangir2 : did you have a look at https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Acquiring-tokens-interactively---Public-client-application-flows#properties-or-platformparameters-constructors-parameters-common-to-most-platforms ?
I think that a ``PromptBehavior.RefreshSession`` should work.

[2018-07-19 09:40] njangir2 commented on #1137
@jmprieur : I have checked this [link](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Acquiring-tokens-interactively---Public-client-application-flows#properties-or-platformparameters-constructors-parameters-common-to-most-platforms) and verified in my xamarin app.
As of now we are targetting UWP and in our App.xamal.cs of UWP app we are setting platform parameters as `ne

[2018-07-19 11:37] sgiovinetti commented on #1130
Tried this code like you suggested but result in `Unable to find type [AuthenticationContextIntegratedAuthExtensions]`.

Could you please suggest how to modify it for let it working?

`$adal = "D:\Azure\Power BI\PowerShell\Microsoft.IdentityModel.Clients.ActiveDirectory.3.19.8\Microsoft.IdentityModel.Clients.ActiveDirectory.dll"`

`    [System.Reflection.Assembly]::LoadFrom($adal) | Out-Null`

[2018-07-19 11:47] bgavrilMS commented on #1130
@sgiovinetti - you need to use the fully qualified name for AuthenticationContextIntegratedAuthExtensions, i.e.

`
$authenticationResult = [Microsoft.IdentityModel.Clients.ActiveDirectory.AuthenticationContextIntegratedAuthExtensions]::AcquireTokenAsync($authenticationContext, $resourceURL, $AADClientID, $credential).Result;
`

[2018-07-19 11:50] bgavrilMS commented on #1130
Oh and by the way, PS 5+ does have a using namespace construct, i.e.

`
#Require -Version 5.0
using namespace Microsoft.IdentityModel.Clients.ActiveDirectory

$adalDll = [Reflection.Assembly]::LoadFile("<path_to>\Microsoft.IdentityModel.Clients.ActiveDirectory.dll")

$ADAuthorityURL = "https://login.windows.net/common/oauth2/authorize/"
$resourceURL = "https://analysis.windows.net/powerbi/api"
$AA

[2018-07-19 11:52] sgiovinetti commented on #1130
Great this works!
Thank you for the support.

[2018-07-19 11:52] #1130 closed, assigned to nobody

[2018-07-19 11:55] jmprieur commented on #1130
@bgavrilMS FYI, I've added a small paragraph in the conceptual documentation: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Acquiring-tokens-with-username-and-password#using-the-usernamepassword-flow-from-powershell

[2018-07-19 11:56] bgavrilMS commented on #1130
Nice, keeping the document alive 😊

From: Jean-Marc Prieur <notifications@github.com>
Sent: Thursday, July 19, 2018 12:55 PM
To: AzureAD/azure-activedirectory-library-for-dotnet <azure-activedirectory-library-for-dotnet@noreply.github.com>
Cc: Bogdan Gavril <Bogdan.Gavril@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [AzureAD/azure-activedirectory-library-for-dotnet] AcquireTok

[2018-07-19 12:01] sgiovinetti commented on #1130
@bgavrilMS and @jmprieur : why this flow is not recommended by MS and at the same time is the unique method for retrieving an AAD token valid for calling the Power BI generate token API for embedding a dashboard in "App owns data" scenario like is referenced [here](https://docs.microsoft.com/en-us/power-bi/developer/embed-sample-for-customers#embed-your-content-using-the-sample-application) and al

[2018-07-19 12:19] jmprieur commented on #1130
@sgiovinetti : Username/Password is not recommended for many reasons, explained in #482. In particular it is not compatible with Azure AD tenants where the administrator has enabled conditional access policies (for instance two factor authentication)

We need to work with the PowerBI people so that they change their samples to use the Onbehalf of flow or the client credentials flow.

cc: @bgavrilM

[2018-07-19 12:29] sgiovinetti commented on #1130
@jmprieur: client credentials flow does not function in PBI. I checked already in a call with MS support. You need to authenticate passing a user identity because on MS/PBI side they use to validate that you own a PBI pro license.

Maybe the Onbehalf of flow is the unique viable solution but I was not able to find any sample anywhere.

Would be great if you can provide one.

[2018-07-19 12:35] jmprieur commented on #1130
@sgiovinetti : On-behalf-of is explained in [Service to service calls on behalf of the user](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Service-to-service-calls-on-behalf-of-the-user), and there are 2 samples (see the bottom of that page)

[2018-07-19 12:49] sgiovinetti commented on #1130
@jmprieur : This 2 samples imply that user login interactively. This is not the PBI scenario. Here we have an internet web app where users do not authenticate at all. The app backend needs to call the Power BI API impersonating what MS calls master user that is a unique fictitious user that owns a PBI pro license and requires the PBI dashboards/reports etc. on behalf of all the internet not authen

[2018-07-20 13:27] KarinBerg opened #1141 "MSAL: Embedded browser shows only black website"
Hello,
I use the latest nuget from MyGet to test the fallback when Chrome is not available.
Unfortunately, on my Android devices embedded web view shows only a black page. I attached a screenshot:
![screenshot_20180720-151401](https://user-images.githubusercontent.com/20112746/43004471-2c458ea4-8c30-11e8-9de0-64b55ec01637.png)

Can you tell me why I don't see my Azure B2C signup page?

Used device

[2018-07-20 13:37] jmprieur commented on #1141
thanks @KarinBerg
do you have repro steps (like a sample we could try?)
Thanks!

[2018-07-20 15:11] jennyf19 commented on #1141
@KarinBerg - Thanks for letting us know. Do you have this in the `MainActivity.cs` file for the Android app?
[code]
Also, can you please open this issue in the [MSAL repo](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issueshttps://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues) - Thank you.

[2018-07-20 15:16] KarinBerg commented on #1141
@jennyf19 & @jmprieur:
Sorry, I used not the newest package. After @jmprieur explained it to me I used the correct one which is working :)

Sorry, for making trouble :)

[2018-07-20 15:16] #1141 closed, assigned to nobody

[2018-07-20 15:24] jennyf19 commented on #1141
@KarinBerg - that's great! Thanks for letting us know that it is working. If you run into any other issues, let us know.
Out of curiosity, which nuget package were you using?

[2018-07-20 17:20] KarinBerg opened #1142 "PublicClientApplication.Remove() is not removing user from TokenCache"
Hello,
I use MSAL in my Xamarin.Forms app (targeting iOS and Android).
I have the following SignOut() Method:
[code]

But after this foreach the user list still contain a user.

I use the MyGet package "2.0.0-internal20001dev". In the lastest releases 1.1.4-preview0002 version on nuget.org this works.

Do I have to use another version?

P.S.: Do you know when there is a new official release?

[2018-07-20 17:24] jennyf19 commented on #1142
@KarinBerg Thanks - Just to clarify...it does not work with this package: "2.0.0-internal20001dev" but works with this package "1.1.4-preview0002"

Our next release is being intensively tested right now, will be v2-preview.

[2018-07-20 18:37] KarinBerg commented on #1142
Yes, that is correct.
Works not with “2.0.0-internal20001dev” and works with “1.1.4-preview0002”

[2018-07-23 16:31] alexrainman opened #1144 "Feature request: change User-Agent header"
When you do an ADAL authenticate it will redirect you to ADFS. If you are on a corporate network then, if the client string sent by the request to ADFS matches various strings held in ADFS, it assumes the client can negotiate NTLM / Kerberos. If it does not match these it will offer the form based logon.

ADAL will not work when the user is on the corporate network unless i can change the User-Age

[2018-07-23 17:07] jmprieur commented on #1144
@alexrainman : sorry if my question is native. Isn't it possible for the ADFS admin to add user agent strings?

[2018-07-23 17:15] alexrainman commented on #1144
Actually i want the opposite thing. I want to use a random User-Agent not registered on ADFS so i can see the form based logon instead of ADFS trying to do WIA for me when im inside the corporate network.

[2018-07-23 17:18] alexrainman commented on #1144
Thats when i am inside the corporate network.

[2018-07-23 17:21] alexrainman commented on #1144
They have to keep Safari and Chrome in ADFS so users can use these browsers and negotiate kerberos when they are inside the corporate network but from the mobile app, i need to see the form based logon to be able to authenticate as these accounts only exists on AAD.

[2018-07-24 19:43] nddipiazza commented on #509
Hi @jmprieur ! thanks for the response.
I have an example here: https://github.com/SharePoint/PnP-Sites-Core/issues/1844
Am also available at (removed) if you want to ping me directly

[2018-07-24 21:59] nddipiazza commented on #509
I have gotten the work-around to work for SharePoint Online now:

1) You can remove the CorePNP library if you want. But do not use the `OfficeDevPnP.Core.AuthenticationManager` for Linux because it won't work!

2) Add nuget dependencies:

[code]

3) c# code to get a client context with the auth correctly:

[code]

[2018-07-25 01:29] nddipiazza opened #1146 "Proxy support for AuthenticationContext"
My company is behind a Firewall and requires all traffic to go through a proxy.

`AuthenticationContext` should support Proxy arguments to avoid having to put Microsoft login endpoints in the proxy exceptions.

[2018-07-25 01:33] nddipiazza commented on #1146
Bleh https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/552

[2018-07-25 01:33] #1146 closed, assigned to nobody

[2018-07-25 06:59] jmprieur commented on #509
Thanks for sharing this, @nddipiazza
are you expecting any answer?

[2018-07-25 12:25] ghost commented on #933
Our app had a similar issue for a long time before we added the sharedUserCertificates and privateNetworkClientServer capabilities, AND upgrading to 3.19.6. However, this seems to have been broken with 3.19.7 (and 3.19.8). The app no longer authenticates our internal users when connected to our VPN/corp network, and they are receiving the following error again:
"We can't connect to service right n

[2018-07-26 06:44] ghelyar commented on #1098
Is there any update on this? We're seeing it on multiple Azure tenants.

[2018-07-26 12:38] jmprieur commented on #1098
@ghelyar : according to the Seamless SSO PMS, the 401 unauthorized response is expected as part of the happy flow.
This indicates that it’s an environment issue. you need to verify that the device you are using is really domain joined. If the device has problems connecting with the DC (according to the error) – you shouldn’t be able to log into the domain when you starts up the device as well.

On

[2018-07-26 16:14] etiennemargraff commented on #218
@kpanwar : I think you misread the title. It mentions Unity3D et you talk about Xamarin.
Can you re-open it?

Thank you a lot.

[2018-07-26 16:17] jennyf19 commented on #218
@jmprieur can comment on our roadmap and plans for Unity3D support.

[2018-07-26 16:40] nddipiazza commented on #509
nope. all set.

[2018-07-26 16:43] jmprieur commented on #509
thanks for confirming @nddipiazza

[2018-07-27 12:23] TahaAhmad commented on #511
Please note the StackOverflow post linked in the original post at the top was created by me and I am frustrated as to why this issue is still not resolved.

It's been almost 2 years and this problem is still happening with Microsoft.IdentityModel.Clients.ActiveDirectory version 3.17.3

In my solution I have a Service Fabric actor targeting .NET Core 2.0 and another authentication Project which is

[2018-07-27 13:35] levalencia opened #1150 ""Method not found: AcquireToken(System.String, Microsoft.IdentityModel.Clients.ActiveDirectory.ClientAssertionCertificate)"
I followed the following document to create a x509 certificate with the Azure AD App Registration.

https://docs.microsoft.com/en-us/sharepoint/dev/solution-guidance/security-apponly-azuread

I generated the .pfx file, set the password, and I also registered the app in my tenant Azure AD, and then updated the manifest with the keycredentials section.

Then, I am creating a WEB API that receives so

[2018-07-27 17:17] jennyf19 commented on #1150
@levalencia Which platform are you using? The StackOverFlow link does not work for me.

[2018-07-27 17:50] levalencia commented on #1150
Sorry wrongnlink

https://stackoverflow.com/questions/51200031/the-method-not-found-acquiretokensystem-string-microsoft-identitymodel-client

[2018-07-27 17:54] jennyf19 commented on #1150
@levalencia Thanks - which  platform?

[2018-07-27 20:44] levalencia commented on #1150
. Net web api

[2018-07-29 02:30] jmprieur commented on #1150
@levalencia I've asked a few questions on the SO question. I'm wondering if you would be using 2 nuget packages that use conflicting versions of ADAL (ADAL v2.0 and ADAL v3) ?

[2018-07-29 07:59] levalencia commented on #1150
I just answered there, lets keep the conversation in SO.

[2018-07-30 09:16] jmprieur commented on #1025
Closing as we think we have answered and there was not answer to our question

[2018-07-30 09:16] #1025 closed

[2018-07-30 09:21] jmprieur commented on #999
@joepeavey : closing this issue as we think it's fixed, and you have not provided repro steps. Feel free to reopen if you have the repro steps.

[2018-07-30 09:21] #999 closed

[2018-07-30 14:42] jmprieur commented on #936
This is fixed

[2018-07-30 14:42] #936 closed

[2018-07-31 15:41] joshexltd commented on #1098
@jmprieur The scenario when this exception is thrown is when a machine is joined to Azure Active Directory and Seamless SSO has been set up (using password hash option). You cannot join a machine to an Active Directory domain when the machine is joined to Azure AD. If the machine is Azure AD joined and Seamless SSO is not configured OR the machine is not Azure AD joined and Seamless SSO is configu

[2018-07-31 18:18] jmprieur commented on #1098
@joshexltd: the instructions to collect logs are:
1)	Open cmd as an administrator
2)	Run the “startauth.cmd” script (see zip attached)
3)	Go through the authentication when Seamless SSO is turned on – which will still not work
4)	Run the “stopauth.cmd” script
5)	Zip all the log files in the .\logs\ folder (relative to current directory in the command prompt window) and sent it to me (Jean-Marc.Pri

[2018-08-01 10:34] pregress opened #1159 "Documentation needed for Adal exception UnknownUserType"
Is it possible to provide more information on the [page](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Exceptions-in-ADAL.NET) about UnknownUserType?

We receive this error on random times, for random users. We don't know where to look when we receive this error. Or what is causing the error.
These users could sign in before, and can sign in again after some time. I thin

[2018-08-01 12:39] ghost commented on #933
I see this was labeled a bug but the issue is still closed.  Can the issue be re-opened?

[2018-08-01 13:38] jmprieur commented on #933
Could you please provide repro steps? for instance can you repro this with this sample? https://github.com/azure-samples/active-directory-dotnet-native-multitarget

[2018-08-01 20:10] #1016 closed

[2018-08-01 23:55] henrik-me commented on #1113
@GitHubSachin : you should be able to get the correlation id from other parts of the log. we can't really do much about a 408. ADAL logs which resource it's trying to get a token for including which AAD authority it's accessing. Besides that a 408 is typically a service/web service issue.

Can you pls. clarify "Is there any way to know when such errors are thrown and what causes them?". You alread

[2018-08-02 04:14] GitHubSachin commented on #1113
I dont have the correlation id, but this has not occured in production yet, we deployed a change with logging enabled so hopefully next occurrence if any will have all info to debug.

[2018-08-02 08:03] jmprieur commented on #1159
Thanks for your feedback, @prebenh
We've updated the conceptual documentation's page with the following:

"this error happens when, in non-interactive flows (resource owner password credentials grant), ADAL.NET is not able to identify whether the user is a federated or managed (which is needed in order to know where to send the credentials). Managed users are user of an Azure AD tenant. Federated

[2018-08-02 08:04] jmprieur commented on #1159
Closing as fixed.

[2018-08-02 08:04] #1159 closed, assigned to nobody

[2018-08-02 15:31] bgavrilMS commented on #834
Has already been fixed by @henrik-me with commit 45b1aa97

[2018-08-02 15:31] #834 closed

[2018-08-02 19:49] Nadav-N commented on #1098
According to the windows auth logs that were collected - the problem is not related to Seamless SSO and is only due to client connectivity\configuration.
Basically, the client machine can't find a domain controller to authenticate against.
-	Is the client on a network with a DC?
-	If so, was DNS configured properly so the client could find the DC? The ‘nltest’ command can help with this, particula

[2018-08-03 05:08] pregress commented on #1159
Thanks for the info !

[2018-08-03 12:37] ghost commented on #933
I tried the sample and didn't have the issue.  I re-installed the 3.19.8 package in my app and it's working again.  Sorry to trouble you, please re-close the issue.

[2018-08-03 13:37] #933 closed

[2018-08-06 14:11] henrik-me commented on #1033
Closing. No activity since April 27. @CyberNyanta feel free to re-open if you still see an issue.

[2018-08-06 14:11] #1033 closed

[2018-08-08 09:12] joshexltd commented on #1098
The client is not on a network with a DC - it is Azure AD joined - you cannot have a machine that Azure AD joined and joined to Active Directory. In this scenario I do not believe it should be attempting to authenticate with a DC but clearly is as per the error message. Do you have any other thoughts or suggestions at all? Many Thanks

[2018-08-08 11:10] jmprieur commented on #1098
@joshexltd : are you sure that in the latest version of windows 10, you cannot have machine that is both AAD joint and domain joint?

[2018-08-08 12:38] rishavraj10 opened #1178 ".NETCORE 2.0 AcquireTokenAsync throwing System.AggregateException: One or more errors occurred. (unknown_error: Unknown error) ---> Microsoft.IdentityModel.Clients.ActiveDirectory.AdalServiceException: unknown_error: Unknown error ---> System.Threading.Tasks.TaskCanceledException: A task was canceled"
I am using below code to fetch AAD token using 3.16 version of ADAL library on .DOTNET core 2.0 and consistently getting TaskCancelledException after 1 min. Even on retries this is happening.

var authenticationContext = new AuthenticationContext(auth);
if (authenticationContext == null)
throw (new ArgumentNullException("AuthenticationContext")); authenticationContext.TokenCache.Clear();
ClientAss

[2018-08-09 10:52] joshexltd commented on #1098
Here the version that I and our customers are using:
![winver-ssso-aad](https://user-images.githubusercontent.com/41962072/43894599-877a4b9e-9bca-11e8-863a-a307ab2fb507.PNG)

This is the error when I attempt to join the machine to an Active Directory whilst the machine is Azure AD joined:
![cannot join to domain and azure ad- domain removed](https://user-images.githubusercontent.com/41962072/43894

[2018-08-09 11:13] benhysell opened #1181 "Full .NET Clear Browser Cache to force a full log out?"
Question - How to force user to enter email and password on every AcquireTokenAsync call.

Why this is needed - We are using the library on a shared workstation with multiple users accessing a resource in Azure from a .NET desktop application.  Users arrive, use the application, and then leave.  If the next user types in someone else's email address they can acquire that person's token, and effect

[2018-08-09 11:54] jmprieur commented on #1181
@benhysell :are you using ADAL.NET or MSAL.NET ? (this is the repo for ADAL.NET and you provided links for MSAL.NET, but code for ADAL.NET)
If you are using MSAL.NET, the library currently uses the system web browser, and therefore you can sign-out directly from the browser.
Also adding @xerners who is currently working on enabling the shared device scenario (where indeed signout is absolutely req

[2018-08-09 12:07] benhysell commented on #1181
@jmprieur I just checked my NuGet - Microsoft.IdentityModel.Clients.ActiveDirectory 3.19.8...that appears to be ADAL.NET?

Sorry for the confusion with regards to StackOverflow.  I'm having a hard time finding a single source of truth for ' this is the recommended path to ensure log out in shared device scenarios.'

How far down the backlog does this scenario live?  Next release, Q1 of this year,

[2018-08-09 12:31] jmprieur commented on #1181
@benhysell :we are heads down working on MSAL.NET (currently in preview, but we want to GA soon). Signout is will probably be available in MSAL before ADAL.NET

I suggest you check if MSAL could not work for you: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Adal-to-Msal

[2018-08-09 12:40] benhysell commented on #1181
@jmprieur I'll head over there today.

If I understand correctly, sign out for multiple devices is not supported over there as well?  Would this be the proper issue to track that:
[https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/589](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/589)

Appreciate the responses, I was crawling all over th

[2018-08-09 15:00] jmprieur commented on #1181
Yes, @benhysell this is the issue to track, you are right.
Now, MSAL being the system browser, you can also probably sign-out in the browser, which signs out from every app

[2018-08-09 19:08] bretthackermsft opened #1184 "AdalSilentTokenAcquisitionException on consent required"
Having added another API to a previously consented app registration, I'd like to monitor for exceptions and redirect the user to re-consent. However the error that's thrown(AdalSilentTokenAcquisitionException) indicates that no token was found in the cache, while the inner exception (AdalServiceException) correctly notes that the user hasn't consented. Would it be possible for that inner exception

[2018-08-10 15:50] savbace opened #1186 "TokenCache.Count triggers cache notifications [was AcquireTokenByAuthorizationCodeAsync looks up cache]"
Version: `Microsoft.Identity.Client.1.1.2-preview0008`
Platform: `.NET`

Calling `ConfidentialClientApplication.AcquireTokenByAuthorizationCodeAsync` results into execution of `beforeAccess` notification in `userCache` implementation.
[code]
From docs:

Is it expected behavior or am I misunderstanding something?

Thanks!

[2018-08-13 18:14] suresh-dev opened #1194 "calling AcquireTokenSilentAsync in xamarin forms application throwing object reference error"
I am using ADAL 3.19.8 nuget package for AAD authentication.

i was able to get authentication token and login to the application. after relaunching the application I am trying to make request to get the access token by using the below code, it throw an object reference error
at AcruireTokenSilentAsync method.

[code]

can anyone please suggest any ideas to overcome this

[2018-08-14 04:14] jmprieur commented on #1194
Can you please share the exact location of the exception?
Did you see the code in the following section of the conceptual documentation? https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/AuthenticationContext-the-connection-to-Azure-AD#case-when-the-authority-is-not-known-in-advance
BTW, in your code, you should probably use intermediate variables (for example `authContext.T

[2018-08-14 06:03] suresh-dev commented on #1194
I am getting exception while the debugger hits at the below line
authResult = await authContext.AcquireTokenSilentAsync(resource, clientId);

and TokenCache is not null

[2018-08-14 06:05] jmprieur commented on #1194
@suresh-dev : do you have a repro sample?

[2018-08-14 06:28] suresh-dev commented on #1194
Actually i don't have repro sample, code which i have posted is a bit of my app.

i can give the methods which i am using for o365 login and acquire token silent
[code]

[2018-08-15 19:09] dilv0055 commented on #650
Thanks @omerlh  worked for me

[2018-08-16 08:19] web265p3 opened #1204 "SharePoint REST Api needs user context, but Adal library for .NET Core does not support username + password anymore"
Accessing the SharePoint REST API does not work with Client Credentials. In this case you need a user context. I wrote a service, accessing SPO REST in .NET Core 2.0, but it seems, that UserPasswordCredential class is not supported in .NET Core ADAL library anymore.
I know that using username and password credentials is not recommendet, but for SharePoint services I do not see another way yet.
Wha

[2018-08-16 15:48] shahbikash opened #1206 "Null reference error - AcquireTokenAsync Version=3.19.3.10102"
Hi,
I am getting following error on authContext.AcquireTokenAsync(3 arguments) method, problem is occurring only in upper environment, it works perfectly fine in DEV and local.
`AuthenticationContext authContext = new AuthenticationContext(AuthorityUrl);
var authResult = await authContext.AcquireTokenAsync(EmbedUrl, .ClientID, credential).ConfigureAwait(false);
`

Getting following error:
Object r

[2018-08-17 06:18] shahbikash commented on #1051
@henrik-me  this the entire exception i have logged in a file. i have tried catching the exception at AdalServiceException and AdalException but its not caught, the exception is caught only in sysytem.exception block.
Please suggest if i am missing something while logging.

[2018-08-17 06:26] shahbikash commented on #1206
@kpanwar would be great if you could help me with this, have been stuck with this for a while

[2018-08-18 16:12] mmaitre314 opened #1209 "Distributed TokenCache backed by Azure Key Vault"
More a guidance question than an issue: has anyone implemented a distributed `TokenCache` serializing to Key Vault? Any guidance and code samples available?

I went through docs here, which is almost what we need:
https://docs.microsoft.com/en-us/azure/architecture/multitenant-identity/token-cache#encrypting-cached-tokens
We use Web Apps in multiple regions for high-availability, so token encrypti

[2018-08-19 16:48] Eldar1205 commented on #1083
Hi,

We also experience the same issue, and it's not consistent across our machines.
We use .Net Framework 4.7.2, ADAL version 3.19.8, and in local workstations this method call works for us and on our test agents it doesn't, for the same certificate. When the same code is compiled using .Net 4.5.2 with same certificate it works correctly on our test agent, so the regression is related somehow to

[2018-08-20 03:41] henrik-me commented on #1083
@brentschmaltz : Would like to get your perspective on this one.

[2018-08-21 05:59] Yonisha commented on #1051
Hi,

any solution for this?

[2018-08-21 06:06] Yonisha opened #1213 "Changelog doesn't contain details for versions > 3.17.2"
Given that version 3.19.8 was released, the changelog is incomplete.

[2018-08-21 06:14] jmprieur commented on #1213
Hello @Yonisha : I don't understand your question. Can you provide repro steps (where to look at):
We have explained all the changes in each release: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases ?

[2018-08-21 06:16] Yonisha commented on #1213
Sorry jmprieur, hit enter too soon. closing

[2018-08-21 06:16] #1213 closed, assigned to nobody

[2018-08-21 06:17] jmprieur commented on #1051
@Yonisha, do you have a way of enabling logs (as Henrik suggested): to enable them, : https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Logging-in-ADAL.Net
Also do you have repro steps? code that we could run?

[2018-08-21 11:24] sliekens opened #1215 "PiiLoggingEnabled causes duplicate logs"
I implemented a logging callback according to the example in the wiki.

My code:

[code]

This works but I noticed that I get duplicate logs if I enable PII logging.
- one log without PII
- one log including PII

Sample: (PII is redacted, highlighted in bold)

[2018-08-21 11:26] jmprieur commented on #1215
Thanks for your feedback, @StevenLiekens
this is by (questionable :-) ) design.
See see the second bullet point of https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Logging-in-ADAL.Net#new-way-of-logging-controlling-pii-adalnet--318

[2018-08-21 11:39] sliekens commented on #1215
Oh okay. I'll just do this then:

[code]

[2018-08-21 12:59] #1215 closed, assigned to nobody

[2018-08-21 18:21] cansado2930 opened #1218 "msal can't get token with embedded browser"
Hi,
I have built the dev branch in order to use the MSAL SDK for android because I need to use the embedded browser because some users haven’t installed chrome. I have seen that steps for external browser works perfectly. But If I change the line to App.UIParent = new UIParent(this, true); then it doesn’t works. The flow for users works well, it opens the embedded browser and I can enter email, pa

[2018-08-21 18:30] jennyf19 commented on #1218
@cansado2930 - Could you open this in the [MSAL repo](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues)?
Can you provide us with the [MSAL logs](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging#logging-in-msalnet). Are you seeing this with an Android device and/or simulator? Which Android version? Also, can you share the code you are

[2018-08-23 02:33] lucdem commented on #1051
Unfortunately (or rather fortunately), after getting this issue twice on the day this post was created I never managed to replicate it again. In fact this exact same piece of code has turned into production code and worked for months now without another occurrence of the issue.

[2018-08-23 05:58] jmprieur commented on #1051
@lucdem : what should we do then? close this issue?

[2018-08-23 07:11] cansado2930 commented on #1218
Ok, I'm going to change it to other repo.

[2018-08-23 07:11] #1218 closed, assigned to nobody

[2018-08-23 15:44] 2troger commented on #1051
I just started getting this issue a few days ago as well. I am the only one on my team having this problem. My stacktrace looks identical to the original post's.

I implemented the logging described above, the log goes until the exception is thrown.
After more investigation within my team, this only happens on my computer with certain logins when deployed to iOS and with the production Azure AD. W

[2018-08-23 17:19] brentschmaltz commented on #1083
@Eldar1205 can you share the code you make to call adal?

[2018-08-23 17:36] Eldar1205 commented on #1083
I can't reveal the details of specific parameters, but this is the overall  code structure:

[code]
The method _GetCertificate_ looks for a certificate with given thumbprint in either CurrentUser/My or LocalMachine/My using the code below:

`
public static X509Certificate2 FindCertificateByThumbprint(string thumbprint, StoreLocation storeLocation = StoreLocation.CurrentUser, bool trace = false)

[2018-08-24 13:33] blowdart opened #1223 "OpenId: private_key_jwt authentication method support"
_From @mathiasbl on August 23, 2018 19:49_

Are there plans to support the 'private_key_jwt' authentication method for OpenId?

_Copied from original issue: aspnet/Security#1846_

[2018-08-24 13:33] blowdart commented on #1223
_From @Eilon on August 23, 2018 21:5_

@brentschmaltz is this something in here or something in your area?

[2018-08-24 13:33] blowdart commented on #1223
_From @mathiasbl on August 24, 2018 9:56_

I started implementing this and I am having issues to create the client assertions.
I have publics keys in json format and when trying to create a jwt token I get ''IDX10638: Cannot create the SignatureProvider, 'key.HasPrivateKey' is false, cannot create signatures. Key: Microsoft.IdentityModel.Tokens.RsaSecurityKey.''

[code]

Any idea what I'm missing?

[2018-08-24 13:33] blowdart commented on #1223
We rely on libraries provided by AAD for our JWT support, you might want to ask them - https://github.com/AzureAD/azure-activedirectory-library-for-dotnet

[2018-08-27 08:23] jmprieur commented on #1223
Or rather: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet ?
cc: @brentschmaltz @mafurman @GeoK

[2018-08-27 19:24] Eldar1205 commented on #1083
@brentschmaltz  Friendly ping :)

[2018-08-28 09:47] vedeevi opened #1234 ""invalid_grant" error was thrown when trying to pass usertoken as on-behalf of token to Microsoft Graph API."
Hi All,

We having an issue when trying to generate a AAD token using UserAssertion and client credentials for targeting to Graph API as resource. Following are our configurations which were used to send the request...

https://login.microsoftonline.com:443/{tenantId}/oauth2/v2.0/token
With this parameters :
client_id: app id declare inside Azure
client_secret : secret declare for the app inside a

[2018-08-28 16:48] brentschmaltz commented on #1083
@Eldar1205 I'll have to dig through the code. In the meantime, can you tell me about the Certificate? Is it signed with SHA2? Any extensions? Did you set a 'quirk' to turn off CNG?

[code]

[2018-08-28 17:33] Eldar1205 commented on #1083
Signed with Sha2, CNG is default mode no quirks. What do you mean by
extensions?

On Tue, Aug 28, 2018, 19:48 BrentSchmaltz <notifications@github.com> wrote:

[2018-08-28 22:38] jmprieur commented on #1234
@vedeevi : how did you get your JWT token in the application calling your Web API?
Do you have repro steps?

[2018-08-28 23:31] jmprieur commented on #478
@henrik-me : I don't think we need to do it? do we? for supportability?

[2018-08-28 23:32] henrik-me commented on #478
@jmprieur : it's not on the plan, however with ADAL 4+ it became a lot easier to do.

[2018-08-28 23:34] jmprieur commented on #803
@jennyf19 : do you think it's still an issue?

[2018-08-28 23:34] jmprieur commented on #913
this is done. Closing
cc: @henrik-me

[2018-08-28 23:34] #913 closed

[2018-08-28 23:35] jmprieur commented on #923
done

[2018-08-28 23:35] #923 closed

[2018-08-28 23:35] #915 closed

[2018-08-28 23:36] jmprieur commented on #931
done. ADAL 4.0.0-released

[2018-08-28 23:36] #931 closed

[2018-08-28 23:37] jmprieur commented on #975
this is on the backlog for after Ignite

[2018-08-28 23:40] jmprieur commented on #1027
Using both ADAL.NET and MSAL.NET should probably be avoided, but it's now a supported scenario from ADAL.NET 4.0.0-preview and MSAL.NET 2.0.0-preview

[2018-08-28 23:40] #1027 closed

[2018-08-28 23:42] jmprieur commented on #1067
@brentschmaltz @mafurman @GeoK : do you have some idea / input?

[2018-08-29 06:42] vedeevi commented on #1234
@jmprieur, This is a Bot Framework API and we get the user token from Cortana channel. We are using this userToken to generate a on-bhehalf-of token to Graph API to get other details of the user. When we are trying to do get this Graph API token, we are getting above mentioned error "invalid_grant", "error_description":"AADSTS50013: Assertion contains an invalid signature. [Reason - The provided s

[2018-08-30 12:13] rishavraj10 opened #1239 ".NETCORE 2.0 AcquireTokenAsync throwing System.AggregateException. TaskCanceledException: A task was canceled"
**Which Version of ADAL are you using ?**
ADAL 3.16.4

**Which platform has the issue?**
netcore

**What authentication flow has the issue?**
* Desktop
    * [ ] Interactive
    * [ ] WIA
    * [ ] U/P
    * [ ] Device code flow (browserless)
* [ ] Mobile
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - Linux Daemon

**Repro**

[code]

**Expected behavior**
Th

[2018-08-30 12:14] #1178 closed, assigned to nobody

[2018-08-30 13:29] jmprieur commented on #1178
@rishavraj10 : did you manage to troubleshoot yourself? do you want to share what the root cause was?

[2018-08-30 13:33] jmprieur commented on #1239
@rishavraj10 :
- did you try upgrading to ADAL 3.19.8 ? We fixed the following issue in 3.19.2 : [ADAL.NET 3.19.2 fixes the "user canceled the authentication" intermittent error on the UWP platform](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/adalnet_3_19#adalnet-3192-fixes-the-user-canceled-the-authentication-intermittent-error-on-the-uwp-platform)
- would you have

[2018-08-30 16:09] arielbh opened #1240 "Silent exception in Xamarin Android"
**Which Version of ADAL are you using ?**
ADAL 3.19.8

**Which platform has the issue?**
Xamarin android

**What authentication flow has the issue?**
Mobile - Android

**Expected behavior**
When I'm calling Microsoft Graph on an Android Device, I expect my call to return successfully with available token which was received via the login flow of the ADAL

**Actual behavior**
Calling await client.Ge

[2018-08-30 16:25] jmprieur commented on #1240
@arielbh
The exception is saying that:
- the device has a broker installed (Microsoft Authenticator)
- Your application is leveraging a broker
- Authenticator canceled the call.

This could be because the user (you?) canceled sign-in in Authenticator?
Or is there an update of authenticator available for Android?

cc: @danieldobalian @trwalke @jennyf19  in case they have ideas

[2018-08-30 19:13] arielbh commented on #1240
@jmprieur The device opens up the sign-in dialog if needed, other requests that uses the auth-token works. Only when I try to access the Microsoft Graph with the same authenticator it fails silently (without trying to open UI on the device).

[2018-08-31 04:10] jmprieur commented on #1240
could you please try with ADAL.NET 4.0.0-preview to see if you see the same?

[2018-08-31 08:47] jmprieur commented on #1240
Also, could you please check the broker logs (in the help section of authenticator).
If you want, you could send the logs to powerlift and send me the code (Jean-Marc.Prieur at Microsoft.com)

[2018-08-31 18:38] alexrainman commented on #1144
Any help on this? How i can cahnge User-Agent? Please?

[2018-08-31 18:42] jmprieur commented on #1144
you cannot for the moment, @alexrainman. We are discussing the best way to enable this:
cc; @bgavrilMS @henrik-me @danieldobalian

[2018-08-31 19:41] alexrainman commented on #1144
@jmprieur without this we cannot move forward. Do you have an idea when?

[2018-09-01 05:18] TruthWithLove opened #1245 "PlatformParamters can't be instantiated in order to disable embedded Webview"
**Which Version of ADAL are you using ?**
 4.0.0. - Preview

**Which platform has the issue?**
Xamarin, iOS

**What authentication flow has the issue?**
* Desktop
    * [ ] Interactive
    * [ ] WIA
    * [ ] U/P
    * [ ] Device code flow (browserless)
    *[x] Mobile

Other? - please describe;
 This property is public, but not visible to my application. Could it have something to do with CLRComp

[2018-09-01 06:24] jmprieur commented on #1245
@ZeroPKI :
ADAL.NET only supports embedded web view. MSAL.NET supports [both](https://aka.ms/msal-net-uses-web-browser) embedded web view and system web browser.

what is your scenrio? why would you want to use the sytem browser with ADAL? is it an option for you to move to MSAL.NET?

[2018-09-01 15:02] TruthWithLove commented on #1245
@jmprieur
Does MSAL support ADFS? I read that ADAL is the only way to go for this.
ZeroPKI depends on claims offered via federation, graph, or claims offered through an ADFS trust.

If ADFS connectivity is a requirement, should I be using ADAL?

[2018-09-01 15:49] jmprieur commented on #1245
@ZeroPKI
no it does not support ADFS yet. Are you interested in a direct ADFS connection? or through a federation (which is something that will come quicker)

If direct ADFS connection is a requirement (and you don't need to sign-in with MFA), yes, you should use ADAL.

[2018-09-04 17:30] brentschmaltz commented on #1067
@gastart can you provide a stack trace?
The type is available since 3.5:
https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.sha256cng?view=netframework-4.5.2

What version of .Net did you install on the machine?

[2018-09-05 14:39] bgavrilMS commented on #1239
Closing, please upgrade to ADAL 3.19.8 or ADAL 4.0.0-preview and try the other advice provided.

[2018-09-05 14:39] #1239 closed, assigned to nobody

[2018-09-06 19:19] afedyashov commented on #598
So, how to use it now? We have 3.16.1.24801 version of Microsoft.IdentityModel.Clients.ActiveDirectory and ClientAssertionCertificate is not known. How to update existing code using it?

[2018-09-06 19:45] jmprieur commented on #598
@afedyashov : do you want to try with ADAL.NET 3.19.8 ? or ADAL.NET 4.0.0-preview?

[2018-09-06 22:31] afedyashov commented on #598
@jmprieur 3.19.8 resolved it, thanks!

[2018-09-12 07:11] cvbc2010 opened #1252 "The supplied grant_type [urn:ietf:params:oauth:grant-type:jwt-bearer] is not supported."
**Which Version of ADAL are you using ?**
Microsoft.Identity.Client 2.0.0 Preview

**Which platform has the issue?**
.Net Core

**What authentication flow has the issue?**
* Desktop
    * [ ] Interactive
    * [ ] WIA
    * [ ] U/P
    * [ ] Device code flow (browserless)
* [ ] Mobile
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [x] OBO

Other? - please describe;

**Repro**

[2018-09-12 16:11] AntonioSCoelho opened #1253 "NullReferenceException AdalHttpClient and Network Timeout"
Version of ADAL used: c# ADAL 3.19.8
Which platform has the issue: net45

I'm using the following code:
[code]

With that code, I get the Microsoft login page. Enter the user email, I'm redirect to the the company's login page and then the windows just closes and I get the error below.

Exception:

[code]
`

[2018-09-12 16:27] jennyf19 commented on #1253
@AntonioSCoelho - You might be running into a threading issue. We recommend using the async/await pattern and not `.Result()`. See this information on [async controller actions](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/use-async-controller-actions) for more information. Let us know if this fixes the issue for you.

[2018-09-13 13:11] AntonioSCoelho commented on #1253
I changed to the below code and I got the same error.

[code]

[2018-09-13 14:19] jmprieur commented on #1253
@AntonioSCoelho

1. Are you trying to sign-in with a live account using ADAL.NET ? I see that your redirect URL is https://login.live.com/oauth20_desktop.srf, which, I believe is for the Live SDK?
If you do want to sign-in users with Live accounts, please use [MSAL.NET](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki) ?

2. I also noticed that the authority you have set

[2018-09-13 16:40] RogerDavidClarke commented on #511
I'm using a standard Xamarin forms project with Android and I'm getting exactly the same issue with both the platform dll not being present in the Bin folder. The Platform dll is not copying and I have to add the package to both of my projects. All of these Xamarin forms projects have the mainpage code sitting in a class library. The recurring common issue is PlatformParameters not accepting any p

[2018-09-14 05:16] jmprieur commented on #511
@bgavrilMS FYI.

[2018-09-14 05:58] bgavrilMS commented on #511
@RogerDavidClarke - you don't need the platform dll unless you are upgrading from an older version of ADAL and don't want to rebuild your code as a few types have moved namespace. The paltform dll only contains type forwarding.

As for PlatformParameters - they are platform specific as the name suggest, so you cannot construct them in your netstandard library. What you can do however is to constru

[2018-09-14 08:24] AntonioSCoelho commented on #1253
This is used on an enterprise windows forms application, so I need that redirect URL.

The idea of the application is to list PowerBI Reports and Dashboard and I so need to connect to multiple company emails.

I saw an example in Microsoft docs and they were using that authority also. (I will try to find that and link it here)

The code with the `.Result()` was working in production for several mo

[2018-09-14 14:42] jmprieur commented on #1253
@AntonioSCoelho could you please enable logging by following this article: [Logging](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Logging-in-ADAL.Net)? and share the logs with us?

[2018-09-14 19:30] AntonioSCoelho commented on #1253
@jmprieur Attached are the files from two different customers. If you need more information let me know.
[Log1.txt](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/files/2384637/Log1.txt) - This company uses single sign-on
[Log2.txt](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/files/2384638/Log2.txt) - This company uses multi factor authentication and si

[2018-09-19 16:05] brentschmaltz commented on #1223
@mathiasbl you need the private key to sign. I only see the public part of your key.

[2018-09-19 21:35] henrik-me commented on #1252
@cvbc2010 : based on the data you provided here it's a bit tricky to figure out what you are passing in. Can you pls. provide some additional data and a bit more details on the repro?

From the name of the scope variable it seems like you have a b2c app, you have to ensure your grant type is supported by B2C.

[B2C setup](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory

[2018-09-19 21:39] henrik-me commented on #1252
@cvbc2010 : You are effectively using MSAL and not ADAL given the library you are using. Typically such questions should be posted here in our [MSAL repo](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues)

[2018-09-20 20:34] henrik-me commented on #1144
@alexrainman : This is not on our current roadmap. Can't give an ETA at the moment.

CC: @jmprieur

[2018-09-21 13:34] PostImpatica opened #1262 "Login doesn't show in Xamarin.GTK"
**Which Version of ADAL are you using ?**
ADAL 3.19.8

**Which platform has the issue?**
Xamarin forms project using Authentication within a dependency service inside a native GTK project

_Xamarin Forms Project_
`Xamarin.Forms 3.1.0.637273`
_GTK Native Project_
`.Net 4.7.1`
`GTK v3.1.0.637273`

**What authentication flow has the issue?**
* [x ] Mobile

**Repro**

[code]

**Expected behavior**
The

[2018-09-22 20:37] bgavrilMS commented on #1245
@ZeroPKI -  Apart from what Jean-Marc is saying, i.e. system web browser is not supported on msal ...

I think what is happening is that you are writing your code in the .netstandard shared assembly of the xamarin app. What we've done is to define PlatformParameters for each target platform. In case of netstandard, the platform parameters are empty, because there is no commonality between iOS, And

[2018-09-22 20:38] bgavrilMS commented on #1240
Closing, please reopen if you have more info.

[2018-09-22 20:39] bgavrilMS commented on #1209
Got it, so this is a feature request for async cache extensibily methods.

[2018-09-24 14:38] bgavrilMS commented on #1262
Hi @helzgate,

I believe the issue is because you are creating the PlatformParamters from a net desktop assembly.

The problem is that PlatformParameters is platform dependent, and you need to new it up inside each of the platform dependent assemblies (iOS, Android and UWP). For example, for Android, the actual class that needs to be created is [this one](        https://github.com/AzureAD/azure-a

[2018-09-25 10:29] shahbikash commented on #1206
Hello is there someone who can help me with this issue.

[2018-09-25 11:02] shahbikash commented on #1253
I am facing a similar issue, using 3.19.3
i have detailed the issue in #1206

[2018-09-26 00:09] QiyuanHU opened #1270 "AuthenticationResult.Deserialize： AuthenticationResult does not contains a definition for Deserialize"
**Which Version of ADAL are you using ?**
Note that to get help, you need to run the latest preview or non-preview version
For MSAL, please log issues to https://github.com/AzureAD/microsoft-authentication-library-for-dotnet
ADAL 3.19.4.11002

**Which platform has the issue?**
net45

**Repro**
AuthenticationResult does not contains a definition for Deserialize

[code]

**Expected behavior**
We can

[2018-09-26 14:58] magnusnorberg commented on #1206
Hi,
I am also getting this error intermittently (3.19.8). Using Xamarin.iOS.

I can not find any pattern for when this error occurs that make sense. I have been debugging and I can see that the Adal library fails when trying to exchange the authorization code for access tokens. First ADAL is logging that "Network timeout..." and after retrying one time and still no luck, then NullReferenceExceptio

[2018-09-27 04:26] henrik-me commented on #1206
@shahbikash @magnusnorberg : Can you pls. confirm that this issue doesn't have a consistent repro?
If you have a network trace and can share some information on what is returned from the server then we might be able to help troubleshoot this better.

[2018-09-27 04:27] henrik-me commented on #1253
@AntonioSCoelho : did you try to update the Authority uri (https://login.windows.net/common/ or the new alias https://login.microsoftonline.com/common) as suggested by @jmprieur ?
Also do you only see this issue occasionally?

[2018-09-27 13:27] AntonioSCoelho commented on #1253
@henrik-me Haven't tried to change the authority.
Only happens with some customers (tried with different accounts inside the same organization and the same result). Others are able to login just fine.

[2018-09-27 15:40] henrik-me commented on #1253
@AntonioSCoelho : can you share some characteristics of the customers/accounts where this doesn't work (e.g. special federation setup or other elements).

[2018-09-27 16:58] rhythmnewt opened #1277 "Cross-thread operation exception when setting ownerWindow in PlatformParameters"
**Which Version of ADAL are you using ?**
ADAL 3.18.0 and later

**Which platform has the issue?**
net462

**What authentication flow has the issue?**
* Desktop
    * [ X] Interactive

Other? - please describe;

**Repro**
Create new WinForms project targeting .NET 462 and add the following code to handle Load event.
[code]

**Expected behavior**
Windows form is shown in the background with the bro

[2018-09-27 17:02] AntonioSCoelho commented on #1253
@henrik-me  The only information I have is:  One uses single sign-on and the other one uses multi factor authentication and single sign-on.

[2018-09-27 17:08] trwalke commented on #1240
I have assisted ariel in resolving his first issue, however, he has run into another issue after the fix.
From Ariel: "I've got inconsistent behavior between different users and different devices regarding successfull silent retrieval of the token.
I'm including 2 Android Logs. The first is a failing and you can see the exception:
09-27 13:54:05.081 I/        (11137): 2018-09-27T10:54:05.0807840Z:

[2018-09-27 19:07] bgavrilMS commented on #1270
@QiyuanHU

What version did you upgrade from? 2.x ? Deserialize is not part of the public API in 3.x, however this object is deserialized from a json object we get from the STS, you can have a look at our code to see how we deserialize it etc.

https://github.com:443/AzureAD/azure-activedirectory-library-for-dotnet.git/blob/dev/adal/src/Microsoft.IdentityModel.Clients.ActiveDirectory/Authenticatio

[2018-09-27 19:55] #1262 closed, assigned to bgavrilMS

[2018-09-27 19:58] bgavrilMS commented on #1252
@cvbc2010 - we fixed some B2C issues in MSAL 2.0.1 - can you try with that? Please reopen the issue on the MSAL repo if you still have problems.

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues

[2018-09-27 19:58] #1252 closed, assigned to nobody

[2018-09-27 20:06] #1245 closed, assigned to nobody

[2018-09-27 23:28] Ofekw opened #1283 "WindowsAuthenticationAzureServiceTokenProvider.GetTokenAsync thows when using Microsoft.IdentityModel.Clients.ActiveDirectory 4+"
**Which Version of ADAL are you using ?**
Microsoft.IdentityModel.Clients.ActiveDirectory: 3.14.2 - 3.19.8 & ADAL 4.0.0-preview - 4.1.0-preview

**Which platform has the issue?**
.net45

**What authentication flow has the issue?**
* Desktop
    * [ ] Interactive
    * [x] WIA
    * [ ] U/P
    * [ ] Device code flow (browserless)
* [ ] Mobile
* Web App
    * [ ] Authorization code
    * [ ] OBO
*

[2018-09-27 23:29] Ofekw commented on #1283
This is blocking several of our deployments - any info would be really appreciated. Thanks!

[2018-09-28 02:41] TruthWithLove commented on #1245
Yes, a short sample or description would be helpful Thank you @bgavrilMS

[2018-09-28 07:06] pawanshakya commented on #1206
Hi,
@henrik-me
I am also facing the same issue at DEV env. And this is happening to one of the user rest all works fine.
Tried different users on same network which worked fine apart from one user facing this issue.  And its happens each time for that user.
authResult fails here for that one user. Rest all works fine.
Can someone please help here.

`
public async Task<AuthenticationResult> Authent

[2018-09-28 08:28] mixxit commented on #482
We are currently suffering building headless background services that connect to WebAPI and make use of directory extensions as claims

Without UserPasswordCredentials we are forced to login via the Application authentication flow but microsoft azure ad graph does not support storing claims against a ServicePrincipal

After opening a ticket with microsoft they have recommended we instead authentic

[2018-09-28 19:36] shahbikash commented on #1206
@henrik-me
Hi, null reference error is intermittent now, i was getting it on every call earlier but after adding a proxy setting to the web.config file i am getting this issue intermittently, like 1 in 10 times it fails. this looks like a network issue and some firewall is blocking my calls, but after using proxy why does the call fails sometimes, could you guide me right direction.

[2018-09-30 11:22] mjcheetham opened #1285 "ADAL 3.19.x leaks `System.Net.Http.HttpRequestException` from Windows Integrated Authentication flow"
**Which Version of ADAL are you using ?**
ADAL 3.19.4, but the same code path/problem is present in 3.19.8 (the latest in the 3.x line)

**Which platform has the issue?**
net45

**What authentication flow has the issue?**
* Desktop
    * [x] WIA

**Repro**
This one might be hard to repro as it requires a domain joined machine with a _broken_ set of domain controllers such that the following error

[2018-10-01 09:53] mixxit opened #1286 "3.19.8 Linux SignWithCertificate - System.NullReferenceException: Object reference not set to an instance of an object"
3.19.8 Linux
Note that to get help, you need to run the latest preview or non-preview version

Docker microsoft/aspnetcore-build:1.0-2.0  .net core2 works fine on Windows

**What authentication flow has the issue?**
* Desktop
https://github.com/Azure-Samples/active-directory-dotnet-daemon-certificate-credential

**Repro**

[code]

**Expected behavior**
Certificate is read from the local store and

[2018-10-01 09:53] mixxit commented on #1286
Unable to run preview due to Windows incompatibility with nuget

[code]

[2018-10-01 09:56] mixxit commented on #1286
Version 4.1.0-preview results:

[code]

[2018-10-01 10:58] bgavrilMS commented on #1285
@jmprieur - We had a look at the code and it looks like this will not happen in ADAL v4 since we've refactored IWA.

Workaround for v3 is to catch that exception.

[2018-10-01 15:10] magnusnorberg commented on #1206
@henrik-me I have not been able to find a consistent way to reproduce my Issue. For iOS I have started to use ADAL 4.0.0 and since then I have not experienced the issue. I still get the issue every now and then on Android where I still use ADAL 3.19.8.

But with ADAL 4.0.0 I get another issue, sometimes I get "Object reference not set to an instance of an object" when at TokenCacheAccessor.GetTeam

[2018-10-01 15:45] henrik-me commented on #1206
@magnusnorberg : adal.net 4 is likely to be declared GA this week or next week. We consider it production ready. We will release an update to the library where we will remove the preview tag.

@bgavrilMS can you pls. help take a look at the TokenCacheAccessor issue mentioned above?
CC: @jmprieur

[2018-10-02 01:39] jmprieur commented on #1286
@mixxit : did you try with this sample: https://github.com/Azure-Samples/active-directory-dotnetcore-daemon-certificate-credential, which is for .NET Core and that I had tested on Linux when I wrote it?

[2018-10-02 08:59] magnusnorberg commented on #1206
@henrik-me @bgavrilMS @jmprieur Should I create a separate issue for problems creating AuthenticationContext? It is very diffucult to find a work-around, because I have not succeeded in understanding under what circumstances it happens. After the first call to new AuthenticationContext(_authority) fails, no retry will succeed and the only way I have managed to get it working again is to force clos

[2018-10-02 12:45] mixxit commented on #1286
This appears to be an issue with the certificate

[2018-10-02 12:45] #1286 closed, assigned to nobody

[2018-10-02 13:14] hewey23 commented on #1253
I am having the same issue. Strangely, it is only with 2 out of 100 users.

2018-10-02 10:08:21.784532-0300 MooseExpense.iOS[3385:62476] 2018-10-02T13:08:21.7844200Z: e1859466-cd0c-4635-b6f6-d7c6c54dbf2e - LoggerBase.cs: Network timeout, Exception type: System.Threading.Tasks.TaskCanceledException
Information 2018-10-02T13:08:21.7844200Z: e1859466-cd0c-4635-b6f6-d7c6c54dbf2e - LoggerBase.cs: Netwo

[2018-10-02 13:18] hewey23 commented on #1253
Here is the code that times out:

            LoggerCallbackHandler.LogCallback = Log;
            LoggerCallbackHandler.PiiLoggingEnabled = true;

            var authContext = new AuthenticationContext(Keys.AadAuthority);
            if (authContext.TokenCache.ReadItems().Any() == true)
            {
                var test = authContext.TokenCache.ReadItems();
                authContext = new

[2018-10-02 15:46] bgavrilMS commented on #511
@jmprieur - proposing to close this, I don't see what can be done here.

[2018-10-02 15:50] jmprieur commented on #511
@bgavrilMS Agreed. changed the labels, and closed

[2018-10-02 15:50] #511 closed

[2018-10-03 16:24] magnusnorberg commented on #1206
@henrik-me @bgavrilMS @jmprieur We are live in App Store with our app that gets this error. Do you have any ideas about under what circumstances your GetTeamId() code would throw a null reference exception. Note that the app is working most of the time, so it's not a configurational issue.

A sample exception:

 "type": "System.TypeInitializationException",
        "message": "The type initializer

[2018-10-03 16:37] jmprieur commented on #1206
@magnusnorberg is the app you mention just above using ADAL 3.19? or ADAL 4.x ?
Also is it only on Xamarin.iOS?

[2018-10-03 16:39] magnusnorberg commented on #1206
@jmprieur It is only on Xamarin.iOS and it is ADAL 4.x (4.0.0). (it may be realted to keychain in some way...?)
Thank you

[2018-10-03 16:53] rhythmnewt commented on #1277
Bueller?

[2018-10-03 17:08] jmprieur commented on #1206
@jennyf19 FYI

[2018-10-03 17:11] jennyf19 commented on #1206
@magnusnorberg - I have yet to try on an ADAL Xamarin app, but this works with MSAL Xamarin apps. Can you try the following:
- In VS, under Debug tab, got to  nameOfMyApp.iOS Properties...
- Then go to iOS Bundle Signing
- Under Custom Entitlements, click the ... and select the Entitlements.plist file from your app

In the csproj file of the iOS app, you should have this line now included:
``` <Co

[2018-10-03 17:38] magnusnorberg commented on #1206
@jennyf19 @jmprieur
My entitlements.plist looks like this:

`
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)se.preciofishbone.omniafeed</string>
	</array>
</dict>
</plist>
`
Could this difference res

[2018-10-03 18:01] jennyf19 commented on #1206
@magnusnorberg The entitlements.plist looks fine. Can you make sure this line
`<CodesignEntitlements>Entitlements.plist</CodesignEntitlements>`
is included in the csproj file of the app? Can you try w/Adal 4.1-preview as well? Thanks

[2018-10-03 20:32] magnusnorberg commented on #1206
@jennyf19

Hi again, a big problem here is that I have found no way to reproduce the error. It would have been great to be able, in a debug-scenario, to know how to make it happen; then one could change version of ADAL, and do other things to see if it was fixed.

The only way I can test to see whether Adal 4.1-preview has this behavior, is to submit an update to Apple AppStore and monitor if thos

[2018-10-03 20:36] jennyf19 commented on #1206
@magnusnorberg From ADALv3 to ADALv4, we started checking for the TeamID as part of accessing keychain, so apps from v3 or v4 can share the keychain storage. This why we are seeing a different behavior on v4, but the above fix seems to work, at least in MSAL. Does that make sense?
You can also wait until we GA ADALv4 and then make the update to the Apple store.
Also, if you can send us ADAL logs w

[2018-10-03 20:57] magnusnorberg commented on #1206
@jennyf19 cc: @jmprieur

Hi again,
Please help me understand.

We are talking about one specific build of our app, built with ADAL v4.0. That one version has been deployed to end users via Apple App Store.

That one version is mostly working perfectly, but, occasionally (to often to be acceptable) it is failing at TokenCacheAccessor.GetTeamId() - getting "Object reference not set to an instance of

[2018-10-04 20:54] bganapa opened #1299 "Expired RefreshToken in the TokenCache is not replaced even after additional login"
**Which Version of ADAL are you using ?**
2.28.31117.1411

**Which platform has the issue?**
net45

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [x] Username Password

**Issue**
The issue is exposed through azure powershell latest AzureRM Version 5.6.0. This version of azure powershell uses 2.28.31117.1411 version of ADAL dll.

The user is doing Add-Az

[2018-10-04 22:15] jmprieur commented on #1299
ADAL.NET 3.x, 4.x and MSAL.NET 2.x work fine. Is it an option to migrate to these versions? (ideally you'd want to upgrade to MSAL.NET 2.x, which is where all the innovation happens)

[2018-10-05 02:34] arunsmiles opened #1305 "ADAL is not returning cached tokens in multi-resource scenarios"
ADAL Version that repros this issue: v3.19.8 (Latest Stable)

As part of our API call, we need on-behalf-of tokens for multiple resources like substrate, graph.windows.net, graph.microsoft.com etc. We expect ADAL to cache these tokens and return the cached tokens when we request the tokens for the same resource next time. But because of some issue with internal implementation of ADAL library, ADAL

[2018-10-05 06:50] markolb81 commented on #482
Hi there, I still have the same problem like sireza: There is a headless proxy app (azure function) accessing the MS Graph to feed other services (with simple calendar entries) used by non-authenticated clients.
App-only permissions are technically possible, but politically impossible and insecure, since my service then has complete access to users private calendars and more.

So, maybe I did not

[2018-10-05 07:09] jmprieur commented on #482
Is it an option for you @markolb81 to move to MSAL.NET: it has U/P in .NET Core: See [Username Password in MSAL.NET](https://aka.ms/msal-net-up)

[2018-10-05 09:06] marnilss opened #1306 "Make AcquireTokenAsync cancellable by passing CancellationToken"
**Is your feature request related to a problem? Please describe.**
When doing broker assisted logins (MS Authenticator) in an App, and the user cancels the login process by pressing Home button on device and then reactivating the App, the App is hung waiting for the AcquireTokenAsync to return.

**Describe the solution you'd like**
Make it possible to pass a CancellationToken in the request to Acq

[2018-10-05 09:47] markolb81 commented on #482
Thanks for the idea @jmprieur , but MSAL.NET only supports User/Password for .NET Framework. Unfortunately I'm forced to use Azure Functions V2 which runs on .NET Standard 2.0.

[2018-10-05 15:12] henrik-me commented on #1305
@MarkZuber / @jennyf19 : Can you pls. take a look?
CC: @bgavrilMS @jmprieur

[2018-10-05 15:17] henrik-me commented on #1305
@arunsmiles : this is the right place to bring ADAL issues to attention. we will investigate, we may need additional information, in which case we will reach out to you.

[2018-10-05 15:30] arunsmiles commented on #1305
@henrik-me thanks for the response. We tried a fix to populate user assertion hash before the store operation in cache and that worked for us. It'd be great if you can validate the issue and fix and help us with a patch release. Fixing it in the calling application is quite convoluted, so we'd like the version of ADAL with the fix to mitigate the issue.

[2018-10-05 15:43] henrik-me commented on #1305
@arunsmiles : Can you pls. post a PR with your changes? We may put this change in v4 as we are about to remove the preview tag from that. Can you pls. try v4? (There is a binary breaking change, which is fixed by compiling otherwise you should not be seeing any differences)

@MarkZuber and @jennyf19 will look at your solution and help evaluate and ship a fix

[2018-10-05 17:16] bganapa commented on #1299
@markcowl for the possibility updating the ADAL 3.* in AzureRm.Profile module

[2018-10-05 21:08] jennyf19 commented on #1215
@StevenLiekens
Double logging has been removed in  [MSAL v2.2.0-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.2.0)
cc: @MarkZuber

[2018-10-06 00:11] trwalke commented on #1240
The customer experienced issues with the redirect URI not being consistent across different machines. Here is a link to our wiki describing the situation
(https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Leveraging-brokers-on-Android-and-iOS#redirect-uri-during-development).

[2018-10-06 00:22] jmprieur commented on #1240
@trwalke : thanks for this. I understand that this issue is therefore closed?

[2018-10-08 17:18] arunsmiles commented on #1305
@henrik-me - we're working on identifying the right place to change for our fix to be more generic. We'll send a PR shortly. In the meantime, we got a workaround to use ATS first and use AT in case of exception, which we're trying out to mitigate the issue.

[2018-10-08 21:37] jennyf19 commented on #1206
@magnusnorberg Can you try with [MSAL2.2.0-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.2.0)?

[2018-10-09 08:22] magnusnorberg commented on #1206
@jennyf19
Hi again,
Is it possible to use Brokered SSO with MSAL2.2.0-preview? We need Brokered SSO for some of our customers (to work with Azure Active Directory Conditional Access).
/Magnus

[2018-10-09 12:32] jmprieur commented on #1206
@magnusnorberg  the broker is not yet available for the Azure AD v2.0 endpoint. The Android and iOS teams are working on it. As soon as it is available, MSAL.NET will be updated to support brokered SSO. Until then this is not supported yet.

[2018-10-09 15:25] marnilss opened #1312 "Problem with refreshing tokens on iOS 12"
**Which Version of ADAL are you using ?**
ADAL 3.19.8

**Which platform has the issue?**
Xamarin iOS

**What authentication flow has the issue?**
Mobile
    * [ ] Interactive (using SSO broker with MS Authenticator App)

**Repro**
We're using the following line of code to launch the MS Authenticator App (SSO broker) (platformparameters has useBroker = true)
[code]
And when App is reactivated, by t

[2018-10-09 15:33] marnilss commented on #1206
We are also experiencing an issue with "Network timeout" and has actually pinpointed it to iOS 12 devices. Adding a proxy (Charles proxy) to the network settings works around the problem.
#1312
Could it be the same problem?

[2018-10-09 19:48] DaRosenberg opened #1314 "MsalServiceException AADSTS50049 when targeting B2C"
I just migrated our code to MSAL 2.2.0 and also changed to use the `b2clogin.com` domain instead of the `login.microsoft.com` domain we were using before.

I cannot seem to figure out how to construct the correct `authority` string. Here is what my code currently looks like:

[code]

I have tried various different ways to format the authority string, but no matter what I do I get the same exceptio

[2018-10-09 21:14] jennyf19 commented on #1314
@DaRosenberg
Have you seen this [doc](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory-b2c/b2clogin.md)? Make sure you have updated your application, wherever it refers to `login.microsoftonline.com` (policy references, etc...) now needs to use `your-tenant-name.b2clogin.com`.

Also, try removing the `-` in the redirectUri `$"msal-{mClientId}://auth"` to
 `$"msal{m

[2018-10-09 21:15] jennyf19 commented on #1314
@DaRosenberg Also, could you open this on the [MSAL repo](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues?q=is%3Aopen+is%3Aissue) - thank you!

[2018-10-09 21:22] DaRosenberg commented on #1314
@jennyf19 OK, sorry wasn't sure since the code is now in this repo, and so is the release. I will move this issue to the other repo and respond to your comments there.

[2018-10-09 21:22] #1314 closed, assigned to nobody

[2018-10-09 21:23] jennyf19 commented on #1314
@DaRosenberg yes...it's very confusing, but thanks for opening it up in MSAL. Much appreciated!

[2018-10-09 21:35] magnusnorberg commented on #1206
@marnilss @jmprieur @jennyf19

First of all, there are actually two different issues being discussed in this thread:

- 1206a AdalHttpClient.GetResponseAsync throws "Object reference not set to an instance of an object" after network timeouts.

- 1206b TokenCacheAccessor.GetTeamId() throws "Object reference not set to an instance of an object".

======================================
1206a AdalHtt

[2018-10-10 06:41] ryanshane commented on #482
Some options tested:

- Option 1: Disassemble & fiddler trace what AcquireTokenAsync is doing and replicate it so it can be done in .NET Core. This has been done -- code sample in my comment below.
- Option 2: the example mentioned [above](https://github.com/Azure-Samples/active-directory-dotnet-deviceprofile) mentions making a call to get a temporary code, then asking the user to open http://aka.

[2018-10-10 08:01] markolb81 commented on #482
Hi ryanshane, thanks for the answer. Your option 3 is the way to go for me now - I already hat that Azure function anyway, so I acquire the token with a raw http-Request to https://login.microsoftonline.com/{TENANT_ID}/oauth2/token which still accepts the request parameters "resource={RESOURCE_URI}&client_id={CLIENT_ID}&grant_type=password&username={USERNAME}&password={PASSWORD}". This way, I do n

[2018-10-10 18:09] jmprieur commented on #482
@markolb81 : Is it an option for you to migrate to MSAL.NET 2.x? it supports U/P in .NET Core?

[2018-10-10 18:50] jmprieur commented on #1312
It seems that there is an issue with iOS 12 of the browser dropping cookies (not specific to ADAL.Net). this is being investigated. @brentschmaltz do you have information about this?

Also, @marnilss ; I wonder if that's an option for you to try MSAL.NET 2.2.0 or later as we have introduced `ASWebAuthenticationSession` on iOS 12: see https://github.com/AzureAD/microsoft-authentication-library-for-

[2018-10-10 18:51] jmprieur commented on #1306
@henrik-me @MarkZuber : I'm thinking that TokenRequest supporting this on MSAL.NET would make a lot of sense. I don't think we'd take it for ADAL.NET, though. Also there is a workaround.

[2018-10-10 18:54] jmprieur commented on #1305
the ADAL pattern is normally
[code]
which makes it work

See https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/AcquireTokenSilentAsync-using-a-cached-token#recommended-pattern-to-acquire-a-token (which is more for public client apps, but is also the recommended way for OBO today)

we are also looking at your proposal.

[2018-10-10 18:59] jmprieur commented on #1270
@QiyuanHU : did you read this: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Token-cache-serialization ?

[2018-10-10 18:59] #1270 closed, assigned to nobody

[2018-10-10 19:02] jmprieur commented on #1285
@mjcheetham : is it an option to move to MSAL ?

[2018-10-10 19:12] MarkZuber commented on #1306
I had originally plumbed through a bit more of this when I added cancellationtoken support for device code flow but we held it to keep the change specific to device code for the purpose of that release.  but i agree that we should do this across the board.  the downside is that it will double the number of API surfaces so we don't break back-compat since we can't make CancellationToken.None an opt

[2018-10-10 19:16] #1142 closed, assigned to nobody

[2018-10-10 19:17] jmprieur commented on #1150
Closing this issue.

[2018-10-10 19:17] #1150 closed, assigned to nobody

[2018-10-10 19:18] jmprieur commented on #1184
@bretthackermsft : I don't know if this is an option for you to update to MSAL.NET, but from MSAL.NET 2.2.0, we now expose the body in the MsalServiceException in addition to the HttpResponseHeaders, which should solve your issue?

[2018-10-10 19:21] #1299 closed, assigned to nobody

[2018-10-10 19:25] jmprieur commented on #1306
@MarkZuber I was more thinking of doing it with TokenRequest in MSAL.NET (to avoid multiplying the overrides)

[2018-10-10 19:34] bretthackermsft commented on #1184
Heh...I'd prefer not to at this stage. I'm just peeking at the innerException inside AdalSilentTokenAcquisitionException now - not a huge workaround, just struck me as odd that I couldn't trap the more meaningful error, since there's an explicit exception object for it and it's obviously throwing farther down the stack.

[2018-10-10 19:34] #1184 closed, assigned to nobody

[2018-10-10 20:20] mjcheetham commented on #1285
@jmprieur the main features we'd need to ensure to move to MSAL is:
- AAD, MSA, ADFS and NTLM/WIA support
- can read and write through to existing ADAL v2 or v3 caches
- can continue to use "v1" applications/client IDs

[2018-10-10 21:10] brentschmaltz commented on #1312
@jmprieur the cookie issue is captured here:

https://bugs.webkit.org/show_bug.cgi?id=188165

A workaround (with aps.net) here:

https://stackoverflow.com/questions/51982626/cookies-with-a-samesite-policy-enforced-are-blocked-in-ios-12-for-sso-flows-invo

[2018-10-10 22:44] ryanshane commented on #482
Hey @markolb81 can you elaborate on that endpoint you're using? It only accepts POST? I tried putting the parameters in the posted data but receive 400 bad request.

[2018-10-11 05:49] markolb81 commented on #482
Maybe it helps if I just post the function I'm using:

[code]

[2018-10-11 13:02] marnilss commented on #1312
@brentschmaltz , @jmprieur, what you are linking to are Safari issues. Our problem is when the ADAL does a request on its' own using HttpClient (no Safari involved, nor cookies).

Looking at the ADAL code, the blocking (with timeout) request is in the following callstack:
AcquireTokenHandlerBase.RefreshAccessTokenAsync(...)
-> AcquireTokenHandlerBase.SendTokenRequestByRefreshTokenAsync(...)
-> Acq

[2018-10-11 17:09] #1240 closed, assigned to nobody

[2018-10-11 17:14] jmprieur commented on #1306
@marnilss : we'll do that in MSAL.NET (not ADAL.NET)

[2018-10-11 18:16] brentschmaltz commented on #1312
@marnilss because we have seen issues with ios12 and you have that in your title.
To help narrow this down, does you scenario succeed with ios11?

[2018-10-11 19:36] marnilss commented on #1312
@BrentSchmaltz, yes, as I wrote in initial posting: "On iOS 11 this works!"

[2018-10-11 21:15] jmprieur commented on #1305
Closing this issue as the recommended pattern worked (as shared on a different channel).
We'll consider improving the experience to avoid an exception in MSAL.NET (but not ADAL.NET)

[2018-10-11 21:15] #1305 closed, assigned to jmprieur

[2018-10-11 21:20] jmprieur commented on #1306
@marnilss. Thanks for sharing this scenario. Closing this issue for ADAL.NET as we're going to do this in MSAL.NET. The corresponding issue is https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/635

[2018-10-11 21:20] #1306 closed, assigned to jmprieur

[2018-10-11 23:20] xiaoningning opened #1316 "authentication_ui_failed in UWP background task"
**Which Version of ADAL are you using ?**
ADAL 3.19.8

**Which platform has the issue?**
UWP

**What authentication flow has the issue?**
* Desktop / Mobile
    * Interactive

UWP desktop App has the following capabilities checked:
* internetClientServer
* privateNetworkClientServer
* sharedUserCertificates
* enterpriseAuthentication

ADAL is coded in a C# winRT component, which is called by UWP A

[2018-10-12 14:13] ashuthinks opened #1320 "acquireTokenSilentAsync fails to return a token after a successful login"
I have WebApp and WebAPI register into same Azure AD.

I'm trying to call WebAPI from WebApp.

I have added service WebAPI into my WebApp in azure AD Applcaition. like below - enter image description here

When I run WebAPI it will give me login screen after login success I can access WebAPI methods. This is normal behavior.

When I run WebApp it will act same login screen and after login success

[2018-10-13 14:34] sliekens commented on #1215
@jennyf19  Actually I think it's kind of neat that you can have both PII and scrubbed logging enabled at the same time. I was just confused about why that was happening (because of the strange API design).

[2018-10-15 05:08] sunyuejun2017 commented on #1320
Hi there,

the code of the Startup.Auth.cs in WebAPI code should be different from the Startup.Auth.cs in WebApp. here is a sample.
https://github.com/Azure-Samples/active-directory-dotnet-webapp-webapi-openidconnect.

[2018-10-15 13:12] jmprieur commented on #1316
@MarkZuber : do you think that the work you've been doing would fix this?

[2018-10-15 15:02] bgavrilMS commented on #1316
@xiaoningning  - what are you trying to do ?

Interactive authentication requires UI, i.e. we need to be able to display a browser to the user. Are you able to update the UI from your background task?

I would propose that you move your auth code in the non-background task code. When the user starts the app, you can apply the normal pattern - silent auth (i.e. try to get a token from the cache), o

[2018-10-15 22:37] jmprieur commented on #1206
@MarkZuber could the TypeInitializationException above be due to one of the issues you are fixing with the refactoring?

[2018-10-15 22:44] MarkZuber commented on #1206
@jmprieur -- no, I don't think this is related to any of the issues i'm working on.  it looks like the exception is being thrown because the constructor is failing due to TeamId being null?

[2018-10-15 23:12] xiaoningning commented on #1316
@bgavrilMS : ADAL.net just needs to launch web based UI for interactive authentication, not App UI itself.  Could it launch a web based UI in a background thread?  Or there is a platform limitation to do it in a background task?

[2018-10-16 04:54] ryanshane commented on #482
@markolb81 Further to my previous comment, i have done **Option 1** by porting this authentication process to a method that can produce the auth token silently in .NET Core without any dependence on the missing UserPasswordCredential class.

Please let me know if you spot any potential issues.

[code]

[2018-10-16 10:59] jmprieur opened #1327 "Device Code flow fails with an error in the sign-in web app: "We don't recognize this code, please enter the code again""
**Which Version of ADAL are you using ?**
ADAL 4.2.0 RC

**Which platform has the issue?**
.NET Core

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [x ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Repro**
1. Run the following

[2018-10-16 14:52] bgavrilMS commented on #1327
This does not repro for me when using a sample app from the repo. This suggest that something is wrong in the configuration. I have seen this issue with a customer, in that case he mis configured the clientId.

Will try with the sample and get back on this thread.

[2018-10-16 17:07] jennyf19 commented on #1327
@jmprieur @bgavrilMS I haven't been able to reproduce this. I get the "we don't recognize this code" error when doing a copy/paste and including an extra space at the beginning or end. I also had to register the [sample app](https://github.com/Azure-Samples/active-directory-dotnet-deviceprofile) in my tenant (could not use the app out of the box), and now it's working.
Tested w/ADALv3.19.8 and cur

[2018-10-16 17:09] jmprieur commented on #1327
Closing as no-repro

[2018-10-16 17:09] #1327 closed, assigned to nobody

[2018-10-16 17:31] jmprieur commented on #1327
I created a new app, and indeed this works fine for me now. Sorry for the noise, @bgavrilMS @jennyf19

[2018-10-16 18:29] MarkZuber commented on #1277
@rhythmnewt

Still investigating.  But I have a short term workaround that should hopefully get you unblocked.

When you construct the PlatformParameters, send in "null" instead of "this" for the owner window.  The owner window is only used for trying to center the browser around the owner app window.  If it's null, then the browser will be centered on the current screen.  That should be the only

[2018-10-16 21:03] MarkZuber commented on #1277
Pull request for fix is out:  https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/pull/1328

[2018-10-17 00:32] daemnin opened #1329 "Infinite loop when trying to login to website from iOS 12"
**Which Version of ADAL are you using ?**
ADAL 3.19.8

**Which platform has the issue?**
.NET Core 2.1

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [x] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [x] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Repro**
[Minimal repository]

[2018-10-17 00:38] jmprieur commented on #1329
@daemnin : do you see this any iOS version? or only iOS 12?
could it be related to https://bugs.webkit.org/show_bug.cgi?id=188165 ?

[2018-10-17 00:53] daemnin commented on #1329
@jasoncoolmax I've only test this on devices with iOS 12, But it seems strange since we have another website using the same AAD with similar configurations but running on .NET Core 1.1 and an older version of adal and that website has no issues

[2018-10-17 05:16] carlosscastro opened #1330 "ADAL concurrency, resiliency and testing questions"
I'm using Adal C# library (latest nuget version as of today) to authenticate using Microsoft Converged App credential. I first call AcquireTokenSilentAsync() and catch the exception when the token is not in cache, and call AcquireTokenAsync(resource, clientCredentials) then.

I have 3 questions around this scenario:

1. Let's suppose there is high concurrency and my token expires. suddenly, I'll h

[2018-10-17 16:08] bgavrilMS commented on #1206
@magnusnorberg  1206b (the null ref when accessing TeamId) has been fixed. Here is the tracking issue https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/622#issuecomment-430685687

[2018-10-17 16:12] daemnin commented on #1329
@jmprieur after reading though the comments in the link you posted, it seems that is the same bug but the [workaround](https://bugs.webkit.org/show_bug.cgi?id=188165#c6) posted there isn't working for me. It is not giving me a Principal in the AuthorizationCodeReceivedContext

[2018-10-17 16:38] jmprieur commented on #1329
@henrik-me : another iOS12 ...

[2018-10-17 16:40] henrik-me commented on #1206
Kindly keep this issue to only be about:

**Getting following error:**
Object reference not set to an instance of an object.
at Microsoft.IdentityModel.Clients.ActiveDirectory.Internal.Http.AdalHttpClient.d__221.MoveNext() --- End of stack trace from previous location where exception was thrown --- at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw() at System.Runtime.CompilerServices

[2018-10-17 16:57] henrik-me commented on #1206
@magnusnorberg and @shahbikash : do you have a repro for this (httpclient) issue?

@magnusnorberg Other reports say this only happens on iOS 12, however you can confirm this also happens on 11.4 and both on v3 and v4 of ADAL.NET?

[2018-10-18 05:40] henrik-me commented on #1330
@carlosscastro : thanks for your questions. ADAL v3 and ADAL v4 has a set of differences however regarding the http stack they are mostly the same. We are putting in additional optimizations in MSAL.NET for the http stack.
1. A trillion threads is a lot of threads, I wonder where you will find all of those :) The answer depends a bit on the platform as there are some differences across iOS, Androi

[2018-10-18 06:24] henrik-me commented on #1316
@xiaoningning :
As Bogdan suggests, pls try calling the library on the UI thread when you do the interactive flow.
Can you pls. provide a set of more detailed repro steps
CC: @MarkZuber

[2018-10-18 07:00] henrik-me commented on #1329
@jennyf19

[2018-10-18 10:51] bgavrilMS commented on #1253
I had a look at the Null Ref stack trace provided and I cannot repro locally, nor can I find anything that stands out. The offending method is here: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/e60bdfc732f4bd8f113fe06101a4e1cc03a2d9d2/src/Microsoft.IdentityModel.Clients.ActiveDirectory/Internal/Http/HttpClientWrapper.cs#L74

So a couple of thoughts to get this moving:

[2018-10-18 12:40] bgavrilMS commented on #1316
@xiaoningning

This is where we invoke the browser and where you see the error https://github.com:443/AzureAD/azure-activedirectory-library-for-dotnet/blob/dev/adal/src/Microsoft.IdentityModel.Clients.ActiveDirectory/Platforms/uap/WebUI.cs#L71

I suspect that we can't access CoreApplication.MainView from a background thread. As @henrik-me stated, please call AcquireTokenAsync on a thread that has

[2018-10-18 12:40] #1316 closed, assigned to MarkZuber

[2018-10-18 16:59] #1330 closed, assigned to nobody

[2018-10-18 17:09] jennyf19 commented on #1194
@suresh-dev Can you try with [ADALv4.2.0-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/ADAL-v4.2.0)?

[2018-10-18 17:48] carlosscastro commented on #1330
@henrik-me Thanks for your detailed answer.

I have follow up questions to be able to execute on your great answers. For the record, we are using .NET core and .NET Framework, Microsoft.IdentityModel.Clients.ActiveDirectory 3.19.8.

1- Should we use another library or version, or is this the recommended one for this?
2- Regarding your suggestion on a single request simultaneously, this is quite th

[2018-10-18 19:56] jennyf19 commented on #1329
@daemnin The asp.net team has issued this security advisory https://github.com/aspnet/Security/issues/1864

I'm closing this issue, as it is external to the library.

cc: @jmprieur @henrik-me

[2018-10-18 19:56] #1329 closed, assigned to jennyf19

[2018-10-18 20:25] magnusnorberg commented on #1206
@henrik-me I have only experienced the httpclient issue on ADAL v3.

[2018-10-19 05:45] henrik-me commented on #1330
@carlosscastro : agree it's a bit of a bummer for certain scenarios, though for most this is still acceptable. Having said that we are working on improving this (though a trillion auth objects will not be quite what I expect will work on most systems).
We are going to be making some additional improvements in ADAL.NET 4, however the real improvements and removal of the constraints for 1 object is

[2018-10-19 05:55] henrik-me commented on #1330
@carlosscastro : you can see one of the latest modifications for MSAL here: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/pull/1334

(for the differences and migration help, see https://aka.ms/adal-net-to-msal-net)

[2018-10-19 06:33] henrik-me commented on #1206
@magnusnorberg : thanks for the update. Would you be able to move to ADAL v4?, we expect GA very soon.
CC: @jennyf19

[2018-10-19 06:42] bgavrilMS commented on #1206
Yes, the main problem described here, the null ref exception is a duplicate of https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/1253

I've investigated this and it seems to be an ADAL v3 only bug. I'd recommend trying it out with ADAL v4, which is backwards compatible with v3 so there should be little disruption.

[2018-10-19 17:48] carlosscastro commented on #1330
@henrik-me Thanks for your answers! I don't really have trillion requests, it was just a way of saying! I do have significant traffic though, but auto-scale maintains it below 75% of machines capacity.

MSAL looks interesting, but I saw it is preview, which means that I cannot include it in services that are GA unfortunately. Once it is stable I would be happy to add it.

[2018-10-20 00:37] henrik-me commented on #1277
fixed in https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/ADAL-v4.3.0

[2018-10-20 00:41] henrik-me commented on #1277
This has now been released

[2018-10-20 00:41] #1277 closed, assigned to MarkZuber

[2018-10-22 07:53] AlexSchuetz opened #1340 "[MSAL, B2C] ArgumentNullException on IOS if AccessToken is NULL"
**Which Version of ADAL are you using ?**
Microsoft.Identity.Client v2.2.1-preview

**Which platform has the issue?**
xamarin iOS

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**R

[2018-10-22 14:58] ParanoidPenguin opened #1341 "System.Windows.Forms dependency"
Hi! I just upgraded Microsoft.IdentityModel.Clients.ActiveDirectory package from 3.19.8 to 4.3.0 and noticed that it added a reference to System.Windows.Forms to my ASP.net (4.7.1) web project. Is this intended/required? If so then please disregard... it just feels a bit odd.

[2018-10-22 15:39] henrik-me commented on #1206
@magnusnorberg @shahbikash : we have now made ADAL v4 generally available. There is a binary breaking change (recompile and things should be fine) besides from that v4 is fully compatible with v3.
The differences are outlined here: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Changes-adalnet-4.0

[2018-10-22 16:02] marnilss commented on #1312
We cannot reproduce this error anymore. We could earlier reproduce it on two separate Mac computers and two separate iOS devices.
Then we unfortunately updated both computers to a newer Visual Studio Mac, and also the devices to iOS 12.0.1, and now we can't reproduce the problem. We've found another device with iOS 12.0 (not upgraded to 12.0.1 yet) but we can't reproduce on that either.

So my gue

[2018-10-22 16:32] robgarrett opened #1342 "ADAL does not build in VS2017"
Latest version of development branch of ADAL and latest version of VS2017. Opening any solutions and building gives the error:

Microsoft.Identity.Core.csproj : error MSB4057: The target "Clean" does not exist in the project.
2>Done building project "Microsoft.Identity.Core.csproj" -- FAILED.

[2018-10-22 18:15] #1312 closed, assigned to jmprieur

[2018-10-22 18:15] jmprieur commented on #1312
Thanks for the update @marnilss !

[2018-10-22 18:28] rhythmnewt commented on #1277
@MarkZuber the issue was around the modality of the window, don't want the user to click in the app screen while the login flow is active.

Thank you all for taking care of it!

[2018-10-22 18:29] henrik-me commented on #1342
@robgarrett : are you building the dev branch?

I'm using 2017 (15.8.7) and the build, clean etc. works with-out any issues for me on the dev branch (which is where the latest adal, v4, is).

[2018-10-22 22:21] SomkaPe opened #1344 "TokenCache.Clear public Api does not clear persistent version of Msal cache"
TokenCache.Clear public API does not clear persistent  Msal  cache - only Adal persistent  cache cleared.

Root cause:
"onAfter" delegate is not called (only in memory representation of Msal cache is cleared).

[2018-10-23 09:45] EldinHb opened #1345 "Add support for capital bundle ID's"
**Is your feature request related to a problem? Please describe.**
We have an existing app to which we wanted to add support to use the MS Authenticator broker to login for accounts protected by MDM.

The existing application has a capital letter in the bundle ID. The broker fails the check to see if the URL domain and bundle ID are the same because it expects a lowercase bundle ID.

**Describe th

[2018-10-23 09:48] iomdesign opened #1346 "AADSTS90002: Tenant authorize not found : Occurs after update pkg from 3.19.8 -> 4.0.0"
**Which Version of ADAL are you using ?**
ADAL 4.0.0

**Which platform has the issue?**

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;
Headless console ap

[2018-10-23 11:39] jmprieur commented on #1346
@iomdesign : how do you initialize the AuthContext?
it seems that the authority is not recognized (See [AADSTS90002](https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-aadsts-error-codes))

can you please share the authority with us?

Also if you revert back to ADAL 3.19.8 does it still work?

[2018-10-23 11:41] jmprieur commented on #1345
@Eldin66 : I'm confused about what you suggest? would you suggest that ADAL.NET lower cases the app name in the bundle ID?

[2018-10-23 11:54] TedPattison commented on #1346
I am getting the same error after migrating from 3.x to 4.3. It definitely seems like a breaking change when I have read that there should be no breaking changes when migrating from ADAL.NET 3 to 4. This does not seem to be the case.

Here is a little more info. I am authenticating using UserPasswordCredential. Yes, I know that auth with direct user password is frowned upon, but it is required due

[2018-10-23 12:05] jmprieur commented on #1346
Thanks for the repro @TedPattison. And sorry for the inconvenience. What you experience is not expected.

In order to narrow-down the issue, could you please try to set the authority to "https://login.microsoftonline.com/common" ? instead of "https://login.windows.net/common" when you initialize the application?

Also, given that you are using common, did you do as recommended: https://github.com/

[2018-10-23 12:09] EldinHb commented on #1345
@jmprieur

Sorry, I'll try to clarify.

At the moment we use ADAL to authenticate users in our Xamarin.Forms application. We wanted to update the app to use the broker to authenticate users because of the benefits. However, this seems impossible because our bundle ID(iOS) and package name(Android) have an upper case letter and ADAL expects a bundle ID and package name with all lowercase letters

E

[2018-10-23 14:37] bgavrilMS commented on #1342
Hi @robgarrett

Could you try the following:

Build with the command line. From a developer command prompt:
[code]

then

[code]

- see what that returns. I suspect that you are missing some Xamarin targets that implement the Clean target

[2018-10-23 15:34] jennyf19 commented on #1340
@AlexSchuetz Could you please open this in the [msal repo](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues)? Thank you!

[2018-10-23 15:50] Jappinen commented on #1346
We ran into this as well. Switching authority url from https://login.microsoftonline.com/[guid]/oauth2/token to https://login.microsoftonline.com/[guid] fixed this.

It seems to new version somehow manages to mangle to POST target with the "long" url. From Fiddler:

v4.3.0:
POST https://login.microsoftonline.com/authorize/oauth2/token HTTP/1.1

v3.19.8:
POST https://login.microsoftonline.com/[guid

[2018-10-23 16:34] iomdesign commented on #1346
@jmprieur yes reverting to 3.19.8 fixes the issue.

The AuthContext is initialised via DI in a ServiceCollectionsExtension method.

[code]

The Authority is in the format https://login.microsoftonline.com/{Guid}/oauth2/authorize

[2018-10-23 19:10] TedPattison commented on #1346
Thanks Jean-Marc,
This is what I first used to initialize AuthenticationContext

- https://login.windows.com/common/oauth2/authorize
- https://login.microsoftonline.com/common/oauth2/authorize

Both of these work in ADAL 3.19 but not in 4.3

Then after your suggestion I trimmed of the end of that URL and used this
- https://login.microsoftonline.com/common

This works fine now in 4.3. My problem i

[2018-10-23 21:27] MarkZuber commented on #1346
For transparency...

https://login.microsoftonline.com/{Guid}/oauth2/authorize is not a valid authority.  So what the code in 4.x is doing is looking at the tail end of the authority uri for what it expects to be the tenant (in this case, it should be {Guid} but only because the authority url should be https://login.microsoftonline.com/{Guid}  [note without the oauth2/authorize which is an endpoin

[2018-10-24 06:47] jmprieur commented on #1346
Changing the tag to documentation and updated the release notes to make it very explicit that the authority, in the case of AAD should be:
`https://login.microsoftonline.com/{Guid}` (where the Guid is the tenant ID
or
`https://login.microsoftonline.com/domainName` where the domain name is a domain associated with your tenant
or
`https://login.microsoftonline.com/common` which, in the case of ADAL.

[2018-10-24 07:12] jmprieur commented on #1346
reopening: we'll improve the exception in case the authority URL is ill-formed.

[2018-10-24 07:55] Alezis commented on #1346
Yep, the same for me. Switched on 4.3 and get broken token generation. I also use Power BI embedded. To get token we use master PRO account, i.e. UserPasswordCredential. Code was copied from this [sample](https://github.com/Microsoft/PowerBI-Developer-Samples/blob/master/App%20Owns%20Data/PowerBIEmbedded_AppOwnsData/Cloud.config).
Changing authorityURL fixed issues.
ANother thing that my project t

[2018-10-24 08:25] jmprieur commented on #1346
Thanks @Alezis for pointing us to the source of the issues (the PowerBI sample which shows an incorrect authority). I'll work with the PowerBI team to have the sample changed. I also need to work with them to provide other auth flows ...

Thanks also for sharing your furstration. Is it an option for you to move to **MSAL.NET**? It has support for username/password in .NET Core (See https://aka.ms/

[2018-10-24 09:56] iomdesign commented on #1346
Thanks @MarkZuber and @jmprieur, spot on!! Changing the resource config to ```https://login.microsoftonline.com/{TenantGuid}```  has it working :thumbsup: . Thanks for your assistance and a very useful library. Cheers.

[2018-10-24 09:56] #1346 closed, assigned to MarkZuber

[2018-10-24 12:26] StephanBis commented on #1253
We are still experiencing this problem.
Upgraded to v4.3.0 today and we still get the network timeout exception. We tried rebuilding the application as @bgavrilMS explained in his answer above, but this did not solve the issue.

[2018-10-24 12:59] hewey23 commented on #1253
Upgrading to 4.0.0-preview fixed my issue.

Thanks for your help...

[2018-10-24 14:06] bgavrilMS opened #1349 "PromptBehavior enum is exposed on NetCore"
**Which Version of ADAL are you using ?**
Note that to get help, you need to run the latest preview or non-preview version
For MSAL, please log issues to https://github.com/AzureAD/microsoft-authentication-library-for-dotnet
ADAL 4+, dev

**Which platform has the issue?**
netstandard1.3 (i.e. netcore apps will target this)

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] I

[2018-10-24 14:23] jmprieur commented on #1349
Proposing Won't fix as:
- Libraries using the .NET Standard could manipulate the enum (maybe)
- also we just GAed ADAL.NET. I'm not too keen to take a public API breaking change, even if probably nobody used it.
@henrik-me proposing to close as won't fix.

[2018-10-24 14:24] bgavrilMS commented on #1349
Agreed...

[2018-10-24 15:04] EldinHb commented on #1345
Any update on this?

Is there a reason why ADAL + broker only accept lowercase bundle ID's and package names? Right now, existing applications are out of luck if they use upper case letters in their ID's or package names. So I'm guessing that you guys had a valid reason for that implementation.

I want to add that we are willing to assist with testing.

[2018-10-24 15:25] jmprieur commented on #1345
@jennyf19 FYI
cc: @henrik-me

[2018-10-24 15:52] henrik-me commented on #1345
@Eldin66 : We will likely need to discuss this with the teams building the brokers. Are you seeing the same behavior across iOS and Android. We can make the changes in the client libraries and have you validate however there is likely a change required on the broker side as well.

CC: @jennyf19

[2018-10-24 16:04] henrik-me commented on #1349
Minor issue, won't fix is fine with me

[2018-10-24 16:12] #1349 closed, assigned to nobody

[2018-10-24 18:44] robgarrett commented on #1342
I get an error about missing __GetRestoreSettingsPerFramework. I'm building the lib without samples solution.

[2018-10-24 19:35] MarkZuber commented on #1342
I ran into this yesterday with a new Windows 10 VM and the issue was that I hadn't installed UWP support for VS2017 yet.  Can you confirm you have the packages there installed?

[2018-10-24 21:17] jennyf19 commented on #1345
@Eldin66 What redirectUri's are you using for [Android](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/leveraging-brokers-on-Android-and-iOS#register-a-redirect-uri-for-your-application) and [iOS](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/leveraging-brokers-on-Android-and-iOS#register-your-redirect-uri-in-the-application-portal)?

[2018-10-25 07:53] bgavrilMS commented on #1342
We documented the VS components needed to build the solution here https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Pre-requisites-to-build-ADAL.NET-and-MSAL.NET

[2018-10-25 10:59] EldinHb commented on #1345
@henrik-me
According to the documentation the same behavior should happen on Android as well. But, I just checked it on Android to be sure and it appears to work on Android even though the package name is the same as the bundle ID. I do experience other problems with the Android version, the token does not get cached so the user has to relog after the application closes, but I'll create a new issu

[2018-10-25 12:55] EldinHb opened #1353 "Android + Broker - interactive auth is forced when requesting different resources"
**Which Version of ADAL are you using ?**
4.3

**Which platform has the issue?**
Xamarin.Android

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive

**Repro**
While using the broker to authenticate users the tokencache does not have a refreshtoken.

See code:
[code]

**Expected behavior**
TokenCache has a RefreshToken that is not null.

**Actual behavior**
Refres

[2018-10-25 13:22] rodro75 opened #1354 "ADAL 4.3.0 with ADFS 3.0: The server returned an invalid response"
**Which Version of ADAL are you using ?**
ADAL 4.3.0

**Which platform has the issue?**
net45

**What authentication flow has the issue?**
* Desktop / Mobile
    * Interactive
    * Integrated Windows Auth

After upgrading from 3.19.8 my WPF client stopped working.
The call to `AuthenticationContext.AcquireTokenAsync` now throws an `AdalServiceException` after successful login, saying that it rece

[2018-10-25 13:50] rodro75 commented on #1354
Here are the HTTP dumps of both a working flow with 3.19.8 and a non working one with 4.3.0.

[Traffic.zip](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/files/2515147/Traffic.zip)

[2018-10-25 14:30] jmprieur commented on #1354
@henrik-me @bgavrilMS @MarkZuber FYI

[2018-10-25 14:31] jmprieur commented on #1354
Thanks for the heads-up, @rodro75

[2018-10-25 17:17] MarkZuber commented on #1341
We recently fixed an issue via pull request [1328](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/pull/1328) with UI threading that requires us to post to a Windows Forms control.  So this does bring in this dependency usage with our library on .net framework since the UI/browser controlling code is in the same library.

[2018-10-25 17:17] #1341 closed, assigned to MarkZuber

[2018-10-25 17:20] robgarrett commented on #1342
Yup, that did it, I was missing a few components.
Thanks for all the help.

[2018-10-25 17:25] jmprieur commented on #1342
Closing as @robgarrett managed to build ADAL.NET

[2018-10-25 17:25] #1342 closed, assigned to nobody

[2018-10-25 17:33] jmprieur commented on #1320
Closing the issue as answered.
- Web Apps use [authorization code](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Acquiring-tokens-with-authorization-codes-on-web-apps) and then AcquireTokenSilentAsync.
- whereas Web APIs use [on behalf of (Service to service calls)](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Service-to-service-calls-on-behal

[2018-10-25 17:33] #1320 closed, assigned to nobody

[2018-10-25 17:35] jmprieur commented on #1234
@vedeevi : Do I read correctly that the authority you used is: https://login.microsoftonline.com:443/{tenantId}/oauth2/v2.0/token ?

It should be **only** https://login.microsoftonline.com/{tenantId}

[2018-10-25 17:37] jmprieur commented on #1223
Closing the issue as answered (and more related to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet

[2018-10-25 17:37] #1223 closed, assigned to nobody

[2018-10-25 17:38] jmprieur commented on #1206
@magnusnorberg @shahbikash : we think this is fixed in ADAL 4.3.
Closing, but feel free to reopen if you disagree.

[2018-10-25 17:38] #1206 closed, assigned to bgavrilMS

[2018-10-25 17:39] #478 closed

[2018-10-25 17:40] #536 closed

[2018-10-25 17:41] #803 closed

[2018-10-25 18:23] jmprieur commented on #1353
@Eldin66 :
What are you trying to do? What is your scenario?

I believe that what you observe is the expected behavior as, when an app uses the broker, the Refresh token is really stored and refreshed by the broker itself. (ADAL delegates token acquisition to the broker)

Did you ever see that the Refresh token was not null?
cc: @jennyf19

[2018-10-26 06:55] EldinHb commented on #1353
@jmprieur
In our scenario the user should be able to login with the broker (this works), then the token should get refreshed if necessary to reduce the amount of logins the user should do. However, the TokenCache RefreshToken is null so we cannot refresh the session meaning the user has to login every time the token expires or gets removed.

**Did you ever see that the Refresh token was not null?*

[2018-10-26 23:38] xiaoningning commented on #1316
Now the App sends toast notification from the background thread.  Then the toast notification activates App.  However, in ToastNotificationActivatedEvent handler, it still could not launch the ADAL UI although the App foreground is being activated.

Another interesting is that if App is launched, bit not activated currently, the background task could still launch ADAL UI.

[2018-10-27 22:08] MarkZuber commented on #1354
Hi @rodro75, do you happen to have debug logs from your execution that I could get from you?  That would be rather helpful in my ability to rapidly diagnose your issue.  thanks!

[2018-10-29 11:17] bgavrilMS opened #1362 "On netcore, ADAL does not read the ExtraQueryParameter env variable"
**Which Version of ADAL are you using ?**
all, including dev

**Which platform has the issue?**
.netcore, .netstandard

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - pleas

[2018-10-29 12:06] jamesmcroft opened #1363 "Authentication dialog on Android is stripping the port number when attempting to authenticate"
**Which Version of ADAL are you using ?**
Note that to get help, you need to run the latest preview or non-preview version
For MSAL, please log issues to https://github.com/AzureAD/microsoft-authentication-library-for-dotnet
ADAL 3.19.8

**Which platform has the issue?**
Xamarin.Android

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windo

[2018-10-29 12:12] jmprieur commented on #1363
@MarkZuber I pre-assigned this one to you for now

[2018-10-29 12:18] jmprieur commented on #1353
@Eldin66 : @jennyf19 will confirm, but I believe that the reason why the refresh token is kept locally in ADAL.NET for Xamarin.iOS, is otherwise the application would be interrupted to display the broker app, and therefore the experience would not be good. On Android, this is not needed as apps can be called in the background, and therefore the Refresh token is kept in the broker.

Again do you se

[2018-10-29 12:24] jmprieur commented on #1340
@AlexSchuetz : this is an MSAL issue, and you raised it in the ADAL repo. Do you mind if I make a copy on the MSAL repo for you and close this one?

[2018-10-29 13:08] EldinHb commented on #1353
@jmprieur
Okay, that makes sense, and no it does not really matter for me how it gets refreshed.

The token does not get refreshed silently on Android when using the broker.

[2018-10-29 13:23] jmprieur commented on #1353
@jennyf19 : The token does not get refreshed silently on Android when using the broker.

[2018-10-29 14:33] #1344 closed, assigned to SomkaPe

[2018-10-29 15:10] AlexSchuetz commented on #1340
Opened issue on [msal repo](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/662#issue-375063732)

[2018-10-29 15:10] #1340 closed, assigned to nobody

[2018-10-29 15:53] henrik-me commented on #1354
@reed1995 : fyi
@rodro75 : which version of ADFS are you using?

[2018-10-29 18:04] bgavrilMS commented on #1253
@hewey23  - I had a look at the stack trace for the network timeout exception:

To me this looks like a misconfigured proxy. Could you have a look at this "[Using ADAL with a Proxy"](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/with-proxy) ?

[2018-10-29 18:30] bgavrilMS commented on #1283
@Ofekw - Thank you for reporting this and apologies for not picking it up earlier. Would it be possible to collect some logs and send to me ? If you do not wish to post them here, please send me an email - bogavril@microsoft.com

https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Logging-in-ADAL.Net#new-way-of-logging-controlling-pii-adalnet--318

It would also be helpful to

[2018-10-30 10:57] EldinHb commented on #1353
Are you able to give an ETA for this bugfix? This so we can decide how to move forward with our planning.

[2018-10-30 11:06] jmprieur commented on #1353
@jennyf19 is looking at it.

[2018-10-30 12:01] rodro75 commented on #1354
@henrik-me ADFS 3.0 on Windows Server 2012 R2

@MarkZuber Here is the debug log:

[code]

For completeness here is my dead simple code:

[code]

The ADFS 3.0 server is configured to only allow Forms Authentication.

[2018-10-31 07:45] learnersm opened #1368 "Hi!, I am wondering if you support .NET Standard 2.0?"

[2018-10-31 08:36] jmprieur commented on #1368
@learnersm : yes, as ADAL.NET supports .NET Standard 1.3:
See https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Changes-adalnet-4.0#changes-in-adalnets-structure for details

[2018-10-31 18:23] JohnGalt1717 commented on #511
4.3.0 still does this and a rebuild doesn't fix it.

Specifically when working with the Azure Media Services latest api it will throw when doing a query against assets.

[2018-10-31 20:02] bgavrilMS commented on #511
@JohnGalt1717 - please open a new bug and provide a repro. This issue is very old and convoluted, there are multiple issues reported on this thread etc.

[2018-11-01 10:09] #1368 closed, assigned to nobody

[2018-11-01 10:13] jmprieur commented on #1234
Closing as I believe we've answered. Feel free to reopen

[2018-11-01 10:13] #1234 closed, assigned to nobody

[2018-11-01 10:20] jmprieur commented on #1135
No customer impact. This is a more a refactoring

[2018-11-01 10:20] #1135 closed, assigned to SomkaPe

[2018-11-01 10:22] #1110 closed, assigned to nobody

[2018-11-01 10:23] jmprieur commented on #1099
Closing as @atiqhaqu has not replied for months.

[2018-11-01 10:27] jmprieur commented on #926
There were major refactoring. No longer the case.
Feel free to reopen if you disagree, @jennyf19

[2018-11-01 10:30] jmprieur commented on #975
Will be done for MSAL.NET, not ADAL.NET

[2018-11-01 10:30] #975 closed

[2018-11-01 10:33] jmprieur commented on #1077
Will be done on MSAL.NET, not ADAL.NET

[2018-11-01 10:33] #1077 closed

[2018-11-01 10:41] jmprieur commented on #1285
@mjcheetham
- MSAL.NET now supports all the flows that ADAL.NET supports: See [Supported grants](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Adal-to-Msal#supported-grants)
- there is cache compatibility between ADAL v3, ADAL v4 and MSAL.NET: See [Do you want to migrate from ADAL.NET to MSAL.NET ?](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/w

[2018-11-01 10:43] jmprieur commented on #1285
Closing this issue as we won't fix this in ADAL.NET (and it's fixed in MSAL.NET). We now encourage everybody to move to MSAL.NET

[2018-11-01 10:43] #1285 closed, assigned to jmprieur

[2018-11-01 16:53] bgavrilMS opened #1376 "One ClientCredential overload not obsolete on mobile"
**Which Version of ADAL are you using ?**
Note that to get help, you need to run the latest preview or non-preview version
For MSAL, please log issues to https://github.com/AzureAD/microsoft-authentication-library-for-dotnet
ADAL 4+, dev

**Which platform has the issue?**
mobile

**What authentication flow has the issue?**
Confidential Client

**Repro**

All the "Confidential Client" flows are mar

[2018-11-01 16:53] bgavrilMS commented on #1376
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/pull/1375

[2018-11-01 17:37] #1376 closed, assigned to bgavrilMS

[2018-11-02 15:05] bgavrilMS commented on #1362
Fixed

[2018-11-02 15:05] #1362 closed, assigned to bgavrilMS

[2018-11-02 17:20] henrik-me commented on #1032
@tatvaanant @gi097 @jbpoulsen : Is this still an issue for you? I do not thing that the library can do anything about it. PrivateNetwork must be set and for a corporate network that has as mentioned above likely to be set using group policies. I will close the issue, however please feel free to re-open if you find that there is something the library can do here.

[2018-11-02 17:20] #1032 closed

[2018-11-02 18:25] henrik-me commented on #1026
@rachelvwood : Do you still find this to be important? Currently we do not target netstandard2.

@bgavrilMS @MarkZuber @jmprieur @jennyf19 : I would suggest we support a target which includes netstandard2 (netcore2) and remove e.g. netcore1? That will enable us to get the support from the platform with-out additional packages?

[2018-11-05 03:40] Ofekw commented on #1283
I'll get these to you next week. Cheers for following up!

[2018-11-05 08:09] EldinHb commented on #1353
Any update on this issue?

Edit: Oops, accidentally closed issue when commenting.

[2018-11-05 15:39] bgavrilMS commented on #1026
On ADAL we do not explicitly support netcore, we do it through netstandard.
On MSAL, we explicitly support netcore 1.0+, and we already have a dependency on the SecureString package, so it would be trivial to expose the requested interface. I propose we do this for MSAL only.

[2018-11-05 17:36] henrik-me commented on #1026
This would be for MSAL. Added feature request for MSAL: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/674.

Closing this issue.

[2018-11-05 17:36] #1026 closed

[2018-11-05 17:49] henrik-me commented on #1204
Username/Password was never supported in ADAL for .NET Core. It's interesting that you say that it worked for you though. We have the support in MSAL, thus I recommend that you move to MSAL.

[2018-11-05 17:58] henrik-me commented on #1194
Is it correct to assume that the code you have above is Android specific?

@suresh-dev, I'm closing the issue, however pls. feel free to re-open if upgrading to ADAL v4.3 didn't address the issue.

There seems to be a few things, which I'm not sure will truyly work for you as you are re-using variable on other object. I recommend as Jean-Marc pointed out that you store the tokenCache in a separate

[2018-11-05 17:58] #1194 closed, assigned to nobody

[2018-11-05 18:47] trwalke commented on #1354
@rodro75 So far I have been unable to reproduce this error on our side, however am going to keep investigating. Is there a reason that you need to have only the Forms Authentication turned on for the ADFS 3.0 server?

[2018-11-05 18:49] jevansaks opened #1386 "UseCorporateNetwork is not passed to WebAuthenticationBroker because Azure DevOps redirectUri is not one of the two expected ones"
**Which Version of ADAL are you using ?**
ADAL 4.3.0

**Which platform has the issue?**
UWP

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Repro**

[co

[2018-11-05 18:51] jevansaks commented on #1386
Specifically the WebUI.cs code here is resolving to WebAuthenticationOptions.UseCorporateNetwork:

[code]

And I don't understand why it's overriding what the app passed in.

[2018-11-05 22:35] rayluo commented on #988
Implemented in [MSAL 2.1.0 Preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.1.0)

[2018-11-05 22:35] #988 closed

[2018-11-06 00:46] trwalke commented on #1354
@rodro75 Unfortunatly, I have been unable to reproduce the behavior you are seeing here. I have tried setting our ADFS v 3.0 to only allow Forms Authentication and still was not able to reproduce. Perhaps there is a configuration in your ADFS server that does not work with the Form Post Response Mode that we have added.
Please visit https://aka.ms/msidgethelp for more assistance.

If you have more

[2018-11-06 01:20] jennyf19 commented on #1353
@Eldin66 we've been prioritizing msal issues. I will get to this asap.

[2018-11-06 12:13] EldinHb commented on #1353
Thanks for the update.

[2018-11-06 15:18] bgavrilMS commented on #1283
Hi @Ofekw - thank you for sending more details. I had a look at the exception more thoroughly and I believe this is a deployment problem.

The exception you are getting is a TypeAccessException

[code]

This suggests that you are missing a DLL reference. The actual method is here:

https://github.com:443/AzureAD/azure-activedirectory-library-for-dotnet.git/blob/bogavril/at/adal/src/Microsoft.Ident

[2018-11-06 21:42] henrik-me commented on #1386
@jevansaks : Thanks for your feedback. We had a brief discussion internally on this. We will investigate.

[2018-11-07 09:12] luismanez commented on #1186
Hi @jmprieur
Any update here? having similar issue with ADAL 4.3.0 in a asp.net core webapp using the DistributedTokenCache sample from here: https://docs.microsoft.com/en-us/azure/architecture/multitenant-identity/token-cache

When calling AcquireTokenByAuthorizationCodeAsync it goes to an infinite loop calling the AfterAccessNotification again and again.

When debugging, in the AfterAccessNotifi

[2018-11-07 10:35] jmprieur commented on #1186
Thanks for the detailed repros, @luismanez
@henrik-me @SomkaPe : can we please have a look?

[2018-11-07 16:56] henrik-me commented on #1186
@savbace @jmprieur : We will take a look. Assigning to @bgavrilMS

[2018-11-08 14:55] tebeco commented on #660
@kpanwar can we reopen this issue ?

This library is a transitive one, used when using `Azure KeyVault` as a Configuration Provider for `AspNet Core` application.
Some of our application here has to stay in our LAN for connectivity reason with other services and we would like to use `Azure KeyVault`

Details are available here :

https://github.com/Azure/azure-sdk-for-net/issues/4404#issuecomment-

[2018-11-08 16:10] ntheile commented on #446
I am in the same boat, trying to acquire a token for SharePoint using the "on-behalf flow" in a very badly configured Azure AD tenant. It sucks ADAL does not expose refresh tokens. Guess I can just roll my own middleware and handle the refresh token myself. ADAL 3 with .net core kinda sucks for advanced use-cases.

[2018-11-08 16:18] jmprieur commented on #446
@ntheile : is it an option for you to use MSAL.NET? The support for .NET core is better than in ADAL.NET
Also, we are going to add AcquireTokenByRefreshToken in MSAL.NET very soon.

[2018-11-08 17:35] tmarkovski opened #1395 "Xamarin.iOS uses keychain access groups regardless of settings"
**Which Version of ADAL are you using ?**
<PackageReference Include="Microsoft.Identity.Client" Version="2.3.1-preview" />

**Which platform has the issue?**
Xamarin iOS

**What authentication flow has the issue?**
* Desktop / Mobile
    * [X] Interactive (Azure B2C)
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)

**Repro**
 - Setup PCA witho

[2018-11-08 17:45] Ofekw commented on #1283
More context to keep track of conversation:

My test script is obtaining the three dependencies directly from nuget:
[code]
The problem arises because we have to reference Microsoft.IdentityModel.Clients.ActiveDirectory version 4+ in most of our solutions. However Microsoft.Azure.Services.AppAuthetnication references Microsoft.IdentityModel.Clients.ActiveDirectory 3.14.2 which still had the Active

[2018-11-08 18:31] omerlh opened #1396 "Requesting a token with aud in the format 'spn: {id}'"
**Is your feature request related to a problem? Please describe.**
There are cases where the server request that the token `aud` will be in the format `spn:<id>`. For example, Kubernetes cluster created with ACS engine is expecting tokens in this format - see this issue Azure/acs-engine#4189. In order to authenticate the users to Kubernetes server, I need a token in this format.

**Describe the so

[2018-11-08 19:28] ntheile commented on #446
@jmprieur ,

Great hear about the upcoming support! Yeah the V2 endpoint is not an option for my organization yet....we have a pretty messed up config with on-prem ADFS and improper user agent string sniffing combined with weird intune device compliance settings. Basically when I use V2 I get device compliance errors and it rarely works on mobile devices. Our security department really flipped too

[2018-11-09 02:06] jmprieur commented on #446
@ntheile also coming - although a bit later - is the broker support (Company portal / Microsoft Authenticator) for the AAD v2.0 endpoint, which should solve your Intune issues.
We'll also support ADFS 2019 (not sure that will help you much)

[2018-11-09 02:16] jmprieur commented on #1283
Then this is expected indeed. ADAL.NET 4.x is not binary compatible with ADAL.NET 3.x (even if it's source compatible in 99.9..99% of the cases)
Copied the Azure SDK owners.
proposing to close this issue as this is not a problem with ADAL.NET

[2018-11-09 02:17] #1283 closed, assigned to bgavrilMS

[2018-11-09 02:22] Ofekw commented on #1283
Why is this closed? It's not a problem with ADAL.NET but it is a problem with one of the libraries under the ADAL.NET sdk

https://github.com/Azure/azure-sdk-for-net/tree/53b16a9d7954076f9002013846c4c2840cebf92b/src/SdkCommon/AppAuthentication

[2018-11-09 02:25] jmprieur commented on #1283
@Ofekw : this is a problem with one of the libraries that **uses** ADAL.NET. you did the right thing by providing a PR for the Azure SDK. But as far as I'm concerned (ADAL.NET and MSAL.NET), I cannot approve it as don't own this SDK. I've contacted the SDK owners, though.

I can leave this issue open, but there is nothing that the ADAL.NET / MSAL.NET team can do. would you prefer me to re-open and

[2018-11-09 02:26] Ofekw commented on #1283
Ah I understand. Thanks for the context! Will follow up with the consuming library owners.

Thanks again.

[2018-11-09 04:16] #1395 closed, assigned to nobody

[2018-11-09 07:33] jmprieur commented on #1395
@tmarkovski : did you unblock yourself?

[2018-11-09 12:58] tmarkovski commented on #1395
@jmprieur I did. I assumed that not specifying the `KeychainSecurityGroup` meant that MSAL would just use keychain without group access, but it still needs this enabled. I just added the group `com.microsoft.adalcache` to the Entitlments.plist file and it worked. Honestly, this is a bit counterintuitive and not the usual practice keychain is used, but I unblocked myself, and didn't want to waste a

[2018-11-09 17:12] ghost opened #1397 "Xamarin iOS support for HttpClient handler"
**Which Version of ADAL are you using ?**
ADAL 3.19.8
**Which platform has the issue?**
iOS

**What authentication flow has the issue?**
* Desktop / Mobile
    * [X] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Repro**
The

[2018-11-09 17:38] henrik-me commented on #1397
You might have to look at the proxy settings: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/with-proxy
Note: For ADAL v4 the http stack is different and may behave differently, though under the hood it's still using the HttpClient.

[2018-11-09 17:41] henrik-me commented on #1397
@jmprieur : Seems like a feature ask we have discussed previously regarding the HttpHandler.

[2018-11-09 17:48] ghost commented on #1397
this is correct - we would like this as a feature.

[2018-11-09 17:50] henrik-me commented on #1397
@biozal : The library is currently using the std. net HttpHandler as you probably already had found. We will investigate what it will take to offer custom HttpHandlers.

[2018-11-09 18:23] ghost commented on #1397
You already have a factory for this with an Interface called IHttpClientFactory that is in Microsoft.Identity.Core.Http.  Really the building blocks for it are already there - you just need to allow a Native Http Client Factory be provided by the client or you build one for each platform and allow the dev to configure which one that it should use with a default to the .NET Standard implementation

[2018-11-09 19:38] nflello opened #1398 "Acquiring a token with Windows Integrated Authentication throws unknown_user_type exception with managed AD account type"
**Which Version of ADAL are you using ?**
ADAL 4.3.0
This also applies to MSAL 2.3.1-preview

**Which platform has the issue?**
UWP

**What authentication flow has the issue?**
* Desktop / Mobile
    * Integrated Windows Auth

**Repro**
For ADAL:
[code]

For MSAL:
[code]

**Expected behavior**
My machine is connected to my company's Azure AD in a managed setup as well as the company network, so I

[2018-11-09 21:21] bgavrilMS commented on #1397
@biozal - the HttpClientFactory was added on ADAL 4.x, it wasn't there on ADAL 3.19.8. We're only taking critical fixes into ADAL v3, so anything we discuss here will be for ADAL 4. There should be no problems upgrading though, they are source compatible.

I'm looking at adding a mechanism for setting a custom HttpMessageHandler. This should be enough to set NSUrlSession, or would you like to be a

[2018-11-09 23:38] ghost commented on #1397
I think you will find most companies that need this feature will want the full ability to add in there own HttpClient.  This gives them the ability to hand events, setup logging, etc in a way that just adding in NSUrlSession doesn't, and it solves the issue on other platforms like Android which faces similar set of problems unless you allow the custom http client.  Makes it a clean and simple solu

[2018-11-11 03:35] jevansaks opened #1400 "AcquireTokenAsync for UWP crashes on null redirectUri parameter"
**Which Version of ADAL are you using ?**
ADAL 4.3.0

**Which platform has the issue?**
UWP

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Repro**

[co

[2018-11-14 11:21] bgavrilMS commented on #1397
Hi again @biozal - we're be looking at adding this functionality in MSAL and not in ADAL. Is it an option for you to move to MSAL ? We can help if you need assistance.

The main concern is:

- In the current model, we'd need to add another parameter (IHttpFactory or a lambda () => HttpClient) to the AuthenticationContext constructor. There are already so many of them that they are a cause of confu

[2018-11-14 12:56] ghost commented on #1397
When I last looked at MSAL the biggest issue was documentation and release lifecycle as everything was in preview and we have a policy at the company I work for where we can't ship production apps with preview/beta code in them.  I'm not against this move if official versions of the nuget package are released similar to ADAL.  Is there any features we loose in MSAL that ADAL does support?

[2018-11-14 13:04] joshexltd commented on #1098
@jmprieur @Nadav-N We have had to change the behaviour of our app so that it prompts for credentials when we encounter the "....cannot contact a domain controller...." exception. Whilst this does provide a workaround which results in successful authentication it is not ideal. Is there anything else I can provide to progress this?

[2018-11-14 14:02] jmprieur commented on #1397
@biozal : MSAL.NET is at parity with ADAL.NET except for:
- MSAL.NET does not supports the broker (authenticator / company portal) on Xamarin.iOS and Xamarin.Android, as those are not yet AAD v2.0. But this is coming
- if you want to use an authority which is a direct ADFS authority, note that MSAL.NET only supports ADFS 2019. of course ADFS federated with Azure AD is supported

Documentation shou

[2018-11-14 17:37] henrik-me commented on #1397
@biozal @jmprieur : Minor clarification. ADFS 2019 is not yet supported in MSAL.NET. We are still working on the details

[2018-11-14 17:56] biozal commented on #1397
Can someone point out to me where the request is made to /oauth2/token?  I can't seem to find this in either library.  According to the documentation when the authorize request returns then the token request should be made:  https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-protocols-oauth-code

[2018-11-15 18:01] macosta3 commented on #482
Hey @psignoret I found your comment really helpful to develop the On-Behalf-Of scenario. It's 2018 and applied it to some ASP NET CORE project and it works fine!! but only when running in IIS Express :(

When deploying our app to an instance of IIS and invoking a call to some service using the on behalf-of we get below error:

System.Net.Http.HttpRequestException: The SSL connection could not be e

[2018-11-15 19:43] carlosscastro opened #1406 "MSAL performance degradation in .NET Framework compared to .NET Core"
Using the latest MSAL version, we observe that retrieving a token from the cache using AcquireTokenForClientAsync takes ~0 milliseconds in .NET Core and ~25 milliseconds in .NET Framework. Evidence suggests that potentially the issue may be while flushing the telemetry helper in the Flush operation of TelemetryHelper.Dispose [here](https://github.com/AzureAD/azure-activedirectory-library-for-dotne

[2018-11-15 19:48] psignoret commented on #482
@macosta3 Glad to hear this was helpful! It sounds like your issue is completely unrelated to the ADAL library, so I suggest asking this in a more targeted forum to .NET and IIS (e.g. on StackOverflow).

[2018-11-15 20:32] jennyf19 commented on #655
@martinstenhoff @jj09 If you're still working with this library, can you try with the latest version [ADAL 4.4.0](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/ADAL-v4.4.0) and let us know if you still run into the same issue? thanks.

[2018-11-15 21:03] jmprieur commented on #1406
Thanks @carlosscastro  for the detailed repros and analysis

[2018-11-15 21:20] carlosscastro commented on #1406
Sure!

I think the fix is to turn this line to false
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/1406

[2018-11-15 21:46] carlosscastro commented on #1406
Of course there is an analysis required of the consequences of not flushing here. Didn't mean to oversimplify - setting that line to false would help this issue but we'd need to verify the side effects and the original reason why it was set to true.

[2018-11-15 23:29] MarkZuber commented on #1406
Fixed with PR [1407]

[2018-11-15 23:29] #1406 closed, assigned to MarkZuber

[2018-11-16 10:01] bgavrilMS commented on #1400
This should have been fixed and you can try it out with the nightly build https://www.myget.org/feed/aad-clients-nightly/package/nuget/Microsoft.IdentityModel.Clients.ActiveDirectory/4.3.1-internal32001dev

Passing NULL for redirect URI causes the redirectUri to be "http://sso" on UWP, which means that ADAL will try to use Web Broker.

Closing this, fix will be available in next release - likely a

[2018-11-16 10:01] #1400 closed, assigned to bgavrilMS

[2018-11-16 17:14] jevansaks commented on #1400
Thanks!

[2018-11-16 18:59] AshleyAsh90 commented on #1346
Should the return(Result.Authority) from CreateFromResourceUrlAsync function also be modified to reflect this? Because I see that even in the ADAL 4.4.0 the authority returned is https://login.microsoftonline.com/{Guid}/oauth2/authorize -for Dynamics365

[2018-11-16 19:27] AshleyAsh90 opened #1410 "AuthenticationParameters.CreateFromResourceUrlAsync() returns an authority which is an enpoint, whereas ADAL.NET 4.x constructor now only accepts authorities (not endpoints)"
_Originally posted by @AshleyAsh90 in https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/1346#issuecomment-439492660_

[2018-11-19 15:09] jmprieur commented on #1410
@AshleyAsh90 :
I don't understand this issue. Can you please provide repro steps and use the template which is proposed?

[2018-11-19 15:21] AshleyAsh90 commented on #1410
Hi,
I apologize, let me try to make myself clear. In the below link:
https://docs.microsoft.com/en-us/dynamics365/customer-engagement/developer/connect-customer-engagement-web-services-using-oauth
The section under "Discover the authority at run time" has below code:

AuthenticationParameters ap = AuthenticationParameters.CreateFromResourceUrlAsync(
                        new Uri("https://mydomai

[2018-11-20 02:44] keyboardfann opened #1415 "Can't get token using AcquireToken in background"
### Description
Hi, I run the following powershell script manually and I can get the token successful.
But when I use nssm to put the powershell as windows service. I can't get the token......
Is there any way to troubleshoot or resolve my issue?

### Script/Steps for Reproduction
[code]

### Module Version
[code]

### Environment Data
[code]

### Debug Output

Manually running result:
[code]

Use

[2018-11-20 15:18] arielbh opened #1416 "Same code produces different behaviors on different Android Devices"
**Which Version of ADAL are you using ?**
ADAL 4.4.0

**Which platform has the issue?**
Xamarin.Forms on Android

**What authentication flow has the issue?**
Mobile + Interactive with Broker

The issue at hand is that the same code base is being run on 3 different Android devices. 2 devices are able to present the user to select the account from the broker app, however in the 3rd device, from some

[2018-11-20 15:26] arielbh opened #1417 "ADAL crashes without a way to catch it when there is no Internet connection"
**Which Version of ADAL are you using ?**
ADAL 4.4.0

**Which platform has the issue?**
Xamarin.Forms on Android

**What authentication flow has the issue?**
Mobile Interactive + Broker

**Repro**

[code]

**Expected behavior**
In case there is no internet from any reason to the device, it shouldn't crash the app. it should allow the developers the catch the issue and present the user with the rel

[2018-11-20 16:24] bgavrilMS commented on #1398
Ack, I see the problem - looking into this now.

[2018-11-21 03:11] jennyf19 commented on #1400
Fixed in [ADAL v4.4.1](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/ADAL-v4.4.1)

[2018-11-21 06:13] luismanez commented on #1186
hey guys, is there any update here? this is kind of a stopper for us moving to latest version (also thinking to move to msal). Thanks!
/cc @bgavrilMS @jmprieur

[2018-11-21 07:23] jmprieur commented on #1416
@arielbh : do you use the same version of the broker on all the devices?
Normally when the broker is installed, on Android, the token is cached by the broker, not ADAL.

[2018-11-21 07:57] mahoekst commented on #1398
I hit the same issue running the iwa-console sample on a AAD joined machine.

[2018-11-21 09:07] CryogenicPotato opened #1422 "Issue upgrading ADAL 3.x to 4.x on Android"
**Which Version of ADAL are you using ?**
4.4.1

**Which platform has the issue?**
Xamarin Android

**What authentication flow has the issue?**
* Desktop / Mobile
    * [X] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Repro**
Upgrade NuGet package in

[2018-11-21 10:05] jmprieur commented on #1422
@CryogenicPotato, as you probably know, ADAL.Net provides a Nuget package containing several DLL, one by [supported platform](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/ADAL.NET-supports-multiple-application-architectures-and-multiple-platforms#adalnet-supports-multiple-platforms). We've seen cases were NuGet did not upgrade to the right platform.
Can you please make

[2018-11-21 10:18] CryogenicPotato commented on #1422
@jmprieur yes I guess you were right, the value we see is targetFramework="monoandroid71"

now we raised the Android target framework of the project to 8.1 and the errors went away.

Thank you

[2018-11-21 10:18] #1422 closed, assigned to nobody

[2018-11-21 10:18] jmprieur commented on #1422
thanks for the update @CryogenicPotato

[2018-11-21 10:23] jmprieur commented on #1410
Renamed the title. Thanks for the explanation, @AshleyAsh90
this is an inconsistency:
- either we let the constructors of AuthenticationContext to accept endpoints for resources (was the case in ADAL 3.x, no longer in ADAL 4.x)
- or we change AuthenticationParameters.CreateFromResourceUrlAsync() to return an authority, and not an endpoint (probably the cleanest)

Meanwhile, @AshleyAsh90 can you st

[2018-11-21 10:42] arielbh commented on #1416
@jmprieur Yes. Both uses Microsoft Authenticator Version: 6.3.10.

[2018-11-21 11:07] bgavrilMS commented on #1186
Apologies for the delay, will look at this today.

[2018-11-21 14:53] kennethahn commented on #1354
I am adding ADFS support to a product at work, and started out with a Hello ADFS app like the example provided here. Also using 2012R2 and ADFS 3.0 - with latest ADAL libs. After spending a day not getting it to work, I downgraded library to 3.19.8 and voilá - everything works.

[2018-11-21 15:23] bgavrilMS commented on #1398
I had a look at this versus the implementation in ADALv3. They both do the same thing, i.e. IWA fails for managed users.

My understanding of "managed" vs "federated" users is that:
- managed users have been created entirely in AAD and have no AD backing
- federated users were created in an AD and were "federated" (copied) to AAD

Integrated Windows Auth is an old auth protocol that works by calli

[2018-11-21 15:23] #1398 closed, assigned to bgavrilMS

[2018-11-21 15:58] AshleyAsh90 commented on #1410
@jmprieur Thank you for looking into this.
And yes I did proceed to strip that part out and was able to continue . :)