[2019-06-28 22:23] #1070 closed

[2019-06-28 22:24] henrik-me commented on #1083
Closing as we are not adding new features to ADAL. If you believe there is an issue which needs to be addressed in ADAL, please don't hesitate to re-open or create a new issue.

Please try out [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet), the authn library which is part of the Microsoft identity platform.

If you find any issues using MSAL, please open an issue th

[2019-06-28 22:24] #1083 closed

[2019-06-28 22:29] henrik-me commented on #1098
Closing as we are not adding new features to ADAL. If you believe there is an issue which needs to be addressed in ADAL, please don't hesitate to re-open or create a new issue.

Please try out [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet), the authn library which is part of the Microsoft identity platform.

If you find any issues using MSAL, please open an issue th

[2019-06-28 22:29] #1098 closed

[2019-06-28 22:30] henrik-me commented on #1363
Closing as we are not adding new features to ADAL. If you believe there is an issue which needs to be addressed in ADAL, please don't hesitate to re-open or create a new issue.

Please try out [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet), the authn library which is part of the Microsoft identity platform.

If you find any issues using MSAL, please open an issue th

[2019-06-28 22:30] #1363 closed, assigned to jmprieur

[2019-06-28 22:31] henrik-me commented on #1410
Closing as we are not adding new features to ADAL. If you believe there is an issue which needs to be addressed in ADAL, please don't hesitate to re-open or create a new issue.

Please try out [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet), the authn library which is part of the Microsoft identity platform.

If you find any issues using MSAL, please open an issue th

[2019-06-28 22:31] #1410 closed, assigned to jmprieur

[2019-06-28 22:32] henrik-me commented on #1416
Closing as we are not adding new features to ADAL. If you believe there is an issue which needs to be addressed in ADAL, please don't hesitate to re-open or create a new issue.

Please try out [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet), the authn library which is part of the Microsoft identity platform.

If you find any issues using MSAL, please open an issue th

[2019-06-28 22:32] #1416 closed, assigned to nobody

[2019-06-28 22:34] henrik-me commented on #1451
Closing as we are not adding new features to ADAL. If you believe there is an issue which needs to be addressed in ADAL, please don't hesitate to re-open or create a new issue.

Please try out [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet), the authn library which is part of the Microsoft identity platform.

If you find any issues using MSAL, please open an issue th

[2019-06-28 22:34] #1451 closed, assigned to nobody

[2019-06-28 22:34] henrik-me commented on #1455
Closing as we are not adding new features to ADAL. If you believe there is an issue which needs to be addressed in ADAL, please don't hesitate to re-open or create a new issue.

Please try out [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet), the authn library which is part of the Microsoft identity platform.

If you find any issues using MSAL, please open an issue th

[2019-06-28 22:34] #1455 closed, assigned to MarkZuber

[2019-06-28 22:37] henrik-me commented on #1467
ADAL v4 + always the openid scope. Our own ADFS 3.0 tests are green though, not sure if this is something which can be configured for ADFS.

///

Closing as we are not adding new features to ADAL. If you believe there is an issue which needs to be addressed in ADAL, please don't hesitate to re-open or create a new issue.

Please try out [MSAL](https://github.com/AzureAD/microsoft-authentication-li

[2019-06-28 22:37] #1467 closed, assigned to nobody

[2019-06-28 22:39] henrik-me commented on #1475
ADFS 2019 is supported in MSAL.

///

Closing as we are not adding new features to ADAL. If you believe there is an issue which needs to be addressed in ADAL, please don't hesitate to re-open or create a new issue.

Please try out [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet), the authn library which is part of the Microsoft identity platform.

If you find any issu

[2019-06-28 22:39] #1475 closed, assigned to nobody

[2019-06-28 22:42] henrik-me commented on #1528
Can you please describe you scenario in more details?
Also a fiddler trace and detailed logs will help the investigation.

///

Closing as we are not adding new features to ADAL. If you believe there is an issue which needs to be addressed in ADAL, please don't hesitate to re-open or create a new issue.

Please try out [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet),

[2019-06-28 22:42] #1528 closed, assigned to nobody

[2019-06-28 22:43] henrik-me commented on #1494
Can you pls. provide a detailed repro step?

///

Closing as we are not adding new features to ADAL. If you believe there is an issue which needs to be addressed in ADAL, please don't hesitate to re-open or create a new issue.

Please try out [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet), the authn library which is part of the Microsoft identity platform.

If you f

[2019-06-28 22:43] #1494 closed, assigned to nobody

[2019-06-28 22:45] henrik-me commented on #1563
Closing as we are not adding new features to ADAL. If you believe there is an issue which needs to be addressed in ADAL, please don't hesitate to re-open or create a new issue.

Please try out [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet), the authn library which is part of the Microsoft identity platform.

If you find any issues using MSAL, please open an issue th

[2019-06-28 22:45] #1563 closed, assigned to nobody

[2019-06-28 22:46] bgavrilMS commented on #1582
CLosing, no info provided, repro is from ADAL 3.x

[2019-06-28 22:46] #1582 closed, assigned to nobody

[2019-06-28 22:46] henrik-me commented on #1582
Closing as we are not adding new features to ADAL. If you believe there is an issue which needs to be addressed in ADAL, please don't hesitate to re-open or create a new issue.

Please try out [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet), the authn library which is part of the Microsoft identity platform.

If you find any issues using MSAL, please open an issue th

[2019-06-28 22:49] jennyf19 commented on #1505
@biozal Going to close this, but let's sync up next week or sometime soon to discuss this and update our documentation. :)

[2019-06-28 22:49] #1505 closed, assigned to nobody

[2019-06-28 22:49] bgavrilMS commented on #1608
ADAL never supported Unity, we will look into this for MSAL/

[2019-06-28 22:49] #1608 closed, assigned to nobody

[2019-06-28 22:51] henrik-me commented on #1609
Closing as there haven't been any response for 22 days.

///

Closing as we are not adding new features to ADAL. If you believe there is an issue which needs to be addressed in ADAL, please don't hesitate to re-open or create a new issue.

Please try out [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet), the authn library which is part of the Microsoft identity platfor

[2019-06-28 22:51] #1609 closed, assigned to jmprieur

[2019-06-28 22:52] jennyf19 commented on #1603
@aweFalafelApps ...sorry...did you end up sending the logs? If so, could you resend, and we'll take this off-line. thanks.

[2019-06-28 22:52] #1603 closed, assigned to jennyf19

[2019-06-30 19:33] dinobu opened #1622 "Login Screen Loses Provided User Email on Device Orientation in Android"
I have Xamarin.Forms application that authenticates user against Azure AAD. That all works fine but on Android, device orientation looses user email on the Microsoft authentication screen.

Here, my device is in Portrait mode and I have entered user email:

![Screenshot_20190630-093043](https://user-images.githubusercontent.com/40807298/60401262-69ab9280-9b33-11e9-80d1-65cff537fef0.png)

If I ente

[2019-07-01 11:27] bgavrilMS commented on #1622
No new features will be implemented on ADAL. The team's efforts are on improving [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet), the next-gen auth library. MSAL's wiki contains a [migration guide](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Adal-to-Msal) from ADAL.

Only regressions, high severity issues and security issues will be fi

[2019-07-01 15:33] henrik-me commented on #1622
@dinobu : We may have to address the same type of issue in MSAL, thus pls. open the issue there. We believe it's relatively simple to move from ADAL to MSAL however should you need assistance we are happy to help.

[2019-07-01 16:09] henrik-me commented on #1478
We will be investigating this. We are currently busy on delivering updates for MSAL where we have a similar issue open (See reference)

[2019-07-01 16:15] jennyf19 commented on #1622
@dinobu I am able to reproduce the issue in MSAL. would you mind opening an [issue there](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/new?template=feature_request.md)? thanks.

cc: @henrik-me

[2019-07-01 20:00] jennyf19 commented on #1622
I'll link this [issue](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1244), as, I think, they are related.

[2019-07-02 16:43] amt-work commented on #1611
I'm still having this issue, even after updating my adal to 5.1.0 in my PCL and ios project. Same steps, before the readitems is called the count shows 1, after is shows 0. My token doesn't appear to be saving in the cache. I noticed this issue is happening after I started integrating the intune MAM steps in my existing ADAL application. When I remove the line that sets the iOSKeychainSecurityGrou

[2019-07-02 16:45] jennyf19 commented on #1611
@amt-work Which version of authenticator are you using? you need to have at least 6.3.6 or higher

[2019-07-02 16:50] amt-work commented on #1611
I'm not using authenticator, this is when providing credentials without having authenticator on your device. @jennyf19

[2019-07-02 18:14] jennyf19 commented on #1611
@amt-work Thanks for the clarification...what do you mean by this " integrating the intune MAM steps in my existing ADAL application"?

[2019-07-02 18:20] amt-work commented on #1611
@jennyf19 Sorry about that, my xamarin app already uses ADAL to authenticate users with single sign on, giving them the option to log in with authenticator or by typing in their login info and using 2FA. This works well, but I want to now incorporate the intune SDK in my app as well, when doing that I noticed that by following the steps provided on the microsoft website after I added in the ioskey

[2019-07-02 18:28] jennyf19 commented on #1611
@amt-work Can you share the link to the Microsoft site you're using w/the steps on how to do this? And confirming you're on the latest version of ADAL and you'll need the newest release of the Intune SDK (11.0.8). If that doesn't work for you, can you open a new issue here?

[2019-07-02 18:29] amt-work commented on #1611
@jennyf19 This is the link I'm following: https://docs.microsoft.com/en-us/intune/app-sdk-xamarin and yes I do have the latest release. I'll open a new issue now.

[2019-07-02 18:42] amt-work opened #1625 "Failed to save ADAL cache record after incorporating intune SDK into Xamarin iOS"
**Which Version of ADAL are you using ?**
ADAL 5.1.0, intune SDK 11.0.8

**Which platform has the issue?**
Xamarin iOS

**What authentication flow has the issue?**
* Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [X] Username Password
    * [ ] Device code flow (browserless)
(iOS is using broker)

**Is this a new or existing app?**
The app is in production, and I have upgrade

[2019-07-02 18:59] jennyf19 commented on #1625
@amt-work Are you using `com.microsoft.adalcache` as the value for the `iOSKeychainSecurityGroup`? You need that value in the entitlements as well.

[2019-07-02 19:07] amt-work commented on #1625
@jennyf19 Yes, I'm setting it like this: authContext.iOSKeychainSecurityGroup = "com.microsoft.adalcache"; in my entitlements file I have $(AppIdentifierPrefix)com.microsoft.adalcache

[2019-07-02 19:21] jennyf19 commented on #1625
@amt-work Thanks for confirming.
Can you send the ADAL logs for a failed request, and can you get the Intune incident ID as well? Do you have a link to your code or a repro?

cc: @Kyle-Reis

[2019-07-02 19:41] amt-work commented on #1625
@jennyf19 The logs look like when I do the first authContext.AcquireTokenAsync(...):
AdalLoggerBase.cs: ADAL PCL.iOS with assembly version '5.1.0.0', file version '5.1.0.0' and informational version '5.1.0' is running...
AdalLoggerBase.cs: === Token Acquisition started:
            CacheType: MicrosoftIdentityModel.Clients.ActiveDirectory.TokenCache (0 items)
            Authentication Target: Use

[2019-07-02 20:00] jennyf19 commented on #1625
@amt-work any chance you can enable pii and send me those logs via email? or, if you can tell me the SecStatusCode coming back from "Failed to save adal cache record:" that would be helpful. jeferrie@microsoft.com

[2019-07-02 20:10] amt-work commented on #1625
@jennyf19 I'm not sure how to retrieve the SecStatusCode. What I posted is all the logs returned back to me.

[2019-07-02 20:11] jennyf19 commented on #1625
@amt-work Sorry it wasn't clear, if you enable pii logs, you will get back the SecStatusCode as part of the error message.

[2019-07-04 15:32] dinobu commented on #1622
Thank you @jennyf19

[2019-07-05 16:13] henrik-me commented on #1622
@dinobu : We would like to make this experience better. What is preventing you from moving to MSAL?

[2019-07-05 16:32] dinobu commented on #1622
No plans to move to MSAL but we are using Xamarin.Forms app (all 3 platforms) to authenticate with AzureAD, if you can provide me good guide to move to MSAL, I will take a look.  But again, this is not planned to do, it is just my personal interest that I would like to take a look.  We still need the ADAL fix.

[2019-07-05 16:51] jennyf19 commented on #1622
@dinobu [Here's an overview of differences between ADAL and MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Adal-to-Msal) and also [benefits of Microsoft identity platform v2](https://docs.microsoft.com/en-us/azure/active-directory/develop/azure-ad-endpoint-comparison).

[2019-07-05 17:00] dinobu commented on #1622
Thanks, I have already read both of these but will still take another look.  Much appreciated.

[2019-07-05 17:01] jennyf19 commented on #1622
@dinobu Great...if you have any questions, let us know.

[2019-07-09 16:48] ghost opened #1626 "ADAL 5.1.0 Aquire Silent Token isn't working on Android - calls broker UI every call."
**Which Version of ADAL are you using ?**
5.1.0

**Which platform has the issue?**
Xamarin Android

**What authentication flow has the issue?**
Other? - please describe;
Broker via Company Portal version 5.0.4464.0

**Is this a new or existing app?**
These are existing apps that we are migrating over to Microsoft InTune and Broker based authentication as part of the process.  We have 5 different a

[2019-07-09 16:55] biozal commented on #1626
Also I will note that if I call the following code to see what tokens are available in the token cache, I clearly have a token in cache:
![screenshot-1562691294096](https://user-images.githubusercontent.com/176927/60907954-c51f0400-a248-11e9-826b-f798b032a608.jpg)

var authContext = new AuthenticationContext(endpoint.Authority);
tokenCache = authContext.TokenCache.ReadItems();

[2019-07-09 16:59] ghost commented on #1626
I would note that if I call the token cache to see if there is a cache token, there is one:
                var authContext = new AuthenticationContext(endpoint.Authority);
                tokenCache = authContext.TokenCache.ReadItems();

![cache_token_screenshot](https://user-images.githubusercontent.com/176927/60908205-52625880-a249-11e9-8c56-6c3093ac671f.png)

[2019-07-09 21:39] keystroke opened #1627 "5.1.0 Authority forced to port 443"
**MSAL is the recommended auth library for use with the Microsoft identity platform**

No new features will be implemented on ADAL. The team's efforts are on improving [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet), the next-gen auth library. MSAL's wiki contains a [migration guide](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Adal-to-

[2019-07-10 08:34] jmprieur commented on #1627
@keystroke
I'm completely confused by what you've trying to do.
The authority is something like https://login.microsoftonline.com, See https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-client-application-configuration#authority
Are you writing/testing your own Security Token Service?
what is your scenario?

[2019-07-10 22:46] keystroke commented on #1627
@jmprieur yes we have our own STS used in many tests, my team and many partner teams are failing to update to 5.1.0 because they can't all host their mock servers on port 443. We also build our own STS instance for some private cloud scenarios that are bit much to get into right now. Also for ADFS we disable authority validation as is required, but less concern in that scenario as most ADFS instan

[2019-07-11 00:59] jmprieur commented on #1627
Thanks for the clarification, @keystroke. This makes sense now.
Let's check if we have a regression. Which version of ADAL do you current use and from which you cannot migrate to ADAL 5.1.0?

Also is it an option for you to migrate to MSAL.NET ? (which should handle all what ADAL handles, except versions of ADFS prior to ADFS 2019)

[2019-07-12 12:27] ghost commented on #1626
The issue is with the authority that is used.  If I use a string version of the authority, ADAL fails in the LoadFromCacheCommon method when it tries to compare the cache key authority to the one passed in.  If I switch the authority to the guid version, it works.  We will switch our configuration over to the GUID version.

[2019-07-12 12:27] #1626 closed, assigned to jennyf19

[2019-07-12 14:58] jennyf19 commented on #1626
@biozal thanks

[2019-07-12 17:01] jennyf19 commented on #1626
@biozal Since you found a work-around, I've updated [our wiki](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Leveraging-brokers-on-Android-and-iOS#known-issue-with-xamarin-android-acquire-token-silent-and-intune-company-portal) w/your findings and mitigation. Feel free to edit and revise as you see fit. Thanks again for brining this to our attention.

[2019-07-16 02:47] keystroke opened #1629 "Info Request - Old Bug Behavior"
Hey folks,

I am working on implementing an ADFS STS instance that will be consumed by Azure PowerShell cmdlets that use ADAL version 2.28.31117.1411 (the latest version available today uses this version of ADAL.NET). Further details of the scenario are not relevant.

I am hitting what looks to be an old bug in this version of ADAL .NET that I can't figure out how to mitigate. Can someone help ide

[2019-07-16 03:06] keystroke commented on #1629
Figured it out! I took a deeper look at the claims in my returned tokens, they were missing the oid, email, and sub claims. What I listed above were the claims from a different unit test that traces all the claims. In my actual implementation for the authorization code, I was caching a security token that transformed the names of those claims from their direct values to the longer "schematized" na

[2019-07-16 03:06] #1629 closed, assigned to nobody

[2019-07-19 17:03] bgavrilMS opened #1630 "Perf degradation in Confidential Client flow"
ADAL version: 5.0.5
ADAL version where this doesn't repro: 3.13.7

[code]

Our most recent deployment shows that dependency call as taking longer and longer over time, eventually resulting in our service being unable to handle any more requests. Strangely enough other calls to AcquireTokenAsync, for other resources don’t seem to exhibit that behavior.

We noticed the below O(n*m) loop that was add

[2019-07-19 17:06] bgavrilMS commented on #1630
Note: Please investigate if equivalent issue exists in MSAL. The code above is in `FindMsalEntryForAdal`, so there isn't an exact equivalent for this in MSAL, but we should still try to find smth.

I would also suggest that we cut this piece of functionality - ADAL reading MSAL entries is not really a supported scenario, GetAccounts / RemoveAccounts in ADAL ignore the MSAL cache etc.

[2019-07-24 12:32] ghost opened #1631 "Cache tokens don't work with ADAL 5.1.0.0 with broker and InTune SDK"
**Which Version of ADAL are you using ?**
5.1.0.0

**Which platform has the issue?**
Xamarin Android, Xamarin iOS

**What authentication flow has the issue?**

Other?
ADAL with Broker

**Is this a new or existing app?**
Existing apps - all 6 apps we have that use Broker and ADAL

**Repro**
https://github.com/biozal/Xamarin-Forms-Reference-App/blob/master/Mobile.RefApp.Lib/ADAL/AzureAuthenticatorSe

[2019-07-24 12:34] ghost commented on #1631
I will also add this didn't start happening to us until we updated Microsoft Authenticator and Company Portal.  I'm starting to believe something else has changed with Broker.

[2019-07-24 12:40] jennyf19 commented on #1631
@biozal which version of authenticator and company portal is being used?

[2019-07-24 12:48] ghost commented on #1631
iOS:
Microsoft Authenticator:  6.3.7
Company Portal:  3.9.0

Android:
5.0.4464.0

The logs you see are from iOS.

[2019-07-24 12:48] jennyf19 commented on #1631
@biozal also....can you share the company portal incident ID and same for authenticator (and send authenticator logs via the app)? Thx

[2019-07-24 12:54] ghost commented on #1631
Multiple phones:
Company Portal Incident ID:  E2B8856E
Company Portal Incident ID:  646C3DF7

Waiting for logs in email, will attach when they come into email.

[2019-07-24 12:57] ghost commented on #1631
Authenticator:  M4RHPPF
Authenticator:  KXZFS6ZF

[2019-07-24 12:57] jennyf19 commented on #1631
@biozal Thank you.

[2019-07-24 12:58] ghost commented on #1631
@jennyf19 - I'm have time after 11 AM EST to debug this so I'll try to get more information for you on what's going on.

[2019-07-24 12:59] jennyf19 commented on #1631
@biozal sounds good. in the meantime, i'll send those IDs to our broker teams and see if they can provide any additional insights.

[2019-07-24 13:11] ghost commented on #1631
Learned something new - XCode Device logs with Pii logs enabled give you a far better idea what's going on.  I debugged this time with one of our QA phones and got better logs.  I'm going to email them to you because they contain a ton of private information I can't share on the internet.  You should be able to give this to the broker team as I think it shows what's going on really well.

[2019-07-24 19:07] ghost commented on #1631
So I have found the source of the issue.  I opened the bug on the where when we used the string value for the Azure tenant, it would not save tokens properly in 5.1.0.0 here:
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/1626

We put a patch into our apps to change the authority we use from string value to the GUID value of our tenant to resolve this issue.  As part of

[2019-07-24 22:18] trwalke commented on #1627
@keystroke Which version of ADAL are you trying to upgrade from?

[2019-07-24 23:08] trwalke commented on #1627
@keystroke has this ever worked with older versions of ADAL? From my research I see that we are not specifying any port in our code.

[2019-07-25 00:28] keystroke commented on #1627
@trwalke Just try it out:

[code]

Make sure you have a fresh PowerShell process and the right version is loaded. You'll see below exception details:

System.Management.Automation.MethodInvocationException: Exception calling "GetResult" with "0" argument(s): "An error occurred while sending the request." ---> System.Net.Http.HttpRequestException:
An error occurred while sending the request. ---> S

[2019-07-25 02:50] keystroke commented on #1627
Could this be the offending commit?

https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/commit/ea8d369b660c17c549ffa7f69240c18d81b1aebe#diff-b8caab14db87a8ac7e70708851e39df7R109

It shows the code parsing the host from the provided authority value, and constructing a token endpoint that does not preserve the original port...

[code]

[2019-07-25 13:33] liroforum commented on #885
Hi, I am having the same issue. Is there an alternative way?

[2019-07-25 13:36] jmprieur commented on #885
Yes. We strongly advise that you use [MSAL.NET](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet), which does support interactive flow with .NET Core.

See https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-desktop-acquire-token

[2019-07-25 22:02] trwalke commented on #1627
Thanks for that @keystroke Is it possible for you to move to MSAL? We are not planning on making any more feature updates to ADAL and we would like our customers to use our new MSAL library to stay up to date with all of the latest security features/fixes. It has all of the same features as ADAL plus more. The one thing to be aware of is MSAL only supports ADFS 2019 and beyond. What version of ADF

[2019-07-25 23:30] keystroke commented on #1627
@trwalke It isn't "me" that needs to move to MSAL, it is all the clients that would call my STS. Azure PowerShell is one such client that uses ADAL, not MSAL. I myself am not using ADAL clients, but I have to support them, and this bug means my service cannot be hosted on a different port than 443. However, even if you were to release a fix right now, we would need that fix to get absorbed by at l

[2019-07-26 00:03] trwalke commented on #1627
I see, thanks for detailing the scenario @keystroke. I made a fix and verified that it solves the issue. Should be a hotfix out soon

[2019-07-26 08:14] liroforum commented on #885
Sorry I was a bit carried away. So my is a web app(aspnetcore) and not a desktop app and I get the above when I use with ConfidentialClientApplication. So from your link I found the below.

https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-web-api-call-api-call-api

But it does not have a code for the interactive one. How would you implement interactive token aquisition in a

[2019-07-26 13:57] jmprieur commented on #885
If this is a Web app, that's the link you need to use, @liroforum
https://docs.microsoft.com/azure/active-directory/develop/scenario-web-app-call-api-overview
but you will probably want to read https://docs.microsoft.com/azure/active-directory/develop/scenario-web-app-sign-user-overview first.

In a nutshell, in a Web App, the sign-in part is done by ASP.NET Core. The token acquisition by MSAL. We

[2019-08-01 17:41] bgavrilMS commented on #1478
@trwalke - this is the root cause of the issue. Users report that this scenario used to work for managed users.

[2019-08-02 11:43] bgavrilMS opened #1634 "ADAL + iOS instructions are incomplete and exception is misleading"
ADAL 5.0.1 iOS

Wiki does not mention how to set the keychain and the Entitlements.plist
If set incorrectly, ADAL throws an exception saying "TeamID is null". Then points to an MSAL wiki page that is not helpful.

[2019-08-06 00:24] keystroke commented on #1627
@trwalke thanks, appreciate the hard work and porting the fix to MSAL as well!

[2019-08-07 16:14] dinobu commented on #1622
Any movement on the hot fix for ADAL to resolve this issue?

[2019-08-07 19:03] bgavrilMS commented on #1622
Sorry @dinobu , but this is not a regression and we will not fix this in ADAL. I am not sure when we'll be able to take a look at it in MSAL, but feel free to propose smth if you are so inclined. We accept contributions.

[2019-08-07 19:03] #1622 closed, assigned to jennyf19

[2019-08-08 05:03] jennyf19 commented on #1622
@dinobu this fix will be in the 5.1.1 release, which will be out this week. Fix is also in MSAL and will be in next MSAL release.

[2019-08-08 16:03] dinobu commented on #1622
Thanks again, will grab ADAL 5.1.1 once released.  Much appreciated @jennyf19

[2019-08-08 19:27] jennyf19 commented on #1622
Included in [5.1.1 release](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/5.1.1)

[2019-08-08 19:28] jennyf19 commented on #1627
@keystroke Included in [5.1.1 release](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/5.1.1)

[2019-08-08 19:28] #1627 closed, assigned to trwalke

[2019-08-09 00:57] keystroke commented on #1627
@trwalke @jennyf19 Just updated and confirmed it's working, thanks for the quick turnaround on this issue!

[2019-08-09 14:10] XamarinTounsi opened #1639 "UWP USER Canceled authentifiction"
Hello,

Native application no longer available in azure(application legacy is despairing)
I can't found my native application
I created another using the new steps but now idea if there are anther alternatives
 error : User cancled authentification. On an android device, this could be due to the lack of capabilities, such as custom tabs, for the system browser. See
https://aka.ms/msal-net-system-b

[2019-08-09 14:16] jennyf19 commented on #1639
@XamarinTounsi the error means that the user cancelled the authentication process. Since you are starting over, you should use [msal](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Adal-to-Msal) and the error message there is decided based on the platform

[2019-08-12 07:38] XamarinTounsi commented on #1639
thanks for your answer, i have changed my laptop and the authentification work fine ?
Maybe the webview cache had problem, any idea ? please

[2019-08-12 14:22] xtremal commented on #671
@MatFillion what is the "IKeyChainAliasCallback response" parameter you sending to KeyChain.ChoosePrivateKeyAlias ?

Thanks in advance!

[2019-08-12 15:02] bgavrilMS commented on #1639
ADAL / MSAL have no control the webview cache. Please reopen if you can repro / have logs etc.

[2019-08-12 15:02] #1639 closed, assigned to nobody

[2019-08-22 21:23] MatSFT commented on #720
@oishi-code what was the fix you applied? I am getting the same exception but the code you are pointing to has been updated to something else now

[2019-08-22 21:48] not-not-kevin commented on #720
@MattSFT If I remember correctly, the issue I had was with my configuration and there was a typo in the URL being built from the AppSettings values.

Try checking whether the `MetadataAddress` is valid.
https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/blob/1373293341761e09975060c9799b6818fc6f1f51/TaskWebApp/App_Start/Startup.Auth.cs#L38

[2019-08-25 13:57] kshalini9 opened #1641 "Assistance needed in getting Xamarin Android + broker working"
Hello Team,

I need help on android broker part.
I followed the same steps which you suggested in below link, but no luck always regular browser is populating for authentication.

Referred below link
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/leveraging-brokers-on-Android-and-iOS

Could you plz help on this issue and we are using Microsoft.IdentityModel.Clients.Active

[2019-08-26 09:02] jmprieur commented on #671
@henrik-me FYI

[2019-08-26 14:54] henrik-me commented on #671
@jmprieur : Suggesting to create a work item in MSAL for this?

[2019-08-26 18:59] jennyf19 opened #1642 "Modify iOS broker to handle iOS 13 changes"
iOS 13 has made changes around the authenticator's ability to verify applications. Currently, ADAL.NET relies on the sourceApplication to verify requests, this will need to be modified.

[2019-08-27 07:59] jmprieur commented on #671
@henrik-me : I'm not sure this would apply to MSAL as it's using the system web view by default? Or do we want to create a WI for MSAL when using the embedded Web view with Xamarin?

[2019-08-28 04:10] JBaltika opened #1643 "MSBuild and nuget update to support netstandard2.0"
**Hi guys,**
Could it possible update nuspec and msbuild to support netstandard2.0. Its late 2019 and king of jungle is netstandard2.0. I understand that current netstandard1.3 library works, but first project pulling useless nugets and runtime binding redirect section is getting bigger by day. Now for some organization who has for example 350+ project to manage these bindings become major issue.

[2019-08-28 06:43] jmprieur commented on #1643
@JBaltika ; this is not so much about adding a platform, than expanding the test matrix.
Is it an option for you to move to MSAL.NET ?

[2019-08-28 12:52] joshardt opened #1644 "AdalError.DuplicateQueryParameter state"
I've updated the ADAL version from 3.19.8 (which was working fine) to 5.2.0 which is causing the problem that the extra query parameter `state` is not working anymore.

**Which Version of ADAL are you using ?**
ADAL 5.2.0

**Which platform has the issue?**
xamarin android, xamarin iOS

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Username Password

**Is this a new or ex

[2019-08-28 13:13] JBaltika commented on #1643
Thanks, I will forward the info to developers .... Its time to switch anyway ....

[2019-08-28 13:13] #1643 closed, assigned to nobody

[2019-08-30 05:55] jlhernandez1388 opened #1645 "Get token to use with custom API app uses Intune Xamarin Binding with conditional access"
Hello,

I have been trying for a long time now to retrieve a token with ADAL for .Net. The problem is that our client uses conditional access and prevents login in if it's not from a Microsoft approved app or Intune MAM app. (Please note that this is an app that will be distributed via Intune.)

I'm able to login and register with the Intune SDK successfully. But the Intune SDK doesn't provide a t

[2019-08-30 21:09] jennyf19 commented on #1641
@kshalini9 sorry it's taken us a while to get back to you on this.
Can you try w/the latest version of ADAL (5.2.0) and send us [logs](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Logging-in-ADAL.Net#new-way-of-logging-controlling-pii-adalnet--318)? We've had some small updates to android broker, especially around logs between 4.5.1 and 5.2.0.

You can include logs here

[2019-08-30 21:11] jennyf19 commented on #1644
@JFMG thanks for bringing this to our attention...we will take a look, and update here.

[2019-08-30 21:16] jennyf19 commented on #1645
@jlhernandez1388 Are you just targeting iOS apps? if so, I would recommend moving to [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/How-to-migrate-from-using-iOS-Broker-on-ADAL.NET-to-MSAL.NET), if possible, as we have iOS broker support there (android broker is coming soon).

In the meantime, what are you using for the keychain access group? and can you get us

[2019-08-31 00:58] jlhernandez1388 commented on #1645
Hi @jennyf19!

Thank you for your prompt response. We will be targeting iOS only for now. If have sent you the Pii logs via email. The keychain access groups  are com.microsoft.intune.mam, com.microsoft.adalcache and our custom bundle id.

 I will migrate this to MSAL to see if I have any luck.

If you see something on the logs please let me know.

Thanks!

[2019-08-31 01:27] jennyf19 commented on #1645
Thanks @jlhernandez1388 ...got your email and included @Kyle-Reis ...could you update to 5.2.1 and send new logs (w/pii enabled)?

Seeing this error in the logs:
`-canOpenURL: failed for URL: "msauth://" - error: "The operation couldn’t be completed. (OSStatus error -10814.)"` which means ADAL is not able to open broker. Which version of authenticator (iOS broker) are you using?

[2019-08-31 02:29] jlhernandez1388 commented on #1645
@jennyf19 Sorry about that I downgraded just to test. Please note that this has never worked as this app is in development and when we went into production we found out that our client has conditional access set in AAD and that changed all the login logic.

When you asked if the broker even opened do you mean Company Portal or MS Authenticator. I read somewhere that Company Portal acts as the brok

[2019-08-31 09:30] Kyle-Reis commented on #1645
@jlhernandez1388 Company Portal does not act as the broker on iOS, so that error is likely due to Authenticator not being installed. Also, are you setting the iOSKeychainSecurityGroup property as mentioned in step 4 here: https://docs.microsoft.com/intune/app-sdk-xamarin#enabling-intune-app-protection-polices-in-your-ios-mobile-app

[2019-09-02 17:06] jlhernandez1388 commented on #1645
@Kyle-Reis @jennyf19 I installed the MS Authenticator but now I have an error when the MS Authenticator opens. I do have the property iOSKeychainSecurityGroup setup. Please see the logs that I sent via email. Thanks for your help!

[2019-09-03 03:08] Kyle-Reis commented on #1645
@jlhernandez1388, are you overriding the default AAD Authority URI/Client ID/Redirect URI used by Intune to match the values used by the app’s call to acquire a token?

[2019-09-03 03:18] jlhernandez1388 commented on #1645
@Kyle-Reis Yes I do! On the IntuneMAMSettings on the info.plist

[2019-09-03 04:02] jlhernandez1388 commented on #1645
@Kyle-Reis In what format should my redirect Uri be setup?

[2019-09-03 12:34] Kyle-Reis commented on #1645
@jlhernandez1388 do you mean in general, or in the IntuneMAMSettings?

[2019-09-05 17:53] MatFillion commented on #671
@xtremal
Here's the quick way I have done it:
have `AdalWebViewClient`  implement `IKeyChainAliasCallback` then pass `this` to
`KeyChain.ChoosePrivateKeyAlias(_activity, this, request.GetKeyTypes(), request.GetPrincipals(), request.Host, request.Port, null);`

[2019-09-10 18:29] jennyf19 commented on #1645
@jlhernandez1388 following up on this...any update?

[2019-09-11 20:28] trwalke opened #1648 "Username Password Flow (ROPC) is not querying the user realm endpoint."
**Which Version of ADAL are you using ?**
5.2.1
**Which platform has the issue?**
net45

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [x] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Repro**
Perform a ROPC flow with a federate

[2019-09-11 20:47] #1478 closed, assigned to trwalke

[2019-09-11 20:51] #1634 closed, assigned to nobody

[2019-09-11 20:54] henrik-me commented on #1631
@jennyf19 : how is MSAL handling the same situation?

[2019-09-11 21:07] jennyf19 commented on #1631
@henrik-me I believe this was resolved. I'd have to look back through my notes thought...maybe @biozal has a better memory? we had several of these issues in sequence, not sure the specific outcome of this one.

[2019-09-12 11:10] nebadr opened #1649 "Using subject and issuer Authentication with ADAL"
We are currently trying to migrate to using the subject issuer authentication with our first party AAD application. We added the sendx5c parameter to AcquireTokenAsync(string, IClientAssertionCertificate, UserAssertion) to achieve this. However, there is no overload for the method AcquireTokenSilentAsync (taking the resource, client assertion certificate and userIdentifier) that accepts the boolea

[2019-09-13 01:33] ShijuSamuel commented on #482
When the standard list "Resource Owner Credential Flow" why the ADAL doesn't support this? AAD implements the standard but ADAL decides against it. I can see multiple scenarios where this flow is mandatory going with workarounds have more security implications.
Let me list two -
1. Open AAD App Registration Pane for an Application. If you want to add Owner access to another application can you do

[2019-09-13 03:14] jmprieur commented on #482
Hello @ShijuSamuel
ADAL does support ROPC in .NET Framework, but not .NET Core. We are not doing any addition any longer in ADAL which was now superceded by MSAL.NET, which is where all the innovatio happens.

Therefore we recommend that you move to MSAL.NET which supports ROPC in all platforms: https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-desktop-acquire-token#username

[2019-09-13 10:15] themicrosoftguy opened #1650 "The type initializer for 'Microsoft.IdentityModel.Clients.ActiveDirectory.TokenCache' threw an exception."
**MSAL is the recommended auth library for use with the Microsoft identity platform**

No new features will be implemented on ADAL. The team's efforts are on improving [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet), the next-gen auth library. MSAL's wiki contains a [migration guide](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Adal-to-

[2019-09-13 14:53] jmprieur commented on #1650
@mehul19851
You might need to reference the iOS library as well. Did you read https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Understanding-multi-targetting-and-NetStandard ?

[2019-09-13 19:36] haricr opened #1651 "Refreshing Token using AcquireTokenSilentAsync fails only in Service API but works on a Console App"
If you think that your issue falls into the above categories, please fill in the form below.

**Which Version of ADAL are you using ?**
Microsoft.IdentityModel.Clients.ActiveDirectory.4.5.1

**Which platform has the issue?**
net45

**What authentication flow has the issue?**
* Web API - OBO

**Is this a new or existing app?**
 This is a new app

**Repro**
I wrote to library that exposes following

[2019-09-14 06:07] jmprieur commented on #1651
@haricr,  did you read https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Token-cache-serialization#custom-token-cache-serialization-in-web-applications--web-api ? the article in general explains the differences between a token cache for public client applications and for confidential client applications.

[2019-09-14 06:08] jmprieur commented on #1649
@nebadr : is it an option for you to move to MSAL.NET:?
It has the feature https://docs.microsoft.com/en-us/dotnet/api/microsoft.identity.client.acquiretokenonbehalfofparameterbuilder.withsendx5c?view=azure-dotnet.

If needed we can help you update.

[2019-09-15 08:47] nebadr commented on #1649
@jmprieur  So what's the cost of moving to MSAL? and is there any other option other than this one?

[2019-09-16 12:59] negberts commented on #1641
@jennyf19 I think we have the same problem. What should we look for in the logs to see if the broker is really triggered?

[2019-09-16 13:01] negberts commented on #1641
Also this part doesn't seem to work as well

`protected override void OnResume()
        {
            base.OnResume();

            if(!this.promptedForAccount)
            {
                this.promptedForAccount = true;
                const string WORK_AND_SCHOOL_TYPE = "com.microsoft.workaccount";

                // The docs state that you should call NewChooseAccountIntent so that the user

[2019-09-16 13:18] negberts commented on #1641
2019-09-16T13:13:21.9512040Z: 8c9e8658-06d6-4262-afa1-63104d729e72 - AdalLoggerBase.cs: BrokerProxy: Getting the Android context
2019-09-16T13:13:57.9062070Z: 8c9e8658-06d6-4262-afa1-63104d729e72 - AdalLoggerBase.cs: ADAL PCL.Android with assembly version '5.2.1.0', file version '5.2.1.0' and informational version '5.2.1' is running...
2019-09-16T13:14:30.5802950Z: 8c9e8658-06d6-4262-afa1-63104d72

[2019-09-16 19:31] slnali commented on #1650
@mehul19851  I am running into same issue, did you find a solution?

[2019-09-16 20:24] slnali opened #1652 "AdalClientException when initializing AuthenticationContext: TeamId returned null from the iOS keychain"
followed these instructions to rectify issue but after adding Entitlements.plist to custom entitlements, i now get could not find any provisioning profiles for iOS error?
![image](https://user-images.githubusercontent.com/9381704/64990768-5dc8a480-d8c8-11e9-9979-c0adfa10486a.png)

[2019-09-16 20:40] jennyf19 commented on #1652
@slnali Are you setting the `.iOSKeychainSecurityGroup` property? Here's an [example](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/dev/devApps/XFormsApp.iOS/SecondPageRenderer.cs#L56)

And if you go to properties for the iOS application, then iOS Bundle Signing, do you have the Entitlements there in Custom Entitlements? If not, please add them. |
![image](https://user-i

[2019-09-16 21:06] slnali commented on #1652
Yes, it's been set.
![image](https://user-images.githubusercontent.com/9381704/64993385-dbdb7a00-d8cd-11e9-83e6-b22147d34337.png)

It's actually when I set it that I get the provisioning profiles issue. When I remove the custom entitlement and just add it in the Entitlements.plist file I don't get the error anymore but then I run into the same AdalClientException issue.
![image](https://user-image

[2019-09-16 21:37] jennyf19 commented on #1652
@slnali you should have something in your provisioning profile.
![image](https://user-images.githubusercontent.com/19942418/64995192-6f418a80-d88f-11e9-8d8b-2083b779e4ef.png)

[2019-09-17 01:16] mancyc opened #1653 "ADAL incorrectly forms AuthorityUri, ADFS returns 404 when authenticating KeyVaultclient"
If you think that your issue falls into the above categories, please fill in the form below.

**Which Version of ADAL are you using ?**
ADAL 4.5.1

**Which platform has the issue?**
 net45

**What authentication flow has the issue?**
ADFS

Other? - please describe;
ADAL changed the way they form authority URI,
 Earlier: string tenant = path.Substring(0, path.IndexOf("/", StringComparison.Ordinal))

[2019-09-17 04:02] jmprieur commented on #1653
Thanks @mancyc for this heads-up.

@henrik-me @trwalke @MarkZuber @bgavrilMS @jennyf19
I'd like to take this one. See also #1410 and #1455

-- reality is stuborn ....

[2019-09-17 06:53] negberts opened #1654 "Different Broker URI expected than generated"
I've followed this article to enable brokers for Android: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/leveraging-brokers-on-Android-and-iOS

However, when I try to generate the broker URL from your generateRedirectUriForBroker.ps1 file it is missing the signature.cmd file so it fails to run.  So I used https://github.com/AzureAD/azure-activedirectory-library-for-androi

[2019-09-17 09:54] bgavrilMS commented on #1653
@mancyc - can you give me an example of the ADFS url that KV advertises (not necessarily your own server)

[2019-09-17 11:11] slnali commented on #1652
@jennyf19  so does this requires setting up an apple developer account? Didn't know this was required for testing the app via iOS Simulator locally.

[2019-09-17 17:08] mancyc commented on #1653
Example of ADFS URL that KV advertises:

Bearer authorization="https://adfs.redmond.ext-v.masd.stbtest.microsoft.com/adfs/49b31cb2-40a5-4d7d-86b9-06931fcd7c5a"

[2019-09-18 04:17] jmprieur commented on #1654
@jennyf19 @oldalton : would a deployment of authenticator explain this?

[2019-09-18 04:31] oldalton commented on #1654
It might. Or it might be because of using a different signature (prod vs dev). Adding Shane to take a look: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/1654

Thanks,
Olga

________________________________
From: Jean-Marc Prieur <notifications@github.com>
Sent: Tuesday, September 17, 2019 9:17 PM
To: AzureAD/azure-activedirectory-library-for-dotnet <azure-activedirect

[2019-09-18 07:15] negberts commented on #1654
@jmprieur @oldalton another problem that we seem to have is that the redirect URI is now generated as msauth://nl.piminfra.pim.mobileapp.prd/UK0cOC8noJ7JWt+DK37H8F8v2m8= but the Azure Portal doesn't allow it to be registered, it doesn't allow the = at the end.

![image](https://user-images.githubusercontent.com/20299260/65123892-8ea5f800-d9f4-11e9-825c-1bca31a7c9e1.png)

If I change it to msauth:/

[2019-09-18 14:41] jmprieur commented on #1654
@negberts : did you read this article ?
https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-use-brokers-with-xamarin-apps#step-7-make-sure-the-redirect-uri-is-registered-with-your-app

[2019-09-18 14:52] shoatman commented on #1654
There is a doc and portal bug here.  @hamiltonha - We need to file a bug with the portal team to update the scripts used to generate the redirect URI to ensure that it's base64 and url encoded.  The current powershell scripts do that in the Android project... however the documentation for Xamarin and the scripts in the portal do not do that.

[2019-09-19 06:48] negberts commented on #1654
@jmprieur if broker support is not available for Android, why is it in your documentation than?

@shoatman thank you! Could you maybe also add the signature.cmd file to github that your powershell file is revering to?

[2019-09-20 01:45] jennyf19 opened #1657 "ADAL.NET to handle application token in iOS 13 broker scenario [Part 2]"
ADAL.NET will receive an application token from the iOS broker (>v. 6.3.19). This token is per clientId and should be stored in the keychain. When ADAL.NET makes future requests to broker w/this clientId, it should include the application token so SSO is enabled on the broker. The broker issues each calling application a "token" that application is expected to present back to the broker on subsequ

[2019-09-23 17:45] #1651 closed, assigned to nobody

[2019-09-23 17:45] #1650 closed, assigned to nobody

[2019-09-24 11:52] ghost commented on #1657
@jennyf19 we are noticing a bug with ADAL 5.5.2 that might related to this.  When using it on all versions of iOS and Broker v 6.3.19 I'm seeing the following exception:

{Microsoft.IdentityModel.Clients.ActiveDirectory.AdalServiceException: Unencrypted broker response hash did not match the expected hash
  at Microsoft.IdentityModel.Clients.ActiveDirectory.Internal.OAuth2.TokenResponse.GetResult

[2019-09-24 13:01] jennyf19 commented on #1657
@biozal Thanks for letting us know. as we discussed on Teams, i'll loop in the iOS team. Seems to be a cert based auth issue on their end. Will keep you posted.

[2019-09-24 14:59] CyberNyanta commented on #1641
GET_ACCOUNTS is a permission that has a dangerous protection level
[Google docs GET_ACCOUNTS](https://developer.android.com/reference/android/Manifest.permission.html#GET_ACCOUNTS)
so you need to ask for permission before broker call
[Google guide](https://developer.android.com/training/permissions/requesting#make-the-request)

[2019-09-24 15:42] jmprieur commented on #1641
+ @shoatman for guidance.

[2019-09-24 15:47] shoatman commented on #1641
@CyberNyanta - For reasons unknown to me Xamarin ADAL was not upgraded to call the bound service that the Android broker provided as a workaround for the required for GET_ACCOUNTS that the Android Open Source Project introduced with Android 6.  I understand that MSAL.Net will support the bound service so that this permission will not be required.  Broker support for MSAL Android is going to be ava

[2019-09-24 16:45] CyberNyanta commented on #1641
@shoatman what do you mean by

[2019-09-24 16:58] shoatman commented on #1641
@CyberNyanta - Android broker exposes a ["bound service" ](https://developer.android.com/guide/components/bound-services).

[2019-09-24 19:57] dmprantz commented on #1648
Is this my issue?

[2019-09-25 04:13] jmprieur commented on #1641
@jennyf19 @trwalke @bgavrilMS
do we need to plan to use the bound service?

[2019-09-25 07:10] themicrosoftguy commented on #1650
We had to migrate the library from ADAL to MSAL for compatibility issues.

[2019-09-25 10:25] benleduc opened #1659 ".NETFramework 4.5 nuget package has a dependency but the assembly doesn't reference those dependencies"
**Which Version of ADAL are you using ?**
Note that to get help, you need to run the latest preview or non-preview version
For MSAL, please log issues to https://github.com/AzureAD/microsoft-authentication-library-for-dotnet
ADAL 5.2.2

**Which platform has the issue?**
net45

**What authentication flow has the issue?**
Not relevant

Other? - please describe;

**Is this a new or existing app?**
a.

[2019-09-25 15:19] jmprieur commented on #1659
@bgavrilMS : do you have an idea? should we have filters depending in the platforms?

[2019-09-25 15:22] bgavrilMS commented on #1659
We had to specify those explicit versions because the default Net.Http and Private.Uri have security issues.

[2019-09-25 15:31] jmprieur commented on #1659
I understant that @bgavrilMS : but should we reference the DLL on .NET FW, and use the NuGet packages in the other platforms? or are we doing the right things?

[2019-09-25 22:55] keystroke commented on #1653
I'm not sure what the right behavior is here, I'm not sure if ADAL needs to do anything TBH.

The problem is that the KeyVault services is advertising a spurious WWW-Authenticate header, indicating that the authority URI one should use when requesting a token to talk to it's vault endpoints is "/adfs/tenantId". But of course, the correct endpoint for ADFS token endpoint is just "/adfs". So when pe

[2019-09-25 23:34] keystroke commented on #1653
Below code snippet is one I had ready to go to test some port-picking behavior in ADAL.net for ADFS systems, it can show the behavior here in this scenario as well (make sure if you run yourself you do so in fresh PowerShell process to ensure your desired version of ADAL is loaded):

[code]

I wasn't able to spy on the traffic via fiddler, and the logging option didn't explicitly log URIs or anyth

[2019-09-26 00:25] henrik-me commented on #1653
@keystroke : thanks a lot for the details. You raise a number of good questions. MSAL.NET should support setting just the authority in what makes the life the easiest for the developer, however because these are very different from IDP's doing validation and helping setting things up correctly we have the different helper methods. For things like this feel free to suggest a feature on MSAL .NET.
W

[2019-09-26 10:26] bgavrilMS commented on #1641
@jmprieur - ADAL for Android has been using the bound service for many years now. ADAL for Xamarin.Android has not been updated. We know it provides a poor experience (but it should work!). MSAL for Xamarin.Android with broker support (coming soon?) should make use of the bound service.

[2019-09-26 12:00] jcus0006 opened #1660 "Refresh Token not working in ADAL 5.2.2"
**Which Version of ADAL are you using ?**

Latest stable - 5.2.2

**Which platform has the issue?**
.Net framework 4.6

**What authentication flow has the issue?**

Web App - Authorization Code

**Is this a new or existing app?**
This is an existing app, however, this is the first time we are integrating it with Azure AD.

**Repro**

[code]
[code]

**Expected behavior**
In the configuration we are

[2019-09-26 15:22] jmprieur commented on #1660
@jcus0006 given you start an integration with Azure AD, I recommend that you use MSAL.NET (not ADAL.NET, which is in maintenance mode). You'll find ASP.NET samples here: https://docs.microsoft.com/en-us/azure/active-directory/develop/sample-v2-code#web-applications

You'll find many answers to your questions in this article: [Web app that signs-in users](https://docs.microsoft.com/en-us/azure/acti

[2019-09-26 15:23] jmprieur commented on #1654
@negberts : sorry it is in ADAL, not in MSAL yet. my bad.

[2019-09-26 16:22] jcus0006 commented on #1660
Hi Jean Marc,

First of all, thanks for your prompt response.

We’ve only recently got to know about MSAL; we would have used it in the first place had we known that ADAL would become in maintenance mode. We will definitely look into using the newer libraries, yet being pressed for time and having the implementation more or less in place, it would be great if we can find a solution for ADAL, if at

[2019-09-26 17:53] trwalke commented on #1648
No. not this one. This one is no longer needed

[2019-09-26 17:53] #1648 closed, assigned to trwalke

[2019-09-27 04:56] negberts commented on #1654
@jmprieur that's a good thing because I cannot migrate to MSAL as long as MSAL doesn't support setting the tenant ID after initialization.

[2019-09-27 06:21] jmprieur commented on #1654
@negberts : MSAL.NET supports setting the tenant ID after initialization (with the `.WithAuthority()` on the acquire token xx builder

app.AcquireTokenXXX(scopes)
 .[WithAuthority](https://docs.microsoft.com/en-us/dotnet/api/microsoft.identity.client.abstractacquiretokenparameterbuilder-1.withauthority?view=azure-dotnet)(authority)
 .ExecuteAsync();

[2019-09-27 06:27] negberts commented on #1654
@jmprieur yes but on the IOS and Android apps I have to add a fixed client id to the android manifest and the IOS info.plist

We have 8 different tenants that each have configured the app in their own active directory. On startup of the app they choose their own tenant to login to and authenticate against their own active directory. This scenario works with ADAL. Not with MSAL, because of these li

[2019-09-27 11:06] jcus0006 commented on #1660
Tried to use the v2.0 endpoint: https://login.microsoftonline.com/tenantname/v2.0 as Authority and got this error: ADALService exception: AADSTS90002: Tenant 'v2.0' not found

Then reverted to the v1.0 endpoint: https://login.microsoftonline.com/tenantname. Went into the App Registration in the Azure portal and set the permissions as shown below (I suspect that these are the resources?).

![image]

[2019-09-27 12:34] bgavrilMS opened #1662 "Authority validation exception when instance discovery times out"
Internal customer reported this issue. No logs, but they have a stack trace that points at instance discovery timing out.

ADAL version: 5.2.1

The issue bug is likely present in MSAL as well.

Error while executing query ...
 ExceptionDetail=Microsoft.IdentityModel.Clients.ActiveDirectory.AdalException: authority_validation_failed: Unknown error ---> Microsoft.IdentityModel.Clients.ActiveDirector

[2019-09-27 12:42] bgavrilMS commented on #1662
Instance discovery timeout is interpreted as "failed authority validation". Currently we do not disambiguate between:

- calling instance endpoint timing out
- instance endpoint telling us that the authority is bad (invalid_authority error code)

In MSAL, this is less likely to happen because we will be calling the endpoint less often. But still a bug we can fix.

CC: @jmprieur @henrik-me - we mig

[2019-09-27 13:00] bgavrilMS commented on #1659
Looking into this. I believe that on .NET classic we should not have to do this, because .NET will pick up this DLL from the GAC and it is the user's responsability to have a .NET runtime installed (Windows will probably have updated the runtime to ensure System.Private.Uri.dll is not affected by any security issues).

I am looking at solutions for .net core and .net standard.

[2019-09-28 00:20] oldalton commented on #1654
Recommended Redirect Uri format has changed for both iOS and Android, and you shouldn't need to have your clientId in Info.plist anymore. Please take a look at some documentation here: https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-mobile-app-configuration

[2019-09-28 04:28] negberts commented on #1654
@oldalton thank you, that looks promising!

[2019-10-02 01:48] sc22github opened #1664 "Resource in TokenCacheNotificationArgs is null for AfterAccess notification."
### Documentation Related To Component:

TokenCache

### Please check those that apply

- [ ] typo
- [x] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in example
- [ ] needs example

### Description Of The Issue

I have a distributed cache implementation on top of TokenCache. I have hooked into AfterAccess delegate to add a log which helps find out cache hit ra

[2019-10-07 20:59] sc22github opened #1665 "Port exhaustion issue while using ADAL 5.2.0."
**Which Version of ADAL are you using ?**
5.2.0

**Which platform has the issue?**
net462

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [x] OBO

**Is this a new or existing app?**

The app

[2019-10-08 10:15] marnilss commented on #1657
We also get _broker_response_hash_mismatch: Unencrypted broker response hash did not match the expected hash_ when using iOS 13.1.x, MS Authenticator 6.3.22 and ADAL 5.5.2.

I thought 5.5.2 was supposed to fix iOS 13 incompatibility?

[2019-10-08 13:30] jennyf19 commented on #1657
Thank you @marnilss ....we are looking into this.

[2019-10-08 13:33] jennyf19 opened #1666 "broker_response_hash_mismatch: Unencrypted broker response hash did not match the expected hash when using iOS 13.1.x, MS Authenticator 6.3.22 and ADAL 5.5.2."
more information included in this [issue](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/1657)
Not only happening on iOS 13.

[2019-10-08 13:34] jennyf19 commented on #1666
@biozal and @marnilss I have opened a separate issue here for what you're seeing.

[2019-10-08 13:40] aaronlabeau commented on #1666
@jennyf19 this is @biozal, this is my other GitHub account - my current one is locked out because my Google authenticator app sucks.  I'm going to try and get it unlocked today and I'll post more logs here.

[2019-10-08 14:47] bgavrilMS commented on #1665
Will look at it ASAP. Using the IHttpClientFactory and providing a single HttpClient will probably workaround this.

[2019-10-08 14:48] henrik-me commented on #1665
Bogdan has additional details on this. It is a regression.

[2019-10-08 18:04] henrik-me commented on #1662
@bgavrilMS pls. ensure there is an MSAL bug tracking this.

[2019-10-08 18:05] henrik-me commented on #1665
@bgavrilMS , can you pls. ensure we have an MSAL bug tracking this?

[2019-10-08 18:13] jennyf19 commented on #1642
Included in 5.2.2 release, which entails generating a nonce which is sent in the broker request and verified w/the response.

[2019-10-08 18:14] #1642 closed, assigned to nobody

[2019-10-08 19:22] jennyf19 commented on #1666
@marnilss have identified the issue..if you'd like to try out a build to see if it works for you, please send me an email -> jeferrie@microsoft.com

[2019-10-08 21:37] bgavrilMS commented on #1665
#### Root cause

So what's happening is we create a new `HttpClient` with each `AuthenticationContext`. And in web app \ web api scenarios, we are creating one of these `AuthenticationContext` objects for each user session.

#### What was happening in ADAL 4.x?
We'd create an HttpClient for each request, and dispose of it. Creating a new HttpClient per request introduced perf issues, but not this

[2019-10-08 22:09] henrik-me commented on #1665
I believe this is what the HttpClientFactory is meant to help with. However not really sure what the best guidance is on creating a scalable/performing HttpClientFactory.

[2019-10-10 18:14] #1665 closed, assigned to bgavrilMS

[2019-10-11 03:14] glennst43 opened #1669 "NullReferenceException Core\WsTrust\CommonNonInteractiveHandler.cs:line 157"
**Which Version of ADAL are you using ?**
5.2.2

**Which platform has the issue?**
net462

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [X] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Is this a new or existing app?**
a. The a

[2019-10-11 06:58] jmprieur commented on #1669
@glennst43 do you have more information about the scenario / the user? would you have logs?

[2019-10-11 06:59] jmprieur commented on #1666
@jennyf19 : I added it for 5.2.3.

[2019-10-14 14:55] jcus0006 commented on #1660
Hi @jmprieur , did you by any chance have the time to look into my comments above? We are still facing this issue. We are planning to do the migration to MSAL, yet we're not sure whether that would fix our Refresh token problem! Thanks.

[2019-10-14 23:20] jennyf19 commented on #1666
Included in 5.2.3 release

[2019-10-14 23:20] #1666 closed, assigned to nobody

[2019-10-14 23:20] jennyf19 commented on #1666
@aaronlab @marnilss

[2019-10-16 07:35] jmprieur commented on #1660
@jcus0006, sorry for the delay.

The access token and the refresh token for the user go in the token cache which is in SQL, however the key to this cache is something about the signed-in user (signedInUserId), in your case `context.AuthenticationTicket.Identity.FindFirst(ClaimTypes.NameIdentifier).Value`

The thing is that the AuthenticationTicket is held in the AuthenticationCookie.
See [CookieAu

[2019-10-16 07:42] jmprieur commented on #1662
@henrik-me @bgavrilMS : I created the MSAL counterpart  [MSAL.NET#1445](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1445)

I would recommend not fixing this one in ADAL, but moving customers to MSAL.
@bgavrilMS; do you think that the inner exception contain information about the timeout?

[2019-10-16 08:53] jmprieur commented on #1657
@jennyf19 : do I understand correctly that this is now fixed in MSAL.NET 5.2.3 ?

[2019-10-16 08:54] jmprieur commented on #1659
@bgavrilMS ; Do we agree that this one if fixed?

[2019-10-16 08:56] jmprieur opened #1670 "Move ADAL tests to the new identity lab API"
The previous Lab API will be retired on December 2019
We need to move the ADAL tets to the new lab API.

[2019-10-16 09:31] jennyf19 commented on #1657
Yes @jmprieur

[2019-10-16 09:38] jennyf19 commented on #1657
@jmprieur sorry...got confused with the linked issue. The iOS broker stuff for part 2 has not been completed yet. Will reopen this.

[2019-10-16 10:51] bgavrilMS commented on #1659
Yes, I removed this from .net 45 since it does not affect it.

[2019-10-16 10:54] bgavrilMS commented on #1662
It does contain info about the timeout:

Microsoft.IdentityModel.Clients.ActiveDirectory.AdalServiceException: Service returned error. Check InnerException for more details ---> Microsoft.IdentityModel.Clients.ActiveDirectory.AdalServiceException: Request to the endpoint timed out.

[2019-10-18 14:54] alexcarreira opened #1671 "user_interaction_required exception"
**Which Version of ADAL are you using ?**
ADAL 5.2.2

**Which platform has the issue?**
 netcore

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Is this a new or existing app?**
a

[2019-10-18 15:11] jennyf19 commented on #1671
@alexcarreira I assume this was working with earlier versions and just now started failing? Have you tried using a different prompt value, like `Prompt.Auto`? Here's [more info](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Acquiring-tokens-interactively---Public-client-application-flows#properties-or-platformparameters-constructors-parameters-common-to-most-platforms) o

[2019-10-18 15:54] alexcarreira commented on #1671
Hi, I've just edited my description of the issue to be more clarifying. I've added this to the Expected Behaviour

[code]
Now, the login works the first time with the user credentials but then when we try to refresh the token using the refresh token without the user interaction the described exception occurs, but just after a day.

[2019-10-18 16:16] jennyf19 commented on #1671
@alexcarreira thanks for the additional information. Can you share the code you are using for the acquire token interactive and silent calls? Which platform?

[2019-10-18 16:44] jmprieur commented on #1671
@alexcarreira
Even when there is a refresh token, there are several reasons why interaction can be required. Azure AD, helped by Advanced Thread Protection, for instance, might decide the user need to do 2FA, or other forms of conditional access

Please have a look at https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-handling-exceptions#msaluirequiredexception. This is for MSAL

[2019-10-23 16:25] henrik-me commented on #1669
@glennst43 : Can you pls. provide some additional information? Do you have the repro code? Also did this happen when upgrading from a prior version to the latest version? Which versions did you use?

[2019-10-24 15:33] jcus0006 commented on #1660
Hi @jmprieur - Thanks for your answer. I have tried setting the 'ExpiresUtc' to 'DateTimeOffset.UtcNow.AddDays(90)', and tested in a normal single browser environment. It worked, the app will be logged in for that particular browser, even over-night after having turned off the machine.

I wanted to try to extend the idea to multiple browsers on different machines, all using the same user-based cac

[2019-10-24 17:52] glennst43 commented on #1669
Unfortunately, I have not been able to capture a repro. Previous version was 5.1.0.

[2019-10-24 18:44] henrik-me commented on #1669
@glennst43 : Is this still an issue then?

[2019-10-25 04:01] jennyf19 commented on #1625
@amt-work @biozal ...is this still an issue?

[2019-10-25 12:10] amt-work commented on #1625
@jennyf19 I put this feature on hold temporarily so I haven't had a chance to look at it since then.

[2019-10-29 12:50] jmprieur commented on #1660
@jcus0006 thanks for your update.
The inner exception does not make sense to me.
Could you please share a stack trace? I'd like to understand which override of AcquireToken was used?

[2019-10-30 10:11] jcus0006 commented on #1660
Hi @jmprieur - So it seems I have managed to solve this issue. I researched about the 'client_assertion' or 'client_secret' error and then tried a different approach to acquire the token silently.

Refer to the AcquireTokenSilentAsync method below. I am using another overload which requires an extra parameter with the UserIdentifier constructor. This takes the object identifier claim as parameter

[2019-10-30 10:11] #1660 closed, assigned to nobody

[2019-10-30 13:35] leonluc-dev opened #1673 "SetBrokerContinuationEventArgs crashes on non-broker urls"
**Which Version of ADAL are you using ?**
5.2.3

**Which platform has the issue?**
Xamarin.iOS

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ X ] Interactive

Other? - please describe;

**Is this a new or existing app?**
a. The app is in production, and I have upgraded to a new version of ADAL

**Repro**

[code]

**Expected behavior**
Since `IsBrokerResponse` can't be full

[2019-10-30 14:35] jmprieur commented on #1660
Thanks for the update @jcus0006. I'm glad it works for you now.

[2019-10-30 23:38] jennyf19 commented on #1673
@leonluc-dev Thanks for all the info, will take a look.

[2019-11-05 04:03] BradleyDHobbs opened #1676 "Xamarin iOS ClientAssertionCertificate reference error"
**Which platform has the issue?**
Xamarin iOS

**What authentication flow has the issue?**
Mobile app when acquiring token for client side encryption.

**Is this a new or existing app?**
This is a new app or experiment

**Repro**
When I build the project while connected to a physical iOS device, i get the reference error. iOS simulator works fine.

[code]

**Expected behavior**
The build should no

[2019-11-05 19:15] jennyf19 commented on #1657
In ADAL 5.2.4 Release. FYI: @biozal

[2019-11-05 19:15] #1657 closed, assigned to nobody

[2019-11-07 18:43] jmprieur commented on #1676
@BradleyDHobbs : Client Credentials is not available on mobile platforms (for security reasons)
Also, if this is a new project, we recommend you use MSAL.NET.

[2019-11-11 08:04] isaaciaac opened #1677 "Can't login with Galltin(Chinese) Azure AD"
**MSAL is the recommended auth library for use with the Microsoft identity platform**

No new features will be implemented on ADAL. The team's efforts are on improving (MSAL)[https://github.com/AzureAD/microsoft-authentication-library-for-dotnet], the next-gen auth library. MSAL's wiki contains a (migration guide)[https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Adal-to-

[2019-11-11 08:18] jmprieur commented on #1677
@negoe : do you have insights?

[2019-11-11 16:22] BradleyDHobbs commented on #1676
Yes this is a new project. Trying to do client side encryption for sensitive document images taken from the camera.

So I would use MSAL.NET to acquire a security token to authenticate with Azure Key Vault?

[2019-11-13 16:35] jmprieur commented on #1630
@bgavrilMS @henrik-me
Proposing to not fix this one, as we want people to move to MSAL anyway.

Any objection?

[2019-11-14 18:56] #1676 closed, assigned to nobody

[2019-11-14 19:01] #1631 closed, assigned to nobody

[2019-11-14 19:01] jmprieur commented on #1631
@biozal : please feel free to reopen if this is not working

[2019-11-14 19:02] jmprieur commented on #1625
@amt-work can you please check with the latest version. We think it's fixed
#catsarecool

[2019-11-14 19:02] #1625 closed, assigned to jennyf19

[2019-11-14 19:05] jmprieur commented on #1652
@slnali ; yes it requires an apple developer account
😼

[2019-11-15 02:13] amt-work commented on #1625
@jmprieur latest version of ADAL package or latest version of intune SDK?

[2019-11-15 08:26] jmprieur commented on #1625
@amt-work : sorry, I was not clear. Of ADAL.

[2019-11-15 15:02] jmprieur commented on #1677
@isaaciaac : do you have repro steps?

[2019-11-15 19:27] amt-work commented on #1625
@jmprieur I actually still have this issue, even after updating my ADAL version and the intune SDK version. For reference, the pii logs state: AdalLoggerBase.cs: Failed to save adal cache record: MissingEntitlement, I'm unsure what entitlement it's referring to specifically. I haven't touched this since July but it's the same issue I was having then.

[2019-11-15 20:07] jennyf19 commented on #1625
@amt-work you need to set up the entitlements and use the `iOSKeychainSecurityGroup` [property](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/iOS-Keychain-Access#enable-keychain-access)

Entitlements should look like this:
[code]

[2019-11-15 20:15] amt-work commented on #1625
@jennyf19 My entitlements.plist file contains this:
[code]

And my iOSKeychainSecurityGroup looks like this:
[code]

[2019-11-16 01:41] ghost commented on #1625
But does the build have it set to use the entitlement file?  I would run
the InTune build tool to validate setup of info.plist and entitlement.plist
file.

Aaron via mobile

On Fri, Nov 15, 2019 at 3:15 PM amt-work <notifications@github.com> wrote:

--
-Aaron

[2019-11-16 01:41] jennyf19 commented on #1625
@amt-work did you make sure it's also configured here:
![]( https://user-images.githubusercontent.com/12273384/61951596-6330ff00-afa9-11e9-9203-e4b93d78a8b8.png)

Can you provide logs? you can send them via email if that is easier (jeferrie@microsoft.com)

[2019-11-16 01:42] jennyf19 commented on #1625
thanks @biozal

[2019-11-17 12:13] pbruinink opened #1678 "Android App crash after selecting account (using broker)"
I have developed an Android app using Xamarin Forms and implemented ADAL for authentication. This works fine, but after enabling Conditional Access, we have to use a broker instead of authenticating using a WebView. So I followed all the steps mentioned on the Wiki (https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/leveraging-brokers-on-Android-and-iOS):

- Enable support fo

[2019-11-18 03:52] jennyf19 commented on #1678
Thanks @pbruinink did you update the [AppDelegate](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/leveraging-brokers-on-Android-and-iOS#update-appdelegate-to-ensure-that-the-broker-calls-back-adalnet) class as well?

Can you also send us the broker logs? In authenticator app, under help, hit "send logs" and then send us the incident id, so we can take a look on the broker

[2019-11-18 09:05] pbruinink commented on #1678
Thanks for your reply @jennyf19. It's a Xamarin Forms Android-only app, so the AppDelegate class isn't available. I'll send the broker logs and email the inc number.

Thanks

[2019-11-18 13:42] amt-work commented on #1625
@biozal @jennyf19 yeah I do have my entitlements file selected, where is the intune build tool located?

[2019-11-18 17:21] Brijeet commented on #714
This is an older question but, was wondering if something more streamlined was figured out. I am using AzureAD auth for many webapps and running into the same "multiple_matching_token_detected" error when people's UPNs have changed. curious if there was some more streamlined method that was figured out.

[2019-11-18 18:24] jmprieur commented on #714
@Brijeet : the recommendation is to move to MSAL.NET which does handle this scenario. We won't update ADAL.NET at that point. See also https://docs.microsoft.com/azure/active-directory/develop/msal-net-migration

[2019-11-18 21:11] ghost commented on #1625
https://docs.microsoft.com/en-us/intune/developer/app-sdk-ios#how-the-intune-app-sdk-works

Check step 7 of the directions - it explains the command and syntax.  The
tool is usually included in the nuget cache directory of where ever you
have your nuget packages stored on your Mac.  I usually enable verbose
logging in iOS using -v -v -v -v under Additional mtouch arguments for  iOS
Build for that

[2019-11-18 21:45] Kyle-Reis commented on #1625
Actually, with the latest version of the Intune Xamarin.iOS bindings (12.0.12), setting the iOSKeychainSecurityGroup property should no longer be required.

[2019-11-18 21:54] Kyle-Reis commented on #1625
The IntuneMAMConfigurator should be getting run at build time automatically, and if there is no entitlements file associated with the configuration you’re building, it should result in a build error. Does your project contain multiple entitlements files specific to config (debug/release) or target (simulator/device)? If so could you ensure the entitlements file for the specific configuration you’r

[2019-11-18 23:48] jennyf19 commented on #1625
@Kyle-Reis @biozal Thanks for the updates.

fyi: @amt-work

[2019-11-19 02:21] jennyf19 commented on #1673
@leonluc-dev i'm not able to repro this. Do you have a basic repro you can share? Thanks.

[2019-11-19 02:27] jennyf19 commented on #1678
@pbruinink Do you happen to have a repro you can share?

[2019-11-19 07:18] pbruinink commented on #1678
@jennyf19 send you a simple example project via email.

[2019-11-19 13:46] amt-work commented on #1625
@Kyle-Reis @biozal @jennyf19 I only have 1 entitlements file for all my configurations. I don't use a custom entitlements file usually, only for this. I also just ran the intunemamconfigurator tool with my plist and entitlements file, my files didn't get changed at all and I got the "Success!!!" result.

[2019-11-19 19:21] jennyf19 commented on #1678
@pbruinink do you have battery optimization turned on the device? if so, that will restrict the communication with the broker. Based on the logs, we don't see any acquire token calls reaching broker, there are just bind failures between key transfer communication between two brokers, which indicates the device might be in power optimization mode. Could you check and let us know? thank you.

[2019-11-19 21:01] pbruinink commented on #1678
@jennyf19 the device (Samsung s8) is set to a ‘high performance’ powermode and also the ‘optimize battery usage’ option is not enabled for both our app and the microsoft authenticator app.

[2019-11-23 18:33] pbruinink commented on #1678
Hi @jennyf19: I'm glad to tell you that I was able to fix this Issue. It turned out I had to change the redirectUri. When creating a release in our Managed Google Playstore the APK package is re-signed with another certificate and thus the base64 encoded signature in the redirectUri also had to be changed. Now the broker is correctly called and the user can select their account.

One question rema

[2019-11-25 09:53] rherlt commented on #1644
@jennyf19 Any news here? The issue still exists.

[2019-11-25 18:24] jennyf19 commented on #1652
@slnali please reopen if necessary.

[2019-11-25 18:24] #1652 closed, assigned to nobody

[2019-11-25 18:24] jennyf19 commented on #1673
@leonluc-dev do you have a repro you can share?

[2019-11-25 18:25] jennyf19 commented on #1671
@alexcarreira any update on this?

[2019-11-25 18:25] jennyf19 commented on #1654
@negberts are you still having issues w/this?

[2019-11-25 18:26] jennyf19 commented on #1678
@pbruinink I'm glad to hear you got it working.

@iambmelt @@biozal any thoughts on the above?

[2019-11-25 18:29] jennyf19 commented on #1644
@rherlt I'm not able to repro this. do you have a repro you can share or the code you're using, so i can try the same?

[2019-11-25 19:28] leonluc-dev commented on #1673
Apologies for the delay.

Here is a small project with a repro: [TRTestApp.zip](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/files/3892376/TRTestApp.zip) (Updated: 11/26)

The app has the url scheme `trtestapp` registered, so opening any url like `trtestapp://anyarbitrarydata` in Safari or any other app should open the test app and call the `openurl` method in the app delega

[2019-11-25 21:09] jennyf19 commented on #1673
@leonluc-dev thanks! I'll probably take a look tomorrow (please ping me if you hear back in a day or two). appreciate the repro.

[2019-11-26 07:07] negberts commented on #1654
@jennyf19 Yes and no. I am using the GetRedirectUri method in my app to generate the redirect URI. But I did do a deployment lately and at least it did not generate a 'new' URI since I have not seen issues about a redirect URI missing in Azure. However, it is still a different URI then the powershell generated.

[2019-11-26 14:50] leonluc-dev commented on #1673
I've updated the repro to fix a minor issue in the repro project, to make sure the repro only has the issue described earlier.

[2019-11-26 17:12] iambmelt commented on #1678
Not super clear on the use case here but FWIW ADAL can be seeded with a `login_hint` which will auto-select the designated account if it's available.

Part I'm unclear on is why `AccountManager` needs to be queried directly; ADAL provides an API for getting broker users via `AuthenticationContext.getBrokerUsers()`

[2019-11-26 18:51] pbruinink commented on #1678
@iambmelt:

Well I'm just following the instructions mentioned on the page below:

https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/leveraging-brokers-on-Android-and-iOS#update-appdelegate-to-ensure-that-the-broker-calls-back-adalnet

Ensure your app has access to the Broker accounts:

Google has introduced an extra security measure for apps wanting to access accounts. ADAL

[2019-11-26 20:53] ghost commented on #1678
I would agree we do not see this type of behavior after making sure our
redirect is configured properly and following the Android directions for
configuring broker:

https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/leveraging-brokers-on-Android-and-iOS#ensure-your-app-has-access-to-the-broker-accounts

Specifically you need to watch how you are requesting permissions based

[2019-11-26 21:28] jennyf19 commented on #1678
@biozal do you want to propose something for the wiki? thanks so much for the input.

[2019-11-26 21:32] jennyf19 commented on #1654
@negberts should we close the issue and have you reopen if/when it happens again?

[2019-11-26 22:27] alexcarreira commented on #1671
Hello, I  was able to fix the issue by changing the code and use AcquireTokenSilent() from ADAL.
Thank you for your attention

[2019-11-26 22:27] #1671 closed, assigned to nobody

[2019-11-26 23:45] jennyf19 commented on #1671
thanks for the update @alexcarreira

[2019-11-28 09:43] pbruinink commented on #1678
@biozal: Thanks for your response. It looks like I've implemented it in the same way:

**AndroidManifest.xml:**

	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />

**MainActivity.cs:**

     public override void OnRequestPermissionsResult(i

[2019-11-28 10:46] negberts commented on #1654
@jennyf19 okay

[2019-11-29 22:14] jennyf19 commented on #1654
@negberts closing, but please reopen if you encounter it again.

[2019-11-29 22:14] #1654 closed, assigned to nobody

[2019-12-05 18:12] pbruinink commented on #1678
Any idea what differs in my code (shown above) as apposed to yours? Or any suggestion on what to change/add to avoid the Android Account Picker showing up each time?

[2019-12-05 18:40] jennyf19 commented on #1678
@iambmelt your thoughts on the above?

[2019-12-06 06:20] ghost commented on #1678
If you can post a link to a sample of your app (a subset of code is fine)
on github,  I can replace the config app info with one of our reference
apps info and see if I can reproduce the problem or tell you the difference
on how our apps do it.

On Thu, Dec 5, 2019, 1:12 PM pbruinink <notifications@github.com> wrote:

[2019-12-06 14:50] pbruinink commented on #1678
here a simple example app:
https://github.com/pbruinink/adaltest

[2019-12-09 17:55] jennyf19 commented on #1669
@glennst43 i'm not able to repro this issue. have you run into it again?

[2019-12-09 19:12] jennyf19 commented on #1645
@jlhernandez1388 any update?

[2019-12-09 19:59] jennyf19 commented on #1644
@JFMG @rherlt ADAL sets the state parameter for you, so you do not need to include it in the query parameters.

closing, as we will not be fixing this in ADAL. If there is a problem with this (using the state parameter ADAL generates and not sending your own), please let us know.

[2019-12-09 19:59] #1644 closed, assigned to nobody

[2019-12-10 06:03] joshardt commented on #1644
@jennyf19 Microsoft consultants told us about 2 years ago to use the state parameter for a 2 factor login. Now it’s not working anymore. I’m a bit disappointed. It forces us to implement a new concept.

[2019-12-10 06:56] jmprieur commented on #1644
@JFMG . I understand your frustration:
Today, 2 factor authentication is done by the tenant admin applying conditional access policies to the users and/or the app in the tenant. What happens if you don't send the state yourself given that ADAL does send it.

[2019-12-10 17:34] jennyf19 commented on #1649
@nebadr We didn't get back to you on this.

here's information on the differences between [ADAL and MSAL](https://github.com/azuread/microsoft-authentication-library-for-dotnet/wiki/Adal-to-Msal)

the extensiveness of your code base determines the cost in making the move, but long term, definitely worth it, as new features and development work will be happening in MSAL. If you need help w/the migr

[2019-12-10 23:50] jennyf19 opened #1684 "AAD Security question registration page unresponsive in Android embedded webview"
**Platform**
Xamarin Android

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive

**Repro**

Sign-in with a user who will trigger the correct registration prompt
The security question dropdown boxes are unresponsive
![image](https://user-images.githubusercontent.com/19942418/70095727-5917b080-15da-11ea-8aa3-5756f33cc489.png)
![image](https://user-images.githubuser

[2019-12-12 18:11] jmprieur commented on #1669
We cannot repro.
Let's close it.

[2019-12-12 18:11] #1669 closed, assigned to jmprieur, trwalke

[2019-12-12 18:14] jmprieur commented on #1677
@isaaciaac closing as you have not provided repro steps.
Feel free to reopen

[2019-12-12 18:14] #1677 closed, assigned to nobody

[2019-12-12 18:17] #1649 closed, assigned to nobody

[2019-12-12 18:17] jmprieur commented on #1645
Closing as there is no update. Feel free to reopen

[2019-12-12 18:17] #1645 closed, assigned to nobody

[2019-12-12 18:20] jmprieur commented on #1641
Won't fix in ADAL
We'll use a better version of the account manager in the Xamarin.Android support for broker.
Closing for now. Feel free to reopen if you disagree.

[2019-12-12 18:20] #1641 closed, assigned to nobody

[2019-12-12 18:21] jmprieur commented on #1630
Please use MSAL.NET. See https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-migration
Closing for now.

[2019-12-12 18:21] #1630 closed, assigned to nobody

[2019-12-12 18:48] jennyf19 commented on #1673
@leonluc-dev have you had a chance to try this out? dev branch has the fix. thanks

[2019-12-13 07:32] pbruinink commented on #1678
@biozal Did you manage to have a look at the example code yet?

[2019-12-13 10:53] leonluc-dev commented on #1673
I have built the dev branch code and tested on iOS 12 and 13 and while the `IsBrokerResponse` method still returns true on iOS 13, the `SetBrokerContinuationEventArgs` now seemingly ignores the non-broker URL and gracefully completes without a null pointer exception and code execution continues as usual.

So with that the issue seems resolved.

[2019-12-13 10:55] #1673 closed, assigned to jennyf19

[2019-12-14 00:08] jennyf19 commented on #1684
Fixed in [5.2.5 release](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/5.2.5)

[2019-12-14 00:08] #1684 closed, assigned to nobody

[2019-12-14 00:09] jennyf19 commented on #1670
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/5.2.5

[2019-12-14 00:09] #1670 closed, assigned to jennyf19

[2019-12-14 00:09] jennyf19 commented on #1662
Fixed in [5.2.5 release](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/5.2.5)

[2019-12-14 00:09] #1662 closed, assigned to bgavrilMS

[2019-12-14 00:09] jennyf19 commented on #1673
@leonluc-dev Fixed in [5.2.5 release](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/5.2.5)

[2019-12-14 15:24] ghost commented on #1678
Sorry I've been out on medical leave the past week.  I'll be catching up
today and tomorrow and I'll look into this and see if I can test with our
stuff.

-Aaron

On Fri, Dec 13, 2019 at 2:32 AM pbruinink <notifications@github.com> wrote:

--
-Aaron

[2019-12-15 10:53] pbruinink commented on #1678
Okay no problem, hope you are feeling well again.
Thanks for your support, it is much appreciated! Hope you can tell me if I am doing something wrong or else what is causing this behaviour and how I can fix it.

[2019-12-20 21:40] pbruinink commented on #1678
@biozal any update please?

[2019-12-26 09:58] StevenDevooght commented on #1354
Hi,

We were also facing the same issue using ADFS 3.0 on Windows server 2012 R2. After authenticating on the ADFS page we are redirected to our callback_uri with an authorization_code appended in the querystring.

The problem is the 'code' querystring part gets lost on [this line](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/68d7dea3643e075be85abbca1ab88ba614465541/src

[2019-12-30 10:00] pbruinink commented on #1678
@biozal have you been able to check the example code yet?

[2020-01-07 15:19] pbruinink commented on #1678
@jennyf19 Can you have a look at the example code (https://github.com/pbruinink/adaltest)?
I just can't figure out why the Android account picker always pops up twice before the ADAL broker asks to select an account.

[2020-01-07 15:37] jennyf19 commented on #1678
@pbruinink sure. I'll try to take a look at this in the next day or two. thanks for your patience.

[2020-01-07 15:45] pbruinink commented on #1678
@jennyf19  thanks. I really appreciate that!

[2020-01-07 19:17] ghost commented on #1678
I looked at this and spent a little time trying to get it working but this
is structured a lot differently than how we do things with our apps for
InTune and ADAL.  I can provide our example app on how we handle things.
I'm trying to get it updated with the latest nuget packages.

-Aaron

On Tue, Jan 7, 2020 at 10:45 AM pbruinink <notifications@github.com> wrote:

--
-Aaron

[2020-01-07 19:37] vsabado commented on #1234
Hello, I'm trying to do the same as you are. What was the fix that worked for you?

[2020-01-08 06:57] pbruinink commented on #1678
@biozal thanks, that would be appreciated

[2020-01-10 23:44] trwalke opened #1687 "Android Broker fails to refresh silently due to incorrect UID"
**Which Version of ADAL are you using ?**
latest (5.2.5)

**Which platform has the issue?**
xamarin android

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [x] Silent
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Repro*

[2020-01-16 12:16] trwalke commented on #1687
Fixed in ADAL 5.2.6 (https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/5.2.6)

[2020-01-16 12:16] #1687 closed, assigned to trwalke

[2020-01-22 09:56] badarilr opened #1690 "AcquireTokenSilentAsync using a cached token is not working with Xamarin forms"
AcquireTokenSilentAsync using a cached token is not working with Xamarin forms with the latest ADAL version. This is the snippet used in order to refresh the token.

                    try
                    {
                        AppData.AuthenticationResult = await AppData.AzureActiveDirectoryContext.AcquireTokenSilentAsync(
                                                AppConstants.Secur

[2020-01-23 22:41] JhonatanRamirezS commented on #1615
Hi

is it working now? I am facing this error.

thanks in advance

[2020-01-24 06:46] henrik-me commented on #1615
@m12lrpv : Who provide the client secret? Can you pls. provide some additional details on where this should work?
@JhonatanRamirezS @m12lrpv  please provide more details on repro steps and test environment etc, documentation on how this is supposed to work.

[2020-01-24 06:56] henrik-me commented on #1615
Reading: https://docs.microsoft.com/en-us/dynamics365/business-central/dev-itpro/developer/devenv-develop-connect-apps#setting-up-basic-authentication

It should be possible to get this to work with a client secret. Can you pls. share the detailed error response?

[2020-01-24 08:09] m12lrpv commented on #1615
I apologise but I'm not really in a position to replicate this anymore. It was a work project to demonstrate an API link between our app and MS Dynamics.

It's been a while since I looked at this but I recall that it is fine to use Azure AD to get a token to use for the API's.

But that's completely useless for an Azure web Job because a working AAD token can only be created and updated by user in

[2020-01-24 13:27] JhonatanRamirezS commented on #1615
Hi @henrik-me thanks a lot for your answer,

My steps:
1. I created an app registration on Azure portal
 1.1. I added Business Central as API permission
 1.2. Created the secret key for that App registration.

2. create a console application to get token:

using System;
using System.Threading.Tasks;
using System.Net.Http;
using System.Net.Http.Headers;
using RestSharp;
using Newtonsoft.Json;
using

[2020-01-24 17:39] jmprieur commented on #1615
@JhonatanRamirezS
Using your code: `authorityUriv2` is not defined
The applicationID does not seem to exist in the tenant you mentioned in  `authorityUri `

Can you tell us more about the HttpResponse you get? What resource (audience) is your token for, what's the expected audience for your resource?

[2020-01-24 17:49] JhonatanRamirezS commented on #1615
Thanks @jmprieur
yes, you are correct I copy the wrong variable correct is:
static string resource = "https://api.businesscentral.dynamics.com";
static string authorityUriv2 = "https://login.microsoftonline.com/e53d2a43-6254-40d3-bf7e-6cb773a25285";
static string clientId = "d7f6b8e1-b3a0-4454-b4bb-fb8de6a3e2b5";
static string clientSecret = "=_X@gsLAvoRNQR?WsvSASrDMjx4c6G82";
static string access

[2020-01-26 17:00] jmprieur commented on #1615
It means the client_secret you provided is not the right one. you  need to go back to the app registration in the Azure portal for your app, and generate a new client secret and paste it in your code (please don't share it publicly)

[2020-01-26 20:45] m12lrpv commented on #1615
@jmprieur I think you'll find that the client secret JhonatanRamirezS used was valid as will any regenerated ones be.

Dynamics is simply not able to handle it.

[2020-01-27 16:45] bgavrilMS commented on #1690
Hi @badarilr - please fill in the entire form when logging bugs. I have no idea what you mean "not working". A few more things:

1. can you use MSAL instead ? https://github.com/AzureAD/microsoft-authentication-library-for-dotnet (ADAL is being deprecated and we only fix regressions and security bugs)
2. Are you sure the token cache is not empty or that the email matches the user you have in cache

[2020-01-27 16:46] tyaginidhi opened #1691 "Updaing ADAL library from 3.19.6 to 4.5.1 version breaks serilization deserilization of object"
There is a regression in Deserilization of AuthenticationResult object between versions above that is blocking us form updating to the later version of ADAL library. Can anyone help fix this issue for us?

Test method Microsoft.VisualStudio.Services.ArtifactServices.App.Shared.L0.Tests.VsoCredentialHelperAadTests.VsoCredentialHelperGetAADCredentialsIgnoresPromptBehaviorIfNotEnvironmentUserInteract

[2020-01-27 17:17] bgavrilMS commented on #1691
Seems like a regression from 3.19. Affects other people's unit tests.

[2020-01-27 17:36] bgavrilMS commented on #1691
@tyaginidhi - note that if you have some AuthenticationResult objects serialized for your tests, they might not work from 3.19 to latest ADAL anway. But I agree that this object used to be serializable (and marked with DataContract), and today it is not.

[2020-01-28 14:48] bgavrilMS commented on #1691
@jmprieur @henrik-me - would we want to take this one? The regression is there since 3.x, this is the first complaint.

@tyaginidhi - if I understand correctly, you deserialize this object from a json file to be able to mock ADAL. I believe there is a workaround in creating the a test object AuthenticationResult via reflection instead of using deserialization - can you try that?

[2020-01-28 16:11] tyaginidhi commented on #1691
@bgavrilMS : sure let me give that a try. But that will only fix the test cases. My concern is about the break in functionality due to this regression.

[2020-01-28 16:13] bgavrilMS commented on #1691
@tyaginidhi - we have quite a lot of test coverage for ADAL, and it's also in use by many developers.

The fact that `AuthenticationResult` is no longer serializable only impacts tests - ADAL itself does not use serialization to create this object.

[2020-01-29 18:18] tyaginidhi commented on #1691
@bgavrilMS : Got it! We are updating our L0 to work around the issue. We do expect the regression to be fixed in the next package version to avoid any potential issues.

[2020-01-30 12:54] badarilr commented on #1690
Hi @bgavrilMS

I had issues with refresh token and it wasn't get extended after token expiry time out w.r.t Xamarin forms. As suggested by will have a look at MSAL and the second point mentioned by you was working as expected.

[2020-01-30 12:54] #1690 closed, assigned to nobody

[2020-01-30 19:34] trwalke opened #1692 "ADAL.net fails to AcquireToken for Integrated Windows Auth when VPN with RasCredential is used"
**Which Version of ADAL are you using ?**
Microsoft.IdentityModel.Clients.ActiveDirectory, Version=2.28.1.741, Culture=neutral, PublicKeyToken=31bf3856ad364e35

**Which platform has the issue?**
Windows 10, Net45

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [x] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless

[2020-01-31 11:17] bgavrilMS commented on #1691
I recommend the following:

1. Move to MSAL. It's much better. We fix bugs there.
2. Wrap the `AuthenticationResult` object into an object that you control. Then you can test it.
3. Use reflection, smth like

[code]

[2020-01-31 11:17] #1691 closed, assigned to nobody

[2020-01-31 19:58] sumantshiv opened #1693 "ADAL 5.4.2 Client package is dropping /adfs/ literal from the passed authority URI"
**MSAL is the recommended auth library for use with the Microsoft identity platform**

No new features will be implemented on ADAL. The team's efforts are on improving [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet), the next-gen auth library. MSAL's wiki contains a [migration guide](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Adal-to-

[2020-02-01 00:30] jmprieur commented on #1693
From investigation from @sumantshiv
commit https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/commit/c0f5b4edf166861db1f56d319877a212921ae055 has updated the logic around parsing the tenantId from the AuthorityURL. The ADAL library always formats the endpoint url as https://host/tenantID format.

If the authority URL is like: https://localhost/adfs/tenantID.
-	As per the previous

[2020-02-01 02:06] sumantshiv commented on #1693
Updated the typo in Version. It should be 5.2.4.

[2020-02-01 22:39] bgavrilMS commented on #1693
I'll take a look at this.

[2020-02-11 01:39] keystroke commented on #1693
@jmprieur  / @bgavrilMS this is the same thing discussed in #1653, not sure if you want to consolidate. The preference from keyvault team is that all the identity clients are updated to accommodate the spurious authority endpoint.

[2020-02-11 22:10] jennyf19 commented on #1693
@sumantshiv @keystroke I have a private build you can try out if you're interested. just send me an email -> jeferrie@microsoft.com

[2020-02-12 04:20] jennyf19 commented on #1693
In PR.

[2020-02-14 20:03] jennyf19 commented on #1693
Included in 5.2.7 release

[2020-02-14 20:03] #1693 closed, assigned to jennyf19

[2020-02-14 20:16] jennyf19 commented on #1653
should be resolved with 5.2.7 release

[2020-02-14 20:16] #1653 closed, assigned to jmprieur

[2020-02-15 04:25] ghost opened #1698 "ASP.NET Core 2.2 Azure AD Authorisation Middleware Not Handling Overages"
_Cross-posted from [this issue](https://github.com/dotnet/aspnetcore/issues/19076) on ASP.NET Core GitHub library after being referred to this repo._

### Describe the bug
I've recently set up authentication on an ASP.NET Core website I'm working on, and am now trying to authorize users based on their membership to a security group. I'm using this [tutorial][1] to assist me with the setup.

I've s

[2020-02-15 04:29] jmprieur commented on #1698
@jublair : this is not an ADAL.NET issue.
Would you mind looking at the following sample and see if this solves your issue?
https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/5-WebApp-AuthZ/5-2-Groups

[2020-02-15 04:35] ghost commented on #1698
Thanks for the quick reply @jmprieur. Not sure which repo is the right one to contact here, since the ASP.NET Core devs referred me in this direction. Do you know the right repo to which I should file this issue, if it's not here nor there?

I have attempted the guidance listed [here](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/5-WebApp-AuthZ/5-

[2020-02-19 19:09] ghost commented on #1698
I've identified that the best workaround in this case (and one that also improves code reliability) is to make use of [AAD Enterprise Application Roles][1], rather than checking group claims directly. That way I can continue to use the default AAD SDK, with just a few tweaks.

startup.cs:
[code]

  [1]: https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-app-roles-in-azure-ad

[2020-02-19 19:09] #1698 closed, assigned to nobody

[2020-03-05 21:29] henrik-me commented on #1692
Closing this one as the original issue have not had any inputs from the bug opener for more than a year. If we are to address this we should explore further in MSAL

[2020-03-05 21:29] #1692 closed, assigned to nobody

[2020-03-24 05:52] mikaelm12 opened #1699 "Having issues with the AcquireTokenSilentlyAsync API."
I read the documentation regarding the methods around acquiring tokens and apparently the `AcquireTokenAsync` doesn't check the token cache? I'm trying to implemented calling the `AcquireTokenSilentlyAsync` method and falling back to `AcquireTokenAsync` but it always fails even when I debug and can see that the tokenCache has items in it. We're passing in the `IClientAssertionCertificate` but don'

[2020-04-08 00:25] trwalke opened #1700 "ADAL.NET unable to get private key from EphemeralKeySet X509Certificate2"
**MSAL is the recommended auth library for use with the Microsoft identity platform**

No new features will be implemented on ADAL. The team's efforts are on improving [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet), the next-gen auth library. MSAL's wiki contains a [migration guide](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Adal-to-

[2020-04-08 00:35] trwalke commented on #1700
Will not fix as ADAL.NET is in maintenance mode. [See Update to MSAL now.](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet#update-to-msalnet-now) This functionality will be fixed in MSAL.NET.

[2020-04-13 20:22] JECROFT commented on #872
I am encountering the same issue and cannot get certificate based authentication to work from the fluent azure management libraries. How did you resolve the exceptions?

[2020-04-15 11:38] jmprieur commented on #872
@JECROFT : we strongly advise that you move to the latest version of ADAL, or even better to MSAL.NET.

[2020-04-17 07:02] miaobinxu opened #1701 "NullReferenceException in CryptographyHelper.GetCryptoProviderForSha256"
Our project is using Microsoft.IdentityModel.Clients.ActiveDirectory version 2.28.3. Recently we got an error `System.NullReferenceException: Object reference not set to an instance of an object. at Microsoft.IdentityModel.Clients.ActiveDirectory.CryptographyHelper.GetCryptoProviderForSha256(RSACryptoServiceProvider rsaProvider)`. After checking the source code, I noticed that we have a null check

[2020-04-17 07:38] jmprieur commented on #1701
@miaobinxu

As you can see in the [README.md - Update to MSAL.NET now](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/dev/README.md#update-to-msalnet-now) of this repository:
- ADAL.NET 2.x is no longer supported. Therefore we won't fix this issue.
- MSAL.NET is now the recommended library and we are asking people to move away from ADAL.NET to MSAL.NET. If you are a first

[2020-04-21 11:05] #1678 closed, assigned to jennyf19

[2020-05-05 17:23] mfeatherSTAR opened #1703 "Brokered authentication in iOS 13 not working"
I'm using ADAL.Net v5.2.2
I'm using Microsoft Authenticator app v6.4.6

Opens up Authenticator app fine but as soon as I pick my account it bombs out with Something Went Wrong error message and doesn't return anything to my iPhone app ?

Any assistance or advice on this matter would be appreciated (I've also tried ADAL 5.2.7)

[2020-05-06 07:13] pavanarava opened #1704 "android.runtime.JavaProxyThrowable crash in ADAL.Net"
**MSAL is the recommended auth library for use with the Microsoft identity platform**

No new features will be implemented on ADAL. The team's efforts are on improving [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet), the next-gen auth library. MSAL's wiki contains a [migration guide](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Adal-to-

[2020-05-06 20:30] davidezordan opened #1705 "Brokered authentication not working on iOS 13 - AdalLoggerBase.cs: Exception type: System.Security.Cryptography.CryptographicException"
**Which Version of ADAL are you using ?**
ADAL 5.2.7 / Authenticator app v 6.4.6 / iOS 13.4.1

**Which platform has the issue?**
iOS / Xamarin.Forms

**What authentication flow has the issue?**
Other? - please describe;
Authentication using broker app

**Is this a new or existing app?**
a. The app is in production, and I have upgraded to a new version of ADAL but just enabled broker authentication

[2020-05-07 15:24] janschoelchAtOK opened #1706 "Refresh Tokens do not seem to work on iOS"
**Which Version of ADAL are you using ?**
ADAL 5.2.7

**Which platform has the issue?**
Xamarin.iOS / Xamarin.Forms (iOS)
Tested on simulators and devices running iOS12.0, iOS13.0 and iOS13.3

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive (no broker)
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web A

[2020-05-07 15:57] alohaninja commented on #1346
We also ran into this updating from ADAL v3 to v4 - [followed this SO post recommendation](https://stackoverflow.com/a/54450608/175679) and updated the authority from `https://login.windows.net/<directoryId>/oauth2/authorize` to `https://login.microsoftonline.com/<directoryId>` as this is a breaking change in ADAL v4

[2020-05-12 15:06] #1701 closed, assigned to nobody

[2020-05-12 15:09] bgavrilMS commented on #1699
@mikaelm12 - can you use [MSAL.NET](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet) instead? This library (ADAL) is deprecated and there aren't many people who can answer quesions on it.

But in particular for this flow, you do not need to call `AcquireTokenSilent`. This flow has no users, as you have noticed, and ADAL utilizes an in-memory app token cache by default.

For

[2020-05-13 03:59] henrik-me opened #1707 "Update nuget description to point to MSAL.NET"
Ship an update to ADAL.NET which updates the nuget metadata package description to have people going directly to nuget.org/adal.net to find an easy to click link to the newest library version.

**Suggesting to add the following to the description:**
There is a newer version of this library available here: https://www.nuget.org/packages/Microsoft.Identity.Client/

- Ideally this would be the first

[2020-05-13 16:19] bgavrilMS commented on #1703
Hi @mfeatherSTAR - Apple introduced some changes in iOS 13 that broke our integration with Authentication. I believe we've captured all this with https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/1642 and some other changes.

Can we get some logs please to investigate further, using the latest ADAL ?
Also, please consider moving to [MSAL](https://github.com/AzureAD/microso

[2020-05-18 15:46] henrik-me commented on #1704
@pavanarava : Did you try [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet)?

@pavanarava : can you pls. provide the [ADAL logs](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Logging-in-ADAL.Net)? Which steps did you do to troubleshoot?

Seems like something is done here which needs a review:
Microsoft.Identity.Core.UI.EmbeddedWebview.Authent

[2020-05-20 23:24] mfeatherSTAR commented on #1703
Hi Bogdan,

Thanks for your response. To confirm I have tried ADAL 5.2.2, ADAL 5.2.7 and MSAL 4.13.0 all with the same result.

It opens Authenticator then when I select the Azure AD account I get the “Something went wrong..” message as attached.

Here is the ADAL log using 5.2.7:

2020-05-20 15:54:10.443 StarMobile_IOS[461:28727] 2020-05-20T22:54:10.4430000Z: 8d1c6a4f-9a05-45d0-b77e-ea81f2ef6d1f

[2020-05-22 15:30] henrik-me commented on #1705
Do you have the latest version of iOS13 installed? Also the latest version of the Authenticator App?
Did you try the same using MSAL?

Not sure I understand correctly. Are you trying to add broker support to an existing application and that's when you saw this? If not can you pls. describe when you started seeing this issue?

[2020-05-27 22:32] henrik-me commented on #1703
@mfeatherSTAR : Is this only an issue on iOS13? Did it use to work?
Apple has been sending out hotfixes to iOS13 for issues which impacted brokered scenarios, did you validate ensuring you are using the very latest iOS13 updates from Apple?

Thanks for providing the incident id. We will look at the logs.

[2020-05-27 22:57] mfeatherSTAR commented on #1703
Using iOS 13.3.1.

I can jump to 13.5 tonight.

I’ve not tried it on anything other than iOS13 as it’s new InTune functionality that I’m trying to add. Parts of it work fine, its just this brokered auth bit that hangs.

I do have the required InTune functionality working in the Android app using the same Azure setup.

From: henrikm <notifications@github.com>
Sent: Wednesday, May 27, 2020 3:33 PM
T

[2020-05-27 23:15] henrik-me commented on #1703
@mfeatherSTAR : Thanks, from what I know the 13.5 is required to rule out iOS 13 OS issues.

[2020-05-28 03:59] henrik-me commented on #1703
@mfeatherSTAR : unfortunately the logs doesn't really say anything else, thus if updating to 13.5 doesn't solve the issue we would need a repro to be able to dig further.

It will help if you retry using the latest MSAL and ensure you follow all the steps as described in:
[MSAL iOS Broker steps](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Leveraging-the-broker-on-iO

[2020-05-28 04:04] henrik-me commented on #1705
@davidezordan : did you try updating to the latest iOS version?

Closing issue, please re-open if you have additional information.

[2020-05-28 04:04] #1705 closed, assigned to nobody

[2020-05-29 12:21] HASSEN-MEDDEB-ATOS opened #1708 "use specific proxy when call api #37049"
Hello,

i use .NET Core 3.1. I want to make specific api when i call Microsoft graph without using export http_proxy and https_proxy :

[code]
i did like this but always i get error
System.AggregateException: One or more errors occurred. (One or more errors occurred. (Unauthorized Http Status Code (401) was expected in the response (Parameter 'response')))
---> System.AggregateException: One or mo

[2020-05-29 12:54] simendsjo commented on #1659
Hi, is this really fixed?

The [nuget library](https://www.nuget.org/packages/Microsoft.IdentityModel.Clients.ActiveDirectory/) still references the nuget package of System.Net.Http for netframework45, which causes problems for us.

I notice the group for net45 in the csproj file doesn't reference the version, but there exists a reference [further down in the file](https://github.com/AzureAD/azure

[2020-06-01 13:28] bgavrilMS commented on #1659
Hi @simendsjo - ADAL is on a deprecation path and we recommend you to use MSAL instead https://github.com/AzureAD/microsoft-authentication-library-for-dotnet

[2020-06-01 14:14] pavanarava commented on #1704
@henrik-me : We are currently in the process of migrating to MSAL. But it will take some time. But given that this is the current pressing issue, it would be great if you can help us with this issue. Also, I found this related MSAL thread https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1209 where similar issue is discussed. So probably this might be present in MSAL to

[2020-06-02 09:07] bgavrilMS commented on #1708
The code that was pasted does not show use of ADAL or MSAL libraries, so I have no idea what that does.

For ADAL support for proxies is done like this: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/with-proxy

[2020-06-02 09:14] bgavrilMS commented on #1706
- ADAL finds and access token, but it is expired
- ADAL proceeds to refresh the RT
- ADFS returns a 401 error

The 401 error is concerning. ADAL does not retry 401 errors. I suppose you could attempt to retry the silent call to see what happens. ADAL does not parse tokens, it just extracts them.

Is ADFS configured in a special way, or with proxy settings or smth?

[2020-06-02 09:17] bgavrilMS commented on #1704
Code is [here ](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/686afcad04e26b0d8a0f4f58b6c063aead0c7f5d/src/Microsoft.IdentityModel.Clients.ActiveDirectory/Platforms/android/EmbeddedWebview/AuthenticationAgentActivity.cs#L42)but without an error message and some logs, I have no idea what is going on :(

[2020-06-02 09:17] #1700 closed, assigned to nobody

[2020-06-02 09:18] #1699 closed, assigned to nobody

[2020-06-04 00:29] mfeatherSTAR commented on #1703
Ok. So I’ve upgraded to iOS 13.5 and still have an issue trying to use ADAL libraries.

I have had some success using the MSAL libraries though !

Brokered authentication is now working with MSAL but I really need the official answer from Microsoft on ADAL.

From my experimenting it seems the Authenticator crash is caused by an invalid redirectURI, or one that doesn’t match info.plist settings. I

[2020-06-04 08:14] jmprieur commented on #1708
Closing as it's answered
Feel free to reopen if you disagree

[2020-06-04 08:14] #1708 closed, assigned to nobody

[2020-06-04 08:23] bgavrilMS commented on #1703
With regards to `I’d like the official answer on whether this is possible: InTune integration with Conditional Access Policies, thereby requiring Brokered Authentication…..using latest ADAL library ?` - I can confirm that you can use MSAL. Where are these docs please, I will try to get them changed.

We do however have quite a few folks who have integrated with ADAL as well and its working for the

[2020-06-04 18:54] mfeatherSTAR commented on #1703
Thanks for your reply.

To confirm, my statement was a question not an extract from any docs.

Sounds like you have folks that have integrated with ADAL and I need to do the same.  MSAL (although working for me) is not a feasible option right now so I’d really like assistance getting this to work through ADAL.

Let me know what further info you require and how I can progress this urgently ?

My ke

[2020-06-07 06:15] Druffl3 opened #1709 "AcquireTokenSilentAsync always fails in UWP"
**Which Version of ADAL are you using ?**
4.5.1

**Which platform has the issue?**
UWP

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [x ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;
I am actually build

[2020-06-07 06:18] Druffl3 commented on #1690
Hey @badarilr , did you manage to get it fixed? If yes, can you share your soultion?

[2020-06-08 09:19] jmprieur commented on #1709
@Druffl3 : did you look at the following sample?
https://github.com/azure-samples/active-directory-dotnet-native-multitarget

Note that it's archived because we recommend our customers to move to MSAL.NET, instead of ADAL.NET, but you can still look at the master branch

[2020-06-09 00:15] rohitkoppalkar opened #1710 "Unable to Acquire Token using cert and subject name auth from Powershell ISE"
Reference Code -
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/af10dd15cdb082bc3dbe14b0c2c6d81f6ca5b541/src/Microsoft.IdentityModel.Clients.ActiveDirectory/AuthenticationContext.cs#L966

Issue:
This block of code prevents Powershell ISE from accessing the overloaded method -
public async Task<AuthenticationResult> AcquireTokenAsync(string resource,
            IClientAss

[2020-06-09 05:14] #1710 closed, assigned to nobody

[2020-06-09 10:41] Druffl3 commented on #1709
@jmprieur , thanks for the response. I will take a look at the sample.

[2020-06-15 10:47] bgavrilMS commented on #1706
Not enough info and cannot reproduce this.

[2020-06-15 10:47] #1706 closed, assigned to nobody

[2020-06-16 10:10] janschoelchAtOK commented on #1706
@bgavrilMS It was indeed connected to proxy configuration issues. Thanks for pointing this out, this saved us days and days of research.
And the story gets even better as we finally managed to migrate to MSAL last week! :-)

[2020-06-16 11:17] bgavrilMS commented on #1706
Thank you for following up @janschoelchAtOK !

[2020-06-16 14:52] bgavrilMS commented on #1703
@mfeatherSTAR - I sent you a package for you to try out with via email, please let me know if you received it.

[2020-06-16 17:51] mfeatherSTAR commented on #1703
Thanks Bogdan.

Nothing received yet ?

From: Bogdan Gavril <notifications@github.com>
Sent: Tuesday, June 16, 2020 7:53 AM
To: AzureAD/azure-activedirectory-library-for-dotnet <azure-activedirectory-library-for-dotnet@noreply.github.com>
Cc: Mark Feather <Mark.Feather@iris.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [AzureAD/azure-activedirectory-library-for-dotnet] Brokered authent

[2020-06-16 18:17] bgavrilMS commented on #1703
@mfeatherSTAR - apologies for getting our comm channels mixed up. Could you send me an email at bogavril @t microsoft com and I'll follow up with the package? GitHub does not allow me to upload nuget packages.

[2020-06-17 07:12] mfeatherSTAR commented on #1703
Thanks. Package received. Still not working. I've added output from my Pii enabled ADAL logs to the file share I was provided via Microsoft support.

[2020-06-18 12:18] bgavrilMS opened #1712 "Update ADAL communication with Broker to stop using AccountManager::GetAccount"
Most of our ICMs on ADAL occur becaue of Android + Broker support. The underlying cause is that AccountManager.GetAccounts does not return any accounts, mainly due to an update to permissions Google introduced.

We can use AccountManager.AddAccounts technique to handle this instead, as it does not require permissions. This is what MSAL is using today.

[2020-06-25 09:45] bgavrilMS commented on #1712
After discussing this with the team, we have concluded that it would be too disruptive to make this change to ADAL, since the alternative (AccountManager::AddAccount) has its own set of known issues, such as not working with Android for Enterprise.

Customers are advised to move to MSAL.

[2020-06-25 09:45] #1712 closed, assigned to nobody

[2020-06-25 09:47] #1704 closed, assigned to nobody

[2020-06-26 05:12] Druffl3 commented on #1709
Right now, in my UWP applications, the AcquireTokenSilentAsync() fetches a valid token only if the already acquired token from AcquireTokenAsync() hasn't expired. If the acquired token expires then AcquireTokenSilentAsync() always fails. Is this an expected behaviour?

This is what I am trying:
[code]

Do note that the TokenCache is never empty after initial authentication.

[2020-06-27 01:03] henrik-me commented on #1703
@bgavrilMS @trwalke to follow up on the logs.

Our documentation to get brokered authentication to work is here:
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Brokered-Auth-on-iOS-13
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/leveraging-brokers-on-Android-and-iOS#brokered-authentication-for-ios

We highly recommend that you use MSAL.

[2020-06-30 11:05] bgavrilMS commented on #1703
I did follow up on the logs, and I wasn't able to find any problems ADAL side. I read the authenticator logs and there may be a problem there, but I don't have expertise in that. We typically need an incident (iCM) to transfer tickets from one team to another, since all engineers are very busy during these times and they need to prioritize.

Given that we prioritize MSAL issues over ADAL issues ge

[2020-06-30 11:05] #1703 closed, assigned to nobody

[2020-07-01 00:21] mfeatherSTAR commented on #1703
In case it helps anyone else this enabled me to get past the "Something Went Wrong" message:

Make sure that your Redirect URI **and application's bundle id is all in lower case.**

Thank you @bgavrilMS , @henrik-me

[2020-07-01 04:31] henrik-me commented on #1703
@mfeatherSTAR, glad that you got this working, and thanks for updating the issue with your finding.

[2020-07-01 08:43] bgavrilMS commented on #1703
Yeah, that's a wierd bug which we fixed in MSAL.

redirect uri is based on bundle id. But URIs in .net are lowercased, while the Authenticator expects case sensitivity to be preserved.

the difficulty is that the Authenticator logs do not make it clear what goes wrong, so this problem is difficult to trace.

[2020-07-03 06:26] Druffl3 commented on #1709
@bgavrilMS , @jmprieur , please help me in resolving this issue. AquireTokenSilentAsync, returns the already available token in cache and once it has expired, it simply fails and does not return a new valid token.

[2020-07-03 12:53] jmprieur commented on #1709
@Druffl3
It is expected that if the access token has expired and it cannot be refreshed, then you'll get an AdalUiRequiredException, which you need to process by calling AcquireTokenAsync.
See https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/AcquireTokenSilentAsync-using-a-cached-token#recommended-pattern-to-acquire-a-token

Finally, we would recommend you to move away from

[2020-07-04 17:32] ghost opened #1714 "Exception of type 'Microsoft.Identity.Client.MsalClientException' was thrown: password_required_for_managed_user"
Which platform has the issue? =>net45
What authentication flow has the issue? Username Password
Is this a new or existing app? This is a new app or experiment

Code:  In this code the clientId and tenandID come from the manage applications pane in Azure Active Directory.

	string clientId = "************************************";
	string tenantID = "************************************";
	List<str

[2020-07-05 08:05] Druffl3 commented on #1709
Understood @jmprieur , we will move to MSAL soon. AquireTokenSIlentAsync does fetch a valid token after the previously acquired token has expired in Android and iOS. It is just not working in UWP. What could be the reason for  refresh token to fail? Will any platform specific configuration be required?

[2020-07-07 07:18] Druffl3 commented on #1660
Hey @jcus0006 , I am facing the same issue, can you please tell me what is `adObjectId` in
`authResult = Await authenticationContext.AcquireTokenSilentAsync(aadGraphResourceID, clientcred, New UserIdentifier(adObjectId, UserIdentifierType.UniqueId))` ?

[2020-07-07 11:09] jcus0006 commented on #1660
Hi @Druffl3 - The adObjectId refers to the Unique Object ID of the user within the Azure Active directory.

Within the User Profile, you can view this ID under Object ID.

After success credential login, using the Authorization Code Grant flow (Azure AD OAuth 2.0 method), the User Object ID is returned as part of the Claims.

I am extracting it as below -

ClaimsPrincipal.Current.FindFirst("http:/

[2020-07-07 15:00] Strepto commented on #58
While this is closed I had this issue today and can leave a small how to fix guide:

The problem seems to arise when a user has logged in to another app using an account from a different tenant A, and the app is a single tenant app linked to tenant B. There is no prompt to sign in with the correct account, as the tenant error happens before any password is entered.

For me the fix was to sign in w

[2020-07-08 03:19] Druffl3 commented on #1660
Thanks for the response @jcus0006 . Yes, in ASP.NET Core we can get the principal as you have mentioned. Since, I was trying it in Xamarin.Forms (.NET Standard), I found out that the user ID will be available in the AuthenticationResult after successful token acquire. Yet, to find out if this works on UWP though :/

[2020-07-08 11:50] Druffl3 commented on #1660
Even that didn't work for me. I got the UniqueId after successful AcquireTokenAsync and stored in local.
[code]

And consumed it in AcquireTokenSilentAsync like this:

[code]

Yet, I receive this error after 1 hour:

[2020-07-08 21:36] jcus0006 commented on #1660
Shouldn't the below line

new UserIdentifier("", UserIdentifierType.UniqueId)

actually be

new UserIdentifier(id, UserIdentifierType.UniqueId)

If the missing "id" is actually just a typo, can you make sure the Object ID for the user in question actually matches the Object ID in the Azure AD?

Are you creating the AuthenticationContext object with the ADALTokenCache object? Are you using the ADAL

[2020-07-09 04:47] Druffl3 commented on #1660
Yes, sorry, it was a typo(Have corrected it in my edit).

Yes, If TokenCache is already available then I am creating an AuthenticationContext using the cached Authority like this:
`authContext = new AuthenticationContext(authContext.TokenCache.ReadItems().First().Authority);`
Although, I need to look into the use of "SignedInUserId". Could you share the document that you are referring to?
I follow

[2020-07-09 04:50] Druffl3 commented on #1709
Hey @jmprieur , I believe the issue I am facing is similar to this #1660

[2020-07-09 09:47] jmprieur commented on #1709
cc: @bgavrilMS

[2020-07-09 12:20] bgavrilMS commented on #1709
I just tried this and it is working fine, so there must be a more complex repro that is happening.

If this is a new app, I strongly recommend that you switch to using MSAL. The team is prioritizing MSAL issues higher, and we will be slow to react to any ADAL issues.

Does the sample not work for you?

[2020-07-09 12:58] Druffl3 commented on #1709
@bgavrilMS , I actually tried this in a sample project with a different directory configured and It worked fine for me as well. Could this issue be related to any Azure configuration mismatch for the current directory?

[2020-07-09 13:01] bgavrilMS commented on #1709
You can try the sample project but use your own app coordinates (client ID, scopes etc.). I am not aware of how you can block silent auth if interactive auth is working. Maybe you are

[2020-07-11 08:20] Druffl3 commented on #1709
@bgavrilMS as suggested I replaced the co-ordinates with my own in the sample project and tested it out. AquireSilentTokenAsync failed with the same exception :( . Will there be any particular limitation of using a Federated Active Directory with an application that does not follow IWA?

[2020-07-18 10:44] Druffl3 commented on #1631
Hey @biozal , I am facing the same issue but in UWP. Can you tell me where exactly can I find the GUID value of the authority? I checked my Azure manifest, but couldn't find any :/

[2020-07-18 10:52] Druffl3 commented on #1709
@bgavrilMS @jmprieur , I apologise for not trying the ADAL loggers earlier. I added them now and it looks like the process to refresh token is failing, just as @biozal is facing here #1631
My log:
[code]

[2020-07-20 09:32] bgavrilMS commented on #1714
Firstly, this is the ADAL repo, but the code you have is MSAL - the repo is here: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet.
Secondly, since you are using the Graph SDK please log issues on them first, since most of the code is on their side.

But anyway, Username / Password is strongly discouraged, but in this case you might not be passing in a password?

[2020-07-20 09:32] #1714 closed, assigned to nobody

[2020-07-20 09:32] bgavrilMS commented on #1707
Fixed in 5.2.8

[2020-07-20 09:32] #1707 closed, assigned to nobody

[2020-07-20 09:33] #1664 closed, assigned to jmprieur

[2020-07-20 09:33] bgavrilMS commented on #1664
Please use MSAL.

[2020-07-23 17:18] bgavrilMS commented on #1709
Please try to move to MSAL as ADAL is end of life

https://techcommunity.microsoft.com/t5/azure-active-directory-identity/update-your-applications-to-use-microsoft-authentication-library/ba-p/1257363

[2020-07-30 11:03] Druffl3 commented on #1709
@bgavrilMS , I migrated to MSAL and I get an Invalid_grant error upon AquireTokenInteractively in UWP.

[code]

[2020-07-30 11:10] bgavrilMS commented on #1709
Ok, at least here we can see the error.

Your tenant has a device policy enabled. Currently MSAL is not able to satisfy device policies on UWP (you can do it on .net fwk because you can use a system browser, but UWP does not allow system browsers).

To satisfy device policies, you need to use WAM (Web Authentication Manager). We are currently working on integrating WAM into MSAL, tracking issue [h

[2020-08-05 11:30] #1709 closed, assigned to nobody

[2020-08-06 10:08] Druffl3 commented on #1709
@bgavrilMS , I tried WAM, and RequestTokenAsync failed with a 'ProviderError' response. Does WAM come with an inbuilt logger like ADAL/MSAL ? If yes, could you please direct me towards a reference?

[2020-08-06 12:36] bgavrilMS commented on #1709
Sorry @Druffl3 WAM is a Windows component, my team doesn't own it. I have a PR opened with some integration on .net 45, but it will take some time for me to integrate it.

You can check the error message `wamResponse.ResponseError.ErrorMessage;` for more details.

[2020-08-11 12:05] Druffl3 commented on #1709
Hi @bgavrilMS , I managed to get the cause of the error:
[code]

[2020-08-11 12:19] bgavrilMS commented on #1709
That's an error returned by the AAD service, here's how I build my token request: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/f7fec85283fd8c0f11bc377bd3b3bd3b25eb425c/src/client/Microsoft.Identity.Client/Platforms/netdesktop/Broker/AadPlugin.cs#L101

[2020-08-12 07:37] jmprieur commented on #1709
This is a configuration issue, @Druffl3
you need to set the **Default client type** for public client apps to **Yes**. See https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-desktop-app-registration#redirect-uris

[2020-08-12 12:55] Druffl3 commented on #1709
@jmprieur , from the reference link you have shared, setting **Default client type** to **Yes**, would mean that my application doesn't require a redirect URI. Now, I have a single app registered with my tenant, which I use with Android, iOS and UWP. Both iOS and Android require redirect URIs, so wouldn't setting **Default client type** to **Yes**, hamper the login flow for these two platforms? It

[2020-08-12 13:06] jmprieur commented on #1709
@Druffl3, you don't need to register another app if you have only public client applications (desktop/mobile), which iOS, Android, UWP. You can just set Default client type to true.

[2020-08-12 13:07] jmprieur commented on #1709
Also, @Druffl3 : we recommend you move to MSAL.NET (ADAL.NET is on the deprecation path)
The corresponding sample is there: https://github.com/azure-samples/active-directory-xamarin-native-v2

[2020-08-12 15:08] Druffl3 commented on #1709
@jmprieur , I did move to MSAL.NET, and as conveyed by @bgavrilMS , it has a challenge when conditional access policies are enabled. And at his suggestion I moved to WAM, where the above mentioned error was thrown. Therefore back to square one in fixing the issue with the Tenant. Hopefully **Default Client Type** to **Yes**, solves it.

[2020-08-14 12:15] Druffl3 commented on #1709
@bgavrilMS , After setting **Default Client Type** to **Yes**, the client_secret issue got resolved but it threw another error:
`AADSTS50011: The reply URL specified in the request does not match the reply URLs configured for the application: 'xxxxx'.`
Nowhere in the code did I pass the returnURI and I don't see it being passed in your implementation as well. Am I missing something?

[2020-08-14 12:17] Druffl3 commented on #1709
Thank you @jmprieur and @bgavrilMS , this resolved the issue with my ADAL UWP application. I will pay heed to your words and migrate to MSAL as soon as WAM works fine.

[2020-08-17 16:20] bgavrilMS commented on #1709
Thank you for following up @Druffl3

[2020-09-10 09:46] c-s-n commented on #1659
@bgavrilMS I really suggest to reopen this ticket. The `System.Net.Http` story with its out-of-band package is a nightmare and causes a lot of assembly binding problems. See [the official recap on Github](https://github.com/dotnet/runtime/issues/20777).

Basically, you should remove [the all-target NuGet package reference](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/bc

[2020-09-10 10:25] jmprieur commented on #1659
@c-s-n : the Azure SDK now uses MSAL.NET. See https://www.nuget.org/packages/Azure.Identity/

[2020-09-10 12:00] c-s-n commented on #1659
@jmprieur looking at [the official Azure SDK page](https://azure.github.io/azure-sdk/releases/latest/dotnet.html), e.g. for Service Bus, [Azure.Messaging.ServiceBus](https://www.nuget.org/packages/Azure.Messaging.ServiceBus/) is still in preview.
The current [Microsoft.Azure.ServiceBus](https://www.nuget.org/packages/Microsoft.Azure.ServiceBus/) depends on [Microsoft.Azure.Services.AppAuthenticati

[2020-09-10 12:20] jmprieur commented on #1659
@aiwangmicrosoft FYI

[2020-09-16 08:22] volleyms commented on #1659
@jmprieur: any chance that the reference to the System.Net.Http NuGet package is removed or that you introduce a net472 target which does not contain it... in the short term? The current situation makes it impossible to build cleanly for .NET Framework 4.7.2, cause unnecessarily including the System.Net.Http NuGet package (which can finally be overridden with binding redirects, but nevertheless),

[2020-09-18 07:48] jmprieur commented on #1659
@volleyms : we won't update ADAL.NET any longer.
You are now advised to move to MSAL.NET: https://techcommunity.microsoft.com/t5/azure-active-directory-identity/update-your-applications-to-use-microsoft-authentication-library/ba-p/1257363

[2020-09-30 13:45] jeschu1 opened #1715 "AcquireDeviceCodeAsync Failing on Mac OS"
**MSAL is the recommended auth library for use with the Microsoft identity platform**

No new features will be implemented on ADAL. The team's efforts are on improving [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet), the next-gen auth library. MSAL's wiki contains a [migration guide](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Adal-to-

[2020-10-12 06:50] bgavrilMS commented on #1715
ADAL has been deprecated. Please use MSAL https://github.com/AzureAD/microsoft-authentication-library-for-dotnet

[2020-10-12 06:50] #1715 closed, assigned to nobody

[2020-10-30 18:57] simendsjo commented on #1659
You say you don't maintain it, but a new version was shipped June 30 with the same bug. We've patched the nuspec and added it to our own local cache to avoid the bug, but the next time you push an updated version and we're upgrading, we'll get the same problems all over again.

Is there a problem with fixing this bug? For all libraries I've encountered with this bug, the fix is to remove the refer

[2020-11-02 09:38] jmprieur commented on #1659
@henrik-me @bgavrilMS do we want to reopen this issue (to be sure to address this if we ever provide a hotfix of ADAL.NET in the future?)
cc: @jennyf19 @trwalke @neha-bhargava

[2020-11-02 13:11] bgavrilMS commented on #1659
Sure, let's fix it in MSAL.

[2020-11-30 13:41] jmprieur commented on #1659
@bgavrilMS : did we fix it in MSAL?

[2020-11-30 13:41] jmprieur commented on #1659
Closing as transfered to MSAL.

[2020-11-30 13:41] #1659 closed, assigned to bgavrilMS

[2020-12-11 09:18] jmprieur commented on #1543
This error is due to the fact that the Azure AD tenant admin now requires device authentication. In the case of guest scenarios (B2B) this could be either tenant admin btw.

The mitigation, in that case would be:
-	For the tenant admin to remove the conditional access policy, or not apply it to this specific app.
-	Or to rebuild the application using the latest version of MSAL.NET with the ` .With

[2021-01-11 06:16] shristikatiyar opened #1716 "user is not able to login"
**MSAL is the recommended auth library for use with the Microsoft identity platform**

No new features will be implemented on ADAL. The team's efforts are on improving [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet), the next-gen auth library. MSAL's wiki contains a [migration guide](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Adal-to-

[2021-01-11 10:01] jmprieur commented on #1716
@shristikatiyar: is this a transient error? or something you still see now?
The logs seem to say that this is a transient error from the service (Internal Server Error, Gateway Timeout and Service Unavailable.)

[2021-01-11 19:52] shristikatiyar commented on #1716
This user is seeing this error since a long time and is not able to login.

[2021-01-14 00:38] jennyf19 commented on #1716
@shristikatiyar we'd recommend updating to MSAL .NET, as that supports the last iOS OS. ADAL is on the deprecation path.

[2021-02-08 23:09] trevors20 opened #1717 "Missing PlatformParameters constructor for .net core version of MS.IdentityModel.Clients.ActiveDirectory"
**Which Version of ADAL are you using ?**
5.2.8

**Which platform has the issue?**
.Net Core/Net48

Other? - please describe;
I created a .Net Core app and started consuming a 3rd party dll that was using MS.IdentityModel.Clients.ActiveDirectory.  When I went to run my app I received a method not found exception.  This is because the 3rd party binary that I'm referencing is calling the "**public P

[2021-02-16 15:20] jmprieur commented on #1717
@trevors20 : ADAL.NET is on the deprecation path.
Please use MSAL.NET: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet

[2021-03-03 18:39] konrad-jamrozik opened #1718 "Cannot install. Install-Package: Dependency loop detected for package 'Microsoft.IdentityModel.Clients.ActiveDirectory'"
I cannot install the package

[code]

[2021-03-03 21:08] jmprieur commented on #1718
@konrad-jamrozik
ADAL.Net does not depend on anything else than the .NET framework

![image](https://user-images.githubusercontent.com/13203188/109872668-06112b00-7c6d-11eb-83c9-64767b80bb4d.png)

Also this is concerning that nuget would be not trusted?
I think you might have some issues with your nuget.config files ?

[2021-03-05 05:33] konrad-jamrozik commented on #1718
@jmprieur my nuget.config below. Note I passed the `-Source https://api.nuget.org/v3/index.json` parameter. I would expect that the content of my nuget.config should not matter given this argument.

It took NuGet several minutes before it output that error.

In any case, if it should work, later I can do some investigation with verbose logging etc. to figure out the root cause and report it back h

[2021-03-05 05:35] konrad-jamrozik commented on #1718
@jmprieur  this is my nuget.config:

[code]

[2021-03-05 08:55] jmprieur commented on #1718
@konrad-jamrozik you might want to clear you Nuget cache?
under C:\users\yourAlias\.nuget\packages remove the folder for ADAL for instance.

It's safe to remove all the folders if you don't mind re downloading them, btw

[2021-03-05 16:31] jsquire opened #1719 "MS Docs: Please clarify what AssertionTypes would be valid here, or provide links to other documentation."
### Documentation Related To Component:
`Microsoft.IdentityModel.Clients.ActiveDirectory`

### Please check those that apply

- [ ] typo
- [ ] documentation doesn't exist
- [x] documentation needs clarification
- [ ] error(s) in example
- [ ] needs example

### Notification of Issue Transfer
This issue was opened by @seannybgoode in the Azure SDK Docs repository and is being transferred.  _([origi

[2021-03-06 19:53] konrad-jamrozik commented on #1718
@jmprieur that was the first thing I did. Observe the first line in my first post:

`~\.nuget> Remove-item -Force -Recurse packages`

[2021-03-08 11:15] jmprieur commented on #1719
@jsquire ADAL is deprecated. We are not going to update the XML comments for the reference documentation
Please use MSAL.NET instead

See https://docs.microsoft.com/en-us/dotnet/api/microsoft.identity.client.userassertion?view=azure-dotnet

[2021-03-08 11:17] #1719 closed, assigned to nobody

[2021-03-08 11:20] #1717 closed, assigned to nobody

[2021-03-08 11:20] #1716 closed, assigned to nobody

[2021-03-08 15:15] jmprieur commented on #1718
@konrad-jamrozik is your project using the PackageReference? or still the old package.config?

[2021-03-08 15:56] konrad-jamrozik commented on #1718
@jmprieur pardon my ignorance, but to my understanding there is no project to speak of. I am trying to run a powershell `.ps1` file that fails on following line:

`$platformParameters = New-Object "Microsoft.IdentityModel.Clients.ActiveDirectory.PlatformParameters" -ArgumentList "Auto"`

with error:

[code]
hence I concluded I probably need to install the package.

[2021-03-08 16:56] jmprieur commented on #1718
@konrad-jamrozik : if you're using it from PowerShell, then please rather use https://github.com/AzureAD/MSAL.PS/, which is maintained and tested, and using MSAL.NET (ADAL.NET is deprecated)

[2021-03-08 17:09] konrad-jamrozik commented on #1718
@jmprieur OK thx. I installed the module:

[code]

but the script fails the same way. I understand the answer then is "this problem won't be fixed as the script I am using is unsupported", correct?

[2021-03-08 21:03] jmprieur commented on #1718
@konrad-jamrozik, I suggest you ask the question in the MSAL.ps repo (I'm not familiar with the usage of MSAL in PowerShell, but I know this works very well)

[2021-03-09 20:32] konrad-jamrozik commented on #1718
OK, thanks @jmprieur. Closing this as a hybrid between "answered", "redirected" and "won't fix" ;)

[2021-03-09 20:32] #1718 closed, assigned to nobody

[2021-03-30 15:07] shristikatiyar opened #1724 "User is not able to signin"
**MSAL is the recommended auth library for use with the Microsoft identity platform**

**Which Version of ADAL are you using ?**
5.2.7

**Which platform has the issue?**
Xamrin.ios

**What authentication flow has the issue?**
Mobile
 Interactive

Other? - please describe;

**Is this a new or existing app?**
 The app is in production, uses the same version of ADAL, but started seeing this issue

**

[2021-03-30 15:35] bgavrilMS commented on #1724
Apps need to move to MSAL. We will not be fixing Adal issues.

[2021-03-30 15:35] #1724 closed, assigned to nobody

[2021-03-30 15:42] shristikatiyar commented on #1724
Hi @bgavrilMS  can we root cause the issue,  will it be fixed after migration to MSAL.net
error code is sevice_not_available

[2021-03-30 15:54] bgavrilMS opened #1725 "Device Auth incorrectly attempted on .NET classic"
ADAL 5.2.9

## Affected App experience:

Auth fails with an exception related to CNG certs:

`ADAL: Warning, 2021-03-30T06:08:48.1803263Z: 08e9ce4f-2881-4431-8946-85832f2d2cbb - AdalLoggerBase.cs: A service exception occurred
ADAL: Information, 2021-03-30T06:08:48.2243221Z: 08e9ce4f-2881-4431-8946-85832f2d2cbb - AdalLoggerBase.cs: IsDeviceCode? True
ADAL: Error, 2021-03-30T06:08:48.5793169Z: 08e9c

[2021-03-30 16:26] bgavrilMS commented on #1724
It's just a timeout, see HTTP status code 408. Could be bad internet connection, could be an AAD outage (we had one last week).

[2021-03-30 16:59] shristikatiyar commented on #1724
Yes agrred form the error it seems service_not_available , but recently we got some more errors with this error code,.

[2021-04-20 04:40] Deloyuri opened #1726 "[Bug] Auth Redirect failure in ADAL on iOS"
**Logs and Network traces**
network trace contains sensitive data and was submitted through support ticket

**Which Version of MSAL are you using ?**
ADAL .NET  v3.19.8

**Platform**
xamarin iOS: 14.4.2 and 14.5

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)

[2021-04-20 08:50] jmprieur commented on #1726
This is an issue happening on ADAL.NET. I transferred it to the ADAL.NET repo.
@bgavrilMS @trwalke @jennyf19 @pmaytak : do we have a way of trying if MSAL.NET is also affected?

[2021-04-20 12:21] Deloyuri commented on #1726
Can you please send me link to the new issue?

Sent from my iPhone

On Apr 20, 2021, at 3:50 AM, Jean-Marc Prieur ***@***.***> wrote:

﻿

This is an ADAL.NET issue. I transferred it to the ADAL.NET repo.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://secure-web.cisco.com/1DXdgkOMjqB5sGX1XRVCjxVK0I5E96Iz3tubNySa-U7o6Fs5AhNL5B2SeEC6

[2021-04-20 12:46] jmprieur commented on #1726
Which new issue, @Deloyuri : this is the same (just transferred from one repo to another)

[2021-04-20 15:20] jennyf19 commented on #1726
@Deloyuri have you considered moving to MSAL.NET?

[2021-04-20 15:41] Deloyuri commented on #1726
Absolutely – we are a huge organization with many apps. Most, have been transitioned.  We were under impression that we have another year to go for the remaining handful.

Best,
Yuri Livshitz

--
Please consider the environment before printing.

From: jennyf19 ***@***.***>
Reply-To: AzureAD/azure-activedirectory-library-for-dotnet ***@***.***>
Date: Tuesday, April 20, 2021 at 10:21 AM
To: AzureAD/

[2021-04-20 17:14] jennyf19 commented on #1726
@Deloyuri i understand.

Which xamarin version are you on?

You can pass in an HttpClientFactory for iOS...can you try passing in one that uses the managed handler, which doesn't care about the app going into the background and see if that one works? You would do something like this for the iOS factory: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/bc9b6cc15ad271c1f4f9f1

[2021-04-20 17:40] Deloyuri commented on #1726
I’m not sure we’ll be able to sub custom HTTPClient in that version of ADAL.  Either way, if we’re going to try to fix the code, it probably makes sense to move to MSAL.  The concern is that several apps are currently affected, so we’re really looking for a solution that affects all of the existing apps and hopefully a root cause.

Best,
Yuri Livshitz
Deloitte Application Studios
615-495-5187 (cel

[2021-04-20 17:49] jennyf19 commented on #1726
@Deloyuri i would suggest passing in the HttpClient, as the solution. It shouldn't be a huge change in your code, do you have a test environment where you can try it?

and which version of Xamarin is being used?

[2021-04-20 17:57] bgavrilMS commented on #1726
@jennyf19  - note that injecting an HttpClient was implemented sometime in ADAL 5.x, pretty sure it isn't possible in ADAL 3.x. Why would a custom HttpClient fix this issue? Are you thinking about the recent Xamarin SDK bug?

[2021-04-20 18:08] jennyf19 commented on #1726
@bgavrilMS i would like to see if the managed httpclient is not working as well, either netcore/mono has the issue.

@Deloyuri, as @bgavrilMS mentioned, you would need to move to latest ADAL version first.

it wasn't a bug in Xamarin, it was a bug in the customer code.

[2021-04-20 18:20] jennyf19 commented on #1726
also @Deloyuri I gave our css engineer the link to the MSAL.NET repro, and not ADAL.NET, sorry about that, but @jmprieur got it sorted out

[2021-04-20 18:51] Deloyuri commented on #1726
you guys lost me a bit. As @bgavrilMS mentioned, the version of ADAL we have doesn't allow for swapping out HttpClient.  Has anyone on your team been able to reproduce this?  I'd suggest trying with the same version of ADAL as above, and on an iOS 14.5 beta device.

[2021-04-20 18:55] jennyf19 commented on #1726
@Deloyuri we can try to repro on the latest version, but not on 3.x. our suggestion would be to use the HttpClient, as I mentioned above. Or move to MSAL.NET

[2021-04-20 19:22] Deloyuri commented on #1726
Please let me know what you see when you try to reproduce with ADAL and iOS 14.5 beta.

[2021-04-21 10:00] bgavrilMS commented on #1726
@Deloyuri - just to set expectations, we do support ADAL 5.x but not ADAL 3.x. Each major version of the library has 1 year support from the team. We are not setup to repro ADAL 3.x bugs, we always ask developers to upgrade (ideally to MSAL, as making changes in ADAL is unlikely).

[2021-04-21 12:55] Deloyuri commented on #1726
Ok, got it.  Are you able to reproduce with ADAL 5.x?

[2021-04-21 15:58] jennyf19 commented on #1726
@Deloyuri yes, @trwalke is on point to try and repro w/5.x and iOS 14.5

[2021-04-28 16:41] jennyf19 commented on #1726
@Deloyuri can you try updating to Xamarin iOS 14.14 and see if the issue repros there? There is an issue in mono, so you can either update the Xamarin iOS version to 14.14 or try passing in your own HttpClient, or updating to MSAL. Probably the move to 14.14 is least invasive to your app.

[2021-05-04 10:56] vinhdp195 opened #1727 "ADAL webview with secure certificate on App UWP"
Getting tokens through ADAL, I am having the following problem:
Can't login at site organization (requires certificate)
Detail error:
1 / I have a UWP app
2 / At the app, open the authentication window (Webview)
3 / Enter user organization
4 / Redirect to the organization's authentication page (example: adfs.xyzcompany.co.jp)
5 / Input userid and password
=> Error: Select the certificate to use fo

[2021-05-10 08:26] jmprieur commented on #1727
@vinhdp195 : ADAL.NET is on the deprecation path and does not support device authentication.
you'd definitively want to move to MSAL.NET which supports WAM (use the `.WithBroker(true)` expression);
For details see  https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/wam

[2021-05-11 03:33] #1727 closed, assigned to nobody

[2021-06-07 08:03] #1726 closed, assigned to nobody

[2021-06-07 08:25] #1725 closed, assigned to nobody

[2021-06-10 09:30] filippo-orru commented on #1492
If this has been fixed, the link and known issues section can be removed from https://github.com/AzureAD/microsoft-authentication-library-for-python/wiki/Username-Password-Authentication

[2021-06-10 10:40] bgavrilMS commented on #1492
Done, thanks

[2021-06-21 06:19] jimmycwj commented on #1067
Agreed. MSAL.NET solved my problem. @jmprieur

[2021-07-15 13:25] jsquire opened #1728 "DeserializeAdalV3(byte[]) needs exceptions listed"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#22655](https://github.com/Azure/azure-sdk-for-net/issues/22655)

### Please be aware that @JesseMcClusky is the author of the original issue and include them for any questions and responses.

---

DeserializeAdalV3's page doesn't list the exceptions it can throw.

#### Document Details

⚠ *Do not edit this

[2021-07-15 13:51] jmprieur commented on #1728
@sahilmalik would you want to have a go at this one?

[2021-07-30 18:57] ashinzekene opened #1729 "Get token using certificate assertion throws keyset does not exist"
**Which Version of ADAL are you using ?**
Note that to get help, you need to run the latest preview or non-preview version
For MSAL, please log issues to https://github.com/AzureAD/microsoft-authentication-library-for-dotnet

**Which platform has the issue?**
net45

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] User

[2021-07-31 02:32] pmaytak commented on #1729
Do you see this issue starting to happen after the app is running for a while? Does the issue go away if the app is restarted?

Sometimes this is related to a wrong type of certificate being used. Generally we've seen this related to just the way .NET 4.5 deals with crypto operations, which are improved in later versions of .NET. Additionally, in MSAL we have some resiliency features related to cr

[2021-07-31 07:54] ashinzekene commented on #1729
It occurred when creating another instance of a service using the same certificate (basically on a diff environment). The certificate works locally.

Thanks, I'd try using an updated version of .NET Framework

[2021-08-04 05:45] ashinzekene commented on #1729
Was a permission issue

[2021-08-04 05:45] #1729 closed, assigned to nobody

[2021-09-19 04:22] abatishchev opened #1731 "AuthenticationParameters.CreateFromUnauthorizedResponseAsync() is async but doesn't need to"
**Which Version of ADAL are you using ?**

[code]

**Which platform has the issue?**

.NET Standard 2.1, .NET Core 3.1

**What authentication flow has the issue?**

- [x] Other?

**Short description**

`AuthenticationParameters.CreateFromUnauthorizedResponse()` is `async` because it calls `async` helper method but doesn't need to, the same outcome can be achieved without doing that.

**Long descri

[2021-09-27 13:05] bgavrilMS commented on #1731
ADAL is deprecated, so we are not taking new features or small fixes. Only critical / security fixes.
If you wish to contribute to MSAL, the team is happy to help.

[2021-09-27 13:05] #1731 closed, assigned to nobody

[2022-01-06 10:28] banoslo commented on #1609
The problem was solved for me after I had deleted the local storage and all cookies in my development browser.

[2022-03-09 21:49] mtucker2112 opened #1735 "GetAuthorizationRequestUrlAsync breaking change adds response_type=form_post"
Somewhere between 3.18.0 and 4.5.1 a change was made to GetAuthorizationRequestUrlAsync() that automatically adds a response_mode=form_post to the request.  This seems to cause the response sent to the redirectUri to use a POST (with the code in the body) instead of a GET (with code as a URL param).

Perhaps this is known\documented somewhere already, but thought I should log this to help others t

[2022-04-11 10:08] bgavrilMS commented on #1728
Won't fix.

[2022-04-11 10:08] #1728 closed, assigned to nobody

[2022-04-11 10:09] bgavrilMS commented on #1735
Please use MSAL, ADAL is on a deprecation path.

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet

[2022-04-11 10:09] #1735 closed, assigned to nobody

[2022-09-29 20:38] billvolt commented on #1354
I've identified a fix and submitted pull request #1741.