[2018-11-21 16:03] jmprieur commented on #1354
Reopening (See Kennethahn's report)
cc: @trwalke @MarkZuber

@kennethahn : which Hello ADFS app is it? can you please send us a link?

[2018-11-21 18:03] jmprieur commented on #1094
@bgavrilMS FYI

[2018-11-21 18:16] bgavrilMS commented on #1094
It looks to be the same issue as https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/1398

You get this strange exception for a "managed" user when doing an Integrated Windows Auth (IWA) flow. Managed users are those created in AAD without an AD backing. IWA is based on an old protocol that works by calling some apis on the AD server. Since there is no AD server, we can't en

[2018-11-23 08:08] bgavrilMS commented on #1186
@savbace - the docs says "This method does not lookup token cache, but stores the result in it". When storing the result, it means we store the access token, refresh token, id token and account in the cache, which implies accessing the cache.

What is your concern - are we accessing the cache too often?

[2018-11-23 08:10] bgavrilMS commented on #1186
@luismanez - I am having trouble getting the sample to run because it was intended for netcore 1.1 and the EF tools are different nowadays. I'm trying some more, if you have this project converted to netcore 2+, please let me know.

[2018-11-23 09:42] bgavrilMS commented on #1253
Closing, hopefully the proxy details solved the issue.

[2018-11-23 09:42] #1253 closed, assigned to bgavrilMS

[2018-11-23 10:58] luismanez commented on #1186
@bgavrilMS my project is too big to send it through. I think is much easier if you try a new netcore 2+ project and just re-uses the DistributedTokenCache. Just note that the code in Line 92 AfterAccessNotification method is calling the Count property of the base TokenCache (note I'm in latest ADAL version, not MSAL), as Count property, internally is again calling AfterAccessNotification, we get t

[2018-11-23 11:19] bgavrilMS commented on #1186
Yes, I see the problem by looking at the code. I think Count should either not trigger AfterAccessNotification or HasStateChanged should be reset.

Would you have time for a quick call on this? I am on the same timezone as you.

[2018-11-23 12:24] bgavrilMS commented on #1186
**Workaround**: set this.HasStateChanged to false before calling Count - we don't actually read this flag anywhere, so this should be safe.

[2018-11-23 15:21] bgavrilMS commented on #1186
@luismanez - Here's what I'm thinking in terms of a fix, please feel free to comment:

Context:
-	All TokenCache operations are single threaded, i.e. inside lock(obj) { … }
-	The TokenCache can be used multiple across processes / machines not just threads
-      We never read HasStateChange, we just set it to true and instruct users to set it to false themselves. (we also set it to false in MSAL a

[2018-11-23 16:55] dmcweeney opened #1425 "Incremental consent question"
Folks,

I have been trying to implement incremental consent handling but on ASP.Net Core 2.1 via a piece of middleware the works kindof like the OAuth2CoreRedeemerMiddleware in the ASP.Net sample.

I have configured my middleware after the UseAuthentication middleware and in the OpenIdConnectOptions configuration set the SkipUnrecognizedRequests = true.

However the Asp.Net Core middleware kicks o

[2018-11-24 18:07] luismanez commented on #1186
Hi @bgavrilMS
thank you so much for your help. I had to leave yesterday, but happy to have a call next week if I can help, though I'm not that expert in this topic. Regarding your comments, option 2 seems more correct to me. What I can do easily is to test your workaround, so at least we know it works fine and we can update ADAL version in the meantime.
Thanks again!

[2018-11-26 10:53] vanillajonathan opened #1426 "Constant for Ocp-Apim-Subscription-Key"
**Is your feature request related to a problem? Please describe.**
In all my projects I do:
[code]
So I have to repeat the hard-coded "Ocp-Apim-Subscription-Key" string in my projects.

**Describe the solution you'd like**
An easy way to add my Ocp-Apim-Subscription-Key to the outgoing HTTP requests sent by my `HttpClient`.

**Additional context**
Consider adding a constant for `Ocp-Apim-Subscript

[2018-11-26 11:08] bgavrilMS commented on #1186
No problem, thank you for your input. Let me know if the workaround works, we'll implement a more durable solution after we have a team discussion about the options above.

[2018-11-26 11:08] jmprieur commented on #1426
@vanillajonathan : is it a request on ADAL.NET?
Can you please use the provided template to add issues to the ADAL.NET repo (with repro steps)

[2018-11-26 11:18] kennethahn commented on #1354
@jmprieur It is the same 5 lines of code that is in all howto's. :)
I have pasted it here: https://pastebin.com/Y1TfQmqD

[2018-11-26 11:19] vanillajonathan commented on #1426
@jmprieur It is for the [Microsoft.IdentityModel.Clients.ActiveDirectory](https://www.nuget.org/packages/Microsoft.IdentityModel.Clients.ActiveDirectory/) package.

[2018-11-26 11:23] jmprieur commented on #1426
@vanillajonathan : I don't understand what your scenario is. I don't know what the Apim subscription key is. Can you please elaborate what your scenario is? what code you'd like to write to solve which problem? in which context do you use ADAL.NET ?

[2018-11-26 11:31] Sathis81 opened #1427 "Silent authentication not working with multiple resources"
When upgrading ADAL latest version (4.1.0-Preview or above) in our application, the Silent Token is not working.
We are using multiple resourceURI in our application and it is asking authentication for each resourceURI’s.
The same problem was there in below 3.16.0 versions and it was fixed in 3.19.0 version. But the same problem we are facing with latest versions (4.1.0 & above).

We are using Vis

[2018-11-26 11:40] vanillajonathan commented on #1426
The "Ocp-Apim-Subscription-Key" is used by by the [Azure API Management](https://azure.microsoft.com/en-us/services/api-management/) service.

It is mentioned in the [Import and publish your first API](https://docs.microsoft.com/en-us/azure/api-management/import-and-publish) article.

The Azure API Management service sits in front of my Web APIs (and provides features such as rate limiting, etc).

[2018-11-26 14:09] kamnyborg opened #1429 "AcquireTokenByAuthorizationCodeAsync returns null reference exception when using any type of TokenCache"
Version: ADAL 4.4.1
Platform: net45
Flow: Auth code

Open Id authentication implemented in Identity Server solution.

**Repro**

[code]

When running this code, it fails with the following exception:
System.NullReferenceException: 'Object reference not set to an instance of an object.'

Stack trace:
   at Microsoft.IdentityModel.Clients.ActiveDirectory.TokenCache.StoreToCacheCommon(AdalResultWrapp

[2018-11-26 15:06] jmprieur commented on #1426
@vanillajonathan
ADAL.NET is an authentication library. It's used to acquire tokens for many Web APIs, not only the Azure API Management service

This seems a good suggestion for the [Azure SDK for .NET and .NET Core](https://docs.microsoft.com/en-us/dotnet/azure/), though or for the https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.apimanagement?view=azure-Dotnet nuget packag

[2018-11-26 15:06] #1426 closed, assigned to nobody

[2018-11-26 16:07] vanillajonathan commented on #1426
You are right. Thank you for pointing me in the right direction.

[2018-11-26 16:11] vanillajonathan commented on #1426
Cross-reference: Azure/azure-sdk-for-net/issues/5052

[2018-11-26 16:54] jmprieur commented on #1426
Thanks for the cross reference @vanillajonathan !

[2018-11-26 23:20] henrik-me commented on #1429
@kamnyborg : Did you try this with any other versions of ADAL?
Currently investigating.

[2018-11-27 06:57] kamnyborg commented on #1429
@henrik-me: thank you. I have tried with ADAL 4.4.0 and 4.3.0 as well.

[2018-11-27 07:04] kamnyborg commented on #1429
Just some additional information:

With my own implementation of TokenCache, it goes into OnBeforeAccess with the following TokenCacheNotificationArgs:
![image](https://user-images.githubusercontent.com/2311623/49064363-f5b2b000-f21a-11e8-94a9-3eee073e870b.png)

Then it goes into OnBeforeWrite with the following TokenCacheNotificationArgs:
![image](https://user-images.githubusercontent.com/2311623

[2018-11-27 08:38] jmprieur commented on #1094
Indeed, this is by design.
See https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sso and https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sso-quick-start

[2018-11-27 08:38] #1094 closed

[2018-11-27 17:15] dmcweeney commented on #1425
Hi,

Just some updates...

If I set a custom callback path I get the AAD callback path not registered error.

A sample of the callback url coming into the app is:
GET /signin-oidc?code=theBigLongCode&state=eecfbc7c-e9a5-4f57-a20e-0e357191efec&session_state=80dee8cb-f80d-499c-a9c2-112c201d7fae

If I call UseAuthentication() before I call UseMyMiddleware(), the Asp.Net Core authentication middleware

[2018-11-27 23:32] trwalke commented on #1354
@kennethahn Are there any proxies that you are using that may interfere with the response_mode=form_post? Also, is the server 2012 updated to the latest version? ADFS v3?

So far, we are unable to reproduce your error with the new response_mode=form_post, forms only authentication, the latest version of ADAL and

![adfsv3](https://user-images.githubusercontent.com/30090357/49118497-4d700c00-f259-1

[2018-11-28 01:29] jmprieur commented on #1425
Helllo @dmcweeney
This question is more for https://github.com/aspnet/security, not ADAL.NET

Do you mind posting it there? (and cross reference to help others)
Thanks!

And there are ASP.NET Core 2.1 samples coming, such as https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2 (and incremental consent is next on our list)

This sample is not an ASP.NET Core 2.1 samp

[2018-11-28 10:54] John12x opened #1437 "Can we get user alias from access token"
I have an MVC app accessing WEB API through azure aad access token, I have a requirement to read user alias from access token.

How can I do that.

Any code samples/references are much appreciated.

[2018-11-28 11:55] bgavrilMS commented on #1186
Added a fix for ADAL - no longer triggering the notifications when calling Count (this was the behaviour from ADALv3).

Fix will be avaiable on next release, probably ADAL 4.5.0. Otherwise you can keep the workaround, I don't think it has side effects.

[2018-11-28 11:56] #1186 closed, assigned to bgavrilMS

[2018-11-28 12:43] luismanez commented on #1186
That's so great @bgavrilMS THANK you very much. Looking forward to have the new release. Haven't had the chance to test the workaround yet, and I think I will wait the new release. Thanks again!!

[2018-11-28 16:03] dmcweeney commented on #1425
@jmprieur will add question to [security](https://github.com/aspnet/security) but wont be until at least tomorrow at this stage...

[2018-11-28 16:14] jmprieur commented on #1425
@dmcweeney.
I've asked them the question and am working on improving the ASP.NET Core 2.1 sample (this is the [part](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/aspnetcore2-2-signInAndCallGraph/Controllers/HomeController.cs#L50) I'm improving).

The principal is that we can send a challenge overriding the scopes. Imagine you want new `scopes` (in MSAL.

[2018-11-28 16:41] henrik-me commented on #1427
@Sathis81 : Can you pls. provide repro steps? Please also use the template for opening bugs as that will ensure we get all the information we need to investigate the issue.

[2018-11-28 17:12] dmcweeney commented on #1425
@jmprieur thanks for this - it should help in figuring out how to get through the OpenIdConnectHandler.

Just some background... my app is composed of a web server running on Azure App service, which spools an SPA when invoked and the client interacts with the web app using web api calls.

The incremental consent requirements arise in the backend processing of a subset of the web api calls.

When

[2018-11-28 17:25] carolineocea commented on #1067
Hi
I'm having the same problem with a .net core console app and a class library targeting .NET fwk 4.6.2. I have the .NET frameworks 4.5.1 to 4.72 installed on the machine as well as .net core 2.1.400.

@brentschmaltz Here is part of my stacktrace :
`   at Microsoft.IdentityModel.Clients.ActiveDirectory.Internal.Platform.CryptographyHelper.CreateSha256Hash(String input)
   at Microsoft.IdentityMod

[2018-11-29 12:40] jmprieur commented on #1429
See also MSA's issue [AcquireTokenByAuthorizationCodeAsync should not return a token from the cache if the requested scopes are more than the scopes for the token contained in the cache #693](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/693)

[2018-11-29 12:55] dmcweeney commented on #1425
@jmprieur think I have the answer...

In the OpenIdConnectEvents.MessageReceived handler inject some code to test if the request url is for a code redemption request. If it is then

[code]
The "incremental consent" code redemption callback url looks like:
GET /signin-oidc?code=theBigLongCode&state=eecfbc7c-e9a5-4f57-a20e-0e357191efec&session_state=80dee8cb-f80d-499c-a9c2-112c201d7fae

The "normal

[2018-11-30 10:30] jmprieur commented on #1425
Thanks for the update, @dmcweeney
I've added a PR for incremental consent in a Web App: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/pull/24

Can we close this issue?

[2018-11-30 10:37] jmprieur commented on #1437
You should not read anything from the access token yourself. The access token could become encrypted in the future, and your application would break.
ASP.NET delegates this to the [Microsoft Identity Extension for .NET](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet) library to do it, and populates the ClaimsPrincipal object with the claims.

If you are workin

[2018-11-30 10:39] dmcweeney commented on #1425
@jmprieur looking forward to seeing the other IC samples that come out over time. Closing but will reopen if needs be...

[2018-11-30 10:39] #1425 closed, assigned to jmprieur

[2018-11-30 11:58] jmprieur commented on #1425
Thanks @dmcweeney

[2018-11-30 14:29] jmprieur commented on #1234
Also ADAL.NET supports the v1.0 endpoint, not the v2.0 endpoint. It cannot consume a v2.0 token

[2018-12-03 10:47] kamnyborg commented on #1429
I worked this issue out with a colleague:
Upon registration, my OpenIdConnectAuthenticationOptions Scope was set to "User.Read" via config. This created the issue during AcquireTokenByAuthorizationCodeAsync which cause the null reference exception at one point. When the scopes were set to "openid profile email", it works flawlessly.

[2018-12-03 10:47] #1429 closed, assigned to henrik-me

[2018-12-04 11:51] jmprieur commented on #1416
@arielbh : the `authContext.TokenCache.Clear()` would explain the behavior you see.
Can you please share with me the full content of the AdalServiceException ?

[2018-12-04 11:59] ghost opened #1451 "generateRedirectUriForBroker.ps1 doesn't work or include support for non-Windows platforms"
**Which Version of ADAL are you using ?**
ADAL 3.19.8, ADAL 4.4.1

**Which platform has the issue?**
Mac OS X, Windows 10

**What authentication flow has the issue?**
N/A

Other? - please describe;
The issue is coming in with the script that is used to generate the Redirect URI for Android called generateRedirectUriForBroker.ps1 which the documentation clearly states you should use.  This script h

[2018-12-05 05:59] KaushalKhamar commented on #1346
Resolved by reverting the assembly "Microsoft.IdentityModel.Clients.ActiveDirectory" to Version=3.13.9.1126.

Using latest version of this assembly raised this issue. Version = 4.4.0.0

[2018-12-05 06:59] jmprieur commented on #1346
@KaushalKhamar . What do you use for the `authority` passed to the constructor ?

[2018-12-05 11:17] arielbh commented on #1416
It is not. First it doesn't explain why it behaves different;y on different devices. Second, I've commented it out and it didn't change the behavior I've reported. Sadly.

It's actually not a AdalServiceException. It's ArgumentNullException
[0:] System.ArgumentNullException: Value cannot be null.
Parameter name: id
  at Microsoft.IdentityModel.Clients.ActiveDirectory.UserIdentifier..ctor (System.S

[2018-12-05 16:09] LaurensAdema opened #1453 "AuthenticationContext authority changed when AcquireTokenAsync(string resource, ClientCredential clientCredential) is called"
**Which Version of ADAL are you using ?**
ADAL 4.0.0-preview and up

**Which platform has the issue?**
netcore

**What authentication flow has the issue?**
Acquiring application token for Graph API

**Repro**

[code]

**Expected behavior**
A request to https://login.microsoftonline.com/{0}/oauth2/token should be made, which would return a token.

**Actual behavior**
A request to https://login.micr

[2018-12-05 17:35] bgavrilMS commented on #1417
Hi @arielbh - I had a look at this. Indeed, if the phone is in "Airplane mode" or no connection is available, you get an HttpRequestException. This is a System.Net.Http exception, so you can easily catch it and handle it.

Looking at the code, I see that we do throw an AdalException only on .net desktop, but the check is quite weak - it only checks that a network connetion exists, even if there is

[2018-12-05 18:04] bgavrilMS commented on #1417
Oh, and looking at your code:

1. You should not clear the cache if the authentication fails, that's quite extreme -> the user will have to perform interactive auth again
2. Pretty much all of the AcquireToken* methods will make network calls. So what you code will do:

- try to acquire a token silent --> fail because of the HttpRequestException
- catch this exception and perform an acquireToken -

[2018-12-05 18:04] #1417 closed, assigned to bgavrilMS

[2018-12-05 23:08] jmprieur commented on #1453
@LaurensAdema, `https://login.microsoftonline.com/{0}/oauth2/token`  is not an authority, it's an endpoint. The authority is `https://login.microsoftonline.com/{0}/`

your code should be:
[code]

In ADAL 4.x we have made the verification of the authority more strict than in ADAL 3.x

cc: @henrik-me

[2018-12-06 05:56] henrik-me commented on #1453
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/1346

[2018-12-06 08:52] LaurensAdema commented on #1453
Confirmed working, thanks for the info!

[2018-12-06 08:52] #1453 closed, assigned to nobody

[2018-12-06 15:55] AshleyAsh90 opened #1454 "AcquireTokenSilentAsync returns adalSilentTokenException on consecutive calls with message"Failed to acquire token silently as no token was found in the cache"."
**Which Version of ADAL are you using ?**
ADAL 4.4.1

**Which platform has the issue?**
.net Standard

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Re

[2018-12-06 18:14] jmprieur commented on #1454
@AshleyAsh90 : If the code you use is this one, then I see that you re-create the AuthenticationContext each time without using the cache parameter in the constructor of Authentication. Therefore the token cache will always be empty each time (assuming you are running on .NET Desktop or .NET Core)

You probably want to keep the AuthenticationContext in a variable, and just call the code in the try

[2018-12-06 18:29] jmprieur opened #1455 "AuthenticationContext constructor should throw an explicit exception when authority is not a proper authority"
**Is your feature request related to a problem? Please describe.**
ADAL.NET 4.x is also less forgiving than ADAL 3.x when setting the authority in the constructor of AuthenticationContext. Valid authorities should be, in the case of Azure AD v1.0:
- https://login.microsoftonline.com/{Guid}, where the Guid is the tenant ID
- https://login.microsoftonline.com/domainName, where the domain name is a d

[2018-12-06 18:31] #1437 closed, assigned to nobody

[2018-12-06 18:31] jmprieur commented on #1427
@jennyf19 : can this be also related to the work you've been doing?

[2018-12-06 18:35] jennyf19 commented on #1427
@jmprieur - not sure. I have only looked at the MSAL cache. Would need to dive into ADAL and check what we are doing there. But based on the error, sounds like a similar issue.

[2018-12-06 20:16] alexrainman opened #1456 "[iOS] UIKit exception while acquiring token in background"
**Which Version of ADAL are you using ?**

ADAL 4.4.1

**Which platform has the issue?**

iOS

**What authentication flow has the issue?**

Mobile (Acquiring token silently or interactively in a background thread)

**Repro**

Authenticator will use this in the authenticate method:

[code]

**Expected behavior**

No exception.

**Actual behavior**

Throws exception and acquiring a token fails.

**P

[2018-12-06 22:44] jmprieur commented on #1456
@alexrainman can you please share a bit more about the exception?
can you please [enable logging](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Logging-in-ADAL.Net) ?

[2018-12-07 14:44] AshleyAsh90 commented on #1454
Hi @jmprieur
"-->You probably want to keep the AuthenticationContext in a variable, and just call the code in the try/catch block several times in a reasonable timeframe where the token shouldn't expire"

I had the AuthenticationContext defined as a global variable and just had the try catch block called each time. It wasn't re-initialized in each call.

-->If the code you use is this one, then I

[2018-12-07 17:26] jmprieur commented on #1454
if you don't re-create the authentication context (which is when you pass-in the token cache), you are fine.
Do you want to share your code with me, so that I have a look?
Jean-Marc.Prieur at Microsoft.com

[2018-12-07 19:39] AshleyAsh90 commented on #1454
By re-creating you mean re-initializing right? Just so we are on the same page.
Ok here is the code, I am just calling the getTokenAsync method with the _authContext predefined
[code]
Sorry my formatting maybe messed up. Thanks for helping me !

[2018-12-07 22:53] brentschmaltz commented on #1067
@carolineocea will you have an issue if you build a .net core console app and target .net core 2.0?

[2018-12-08 03:45] jmprieur commented on #1455
@henrik-me @MarkZuber
actually, it seems a number of partners docs and samples improperly use endpoints instead of authority. For instance, I just replied to an issue in this one: https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-app (for azure storage), and proposed a PR to fix this doc article, but I also need to verify which other are affected.

Which makes me think: this m

[2018-12-11 00:41] henrik-me commented on #1455
@jmprieur : Understood. Instead of throwing an exception for token and access end-points we can modify the authority? For other cases I would still prefer we throw exceptions. Thoughts?

[2018-12-11 06:50] jmprieur commented on #1455
@henrik-me : yes. Let's avoid regressing only the scenarios which customer complains about (thart is when they pass endpoints). This will also "solve" #1410

[2018-12-11 10:36] nilsi opened #1458 "Need advice regarding redirect URIs during development"
Hi,

I read the part Redirect URI during development here:
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/leveraging-brokers-on-Android-and-iOS#redirect-uri-during-development

But how is this suppose to work if I already have deployed the app to Playstore? Can I have multiple redirect URIs added to the app registration at the same time without breaking the old URI our cu

[2018-12-11 11:01] jmprieur commented on #1458
hi @nilsi
yes you can have several redirect URI registered in the application registration (in the **Authentication** page)
cc: @trwalke and @jennyf19 for the signature

[2018-12-11 13:29] rokondra opened #1459 "HttpClient is disposed every time"
**ADAL 3.19.8**

**Which platform has the issue?**
net45

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [x] OBO, I guess. The one that uses AAD applications and certificates

**Repro**
Insi

[2018-12-11 15:36] EldinHb commented on #1353
Is there an approximate ETA available for this bug?

[2018-12-11 19:10] jennyf19 commented on #1353
@Eldin66 Sorry for the delay. @bgavrilMS is working on another broker issue and will keep you updated. thanks.

[2018-12-11 19:56] trwalke commented on #1458
Hi @nilsi
When you deployed your app to the app store, did you sign your apk with a specific certificate/keystore? If not. You should create one and share it with developers so that you can use the same redirect URI on all machines since the redirect URI is dependent on the certificate/keystore used to sign the apk. You can then easily add the new redirect URI to the app registration and your cust

[2018-12-11 20:32] akjind opened #1460 "ADAL 4.4 version user name and pwd flow does not work."
**Which Version of ADAL are you using ?** ---> **ADAL 4.4.0.0**
Note that to get help, you need to run the latest preview or non-preview version
For MSAL, please log issues to https://github.com/AzureAD/microsoft-authentication-library-for-dotnet

**Which platform has the issue?** net45

**What authentication flow has the issue?** Desktop Username Password
* Desktop / Mobile
    * [ ] Interactive

[2018-12-12 08:20] jmprieur commented on #1460
@akjind :
- does it work with ADAL.NET 3.19.8 ? (it has the same API surface as ADAL.NET 4.x, so this should not be difficult to update the nuget package and test)
- Are you in an ADFS environment? Is the error AADSTS50058
__

Aside, you should **not** use username/password in a Web App.  Web apps are confidential clients, whereas username / passwords is a public client application flow.
- if you

[2018-12-12 14:50] MatthewSteeples commented on #1459
Internet seems to agree with you - https://aspnetmonsters.com/2016/08/2016-08-27-httpclientwrong/

[2018-12-12 21:25] pksorensen commented on #482
The graph api for office 365 Planner do not accept application accesss:
![image](https://user-images.githubusercontent.com/2718591/49899645-967cae80-fe5c-11e8-8b87-db7b3d39c795.png)

So what is the advice when you really need to do headless access?

I am all interested in doing it right, but i just dont see a solution other then usename/password and using httpclient due to the removal of classes i

[2018-12-13 02:19] lvita commented on #1451
Even on Windows, it's not clear where to find that signature.cmd file.

[2018-12-13 08:23] jmprieur commented on #482
@pksorensen, what is your scenario? is it a Web app?
Here is a page showing what you should use depending on your kind of app: [scenarios](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/scenarios)

[2018-12-13 09:35] MatthewSteeples opened #1462 "Connection pooling appears broken when using AccessTokens with SQL Azure"
**Which Version of ADAL are you using ?**
ADAL 4.4.1 (latest from NuGet)

**Which platform has the issue?**
net472 (Azure App Service)

**What authentication flow has the issue?**
`Task<AuthenticationResult> AcquireTokenAsync(string resource, IClientAssertionCertificate clientCertificate)`

**Repro**
We use this method to populate the AccessToken property of a SqlConnection object to talk to SQL A

[2018-12-13 09:47] pksorensen commented on #482
Its an internal application that will opperate based on customer activity in our product.

The application will update office 365 planner tasks to the team. But the api do not allow application accesss and only delegated work.  But none of us (the people working in the organization) is signed in, the application is working headless.

Ofcause when we start the company, i could manually use a device

[2018-12-13 10:37] jmprieur commented on #482
@pksorensen
I think that the reason why planner does not allow application access, is it accesses data on behalf of a given user (with access controlled on the planner side), and does not allow to access data for it the app itself (that is all user's data).

I get your point for your app operating based on customer activity. Here are a few possible things to try:

Did you try the following?
1. hav

[2018-12-13 10:45] jmprieur commented on #1462
@MatthewSteeples : I understand what you write, but don't understand how this is related to ADAL.NET / authentication as ADAL.NET does not manage SQL connections.

Can you please tell me if you observe something different from the point of view of tokens between ADAL.NET 3.19.8 and ADAL.NET 4.4.1 ? For instance, do I understand that, when you are getting the token in ADA.NET 3.19.8, and assign it

[2018-12-13 11:35] pksorensen commented on #482
Its our company, dont we get to decide if our apps can access our planer data :)

The signed in user is not related to Azure AD in any way. Signed in users are our customers that do not use office365 and we dont want them to see anything related to azure ad/office 365.

So we are back at, it is not less secure to use a password flow over client flow and decided to do the protocol requests ourself

[2018-12-13 11:58] jmprieur commented on #482
Thanks for the context, @pksorensen
I'm confused now if the signed-in user is not related to Azure AD, of why you'd want to use ADAL.

password reset was an example, and the links explains others (MFA etc...)

I'm well aware that not implementing U/P pushes you to re-implement it, which is really not a good idea given all the aspects to take into account. That's the reason why MSAL.NET implements

[2018-12-13 12:01] pksorensen commented on #482
I was using ADAL to authorize the dummy user / application when supported to talk with graph api (to alter groups, plans and such). Everything for our internal opperations

[2018-12-13 12:31] MatthewSteeples commented on #1462
@jmprieur Thanks for your quick response. I enabled logging to try and narrow it down based on your questions, but it doesn't make much sense. Both versions retrieve the token from the cache (so do not communicate with AD) after the first request and both versions return the exact same AccessToken that is then passed in to SQL Server.

That is where the similarities stop, because the 3.19.8 librar

[2018-12-13 13:28] MatthewSteeples commented on #1462
OK, this is weird. I've got a minimal repro (just need to jump through the hoops of making a cert etc so I can share the credentials, so I'll attache that soon) but I've noticed that the smallest change which should be irrelevant makes a big difference: just the act of calling AcquireAccessTokenAsync is enough to make it not re-use the connection, even though the token being returned is identical.

[2018-12-13 13:39] jmprieur commented on #1462
Thanks @MatthewSteeples for investigating and proposing to share a minimal repro, this will be very helpful.
So I understand that there is a weird interaction between the fact of calling AcquireTokenAsync, and the internals of the SqlConnection pool. Maybe something related to Tasks? (Amazing, side effect, BTW!)

heads-up to : @MarkZuber @henrik-me @bgavrilMS

[2018-12-13 13:57] MatthewSteeples commented on #1462
@jmprieur Repro attached. The program runs against a DB in my subscription (which I can grant you access to if needed, it's empty). The AD application is a member of db_owner for this database. All keys and secrets are pre-configured. The program will print out the results of query that shows how many connections are open for this Application Name.

To see the alternative behaviour, move the token

[2018-12-13 14:00] MatthewSteeples commented on #1462
The behaviour that this app shows does not happen if you change the version of ADAL installed to be 3.19.8 (attached to save the inconvenience of fiddling round with NuGet)

[SqlAdBug3198.zip](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/files/2676294/SqlAdBug3198.zip)

[2018-12-13 18:05] jmprieur commented on #1459
This was fixed in ADAL 4.x (which is source compatible with 3.19.8)
Also MSAL.NET does even better.

[2018-12-13 18:07] jmprieur commented on #1458
@nilsi : if you are happy with these answers please close the issue.

[2018-12-14 05:01] MichelZ commented on #482
@jmprieur I think it would be a good idea to deprecate this library for new development (if it isn't already), and make a prominent notice at least on the readme page, possibly on the nuget description, too? Would help stop confusion with this.

[2018-12-14 07:06] jmprieur commented on #482
@MichelZ : we are working hard on moving MSAL.NET to General Availability (GA).
Until this is done we cannot really deprecate ADAL.NET (would most people consume a preview nuget package).
This is coming, though ...

[2018-12-14 07:11] pksorensen commented on #482
Adal works, proven and been working for year, leave it be.

If people need MSAL.Net features they will move :)

[2018-12-14 07:50] nilsi commented on #1458
Hi, @trwalke  @jmprieur so the recommended workflow is to have one redirect URI for the customers that is signed with the key used on Playstore. And then for development share one key that is used within the team for debug builds?

[2018-12-14 11:50] bgavrilMS commented on #1353
Hi @Eldin66 - just a quick update here. We've had several users report an issue on Android, when using the broker. It seems that the bug repros when the application is set to access multiple resources. I am still trying to repro this, but a rough repro scenario is:

1. Configure an app to allow acess to 2 resources (e.g. Microsoft Graph and Power BI)
2. Acquire token interactive for resource1 (the

[2018-12-14 18:57] jmprieur commented on #482
Indeed, @pksorensen : we are not going to remove ADAL.NET. As I wrote, people will update if they want at their own pace. But we are not going to add more features in ADAL.NET than there are already

[2018-12-17 10:43] EldinHb commented on #1353
Hi @bgavrilMS , Thanks for the update. This is is indeed the case for us. First we access Microsoft Graph and then SharePoint.

[2018-12-17 12:11] bgavrilMS opened #1463 "When asking for a token to a different resource through a broker, the token cache deletes the original AT"
**Which Version of ADAL are you using ?**
Note that to get help, you need to run the latest preview or non-preview version
For MSAL, please log issues to https://github.com/AzureAD/microsoft-authentication-library-for-dotnet
latest

**Which platform has the issue?**
Android, possibly iOS (?)

**What authentication flow has the issue?**
Other: AcquireTokenInternactive + AcquireTokenSilent via broke

[2018-12-17 12:21] bgavrilMS commented on #1353
Hi @Eldin66, I have another update. I've inspected the logs of an internal user who also has this problem and I can now conclude there is a failure when calling the broker. I am reaching out to the broker team for further investigation (the broker code is not public, so I can't reference an issue, so I will keep this issue open).

I also found a minor problem in the way the ADAL token cache behave

[2018-12-17 21:58] bgavrilMS commented on #1353
I have a potential fix for one of the 2 causes of failure. Please try it out from:

https://www.myget.org/feed/aad-clients-nightly/package/nuget/Microsoft.IdentityModel.Clients.ActiveDirectory/4.4.2-internal35102fix1353

This fix should decrease the number of interactive logins by quite a bit, but it does not fix the entire problem. It focuses on fixing the ADAL token cache, so scenarios such as:

[2018-12-18 08:08] EldinHb commented on #1353
I’m currently on vacation and sadly don’t have my gear with me to check. I’ll be back at work on 5 January but maybe I can test it before that.

Happy holidays and have a great new year :)

[2018-12-18 11:32] bgavrilMS commented on #1353
Enjoy your holiday @Eldin66, most of us will be out of office soon as well.

There are several customers impacted by this issue and you are the first to report it on GitHub, so I'll keep on adding details here.

[2018-12-18 18:55] MarkZuber commented on #1462
I've verified that we get EXACTLY the same access token on each call through the loop.
However, it looks like something in the SQL layer is looking at REFERENCE equality and not VALUE equality when determining if a new secure connection in the pool needs to be made.

This doesn't (yet) explain why ADAL 3.19.8 doesn't exhibit this behavior but it might at least provide you a work around or provide

[2018-12-18 19:34] aweFalafelApps opened #1467 ""Scope" parameter causing refresh failure with ADFS 3.0"
Using ADAL 4.4.2 w/ ADFS 3.0 automatic token refresh fails with ADFS server error:
`The OAuth access token request received is invalid. A 'scope' parameter was received in the request and AD FS does not support any scope. Received scope: 'openid'.`

I've not been able to find a way to add scopes in this version of ADFS, but perhaps I've missed it.

Any guidance would be appreciated. Could this par

[2018-12-19 12:33] yuriiharasymovych commented on #1454
Gents,
I'm encountering the same. Is there any specifics how to create Authentication context ?
Btw, I'm using the same code for AuthenticationContext initialization as @AshleyAsh90

[2018-12-19 12:54] MatthewSteeples commented on #1462
I've had a look at how SqlConnection is implemented and can't see anything that stands out. It uses GetHashCode from the AccessToken to determine whether the connection has already been pooled or not, but the hash code of the AccessToken returned (like the MD5) is equivalent

I've created a PR which resolves this issue _possibly for only our scenario_. The current behaviour uses a Serialization ro

[2018-12-19 12:58] MatthewSteeples commented on #1462
The PR also has the side effect of being quicker (fewer allocations and less CPU time required)

[2018-12-19 13:49] rokondra commented on #1459
We took the latest available ADAL 4.4.2.0 and the issue seems still there, are we missing something?
[code]

[2018-12-19 15:54] AshleyAsh90 commented on #1454
@jmprieur Is this related to issue #1427 ?
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/1427

[2018-12-19 19:17] MarkZuber commented on #1462
Thank you Matthew for your detailed repro steps and analysis.  The effort and level of detail you are giving here is greatly appreciated.  Our team here is looking at this and will get back to you soon.  I don't think we will be issuing any ADAL releases before the end of the calendar year but we should be able to review and give you some feedback.  If it's approved it would be in a release early

[2018-12-19 21:04] jennyf19 commented on #1427
@Sathis81 @AshleyAsh90 Are you both using Authenticator?

[2018-12-28 15:16] AshleyAsh90 commented on #1427
@jennyf19  I am not using Authenticator app.

[2018-12-30 19:22] shigeyf opened #1471 "tokenCache is always NULL for debug log in ADAL v3.19.8 or later - src/Microsoft.IdentityModel.Clients.ActiveDirectory/Internal/Flows/AcquireTokenHandlerBase.cs"
**Which Version of ADAL are you using ?** - v3.19.8 or later

**Which platform has the issue?** - all platform

**What authentication flow has the issue?** - no issues in authentication flow

**Other? - please describe**;
This is a debug log issue - please see the code below in the constructor of AcquireTokenHandlerBase.
There is no code to set TokenCache instance to a 'tokenCache' private propert

[2019-01-02 18:19] jennyf19 commented on #1456
@alexrainman - any update on this? are you able to provide logs, as mentioned by @jmprieur?

[2019-01-03 18:42] jennyf19 commented on #1471
@shigeyf This has been fixed and changes are in dev.

[2019-01-07 08:22] talk2stephan opened #1474 "[Doubt] Leveraging brokers on Android and iOS( Xamarin Forms )"
My doubt is regarding this [wiki](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/leveraging-brokers-on-Android-and-iOS) page

**Doubt 1**
Is it possible to implement Azure AD B2C Authentication using **Microsoft Authenticator App**

**Doubts 2**

If it is possible, Do we have some sample demonstrating the implementation of the same?

**Doubt 3**

Do we have some documenta

[2019-01-07 11:02] roblangston opened #1475 "[Question] Token Request Windows Server 2016 ADFS from .Net Core Console Application"
**Which Version of ADAL are you using ?**
ADAL 4.4.2

**Which platform has the issue?**
.Net Core 2.1

Other? - please describe;
Could someone describe the correct procedure of requesting a token via ADFS from a .Net Core 2.1 console application.  The ADAL library doesn't seem to support the scenario when a user is already logged into a machine joined to a domain and you don't want the user to re-

[2019-01-09 04:41] jmprieur commented on #1474
@talk2stephan
you are right B2C application cannot leverage the brokers, for two reasons:

1. B2C apps are written in MSAL.NET (not ADAL.NET), whereas for the moment broker is only supported by ADAL. This is coming to MSAL though.
2. even when MSAL.NET supports brokers, we don't think B2C is supported.

[2019-01-10 07:11] sourcefile opened #1477 "AcquireTokenSilentAsync fails to refresh access tokens"
**Which Version of ADAL are you using ?**
Note that to get help, you need to run the latest preview or non-preview version
For MSAL, please log issues to https://github.com/AzureAD/microsoft-authentication-library-for-dotnet

ADAL 4.4.2

**Which platform has the issue?**

Xamarin.Forms / Xamarin.Android

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ]

[2019-01-10 08:50] myurashchyk opened #1478 "Adal 4.4 can't acquire token using Integrated authentication on Windows"
**Which Version of ADAL are you using ?**
ADAL 3.19.8, ADAL 4.4.2

**Which platform has the issue?**
net45

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [x] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

[2019-01-10 13:44] EldinHb commented on #1353
I am back from my holidays. Do you still need me to test for you or did you already make progress?

[2019-01-10 14:28] bgavrilMS commented on #1353
Hi @Eldin66 , welcome back! We made some progress in the sense that we added 2 potential fixes and a lot of logging :). It seems that everyone experiencing broker issues is actually facing a different problem.

Could I ask you to try this package please? https://www.myget.org/feed/aad-clients-nightly/package/nuget/Microsoft.IdentityModel.Clients.ActiveDirectory/4.4.2-internal01002fix1353

Please m

[2019-01-10 21:10] jennyf19 opened #1479 "Duplicate Java type found when using MSAL v2 and ADAL v4.4.2"
**Which Version of ADAL are you using ?**
Adal v.4.4.2

**Which platform has the issue?**
android

**What authentication flow has the issue?**
* Desktop / Mobile
    * [X] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Repro*

[2019-01-10 21:11] jennyf19 commented on #1479
fixed with https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/pull/1476

[2019-01-11 07:02] #1474 closed, assigned to nobody

[2019-01-11 10:08] bgavrilMS commented on #1451
If you configure some random redirect uri, then you will get a runtime exception complaining that the uri is not correct. The exception will tell you which redirect uri to use.

[2019-01-11 11:40] EldinHb commented on #1353
Thank you @bgavrilMS :).

I have tried the nightly package and it seems that the problem has been partially fixed. The token now refreshes silently after an app restart. The only problem that remains is that during the initial login the user has to authenticate twice. Here are the logs:

[code]

[2019-01-11 12:05] bgavrilMS commented on #1353
Thank you.

When you perform the AcquireTokenSilent call, what do you provide as user identifier / login hint? I believe you provide the UniqueID, but in fact the UPN (the email) should be provided. The reason is that we need to identify the account to be used in teh silent call on the broker side.

This is known to you from the interactive call as result.UserInfo.DisplayableId;

Here is a code sa

[2019-01-11 12:52] dskantz opened #1481 "AcquireTokenSilentAsync parameters should include scopes to be requested"
When using ADAL to Aquire App-tokens using the Client Credential Flow, there should be a way of specifying which scopes to request from the token endpoint.

When I'm using the Code Flow driven by Microsoft.Owin.Security.OpenIdConnect the configuration for OpenIdConnect lets me specify which Scopes to request. And using the resulting Code from that flow with AcquireTokenByAuthorizationCodeAsync the

[2019-01-11 12:56] EldinHb commented on #1353
I did use the UniqueID. I changed it to use the UPN and the application behaves the same.

This is my exact code for the silent call:

[code]

[2019-01-11 14:35] #1459 closed, assigned to nobody

[2019-01-11 15:43] bgavrilMS commented on #1463
Fixed

[2019-01-11 15:43] #1463 closed, assigned to bgavrilMS

[2019-01-11 16:18] jmprieur commented on #1481
@dskantz : I'm a bit confused.
ADAL targets the Azure AD v1.0 endpoint, and therefore you specify a resource: See https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Client-credential-flows

If you want to specify scopes, then you need to use MSAL.NET. See https://aka.ms/msal-net-client-credentials. Note that even then, the scope is reduced to aResource/.default as Client cred

[2019-01-11 17:17] bgavrilMS commented on #1397
We have added a ctor for AuthenticationContext that takes in an HttpClient. It will solve this issue. It will be available in the next release.

[2019-01-15 08:11] dskantz commented on #1481
We are using the ADAL to acquire tokens from a ADFS 2016 on prem. According
to the OAuth2.0 Spec (https://tools.ietf.org/html/rfc6749#section-4.4) when
using the Client Credential Flow the scope parameter is optional. You are
right that there is no user in the loop to consent, however, the
application has been granted permission to the scope.

When requesting a token using Client Credential Flow f

[2019-01-16 02:42] henrylilei commented on #1286
@mixxit We are working on the same scenario and hitting on the same error. Could you please let me know what you did to the cert to make it work on linux? Thanks!

[2019-01-16 03:35] henrik-me commented on #1462
This is included in ADAL v 4.5.0

[2019-01-16 03:35] #1462 closed, assigned to nobody

[2019-01-16 09:54] ajaysbsic commented on #1454
Hi, I am stuck in the same problem , any suggestion?

[2019-01-16 22:41] #1479 closed, assigned to nobody

[2019-01-16 22:41] #1471 closed, assigned to nobody

[2019-01-17 18:54] ritchxu opened #1484 "PlatformParameters not having PromptBehavior for netstandard"
We're in the process of convert our project from netfx to netcore, after switching to netstandard, we noticed in contrast to netfx, the library's `PlatformParameters` class doesn't have constructors with control over prompt behavior. Is there a reason for this design?

[2019-01-18 16:09] bgavrilMS commented on #1484
Hi @ritchxu

Unfortunately .Net Core does not have any UI libraries, so we cannot show UI. .NetCore 3.0 should bring WinForms / WPF but until then, we cannot host a web browser in a UI panel.

The approach we are considering is to open the default OS browser instead of the a self hosted one. However, this work will be done in MSAL, our next gen auth library https://github.com/AzureAD/microsoft-aut

[2019-01-18 16:09] #1484 closed, assigned to nobody

[2019-01-18 16:15] ritchxu commented on #1484
@bgavrilMS you're right, we do have a command line application in which we invoke PowerShell cmdlet to access Azure KeyVault, and that requires us to authenticate. The authentication actually works if we're on corp. network because it leverages the Windows Integrated Authentication. However, problem starts to surface if we are on VPN. Then KeyVault is requesting MFA which needs a UI to interactive

[2019-01-18 16:15] bgavrilMS commented on #1475
.Net core does not have any UI indeed. However, you seem to be describing 2 scenarios:

1. Integrated Windows Auth - this will log in a user without showing UI if they are domain joined or AAD joined. For .Net Core, this is not available on ADAL. However, it is available on our next gen auth library MSAL https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki

2. A service acco

[2019-01-18 16:20] bgavrilMS commented on #1484
Yes, unfortunately we do not have a solution involving ADAL and .Net Core for this. You can get creative and create a .Net Classic process that handles the auth to work around this.

You can use Device Code Flow https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Device-profile-for-devices-without-web-browsers which is supported on netcore.

We will support this type of scenar

[2019-01-18 16:22] bgavrilMS commented on #1427
@Sathis81  - we have made some fixes around Android + Authenticator in ADAL 4.5.0. Please try it out. If still fails, please email full logs (including pii) to bogavril@microsoft.com

[2019-01-18 16:24] bgavrilMS commented on #1415
What is NSSM ? If it's a windows service, we can't show UI and an exception is thrown. What sort of exception do you get? Can you send logs?

Please use the template provided to fill in bugs.

[2019-01-18 16:24] bgavrilMS commented on #1397
This has been implemented in ADAL 4.5.0

https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/with-proxy

[2019-01-18 16:24] #1397 closed, assigned to bgavrilMS, henrik-me

[2019-01-18 16:30] roblangston commented on #1475
Many thanks for taking the time to reply but I am unsure point 1. above is a valid solution.  Using the MSAL library, ADFS is not supported as an authority when using Integrated Windows Auth.

[2019-01-18 17:13] jamesmcroft opened #1486 "Cannot install to project with latest Xamarin.Android.Support library"
**Which Version of ADAL are you using ?**
ADAL 4.5.0

**Which platform has the issue?**
xamarin android

**Repro**

Try to install the Microsoft.IdentityModel.Clients.ActiveDirectory 4.5.0 NuGet package to an Android project which has the expected latest Xamarin.Android.Support libraries installed (version 28.x).

**Expected behavior**
The NuGet package should install successfully.

**Actual behav

[2019-01-18 17:49] bgavrilMS commented on #1475
Right, you have a point, I believe ADFS is not yet supported in MSAL. @jmprieur can confirm.

What about using client credentials, i.e. authentication not on behalf of a user, but on behalf on an app itself? It doesn't seem right that a service account is getting a token.

[2019-01-19 22:00] jamesmcroft commented on #1486
I've created a PR for this issue but I noticed that the current target version is Android 8.1 which only supports a maximum Xamarin.Android.Support library of 27.0.2.1.

I've revved them to this version but should there be a consideration to move to Android 9.0 and the 28.x libraries?

[2019-01-20 22:06] roblangston commented on #1475
Thanks again for coming back.  If I add a little context, maybe it will be clearer as to what we are trying to achieve.  Also I hope this is not going too far off topic.  We have a suite of WebAPIs written in .Net Core 2.1.  They are secured against claims being returned in the token from the ADFS server.  i.e. the controllers are decorated with the [Authorize] attribute specifying the role names

[2019-01-21 08:45] sourcefile commented on #1477
Any update on this? As mentioned in the issue, it's quite a big problem for one of our application. Any help on the matter would be greatly appreciated.

[2019-01-21 10:35] bgavrilMS commented on #1475
Interesting scenario, I am not that familiar with groups so adding @jmprieur to see if he can help

[2019-01-21 15:51] alexrainman commented on #1456
The issue is not there in the latest version. Thanks

[2019-01-21 15:51] #1456 closed, assigned to nobody

[2019-01-21 23:38] jennyf19 commented on #1456
@alexrainman Thanks for the update.

[2019-01-22 08:02] jmprieur commented on #1477
@bgavrilMS : this is similar to some of the issues you are investigating?

[2019-01-22 09:50] jmprieur commented on #1475
@roblangston : did you have a look at the following sample:
https://github.com/Azure-Samples/active-directory-dotnet-webapp-groupclaims ?
It's not specifically about ADFS, but this should help you?

Also, are you hitting adfs directly (do you pass an ADFS authority in the AuthenticationContext constructor) ? or is it federated with Azure AD ? (you pass https://login.microsoftonline.com/common or

[2019-01-22 11:37] bgavrilMS commented on #1477
Possibly. @sourcefile - could you please update to ADAL 4.5 and repost the logs (you can email them at bogavril@microsoft.com as they might contain PII). We've added a few fixes in this area in ADAL 4.5 and also we have added a LOT more logging to understand how the broker is failing.

[2019-01-22 14:49] sourcefile commented on #1477
I tried upgrading to ADAL 4.5 and running again. Unfortunately, the issue still persists.

As requested, I’ve submitted the authenticator logs. The ID is BQ3AH6QZ.

As a side note, I should inform you there is also a support ticket running from Azure regarding this topic. To prevent those issues from going out of sync, I'll add this ticket ID as well: 119012125000270

[2019-01-22 19:10] henrik-me commented on #1486
Fix has been merged. Will be part of the next release of ADAL.

[2019-01-23 12:24] GIRISHKUMARMS commented on #1178
what was the root cause as I am getting same error in my code.

Please help.

Regards
GIrish

[2019-01-23 16:01] bgavrilMS commented on #1477
Hi @sourcefile  - I would require the ADAL logs again please, not the Authenticator logs.

I am not sure where you've submitted the logs - could you just post them here if they have no PII or send them via email?

[2019-01-23 21:38] jamesmcroft commented on #1486
@henrik-me thanks for merging this fix.

[2019-01-24 13:15] sourcefile commented on #1477
Hi @bgavrilMS I've submitted the logs via the option in the MS Authenticator itself ([Help]-->[Send Logs]).

At any rate, I made a retry since I focussed on the Authenticator logs last time. The ADAL logs are below:

[code]

[2019-01-24 18:05] bgavrilMS opened #1488 "Custom HttpClient not used for every call to the service"
**Which Version of ADAL are you using ?**
4.5

**Which platform has the issue?**
all

**Repro**
Use the new AuthenticationContext constructor that takes in an `HttpClient`. Some flows use a new HttpClient everytime.

**Expected behavior**
the passed in httpclient should be used everywhere

**Actual behavior**
the httpClient is not used in some calls, such as the auth code request.
the custom httpC

[2019-01-24 18:15] bgavrilMS opened #1489 "Occasional NullReferenceException comming from ADAL Http calls"
**Which Version of ADAL are you using ?**
4.5

**Which platform has the issue?**
desktop

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Repro**
1. Perf

[2019-01-24 19:06] bgavrilMS commented on #1477
Thank you @sourcefile .

First - please make sure that all the permissions are set correctly for the app, as described in our wiki: . The GET_ACCOUNTS permission is no longer sufficient. To be granted access to an account, apps should either use AccountManager.newChooseAccountIntent() or an authenticator-specific method. After getting access to accounts, an app can can call AccountManager.getAccou

[2019-01-25 16:58] bgavrilMS commented on #1477
@sourcefile - could you try to run this piece of code in your app please and tell me what is being returned? Please make sure that you have unset and re-set the permissions on the app:

GET_ACCOUNTS
USE_CREDENTIALS
MANAGE_ACCOUNTS

[code]

The strange thing is that my Authenticator returns the accounts everytime, and I tried on my Samsung Galaxy which is running a pretty new version of Android...

[2019-01-26 15:49] roblangston commented on #1475
Thanks, I will take a look at the examples you have provided.

There is no Azure interaction present, it is all on-premises ADFS.

[2019-01-28 08:24] sourcefile commented on #1477
@bgavrilMS This is what I'm getting after pasting the snippet in MainActivity.cs.

First, I get a pop-up asking me to select an account. This is an android native pop-up, not the authenticator (I guess that's to be expected since we're calling Android APIs here) Both accounts here are expected. One is my work account (the redacted one), the other is the test account for the purpose of this issue.

[2019-01-28 10:20] bgavrilMS commented on #1477
@sourcefile - and before the pop-up, was the accounts variable an empty array or null? The AT will expire in 1h.

[2019-01-28 13:20] sourcefile commented on #1477
@bgavrilMS Both variables were filled with the account. I also checked before the attempt to silently refresh and directly after but before falling back to interactive login. Every time both variables contain the account

[2019-01-30 10:28] Ravikant02 opened #1490 "iOS Microsoft Authenticator app notification does not work."
I've used this library for Xamarin Forms project and whenever I get notification for login approval in iOS Microsoft Authenticator app and approve it. In app it shows that it has approved it but actually it does not, my login process gets stuck here forever and I'm unable to login into services. Where it works fine in Android mobile always. Can you guys help me? Any help will be appreciated.

[2019-01-31 04:01] jennyf19 commented on #1490
@Ravikant02 which version of ADAL are you using? Can you include logs?

[2019-01-31 07:30] Ravikant02 commented on #1490
@jennyf19  I'm using version 3.19.3 of ADAL
Here is log

2019-01-31 12:50:47.781725+0530 AdalLogin.iOS[26634:849662] 2019-01-31T07:20:47.7816570Z: 3fdfd6e2-7b22-4b43-9c2a-1cb610c96d14 - LoggerBase.cs: Storing token in the cache...
2019-01-31 12:50:47.783200+0530 AdalLogin.iOS[26634:849662] 2019-01-31T07:20:47.7831490Z: 3fdfd6e2-7b22-4b43-9c2a-1cb610c96d14 - LoggerBase.cs: An item was stored in the

[2019-01-31 16:48] jennyf19 commented on #1490
@Ravikant02 Looks like you need to set the entitlements. could you try with the latest version of ADAL [v4.5](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/ADAL-v4.5.0), set the [entitlements](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Xamarin-ios-specificities#enable-keychain-access), check this documentation on broker auth with

[2019-02-01 10:39] Ravikant02 commented on #1490
@jennyf19 Thank you so much for your help. I could solve this issue. It's working fine now. Closing this issue.

[2019-02-01 10:39] #1490 closed, assigned to nobody

[2019-02-01 15:41] WolfgangGogg commented on #1478
Having the same issue - any updates? In documentation at https://aka.ms/adal-iwa is stated that all users synced from AD should be reported as "federated". My test user is synced but is still reported as "managed". SSO using a Web Browser based flows works like a charm. So i need to fully rebuild the Web Browser flow to get this working? Did anyone solve this or has a working solution?
Thanks!

[2019-02-01 16:24] jennyf19 commented on #1490
@Ravikant02 thanks for the update. What did you do to fix it (in case others run into a similar issue)?

[2019-02-01 16:31] Ravikant02 commented on #1490
I've updated ADAL to v4.5 and set the entitlements that's it.

[2019-02-01 16:45] jennyf19 commented on #1490
@Ravikant02 awesome. thanks again.

[2019-02-04 01:05] msardi23 commented on #1033
What was the outcome of this issue? I am seeing the same thing in a React Native app. Unfortunately there is no supported ADAL SDK for react native (why????) so not going to post specifics but in short, with Broker auth enabled the `aquireTokenAsync` works fine (prompts for the broker app and generate a token); however `aquireTokenSilent` fails as the cache is empty.

If I switch to use an App Id

[2019-02-04 11:34] brenkehoe opened #1492 "Error in token acquisition when password contains special characters"
**Which Version of ADAL are you using ?**
4.5.0

**Which platform has the issue?**
net45

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [x] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;
Calling AcquireTok

[2019-02-04 12:11] ghost commented on #1486
When will a build of this be available as pre-release or a full release?  The requirements of 27.0.2 instead of 27.0.2.1. or 28.0.0.1 is not allowing me to include the ADAL library which in turn is blocking all Android development of a project I'm working on.

[2019-02-04 14:00] jmprieur commented on #1481
ADAL.NET supports ADFS 2016, and you can pass a resource.
Otherwise, MSAL.NET will support ADFS 2018 soon.
Which version of ADFS do you target, @dskantz ?

[2019-02-04 15:39] bgavrilMS commented on #1492
Can repro, I tried a password similar to

`Na<&>ko&&<bzz>`

[2019-02-04 17:15] bgavrilMS commented on #1492
MSAL is not affected. It seems that the underlying issue is that we set the Content-Type to

`Content-Type: application/x-www-form-urlencoded; charset=utf-8`

It's the charset that is problematic. Removing it makes the http request pass.

I will follow up with the server guys to better understand if this a bug on their side. I cannot just remove the charset as it was added a long time ago to suppo

[2019-02-04 18:09] bgavrilMS commented on #1353
Hi @Eldin66 - appologies for the late response. I think we managed to fix this issue in ADAL 4.5 - please try it out. Consider clearing the cache first to start fresh.

There is another issue with ADAL + broker, but it doesn't seem to affect you https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/1477

[2019-02-04 18:15] #1427 closed, assigned to jennyf19

[2019-02-04 18:28] dskantz commented on #1481
At the moment ADFS 2016, and yes I can pass a resource but not scopes.

Perhaps I’m not interpreting the specs correctly? I was under the impression that sending requested scopes in Client Credential Flow was ok and actually something supported by the standard. Not trying to win an argument I’m just trying to figure out if I’m doing this the wrong way before I’ve strayed too far from the OAuth spe

[2019-02-04 20:03] jmprieur commented on #1481
Sorry, @dskantz I just realized why I was confused by your question.
ADAL.NET leverages the Azure AD v1.0 endpoint, which is not OIDC/Auth2.0 compliant. The Azure AD v2.0 endpoint (Microsoft Identity Platform v2.0) on the other hand **is** OIDC/Auth 2.0 compliant, however, MSAL.NET (which leverages it) does not support ADFS yet.

to use ADAL, you just pass as `resource` the resource part (App ID U

[2019-02-05 07:25] EldinHb commented on #1353
Hi @bgavrilMS, no worries. I will test it out asap and report my findings.

[2019-02-05 15:55] bgavrilMS commented on #1477
I keep looking and looking at the stack trace and the logs and I can't fully piece together was has happened.

It looks like after the token expiration the flow was:

1. Check the token cache - an AT is found, but is is expired (OK)
2. There is no RT in the token cache (expected, the RT is on the broker), so delete the expired AT as well.
3. Token cache logic ends, now try to use the broker
4. See

[2019-02-06 01:52] lodejard opened #1493 "AcquireTokenByDeviceCodeAsync cannot acquire jwt tokens with "aud": "spn:xxx" prefix"
**Which Version of ADAL are you using ?**
ADAL 4.5.0

**Which platform has the issue?**
netcore

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [x] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Is this

[2019-02-06 11:53] jmprieur commented on #1493
@lodejard : To unblock you (and this is a hack), you could set (even programmatically and locally using the Environment class in C#) the `ExtraQueryParameter` environment variable.

Now to really fix the problem
- I'd like to be sure I understand: are you writing that you've observed a recent a regression with the same version of the library (that is a regression on the Azure AD side?)
- We would

[2019-02-06 20:49] jameswhollister opened #1494 "[Used in PowerShell] System.Net.Http, Version=4.1.1.0"
Just switched to a new dev machine and seeing a problem I didn't have on my other one. When I try to instantiate a new AuthenticationContext it throws the exception:

`Could not load file or assembly 'System.Net.Http, Version=4.1.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.`

Some prerequisite net core library or some

[2019-02-06 21:36] lodejard commented on #1493
Thanks @jmprieur I'll give that a try. That env var is a very scary feature, but if it works I guess I'm glad it's there.

* I'd like to be sure I understand: are you writing that you've observed a recent a regression with the same version of the library (that is a regression on the Azure AD side?)

It was hard to choose the right answer for the "new or existing app" question. This is existing app

[2019-02-07 02:28] jmprieur commented on #1494
@jameswhollister : do you use ADAL ? or try to build it?
if you try to build it, I would suggest you have a look at https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Pre-requisites-to-build-ADAL.NET-and-MSAL.NET

[2019-02-07 03:36] jameswhollister commented on #1494
This project is a powershell module, I'm referencing  the Microsoft.IdentityModel.Clients.ActiveDirectory nuget package.

[2019-02-07 09:26] EldinHb commented on #1353
Hi @bgavrilMS, I tested version 4.5 and can confirm that the issue has been partially fixed. The token now gets silently refreshed after an app restart, for us this was the most important fix here. Thank you!

The issue that still remains is that the user has to login twice on initial login. Once using https://login.windows.net/ and second time https://graph.microsoft.com.

[2019-02-07 11:59] sourcefile commented on #1477
Hi @bgavrilMS,

Thanks for your mentioning of PlatformParameters. Although the use of broker is always set to true via a constant variable, I did not send the PlatformParams when trying to authenticate silent, resulting in the logging below.

[code]

After adjusting the code a bit to add the PlatformParameters to the silent call, I end up with the following logging (note this logging is only the r

[2019-02-07 14:26] bgavrilMS commented on #1353
Not sure I fully understand what you mean by your last statement. I assume that you need to login once for Sharepoint and once for Graph?

I expect that if you get a token for resource R1 interactively, then you should be able to perform silent calls to get tokens for R2 (and R1 of course).

Are you making the silent calls explicitly?

[2019-02-07 15:07] EldinHb commented on #1353
Yes, that is exactly what I mean. After we interactively got the token for R1, we cannot get the token silently for R2. It works on iOS and not on Android.

[2019-02-07 15:35] bgavrilMS commented on #1353
I'm going to be out of office for the next ~2 weeks and won't be able to look into this. @jmprieur, @trwalke  - can you help ? I already modified our Android sample app to use the broker and to acquire tokens for 2 different resources, which seems to work. So something else is going on here...

[2019-02-07 18:55] bgavrilMS commented on #1477
Ok, now it seems to not be able to get the accounts from the broker. Could you try to run the code from earlier and try again please? This is:
[code]

I'm also adding @trwalke who might be able to help, as I'm on holiday and traveling starting tomorrow.

[2019-02-07 22:55] bgavrilMS commented on #1492
Server guys confirmed this a bug on their side. Will track this getting fixed and update the thread.

[2019-02-08 06:22] Anubhab1991 commented on #1477
I tried doing as you suggested but still it is unable to get access token silently.

It opens and closes MSAuthenticator automatically but still authenticator pops up.

[] 2019-02-08T04:52:10.4488170Z: e5235a54-9dd5-4deb-ae23-60acd7c402a2 - AdalLoggerBase.cs: Loading from cache.
[] 2019-02-08T04:52:10.5275540Z: 00000000-0000-0000-0000-000000000000 - AdalLoggerBase.cs: Deserialized 1 items to token

[2019-02-08 12:35] jmprieur commented on #1493
@lodejard
the api-version question is a good question. I don't know.
Indeed, you would have to transform the resource into scopes. See https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Adal-to-Msal#scopes-for-a-web-api-accepting-v10-tokens.

Do you think we can close this issue?

[2019-02-08 14:55] AshleyAsh90 commented on #1454
Any updates on this?

[2019-02-08 15:07] jmprieur commented on #1454
I'm confused.
can you please share with us (attach) a solution with repro steps?

[2019-02-08 15:18] ajaysbsic commented on #1454
Yes, Open entitlement file , allow keychain and in project properties add your entitlement in bundle signing

[2019-02-08 15:26] jmprieur commented on #1454
@ajaysbsic : did anybody in this thread mention anywhere that this was with Xamarin iOS?

[2019-02-08 15:32] ajaysbsic commented on #1454
I didn’t notice that , removing my comment

[2019-02-08 15:33] jmprieur commented on #1454
you did not need to, @ajaysbsic. You might be right, that this might be on iOS :)
It's just that this whole thread is completely lacking context.

[2019-02-08 15:44] AshleyAsh90 commented on #1454
@jmprieur Sorry, I will attach a solution soon. But to provide context, I am using this as a part of authentication call in a .Net standard project.

[2019-02-08 17:02] lodejard commented on #1493
Yep, can close.

Also, update on this, it turns out the v2 url does work for kubernetes authentication (using 'oidc' auth provider instead of 'azure' auth provider).

One last question. It looks like the new v2 endpoint is providing groups claims incorrectly when there are so many they are provided via url reference. That's a server-side bug. Do you know the best place to report that?

[2019-02-08 17:02] #1493 closed, assigned to nobody

[2019-02-08 17:07] jmprieur commented on #1493
This is not a bug. this is by design
when a user belongs to too many groups, the size of the token would be bigger than the limit size for URLs or HTTP headers. Therefore Azure AD provides a URL to fetch the group.

you can find more information about this here: https://github.com/Azure-Samples/active-directory-dotnet-webapp-groupclaims#groups-overage-claim

[2019-02-12 02:28] rbev commented on #1451
@bgavrilMS yes and you can but generating a production-signed build may require gated checkins etc, so you need to be able to determine this string ahead of time for the production builds.

here's the contents signature.cmd from before it vanished from the repo, note that it will still return a string even if you get the password/ wrong.

[code]

[2019-02-12 03:21] rbev commented on #1451
For those who are interested in a powershell-only solution I ended up using `keytool -list` to get a non-binary version of the SHA1 hash.

[code]

From there you just need to parse the output and convert the hex strings into base64, which is fairly trivial with regex and `System.Convert`
I ended up just printing a redirectUri for every key in the keystore, clearly that's not ideal on a large keyst

[2019-02-12 06:01] Anubhab1991 commented on #1477
Any updates on this?
I am trying to achieve the same but the AcquireTokenSilentAsync methods gives me a exception saying that there is no token is cache and then opening MSAuthenticator and closing it up.

PFB my code

[code]

What i cant understand is why it is removing from token cache and then again trying to open MSAuthenticator to get new token as shown in Bold below.

`[Mono] Assembly Ref ad

[2019-02-12 10:00] jmprieur commented on #1451
@jennyf19 : shouldn't we re-add the scripts?
do we want to update the wiki with the suggestion above?
Is it the same for MSAL.NET ?

[2019-02-13 09:20] emilssonn opened #1501 "Using ADAL in ASP.Net Core, service to service"
**Is your feature request related to a problem? Please describe.**
I cannot find documentation or a sample how to use ADAL (.net core) when doing service to service calls in a none console app.

**Describe the solution you'd like**
Documentation or sample of how to use ADAL (.net core) in the most optimal way when doing service to service calls and not in an console application.

For example, if I

[2019-02-13 12:55] GroupeElanz commented on #1488
Same issue here.
Using a proxy is mandatory for us, so we use a custom HttpClient to specify the proxy (as described here: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/with-proxy) but not all the calls use this proxy.
Is there a workaround except setting a proxy at system level?

[2019-02-13 15:19] jmprieur commented on #1501
@emilssonn.
Do I understand that you want to have a Web App or Web API that calls services in its own identity (not on behalf of a user?).
Whatever the case, since these are confidential client applications, there are several ways of injecting the client creds. This can be in config file for your Web App / API ? or getting from KeyVault (we are missing a sample for this use case)
which would you b

[2019-02-14 07:08] Anubhab1991 commented on #1477
@bgavrilMS @trwalke any updates on this thread?

[2019-02-14 07:09] emilssonn commented on #1501
@jmprieur
Yes, I have a web api that calls services in its own identity (not on behalf of a user).
What I am looking for is basically best practice for managing the lifetime of the AuthenticationContext and if I should use my own HttpClient for best performance and connection/socket use.

The daemon apps and the example you provided uses static AuthenticationContext, is that considered ok for web

[2019-02-14 10:18] jmprieur commented on #1501
@emilssonn. Given that this is a daemon app a static/singleton AuthenticationContext (ADAL) / ConfidentialClienApplication (MSA) is absolutely fine.

If your Web API was calling other downstream APIs on behalf of users, that would not be the case (as there would be a need for one cache per user)

What do you mean your own HttpClient? you mean initializing AuthenticationContext with yours?

[2019-02-14 10:57] bgavrilMS commented on #1488
Yes, could you try to use the WebRequest.defaultwebproxy described in the same wiki page in the last paragraph?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: GroupeElanz <notifications@github.com>
Sent: Wednesday, February 13, 2019 7:56:07 PM
To: AzureAD/azure-activedirectory-library-for-dotnet
Cc: Bogdan Gavril; Author
Subject: Re: [AzureAD/azure-activedi

[2019-02-14 11:40] emilssonn commented on #1501
@jmprieur. Given that a web api does **not** call other downstram APIs on behalf of users, it should be ok to use static/singleton AuthenticationContext?

Exactly, initializing AuthenticationContext with my own HttpClient, is that the most optimal way to go?

[2019-02-14 12:03] jmprieur commented on #1501
@emilssonn , I think so. asking @henrik-me @bgavrilMS @MarkZuber @jennyf19 @trwalke for confirmation.

[2019-02-14 15:06] GroupeElanz commented on #1488
Hello, this works and that's the same behavior as setting the proxy on web.config, but our customer wants to isolate only the ADAL calls through a specific proxy with specific credentials.

[2019-02-14 20:46] henrik-me commented on #1501
Initializing AuthenticationContext with your own HttpClient makes sense.

The simplest may be to use a static however the AuthContext is not thread safe and if used across threads then you may run into issues.

[2019-02-15 06:55] rishavraj10 commented on #695
Hi, I am noticing the similar error intermittently. We are using 2.14 version of ADAL library. Are the internal retries not in place in this version. Were they added only in v3?
@kpanwar can you help?

[2019-02-15 07:04] rishavraj10 opened #1502 "AquireTokenAsync is failing with System.Net.WebException: The operation has timed out"
Hi,

We are using 2.14 version of ADAL library for dotnet. We are seeing the intermittent calls failing for AquireTokenAsync with System.Net.WebException: The operation has timed out.

Are there internal retries implemented? Will upgrading the ADAL verison help us with this issue? or should we add external reties around this?

[2019-02-15 08:02] emilssonn commented on #1501
@henrik-me @jmprieur . The sample https://github.com/Azure-Samples/active-directory-dotnet-webapp-webapi-oauth2-appidentity uses a static AuthenticationContext in the controller, is that considered thread safe? It sounds like the safest bet is to always create a new AuthenticationContext when getting a accesstoken (including from the built-in cache).

[2019-02-15 10:12] jmprieur commented on #1502
@rishavraj10, ADAL v3/v4 implement one retry. [Exceptions](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Exceptions-in-ADAL.NET) also surface the Headers in including the retry-after headers.

But you might want to move directly to MSAL.NET. [See retry in MSAL.NET](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/retry-after)

[2019-02-15 10:13] jmprieur commented on #695
@rishavraj10 : I've already replied in https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/1502

[2019-02-15 14:43] trwalke commented on #1477
Hi @Anubhab1991 I am looking at your issue at the moment and I will have an update for you shortly.
Thanks

[2019-02-17 04:57] myokeeh opened #1504 "AADSTS50155: Device is not authenticated"
I have a UWP app that has been using ADAL and it's been working up until today. Is this just a authentication service unavailability or something else?

    Microsoft.IdentityModel.Clients.ActiveDirectory.AdalServiceException: AADSTS50155: Device is not authenticated.
    Trace ID: [REMOVED]
    Correlation ID: [REMOVED]
    Timestamp: 2019-02-17 04:40:13Z ---> System.Net.Http.HttpRequestException

[2019-02-17 19:59] myokeeh commented on #1504
This is not specific to ADAL after all. Got the same thing using MSAL. Pinging Microsoft team member handling password-less sign-in using the Authenticator app.

[2019-02-18 07:36] jmprieur commented on #1504
@myokeeh
What probably happens is that the admin of the Azure AD tenant (where this application has been running) has enabled a conditional access policy requiring device authentication (maybe for all apps, maybe for this app, maybe for certain users who are hit).

On Windows 10, the device certificate is held by WAM (Web Account Manager). However ADAL / MSAL don't speak with WAM yet (and we don't

[2019-02-18 07:43] jmprieur commented on #1492
meanwhile, @brenkehoe, if you want to move to MSAL.NET, this will solve this issue: https://aka.ms/adal-net-to-msal-net

[2019-02-18 07:45] jmprieur commented on #1486
Released in ADAL 4.5.1

[2019-02-18 07:45] #1486 closed, assigned to nobody

[2019-02-18 07:45] jmprieur commented on #1486
Released in ADAL 4.5.1

[2019-02-18 07:46] jmprieur commented on #1481
@dskantz : closing this question (which I believe is answered)
feed free to reopen if you disagree

[2019-02-18 07:46] #1481 closed, assigned to nobody

[2019-02-18 07:49] jmprieur commented on #1501
yes, you are right @emilssonn. I've created an issue to update the sample.
Proposing to close this question as I believe it's answered
Feel free to reopen if you disagree.

[2019-02-18 07:49] #1501 closed, assigned to nobody

[2019-02-18 07:51] jmprieur commented on #1013
@crmann1 that's something we implemented in MSAL.NET (3.x)
We won't do it in ADAL.NET, therefore closing the ADAL issue (fixed in MSAL)

[2019-02-18 07:51] #1013 closed

[2019-02-18 07:51] myokeeh commented on #1504
@jmprieur Hmm. It would have been something I did then. Last thing I did was enable passwordless signin for Azure AD.

[2019-02-18 07:53] jmprieur commented on #1113
Closing this issue as there is no additional information which would enable us to act on it

[2019-02-18 07:53] #1113 closed, assigned to nobody

[2019-02-18 07:54] jmprieur commented on #1115
Closing this issue as we did not get more information that would enable us to act on it

[2019-02-18 07:54] #1115 closed, assigned to nobody

[2019-02-18 07:56] jmprieur commented on #1181
Closing this issue as this is not something we'll do in ADAL.NET (but **we'll do it in MSAL.NET**)

[2019-02-18 07:56] #1181 closed, assigned to nobody

[2019-02-18 07:59] jmprieur commented on #1502
@rishavraj10. This is fixed in This is fixed in ADAL 4.5.1 (See #1489)

[2019-02-18 07:59] #1502 closed, assigned to nobody

[2019-02-18 08:00] jmprieur commented on #1489
This is fixed in ADAL 4.5.1 (See #1489)

[2019-02-18 08:00] #1489 closed, assigned to nobody

[2019-02-18 08:03] jmprieur commented on #1460
Closing this issue as we did not get more information that would enable us to act on it

[2019-02-18 08:03] #1460 closed, assigned to nobody

[2019-02-18 08:11] jmprieur commented on #1396
@omerlh
See #1493 where a workaround is proposed: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/1493#issuecomment-460996923

I've also added an entry in the Q&Q to help how to use ADAL.NET with Kubernetes: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/ADAL-.NET-Q-&-A#using-adal-with-kubernetes

[2019-02-18 08:11] #1396 closed, assigned to nobody

[2019-02-18 08:12] jmprieur commented on #1458
yes, @nilsi

[2019-02-18 08:12] #1458 closed, assigned to nobody

[2019-02-18 08:14] jmprieur commented on #1504
ah yes @myokeeh, that could explain it. I suppose that passwordless is using the device certificate.

Is you machine domain joined or AAD joined? (in which case you could use [Integrated Windows Windows](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/AcquireTokenSilentAsync-using-Integrated-authentication-on-Windows-(Kerberos))

[2019-02-18 08:40] #1014 closed

[2019-02-18 08:42] omerlh commented on #1396
Thanks! I'll check and update if this solves the issue.

[2019-02-18 11:26] omerlh commented on #1493
Hey @lodejard - can clarify on:

Can you please share a working code sample? I'm trying to write a code that request a token for Kuberentes API.

[2019-02-18 11:27] omerlh commented on #1396
I tried using:
[code]
But the requst failed with:
[code]
Can you please help?

[2019-02-18 12:37] jmprieur commented on #1493
@omerlh : what is an auth provider? in which context do you use them. Can you please share some code or link illustrating it ? I suspect that ADAL is called by some other library? (I'm not familiar with the Kubernetes API. Does it provide the notion of auth provider?)

[2019-02-18 12:43] omerlh commented on #1493
I want to authorize users to Kubernetes dashboard. So, I want to build a small web application that redirects users to log in, acquire a token for the Kubernetes app and proxy requests to the dashboard using this token. The main missing point is how to request a token that will be valid for the Kubernetes server (because of the `spn`). See this AKS engine issues - Azure/aks-engine#376

[2019-02-18 12:48] jmprieur commented on #1396
Apparently, this failed from the instance discovery which was not expecting the api-version=1.0 (whereas the token acquisition accepts it).

Would you please try a work around where you first attempt to get a token before setting your environment variable? I suspect you've set it at the start of your app? could you set it just before the AcquireTokenXX call (but not before the first AcquireTokenSi

[2019-02-18 12:52] omerlh commented on #1396
So I'll have to request a token twice? Once to fetch the metadata and once to get the token? This is pretty hacky. Also, once the metadata is expired, a request to retrieve them will fail... Not sure this is a good enough solution. Will it be easier using MSAL?

[2019-02-18 13:16] jmprieur commented on #1396
@omerlh: I agree that this is hacky (but the environment variable is as well). You don't need to acquire the token twice as I'm pretty sure you use the [recommended pattern](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/AcquireTokenSilentAsync-using-a-cached-token#recommended-pattern-to-acquire-a-token):
AcquireTokenSilentAsync and if fails then call AcquireTokenAsync
I'

[2019-02-18 13:19] omerlh commented on #1396
Ok, waiting for it :) So far, I'm unable to [request a token] using MSAL. So I hope I'll be able to solve this first. Thanks!

[2019-02-18 13:19] jmprieur commented on #1493
Thanks for the context. Do you know if there is a reason why the AKS engine requires an obsolete token format? maybe that's what should be fixed (here we are only trying to work around things)

[2019-02-18 16:05] omerlh commented on #1493
I have no idea - you can look on the issue, it's open since November and no response yet. I also pinged Azure support at the same time - no response yet... Can you please responsed on the issue and clarify that this token format is obsolete?

[2019-02-18 16:26] jmprieur commented on #1493
@omerlh I'll try to find someone from that team and understand what's going on.
cc: @henrik-me

[2019-02-18 16:32] omerlh commented on #1493
Thanks! I hope this will be resolved soon 🙏

[2019-02-18 16:33] ghost opened #1505 "Documentation for Broker is confusing for Android support"
Documentation is related to this page:
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/leveraging-brokers-on-Android-and-iOS

### Please check those that apply

- [ ] typo
- [ ] documentation doesn't exist
- [X] documentation needs clarification
- [X] error(s) in example
- [X] needs example

### Description Of The Issue
Documentation that supports Android is out of date an

[2019-02-19 17:51] rajrao commented on #1410
What is the status of this issue? I am using ADAL 4.5.1 and get the error

"AADSTS90002: Tenant 'authorize' not found. This may happen if there are no active subscriptions for the tenant. Check with your subscription administrator. | AADSTS90002: Tenant 'authorize' not found. This may happen if there are no active subscriptions for the tenant. Check with your subscription administrator."

[code]

[2019-02-19 20:26] iuliac84 opened #1506 "NullReferenceException in AdalHttpClient: Object reference not set to an instance of an object"
**Which Version of ADAL are you using ?**
Note that to get help, you need to run the latest preview or non-preview version
For MSAL, please log issues to https://github.com/AzureAD/microsoft-authentication-library-for-dotnet

ADAL: 4.5

**What authentication flow has the issue?**
Please describe; We have a Paas service running on Azure

**Is this a new or existing app?**

The app is in production,

[2019-02-19 21:11] henrik-me commented on #1506
@iuliac84 : did you validate 4.5.1 as discussed?

[2019-02-19 21:16] nikitinvalera commented on #1488
Hi Bogdan,
WebRequest.defaultwebproxy will not help for .NET core project, so I wonder if ALL Handlers (like AcquireTokenForClientHandler) will ever (will they?) use custom configured HttpClient?

This is a problem for us, since we're behind corporate firewall.

[2019-02-19 21:33] henrik-me commented on #1506
Seems very similar to: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/1489, which was fixed in 4.5.1

[2019-02-20 01:07] trwalke commented on #1477
@sourcefile were you able to run the code that @bgavrilMS sent you?
@Anubhab1991 I am unable to replicate the token being removed from the cache. However, the broker should not be returning a refresh token to you at all. only an access token.

@Anubhab1991 can you make a successful interactive authentication call and verify if a refresh token was sent back to you in the AuthenticationResult object

[2019-02-20 14:51] sourcefile commented on #1477
Hi @trwalke and @bgavrilMS

I tried the snippet Bogdan provided, but again to no success. As far as I can see, the first time I log in, the account variables are empty. Personally, I'm not surprised as it is the first time the application starts.

After logging in and waiting the usual hour, I try to refresh. I run Bogdans snippet before attempting to collect a new access token from the broker. At

[2019-02-21 17:06] ermescs commented on #1478
I also have the same issue, in the following scenario:
- Azure AD Connect with Pass-through Authentication
- Seamless SSO configured and enabled

If i try to obtain a token silently using IWA i receive the following error:
[code]

The same issue is referenced in Azure-Samples/active-directory-dotnet-native-headless#30
The solution proposed there works, but doesn't provide a completely silent token

[2019-02-22 07:42] arjensteinhauer opened #1507 "System.TypeInitializationException on xamarin iOS"
**Which Version of ADAL are you using ?**
ADAL 4.5.1

**Which platform has the issue?**
xamarin iOS

**What authentication flow has the issue?**
* Desktop / Mobile
    * [X ] Interactive
    * [x] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Is this a new or existing app?

[2019-02-22 10:49] jmprieur commented on #1507
@arjensteinhauer :
- do you have repro steps that we could follow?
- Otherwise, is it an option for you to use MSAL.NET (the next generation of auth libraries) ?
  - there is a good documentation on platform specifics. For instance see [MSAL.NET - Xamarin iOS Specifics](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Xamarin-iOS-specifics)
  - there is a sample that you

[2019-02-22 11:27] arjensteinhauer commented on #1507
**MSAL.NET**
Using MSAL.NET is not an option for now. This is planned for future releases of our app, when the AAD v2.0 endpoints for all our customers are up-and-running.

**Repro steps iOS platform**
Our app is running on all platforms (Android, iOS, Windows UWP) for almost a year, using the ADAL library for authentication the user. We have used the provided sample code for the authentication, b

[2019-02-22 14:11] jmprieur commented on #1507
@bgavrilMS @MarkZuber @henrik-me

[2019-02-22 14:11] jmprieur commented on #1478
@bgavrilMS FYI

[2019-02-22 14:49] bgavrilMS commented on #1507
The exception seems to come from the Xamarin JIT compiler. In ADAL v4 we modified how we store the token cache on iOS and the exception seems to come from that logic

https://github.com:443/AzureAD/azure-activedirectory-library-for-dotnet/blob/dev/src/Microsoft.IdentityModel.Clients.ActiveDirectory/Platforms/iOS/iOSTokenCacheAccessor.cs#L88

@arjensteinhauer - how are you packaging your app. Do yo

[2019-02-25 08:16] arjensteinhauer commented on #1507
- Using the standard Azure DevOps build pipeline:
  - specific **iOS Build** settings:
    - Linker Behavior: Don't Link
    - Supported Architectures: ARMv7 + ARMv7s + ARM64

[2019-02-26 07:13] JHinW commented on #988
puzzled by this issue and rebuild a new  copy based on Netstandard2.0 for anyone who needs it => https://github.com/BCRDC/azure-activedirectory-library-for-dotnet/blob/dev/dotnetcore2Plus/BCRDC.ActiveDirectory/Test.App/Program.cs

[2019-02-26 23:38] lodejard commented on #1493
@omerlh Sorry for the delay. I don't have a clean example --- but if you're using aks-engine to create your cluster something I've seen which works is to configure the `--oidc switches` on the api server. You'd do that instead of providing the information in the aapProfile tenant.

[code]

Basically look at the properties of the jwt token your web app is passing to k8s with https://jwt.io/ --- the

[2019-02-27 00:36] lodejard commented on #1493
Also @jmprieur I don't know if there's a specific reason the AzureAD login for kubernetes chose to use the older api-version which has the spn prefix. It might have been as simple as that it was the default behavior of the go-autorest client library...

Here's a line from the `kubectl` client library which is using adal device code flow to acquire a token for the cluster apiserver.

https://github

[2019-02-27 05:55] omerlh commented on #1493
Thanks @lodejard for your detailed response! I know I can change the oidc settings on the server, but as you mentioned - this will break kubectl authentication. I guess the first step will be to add support in kubectl to a token without the `spn`. I can help, but I assume this will require someone from AKS team to make it actually happen.

[2019-02-27 07:05] henrik-me commented on #1506
Have discussed this issue offline with @iuliac84. Closing as everything points to this being the same issue. Please re-open should it prove that it's not the case.

[2019-02-27 07:05] #1506 closed, assigned to henrik-me

[2019-02-27 12:02] jmprieur commented on #1492
Internal bug on the Microsoft identity platform service: 647691

[2019-02-28 07:34] jmprieur commented on #1493
See also https://github.com/Azure/aks-engine/issues/376

[2019-02-28 16:00] AshleyAsh90 commented on #1454
@jmprieur  I missed a part of your article. Could you please close this as not a bug. it was a misunderstanding from my part. I missed this below part of the article:

"Note that, AcquireTokenSilent does not need to be called in the Client credentials flow (when the application acquires token without a user, but in its own name). "

I am using ClientCredentials flow and did not need to use Acquire

[2019-02-28 16:01] #1454 closed, assigned to nobody

[2019-02-28 16:39] jmprieur commented on #1454
yes, it does. Thanks for the update @AshleyAsh90

[2019-02-28 21:10] AshleyAsh90 opened #1509 "[Question]Can anyone guide me in the usage of the ClientCredential(String, ISecureClientSecret) option of constructor?"
I know I have to create a class which would implement the ISecureClietSecret interface which has the ApplyTo function which takes an IDictionary of two strings as parameters. But what are these strings supposed to be? What is the purpose of this function that needs to be implemented? I do see that the IDictionary is the  "Dictionary to which the securestring is applied to be sent to server" but i

[2019-03-04 07:39] albahari opened #1510 "ADAL does not properly support .NET Core 3"
Note: not sure if this a bug or new feature request.

**Which Version of ADAL are you using ?**
4.5.1

**Which platform has the issue?**
netcore 3

**Is this a new or existing app?**
a. I am creating a new release of LINQPad which targets .NET Core 3 instead of .NET Framework. LINQPad uses ADAL to authenticate Azure SQL connections via Universal authentication. This used to work with .NET Framewor

[2019-03-04 14:40] jmprieur commented on #1510
@albahari
is it an option for you to move to [MSAL.NET](https://aka.ms/msal-net) ?
Future innovation, including the support for .NET Core 3 will rather happen in MSAL.NET rather than ADAL.NET

[2019-03-05 00:29] albahari commented on #1510
I'm happy to use any library that allows users to interactively log on with Universal Authentication to SQL Azure. But as far I can see, this is not the case right now with MSAL. From [this page](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Acquiring-Tokens)

"Public flows will often acquire token interactively, having the user sign-in. Remember that this is not poss

[2019-03-05 06:51] jmprieur commented on #1510
you're right @albahari : the AcquireTokenInteractive is not yet available on .NET Core 3.0, but it will eventually (See MSAL.NET issue https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/901).
We don't have plans to support it on ADAL.NET

for help to migrate from ADAL.NET to MSAL.NET see [Differences between ADAL.NET and MSAL.NET applications](https://github.com/AzureAD/

[2019-03-05 08:03] albahari commented on #1510
Thanks - I'll look forward to that.

[2019-03-05 08:03] #1510 closed, assigned to nobody

[2019-03-05 09:28] GroupeElanz commented on #1488
Hello,
Is there already a planned date for the release of a version which includes the correction?

[2019-03-07 01:01] myhsyd opened #1515 "Password flow powershell AcquireTokenAsync failing because no client secret"
**Which Version of ADAL are you using ?**
ADAL v4.0.30319

**Which platform has the issue?**
Powershell 5.1.16299.666
PSModule AzureADPreview 2.0.2.5

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [X] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web AP

[2019-03-07 01:19] frankhu-2021 commented on #1515
The reason that this error is occurring is because the app registration that was created in the Azure Portal is a web app/api.

The Password flow requires a Native Application Registration, otherwise it **requires** a client secret.

[2019-03-07 11:15] bgavrilMS opened #1516 "Review and Update Android Broker implementation to bypass Account Picker"
**Is your feature request related to a problem? Please describe.**
Currently, to fully integrate Android Broker, you have to also invoke the Account Picker to be able to get a list of Microsoft accounts from the broker. Unless this is done, the list returned is empty, causing ADAL to switch to interactive auth from silent auth.

This is causing quite a lot of disruption / supportability issues.

*

[2019-03-07 12:34] jmprieur commented on #1516
@bgavrilMS : is it in the current broker? or in the future broker? in other words, can we work on this now or should we wait for the new broker?

this generates a lot support, so I'd recommend we take this high pri.

[2019-03-07 12:55] bgavrilMS commented on #1516
We could first implement the broker in MSAL to get a better idea of how this is done, if we can do it soon. Otherwise, I think ADAL for Android already uses the new approach.

[2019-03-07 14:17] bgavrilMS commented on #1509
Hi @AshleyAsh90 - we can help.

Do you have a business need to use ADAL? Most development occurs on our next-gen auth library, MSAL - https://github.com/AzureAD/microsoft-authentication-library-for-dotnet

Otherwise we try to keep the wiki and samples as updated as possible, so have a look there. You should be able to build this from a secure string:

https://github.com/AzureAD/azure-activedirecto

[2019-03-07 14:24] bgavrilMS opened #1519 "|PlatformParamters(PromptBehavior, object) should throw an ArgNull exception if passed null obj"
**Which Version of ADAL are you using ?**
5.0.0-preview

**Which platform has the issue?**
net45

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Repro**

[code]

**Expected behavi

[2019-03-07 14:32] jmprieur opened #1520 "ADAL.NET 5.x needs to support the MSAL 3.x token serialization format"
**Is your feature request related to a problem? Please describe.**
MSAL 3.0.0 introduces a breaking change in the Json token serialization format so that the token cache can be shared with application written with other MSAL libraries (MSAL.Python, MSAL.Java)

**Describe the solution you'd like**
ADAL 5. must support the MSAL 3.x format in addition to the MSAL V2.0 format for customers wanted to m

[2019-03-07 14:45] AshleyAsh90 commented on #1509
Hi @bgavrilMS ,

Thank you for getting back to me. I will take a look at the article.
Yes. We currently are building an interface with Dynamics365, and the Dynamics365 team suggests using ADAL. Please see below.
[Connect to Dynamics 365 for Customer Engagement web services using OAuth](https://docs.microsoft.com/en-us/dynamics365/customer-engagement/developer/connect-customer-engagement-web-servic

[2019-03-07 14:50] jmprieur opened #1521 "ADAL.NET 5.x needs to provide an extensibility mechanism so that partners provide their own Web View"
**Is your feature request related to a problem? Please describe.**
Some partners need to provide their own Web View

**Describe the solution you'd like**
Like in MSAL.NET,  provide an extensibility mechanism: a new interface `ICustomWebUi `  to be implemented by extenders

[code]

On the .NET Framework - both .NET Fx and .NET Core - provide a new constructor to `PlatformParameters `
[code]

Add mo

[2019-03-07 14:52] bgavrilMS commented on #1509
Well, since their samples are built around ADAL, you should probably go with it for now, especially as you might want to reach out Dynamics for support at some point.

MSAL is gaining traction but we cannot move all our customers (internal and external) at once.

Don't worry though, we have a good upgrade story from ADAL -> MSAL, just make sure you put your auth code behind some interface so you c

[2019-03-08 00:41] trwalke commented on #1521
Addressed in [ADAL V5.0.0-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/ADAL-v5.0.0-preview)

[2019-03-08 00:41] #1521 closed, assigned to bgavrilMS

[2019-03-08 00:42] trwalke commented on #1520
Addressed in [ADAL V5.0.0-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/ADAL-v5.0.0-preview)

[2019-03-08 00:42] #1520 closed, assigned to MarkZuber

[2019-03-08 00:42] trwalke commented on #1519
Addressed in [ADAL V5.0.0-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/ADAL-v5.0.0-preview)

[2019-03-08 00:42] #1519 closed, assigned to bgavrilMS

[2019-03-11 11:03] snehalsilicus opened #1524 "Policy integration in Mobile application"
I'm trying to integrate a custom policy in Xamarin native application but not getting proper solution.

I have already implemented everything properly and login functionality is working all right. But only guest users added in B2C directory are able to login for now and not member users. How can I integrate particular POLICY created on azure portal.

Please help me doing this and let me know in ad

[2019-03-11 12:16] javisst commented on #1488
Hi, we are also behind a corporate proxy and very interested in a solution to that.

[2019-03-11 13:05] bgavrilMS commented on #1488
This is being actively worked on.

[2019-03-11 21:35] MarkZuber opened #1525 "Guarantee Before/After Access called in all cases for TokenCache"
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet
ADAL 5.0.0-preview

**Repro**

There are some cases where there isn't a guarantee (perhaps via try/finally) that OnAfterAccess is called after OnBeforeAccess.  This contra

[2019-03-11 21:42] MarkZuber opened #1526 "AdalException needs to be serializable"
In CustomWebUI flows, it's possible that the process implementing the UI is in another process.
 Want to add a few methods to AdalException to support serializing the exception(s) in this case

string ToJsonString() -- serializes the AdalException (or any derived exception) into a json string which can be marshaled across the process boundary.

static AdalException FromJsonString(string json) -- f

[2019-03-11 23:57] jmprieur commented on #1524
@snehalsilicus : I think that you should rather use MSAL.NET. you'll find a good sample here: https://github.com/Azure-Samples/active-directory-b2c-xamarin-native

[2019-03-12 18:04] samsakni opened #1528 "get 406 Accessing WS metadata exchange failed"
**Which Version of ADAL are you using ?**
5.4.0

**Which platform has the issue?**
net461

**What authentication flow has the issue?**
* Desktop
    * [ ] Username Password

Other? - please describe;

3 line code as below

UserPasswordCredential userPasswordCredential = new UserPasswordCredential("AuzreTeneantUser","Password");

 AuthenticationContext context = new AuthenticationContext($"https://

[2019-03-12 19:09] MarkZuber commented on #1525
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/pull/1527

[2019-03-13 02:07] shertu opened #1529 "AcquireTokenAsync throws an exception after version update"
**Which Version of ADAL are you using ?**
Attempting to update to 4.3.0 from 3.19.8.

**Which platform has the issue?**
netcore

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [x] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Is

[2019-03-13 02:10] jmprieur commented on #1529
@shertu : this is a duplicate of https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/1410 which has some work around

cc: @henrik-me @jennyf19

[2019-03-13 03:18] shertu commented on #1529
Understood. Thanks.

[2019-03-13 03:18] #1529 closed, assigned to nobody

[2019-03-13 14:20] cmw9706 commented on #623
So are you saying ADAL can't be used anymore?

[2019-03-13 21:58] MarkZuber opened #1533 "AcquireTokenByDeviceCodeAsync needs to support CancellationToken"
**Which Version of ADAL are you using ?**
ADAL 5.0.0-preview

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [x] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Repro**

AcquireTokenByDeviceCodeAsync will internally poll for the ac

[2019-03-13 22:30] MarkZuber opened #1535 "Add InternalsVisibleTo for Microsoft.Identity.AdalExtensions*"
**Which Version of ADAL are you using ?**
Note that to get help, you need to run the latest preview or non-preview version
For MSAL, please log issues to https://github.com/AzureAD/microsoft-authentication-library-for-dotnet
ADAL 5.0.0-preview

Microsoft.Identity.AdalExtensions will need access to Logging/Telemetry possibly and such it needs InternalsVisible access.

[2019-03-13 23:04] MarkZuber commented on #1535
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/pull/1536

[2019-03-13 23:44] jmprieur commented on #1533
how did I miss that ? :)

[2019-03-14 08:07] jmprieur commented on #623
No, ADAL can be used, but we won't innovate with ADAL. We'll be GA-ing MSAL.NET soon, and it supports system web view, and this is where the innovation will happen on top of the Microsoft identity platform (formerly Azure AD v2.0). Because ADAL and MSAL share the cache, you can migrate at your own pace.

[2019-03-14 09:42] IlyaSemenchenko commented on #1345
It seems like more than 4 months passed after last action here. We have the same issue and it is a critical blocker for us right now.
Could I get a status about the issue? I can provide all needed information, if needed.

[2019-03-14 15:50] jennyf19 commented on #1345
@IlyaSemenchenko We've been prioritizing work on MSAL. Will take a look and get back to you.

[2019-03-14 17:55] henrik-me opened #1537 "FOCI cache compatibility in ADAL"

[2019-03-14 20:06] MarkZuber commented on #1533
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/pull/1534

[2019-03-15 19:50] jennyf19 opened #1538 "RedirectUri should be case sensitive"
**Which Version of ADAL are you using ?**
All.

**Which platform has the issue?**
All, but specifically iOS

**What authentication flow has the issue?**
* Desktop / Mobile
    * [X] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

[2019-03-15 19:53] jennyf19 commented on #1345
@IlyaSemenchenko @Eldin66 Sorry for the delay on this. Have opened an issue in ADAL and MSAL to address the issue.
new Uri() lowercases the redirectUri, which ADAL is sending to broker. Broker is expecting to match the BundleId and RedirectUri, which is case sensitive because BundleId is case sensitive from Apple's perspective.

Once we have decided on a fix, I'll update the thread here. Thanks fo

[2019-03-18 07:23] sourcefile commented on #1477
Hi @bgavrilMS
After our debugging session, I did some more tests to make sure the solution was working. One thing I noticed is the proposed workaround _only_ works when the ADAL project is referenced. When using the NuGet package, this fix doesn't work. Right now, I have no idea what's causing this to happen.

While waiting for a more clean fix, we will implement this workaround in our solution, a

[2019-03-18 09:13] bgavrilMS commented on #1477
That is quite strange. Might be a timing issue?

[2019-03-18 12:02] sourcefile commented on #1477
I don't think so. I've triggered the pop-up several times in a single testrun and it still fails. Could it be since the code in the NuGet package is pre-compiled as opposed to including the project where it will compile at the same time as the rest of the app?

[2019-03-18 20:01] MarkZuber commented on #1526
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/pull/1539

[2019-03-19 17:01] MarkZuber opened #1540 "Publish ADAL symbols to MSFT symbol server"
Publish ADAL symbols to MSFT symbol server

[2019-03-19 19:11] cmw9706 opened #1541 "Xamarin ADAL AcquireTokenAsync not returning result! OnActivityResult is hit"
**Which Version of ADAL are you using ?**
Note that to get help, you need to run the latest preview or non-preview version
For MSAL, please log issues to https://github.com/AzureAD/microsoft-authentication-library-for-dotnet
ADAL 4.5.1

**Which platform has the issue?**
Xamarin.Android

**What authentication flow has the issue?**
* Desktop / Mobile
    * [** ] Interactive
    * [ ] Integrated Wind

[2019-03-20 06:57] vadirajgk commented on #1488
We are also facing same issue in our test server, I think ADAL API is not allowing it to read the proxy values passed in the HttpClient object for the AuthenticationContext call. It will work fine when we add proxy in IE for that user account login only but we can not do this. Also we can not add proxy on system level.

Please let us know the ETA for this.  This is impacting by holding the multipl

[2019-03-20 12:05] IlyaSemenchenko commented on #1345
Hi @jennyf19 , thanks for the reply, I already fixed the issue in local repository and could make a Pull Request with the fix.
Please assign the issue to me and I will try to make PR in few day

[2019-03-20 14:04] mjcheetham opened #1543 "`AADSTS50097: Device authentication is required` error with no explanation"
**Which Version of ADAL are you using ?**
ADAL 3.19.4

**Which platform has the issue?**
net45

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive

**Is this a new or existing app?**
b. The app is in production, uses the same version of ADAL, but started seeing this issue

**Repro**

[code]

**Expected behavior**
User is prompted to authenticate, enters credential

[2019-03-20 14:14] mjcheetham commented on #1543
Note: This error has been encountered in the past on the ADAL Objective-C library where there was a mismatch in the expected order of challenges from STS when doing 'passwordless auth' (using the authenticator app).

One thing that might be useful is some user actionable remedy in the error messages from the STS or ADAL in these cases.. e.g., "please ensure your device is AAD joined" or "please tr

[2019-03-21 21:16] jennyf19 commented on #1541
@cmw9706 would you mind trying w/the lastest adal version [v.5.0.0-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/ADAL-v5.0.0-preview), just so we are using the latest and greatest? thanks.

To confirm, this was working in previous versions of ADAL? do you remember which one? and in the other issue, you mentioned it works w/a new app but not an existing a

[2019-03-22 08:53] soufianemarly commented on #1541
i have the same probleme with some research i found that we need to refresh the token but until now i wasn't able to do that please share if you already have the solution

this is my code :

       public async Task<AuthenticationResult> Authenticate(string authority, string resource, string clientId, string returnUri)
        {
            AuthenticationResult authResult = null;
            try

[2019-03-22 09:02] soufianemarly opened #1547 "AADSTS54005: OAuth2 Authorization code was already redeemed, please retry with a new valid code or use an existing refresh token."
**Which Version of ADAL are you using ?**
Hello I'm using xamarin forms with office authentification
the authentification works fine but lately i receive this error message :
AADSTS54005: OAuth2 Authorization code was already redeemed, please retry with a new valid code or use an existing refresh token.
can anyone guide me please with some code.
Thank you

**xamarin Forms  ADAL 3.19.8**
<xamarin F

[2019-03-22 13:19] cmw9706 commented on #1541
@jennyf19 I have a project that this code does not work in. To eliminate causes, I started up a fresh new xamarin project and took the exact same code and put it in the new project. The code works perfectly in the new project, but **does not** work in the old project. I need it to work in the old project.

Just updated to 5.0.0 with no luck. I have tried making all my build setting the same betwee

[2019-03-22 13:26] cmw9706 commented on #1541
Version on both projects is 4.5.1

[2019-03-22 14:14] jmprieur commented on #1547
@soufianemarly : could you please enable [logging](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Logging-in-ADAL.Net) and share the traces with us?

[2019-03-22 18:11] jennyf19 commented on #1541
@cmw9706 I am currently unable to repro this. Could you send [logs](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Logging-in-ADAL.Net#new-way-of-logging-controlling-pii-adalnet--318)?

[2019-03-22 18:14] cmw9706 commented on #1541
[xam.android.logs.docx](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/files/2997800/xam.android.logs.docx)

@jennyf19 Here you go! Nothing that I saw out of the ordinary (I am still running 5.0.0)

[2019-03-22 18:16] cmw9706 commented on #1541
@jennyf19 Let me know if you want them in a different format

[2019-03-22 18:33] cmw9706 commented on #1541
WHOA, so I just looked at the logs for my project that does work and I notice it actually logs the token acquisition as having completed! sooooo thats something? The code is exactly the same but the logs are different. Still no idea why?

SUCCESSFUL LOGS
`[Mono] Assembly Ref addref Microsoft.IdentityModel.Clients.ActiveDirectory[0xa376d600] -> System.Runtime.Serialization[0x8a61c0c0]: 3
[] 2019-03

[2019-03-22 19:56] jennyf19 commented on #1541
@cmw9706 The "other logs" shows Microsoft.Identity.Client, which is MSAL, not ADAL. Are you using both in the same scenario?

[2019-03-22 20:00] cmw9706 commented on #1541
@jennyf19 Sorry for the confusion, I have MSAL pulled into the project because I have an IAuthenticator interface was an ADAL implementation and a MSAL implementation incase we ever want to upgrade our ADFS. The library is in the app, but is never used. I am only using ADAL implementation at the moment

[2019-03-22 20:10] cmw9706 commented on #1541
OH MY GOD! I THINK I JUST REALIZED WHATS HAPPENING!
I am calling the `AuthenticationContinuationHelper` (MSAL) not `AuthenticationAgentContinuationHelper` (ADAL)

Changed it out and it worked like a dream! @jennyf19  Thank you so much, I feel like such a dummy. I really appreciate you calling that out!

[2019-03-22 20:31] #1541 closed, assigned to jennyf19

[2019-03-22 20:46] jennyf19 commented on #1541
@cmw9706 awesome! so glad you got it figured out. thanks for letting us know so quickly!

[2019-03-22 21:19] henrik-me commented on #1488
PR: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/pull/1530

[2019-03-22 22:55] jmprieur commented on #1537
PR is #1546

[2019-03-23 01:34] henrik-me commented on #1537
removing fixed: introduced writing the cache to C:\temp. that should be updated.

[2019-03-25 20:47] MarkZuber opened #1548 "VS UI can hang due to not having proper SynchronizationContext for UI interaction"
**Which Version of ADAL are you using ?**
Note that to get help, you need to run the latest preview or non-preview version
For MSAL, please log issues to https://github.com/AzureAD/microsoft-authentication-library-for-dotnet
ADAL v5.0.0-preview

**Which platform has the issue?**
Windows (net45)

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrat

[2019-03-26 16:00] WangGangCH opened #1550 "can't load type PromptBehavior from Microsoft.IdentityModel.Clients.ActiveDirectory"
I'm using Microsoft.IdentityModel.Clients.ActiveDirectory.3.14.2 in .net framework 4.6.2, a very generic console application. it will throw exception:

Could not load type 'Microsoft.IdentityModel.Clients.ActiveDirectory.PromptBehavior' from assembly 'Microsoft.IdentityModel.Clients.ActiveDirectory, Version=3.14.2.11, Culture=neutral, PublicKeyToken=31bf3856ad364e35'.

[2019-03-26 16:41] jennyf19 commented on #1550
@WangGangCH can you try with the latest version of [adal 5.0.0](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/ADAL-v5.0.0-preview)?

[2019-03-26 17:09] WangGangCH commented on #1550
we depend on other package which can't be upgraded to the latest one. is there any available version around 3.14+ working well?

[2019-03-26 17:48] MarkZuber commented on #1548
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/pull/1549

[2019-03-26 19:40] MarkZuber opened #1552 "Update wiki/reference documentation to cover SynchronizationContext usage"
### Documentation Related To Component:
Wiki / reference documentation

### Please check those that apply

- [ ] typo
- [ x] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in example
- [ ] needs example

Update wiki/reference documentation to cover SynchronizationContext usage for AcquireTokenInteractive flows.

[2019-03-26 22:40] jennyf19 commented on #1550
@WangGangCH what is the package that has the dependency?

[2019-03-26 23:30] #1488 closed, assigned to bgavrilMS, jennyf19

[2019-03-26 23:30] #1525 closed, assigned to MarkZuber

[2019-03-26 23:30] #1526 closed, assigned to MarkZuber

[2019-03-26 23:30] #1533 closed, assigned to MarkZuber

[2019-03-26 23:30] #1535 closed, assigned to MarkZuber

[2019-03-27 00:11] henrik-me commented on #1537
@bgavrilMS : PR link?

[2019-03-27 18:32] jennyf19 opened #1554 "Use HttpClient intialized with NSUrlSessionHandler() for iOS and Mac"
iOS Xamarin team recommends we use NSUrlSessionHandler() for the HttpClient.

See [documentation](https://docs.microsoft.com/en-us/xamarin/cross-platform/macios/http-stack) for more details.

[2019-03-27 19:01] alexrainman commented on #1144
I found a workaround for now.

On my main Application:

[code]

[2019-03-27 21:16] henrik-me commented on #1144
Creative solution. thanks for bringing the workaround back here allowing for others to see this.

[2019-03-28 17:11] bgavrilMS opened #1557 "Calling AcquireToken* from multiple threads sometimes fails"
See details in the MSAL bug

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1014

[2019-03-30 00:21] henrik-me opened #1563 "Nuget package analyzer: Summary is empty but description is long"
**Which Version of ADAL are you using ?**
Latest (5.0.1 preview)

**Which platform has the issue?**
"all"

**What authentication flow has the issue?**
None

Other? - please describe;
Nuget package analyzer: Summary is empty but description is long

**Is this a new or existing app?**
Not relevant

**Repro**
1. Open the 5.0.1 nuget package in the package analyzer.
2. Hit the analyze action from the

[2019-03-30 00:31] jennyf19 opened #1564 "ADAL should resolve TeamId() at runtime"
ADAL should resolve the iOS TeamId() at runtime for keychain access. the TeamId prefix will change between dogfood and development, so enabling ADAL to resolve the TeamId() at runtime is crucial and will match behavior of MSAL 3.x

Propose a new property on authenticationContext:
`iOSKeychainSecurityGroup`

to use like this:
[code]
cc: @jmprieur

[2019-03-30 00:32] jennyf19 commented on #1564
addressed in this [pr](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/pull/1562) and have updated [wiki](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/iOS-Keychain-Access) + aka.ms link

[2019-03-31 20:37] zapalap commented on #1488
It looks like the custom IHttpClientFactory passed to the new AuthenticationContext constructor is not actually used further.

It's because of this code:
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/c66dc64cc293b8704535f879ce62a47a19e9940e/src/Microsoft.IdentityModel.Clients.ActiveDirectory/Core/ServiceBundle.cs#L70-L80

So even if the httpClientFactory parameter is not

[2019-04-01 16:47] jennyf19 commented on #1488
@zapalap this has been fixed and will be in 5.0.1-preview release. fix is merged into dev. thank you.

[2019-04-02 00:07] jennyf19 commented on #1564
released in [ADAL 5.0.1-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/ADAL-v5.0.1-preview)

[2019-04-02 00:07] #1564 closed, assigned to jennyf19

[2019-04-02 00:08] jennyf19 commented on #1554
released in [ADAL 5.0.1-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/ADAL-v5.0.1-preview)

[2019-04-02 00:08] #1554 closed, assigned to bgavrilMS, jennyf19

[2019-04-02 00:10] jennyf19 commented on #1537
released in [ADAL 5.0.1-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/ADAL-v5.0.1-preview)

[2019-04-02 00:10] #1537 closed, assigned to bgavrilMS

[2019-04-02 00:10] jennyf19 commented on #1548
released in [ADAL 5.0.1-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/ADAL-v5.0.1-preview)

[2019-04-02 00:10] jennyf19 commented on #1488
included in [ADAL 5.0.1-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/ADAL-v5.0.1-preview)

[2019-04-02 00:15] #1540 closed, assigned to nobody

[2019-04-02 00:57] bhicks2 opened #1568 "Missing sendx5c flag in AcquireTokenSilentAsync"
**Which Version of ADAL are you using ?**
3.19.8

**Which platform has the issue?**
net45

**What authentication flow has the issue?**
Web App OBO

**Is this a new or existing app?**
The app is in production, uses the same version of ADAL, but started seeing this issue

**Expected behavior**
Given that we can send the x5c via AcquireTokenAsync using a IClientAssertionCertificate overload, I would

[2019-04-02 08:03] IlyaSemenchenko commented on #1538
Hi @jennyf19 , I wrote in related bug, that I could make a Pull Request for the issue. My fix is to add new method to AuthenticationContext where redirectUrl is string, not Uri. And mark as deprecated old methods.
If you OK with this kind of implementation, please assign task to me. Thanks

[2019-04-02 09:31] bgavrilMS opened #1569 "ADAL + MSAL app sharing cache ignores MSAL cache"
**Which Version of ADAL are you using ?**
All versions

**Which platform has the issue?**
All

While some ADAL operations, such as looking for an RT or clearing the cache, work on both the ADAL and the MSAL cache, most operations simply ignore the MSAL cache: `ReadItems`, `DeleteItem`, `Count` simply ignore the MSAL cache.

Impact: Sign-out, silent login, and displaying a list of accounts are brok

[2019-04-02 10:04] snehalsilicus commented on #1524
@jmprieur Thanks

[2019-04-02 10:12] jmprieur commented on #1524
@snehalsilicus shall we close this issue?

[2019-04-02 10:32] snehalsilicus commented on #1524
@jmprieur Well, I'm still facing problems with POLICY integration with library you suggested may be I'm missing out something there. Actually I had already integrated this package successfully and it Is working seamlessly. It is just that I wanted to integrate policy for some changes and configuration.
Are you sure it is not possible with Microsoft.IdentityModels.Clients.ActiveDirectory package?

[2019-04-02 10:37] jmprieur commented on #1524
It might be possible, @snehalsilicus, but I would not think so, and don't think we have samples for this? the recommended path for B2C is definitively using MSAL.NET

[2019-04-02 10:45] snehalsilicus commented on #1524
Okay Thanks @jmprieur . We can close the ticket then.

[2019-04-02 10:45] #1524 closed, assigned to nobody

[2019-04-02 16:23] jennyf19 commented on #1538
Thanks @IlyaSemenchenko. Let me discuss how we want to proceed as a team and also w/our iOS broker team. I will get back to you here asap.

[2019-04-03 14:12] bergmeister opened #1570 "Question: When is the target for an RTM release of v5?"
You have published 5.0.0 and 5.0.1 as previews (which I find confusing as I'd have expected the 2nd preview to rather be 5.0.0-preview2 btw) but when are you planning to go RTM (i.e. would it be worth the risk of us trying and using the preview but know that you will go RTM before our internal product released)?

[2019-04-03 20:02] MarkZuber opened #1571 "TokenCache before/after access notifications need to be within the cachelock boundary"
**Which Version of ADAL are you using ?**
ADAL 5.0.1-preview

TokenCache access before/after notifications need to be within the _cacheLock lock in order for contract with the extensions file cache locking story to work.  Attached is screen shot of deadlock in VS.  Currently the before/after notifications are fired individually within the locks at the AcquireTokenHandlerBase level and encompass po

[2019-04-04 11:24] #1557 closed, assigned to bgavrilMS

[2019-04-04 16:29] leonluc-dev opened #1573 "SSL Error on Android when connecting to ADFS"
**Which Version of ADAL are you using ?**
ADAL 4.5.1

**Which platform has the issue?**
Xamarin.Android

**Is this a new or existing app?**
The app has been in production for a while.

**Description**
When requesting a new token using the AcquireTokenAsync method for one of our customers utilizing ADFS (Windows Server 2016), the login flow seems to work fine on iOS. However, about four out of six

[2019-04-04 18:24] jennyf19 opened #1574 "OBO flow with in-memory cache fails"
**Which Version of ADAL are you using ?**
v5.0.1-preview

**Which platform has the issue?**
Web API

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [x] OBO

Other? - please describe;

**Is t

[2019-04-04 18:54] MarkZuber commented on #1570
We are planning to remove the preview tag from the 5.x ADAL product by the end of April.  We had a few API changes we've made and are getting final validation on those with partners before we remove the preview tag and ensure the API remains stable.  Hopefully that aligns with your timeline.  I'm going to close this particular issue out but please feel free to reactivate or open a new one if you h

[2019-04-04 18:54] #1570 closed, assigned to nobody

[2019-04-04 19:31] bergmeister commented on #1570
Thanks for the info, very helpful :)
April is more than close enough for us.

[2019-04-04 20:56] #1571 closed, assigned to MarkZuber

[2019-04-04 21:02] jennyf19 commented on #1573
@gameleon-dev Could you try our latest release [5.0.2-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/5.0.2-preview) and see if it resolves the issue for you? We fixed some [httpclient](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Providing-an-HttpClient) issues in 5.0.1-preview.

[2019-04-05 13:18] leonluc-dev commented on #1573
The issue has been located. As it turns out the customer had a SSL certificate chain misconfiguration on their ADFS server (missing intermediates for one of the installed SSL certificates) which the Android webview (utilized for the oauth2/authorize endpoint) could handle, but BoringSSL/AndroidClientHandler (utilized by HttpClient on Xamarin.Android for the oauth2/token endpoint) could not.

Since

[2019-04-05 13:19] #1573 closed, assigned to nobody

[2019-04-05 13:55] leonluc-dev opened #1575 "Custom HttpClient exceptions not propagated"
**Which Version of ADAL are you using ?**
5.0.2-preview

**Which platform has the issue?**
Xamarin.Android

**What authentication flow has the issue?**
* Desktop / Mobile
    * [*] Interactive
    * [*] Token renewal

**Is this a new or existing app?**
The app is in production, and I have upgraded to a new version of ADAL

**Repro**

[code]

**Expected behavior**
Any HttpClient exception getting p

[2019-04-09 18:15] marnilss commented on #1548
Will this also fix the UI hang/block that happens when debugging an UWP application that uses ADAL?

I'm calling AuthenticationContext.AcquireTokenAsync(…) for an interactive user login (showing embedded browser window) from a background task (Task.Run()) and mostly it blocks the application after finishing the login. The browser window is closed, but it never returns from the AcquireTokenAsync me

[2019-04-09 18:20] MarkZuber commented on #1548
@marnilss If you capture the synchronization context from your UI thread and then pass it into AcquireTokenAsync then this should work.

[2019-04-10 12:10] bgavrilMS commented on #1548
@MarkZuber - I don't believe we expose any mechanism like .WithSyncronizationContext. We just capture the current SyncronizationContext [here](https://github.com:443/AzureAD/microsoft-authentication-library-for-dotnet/blob/bogavril/sf/src/Microsoft.Identity.Client/ApiConfig/AcquireTokenInteractiveParameterBuilder.cs#L88) and try to use it later.

The hang may be because of [this Wait()](https://gi

[2019-04-10 18:13] MarkZuber commented on #1548
Yes, apologies.  I didn't remember correctly how we expose this.  AcquireTokenInteractive must be called from the UI thread so we can properly capture its sync context and properly work with the UI.  The WithSynchronizationContext method is internal only and is called within AcquireTokenInteractive

[2019-04-10 18:42] MarkZuber commented on #1552
Updated wiki here:  https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Acquiring-tokens-interactively---Public-client-application-flows

  - Note that on Windows, you must call AcquireTokenAsync for interactive flows on the UI thread so that the embedded browser gets the appropriate UI synchronization context.  Not calling from the UI thread may cause messages to not pump pro

[2019-04-10 18:42] #1552 closed, assigned to nobody

[2019-04-10 19:10] marnilss commented on #1548
Ok, if AuthenticationContext.AcquireTokenAsync(…) must be called from UI thread, it would be really nice if you could mention that somewhere! I can't find that information in neither XML comments nor wiki.
I've seen somewhere in source code that you were creating new STA thread for browser so I thought it wasn't necessary to call from UI thread.

We've been running it for a year with Xamarin on iO

[2019-04-10 19:13] bgavrilMS commented on #1548
I'm going to reopen this issue because UWP is different than Net Desktop. We have different code for UWP that does not use SyncronizationContext - here's how we get back to the UI thread:

https://github.com:443/AzureAD/microsoft-authentication-library-for-dotnet/blob/dev3x/src/Microsoft.Identity.Client/Platforms/uap/WebUI.cs#L76

[2019-04-11 17:25] jmprieur commented on #1575
@jennyf19

[2019-04-11 21:52] Arslan007 opened #1580 "Remembered Users list is not displayed in UWP on authentication"
**Which Version of ADAL are you using ?**
ADAL 4.5.1

**Which platform has the issue?**
UWP, xamarin iOS

**What authentication flow has the issue?**
* Desktop / Mobile
    * [X] Interactive
    * [ ] Integrated Windows Auth
    * [X] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

*

[2019-04-12 18:59] Arslan007 commented on #1580
@jmprieur @jennyf19 Can you please guys have a look on this.
Thanks!

[2019-04-12 19:27] jennyf19 commented on #1580
@Arslan007 Any chance you can update to latest version [ADAL v5.0.2-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/5.0.2-preview)? Would be nice to see if it can repo there as well.

[2019-04-12 19:43] Arslan007 commented on #1580
@jennyf19 Just tried updating to latest preview of ADAL v5.0.2-preview and also tried with combination of updating to ADAL and MSAL to latest preview packages but same issue exist.

[2019-04-12 19:45] jennyf19 commented on #1580
@Arslan007 Can you provide the exact repro steps? and just to clarify, you got the same behavior w/MSAL?

[2019-04-12 20:03] Arslan007 commented on #1580
@jennyf19 I can send two different videos from iOS and UWP showing the behavior on two differant platforms but how I can send you securely/privately ?

Just for adding more info from logs that what I am seeing on logout action.

[code]

[2019-04-12 20:07] jennyf19 commented on #1580
@Arslan007 you can email info you want - jeferrie@microsoft.com

[2019-04-12 20:11] Arslan007 commented on #1580
Steps to reproduce are pretty simple.

1- Authenticate with Azure AD from any UWP app which is using ADAL by providing email/password
2- Logout your user from that UWP app.
3- Try to login again from same UWP app. It should show list of remembered user as I have shown in attached image in original bug post.

P.S: While writing this I just saw you replied with your email. Sending you email as well

[2019-04-12 20:13] jennyf19 commented on #1580
@Arslan007 not sure when myself, or someone on the team, will have time to look at this more thoroughly, but know it's on our radar.

[2019-04-12 20:23] Arslan007 commented on #1580
@jennyf19 Email sent to you with more details and step to reproduce this issue

[2019-04-15 22:01] jennyf19 commented on #1507
@arjensteinhauer I was unable to repro the issue. I created a new Xamarin iOS app, installed 3.91.8, did acquire token interactive, then updated to 4.5.1, and was able to do a silent call (the cache was used). I cleared the cache, signed-in again successfully, and then updated to 5.0.2-preview and had no issues.

I'll reach out to a contact w/Xamarin iOS, but as of now, am not sure what the issue

[2019-04-15 22:46] jennyf19 opened #1581 "Use HttpClient initialized with AndroidClientHandler for Xamarin Android"
See [documentation](https://docs.microsoft.com/en-us/xamarin/android/app-fundamentals/http-stack?tabs=windows) for details.

This would be for Android 4.1 and higher, we support 4.4 and higher.

[2019-04-16 00:59] jennyf19 commented on #1575
@gameleon-dev Can you try this [branch](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/tree/jennyf/AndroidHttpClient) and see if it still repros for you? thanks.

[2019-04-16 10:10] mandel-macaque commented on #1507
@bgavrilMS @jennyf19 can you please let me know how I can get the branches that you have used to release v4 and the previous version? I'd like to see the changes that @bgavrilMS mentions regarding the token cache.

@arjensteinhauer I would appreciate a full stack trace (unless it was added already and I missed it, then a pointer to it would be nice). I full build log, if possible, would be nice to

[2019-04-16 12:46] bgavrilMS commented on #1507
ADAL repo - dev branch was used to release. All releases have been tagged.

![image](https://user-images.githubusercontent.com/12273384/56210597-0ccd2f80-604e-11e9-92e9-ee5d96b444fc.png)

[2019-04-16 18:26] mandel-macaque commented on #1507
Hello,

I have taken a closer look, there is no real reason for the method to be using the JIT compiler. Having said that, we have had some issues in the past with the AOT compiler.

To be clear, I have tested the GetTemId method (only the GetTeamId) with a iOS application with the following:

* [Xamarin.iOS master](https://github.com/xamarin/xamarin-macios/commit/cf8d42e4c0de067664ddc770de24199c8

[2019-04-17 09:16] huajunzhao opened #1582 "Multiple ADAL exceptions happen suddenly."
**Which Version of ADAL are you using ?**
Note that to get help, you need to run the latest preview or non-preview version
For MSAL, please log issues to https://github.com/AzureAD/microsoft-authentication-library-for-dotnet

**Which platform has the issue?**

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username P

[2019-04-17 10:36] bgavrilMS commented on #1582
The stack trace is not enough to investigate. Please post details of the exceptions and how you use ADAL.net

Also, can you upgrade to the latest ADAL version (the preview preferably)? We won't be fixing anything except security issues in ADAL 3.x

[2019-04-17 14:21] marnilss commented on #1548
@MarkZuber , is it certain that you must make call from UI thread? **If so pleeeaase write it somewhere in documentation.** I've looked through the wiki and XML comments, and no mention of it anywhere.

Saying that a call is interactive is not the same thing - it only implies that some kind of user-interface will be shown. It could be running its own UI-thread without any requirement on the callin

[2019-04-17 14:35] huajunzhao commented on #1582
@bgavrilMS  the exception is

"multiple_matching_tokens_detected: The cache contains multiple tokens satisfying the requirements. Call AcquireToken again providing more arguments (e.g. UserId)"

Any idea?

I would check the ADAL version and upgrade it if needed.

[2019-04-17 14:38] bgavrilMS commented on #1582
Thx for checking @huajunzhao - that is indeed an internal ADAL bug. There were a lot of changes in that part of the code since 3.19, I would upgrade to the latest preview or at least to the latest stable (4.x).

[2019-04-17 21:02] jennyf19 commented on #1580
@Arslan007 We synced off-line mainly on this, so here is an update, and a small fixed has been merged into dev as well. Will wait for your confirmation before closing.

Add this code to your app:
[code]
Take the value (something like this: `ms-app://s-1-15-2-111638678-219698677-36916742-1909548894-372823757-39941306-27685825/`) and register the value as a redirectUri in the portal for this app.

T

[2019-04-17 21:45] jennyf19 commented on #1550
@WangGangCH any update on this?

[2019-04-18 00:50] Arslan007 commented on #1580
@jennyf19 Thanks for the update here as well. I have tested this piece and shared my findings offline to you.

[2019-04-18 13:04] huajunzhao commented on #1582
@bgavrilMS We're using Microsoft.IdentityModel.Clients.ActiveDirectory in 3.19.8, i'm going to upgrade to v4.5.1, and keep monitoring if we still see any issues.
BTW, can you please point me the release notes which mentioned fix this bug? it will be useful for us to track this issue internally.

[2019-04-18 13:06] pratiksoni-oa opened #1585 "Microsoft.IdentityModel.Clients.ActiveDirectory v3.14.0 not working after installing Microsoft.CrmSdk.XrmTooling.CoreAssembly v9.0.2.12"
**ADAL 3.14.0**

**Which platform has the issue?**
    net4.6.2,

Issue is occurring while creating object of Azure storage

**Is this a new or existing app?**
This is the new app that we are developing to connect to Azure storage to get Container Tag list.

**Repro**

**To connect with CRM below code is used:**
[code]
**To connect with Azure below code is used:**
[code]

when above connection to

[2019-04-18 13:10] bgavrilMS commented on #1582
I don't remember fixing this issue exactly, but I wasn't even in the team when 3.19 was released. It's over a few years old. If you have a look at the file history of TokenCache.cs you'll see many changes have gone through.

The changelog.txt in the root folder of the repo is up to date.

[2019-04-18 14:13] bgavrilMS commented on #1575
Yes, I see the regression. I believe @jennyf19 's fix will address it and I just approved the PR. We will try to get a release out as soon as possible.

[2019-04-18 17:25] bgavrilMS commented on #1585
ADAL 3.14 is very old and we do not support it anymore. Please update to latest version.

[2019-04-18 17:25] #1585 closed, assigned to nobody

[2019-04-18 20:48] billvolt commented on #1354
I'm also targeting ADFS 3.0 on Windows Server 2012 R2.  I found old Windows Forms or WPF code samples authenticated properly while newer samples did not.  In my testing Microsoft.IdentityModel.Clients.ActiveDirectory versions as late as 3.19.8 work consistently while later versions (including 4.5.1) fail consistently.

As did rodro75, I noted the response_mode=form_post in the querystring captured

[2019-04-18 22:03] acg9 commented on #511
Faced this today with .Net Core 2.2 using the Microsoft.Extensions.Configuration.AzureKeyVault 2.2.0 package.

Solved it by disabling warning-as-error NU1605 and by manually adding the following to my csproj.

[code]

[2019-04-18 22:34] Arslan007 commented on #1580
@jennyf19 I can confirm this fixes the issue for device but Not for Simulators. I am going to open new issue for simulator so it can be tracked. Thanks a lot for your support!!

[2019-04-18 23:03] Arslan007 opened #1586 "Remembered users list not returned in UWP simulator"
**Which Version of ADAL are you using ?**
ADAL 4.5.1

**Which platform has the issue?**
UWP, Xamarin

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Is

[2019-04-18 23:06] jennyf19 commented on #1586
@Arslan007 Thank you!

@bgavrilMS I asked Arslan to open a new issue here related only to the UWP simulator, for tracking purposes. The [fix we put out works on devices](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/1580), and that unblocks his team so they can release, but we should delve into this simulator issue at some point.

cc: @jmprieur

[2019-04-19 06:32] huajunzhao commented on #1582
@bgavrilMS

It looks like we have the below exception while upgrade to v4.5.1 while running the same code, the exception details are:

![image](https://user-images.githubusercontent.com/3183325/56410366-713af980-62af-11e9-8187-24a9005ee22a.png)

The exception was throwing while executing the highlighted code.

![image](https://user-images.githubusercontent.com/3183325/56410482-d42c9080-62af-11e9-9

[2019-04-19 18:27] jennyf19 commented on #1552
Included in [5.0.3-preview release](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/5.0.3-preview)

[2019-04-19 18:27] jennyf19 commented on #1581
Included in [5.0.3-preview release](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/5.0.3-preview)

[2019-04-19 18:27] #1581 closed, assigned to jennyf19

[2019-04-19 18:28] jennyf19 commented on #1580
Included in [5.0.3-preview release](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/5.0.3-preview)

[2019-04-19 18:28] #1580 closed, assigned to jennyf19

[2019-04-19 18:28] jennyf19 commented on #1575
Included in [5.0.3-preview release](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/5.0.3-preview)

[2019-04-19 18:28] #1575 closed, assigned to jennyf19

[2019-04-19 18:44] billvolt commented on #1354
I can provide a sample app and Windows Server 2012 R2 virtual machine for analysis.

[2019-04-19 20:59] trwalke commented on #1354
@billvolt that would be perfect. you can send me an email @ trwalke@microsoft.com with all of the details of the repro. In the mean time, I will poke around on my side to see if I can diagnose the issue again. Thanks for all of the additional info.

[2019-04-23 11:11] bgavrilMS commented on #1586
Thanks, I updated the wiki.

[2019-04-24 13:34] ghost opened #1588 "Null Exception on Xamarin Android when trying to use broker"
**Which Version of ADAL are you using ?**

ADAL 4.5.1

**Which platform has the issue?**
Xamarin Android

**What authentication flow has the issue?**

Other? - please describe;
Broker with Company Portal (intune)

**Is this a new or existing app?**
new app

**Repro**

[code]

**Expected behavior**
Company Portal loads up and user can select there username

**Actual behavior**
Null Exception - see

[2019-04-24 16:04] ghost opened #1589 "AdalClaimChallengeException.ServiceErrorCodes is null while Message tells AADSTS50076"
Hello Team,

**Which Version of ADAL are you using ?**
v4.5.1.0

**Which platform has the issue?**
net472 on Win10

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Console application with ability to show UI
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)

Other? - please describe;

**Is this a ne

[2019-04-24 20:10] SaeedAkhter-MSFT commented on #893
More details on the scenario from the support team - Scenario is that Azure AD is federated to Ping and it's configured to issue back a SAML 1.1 token.  The library has string comparison logic to detect SAML 1.0 and SAML 2.0 but not SAML 1.1.  Does this issue exist on MSAL.NET?

[2019-04-29 12:51] samukasantos commented on #1386
Hey guys,

Is there any solution for this issue ? I'm facing the same error and tried to use WebAuthenticationBroker assigning WebAuthenticationOptions.UseCorporateNetwork directly and the error is System.ArgumentException: Value does not fall within the expected range. Do you guys have any suggestion ?

[2019-04-29 17:41] jevansaks commented on #1386
It's a limitation of WebAuthenticationBroker and I doubt it will ever be resolved. I ultimately created an Azure Application with my app's ms-app:// URI (the one that `WebAuthenticationBroker.GetCurrentApplicationCallbackUri()` returns). You can register an Azure Application here: https://apps.dev.microsoft.com.

[2019-04-29 19:13] jennyf19 commented on #1386
@samukasantos Can you try what @jevansaks is suggesting? Basically add this code to your app:
[code]
Take the value (something like this: `ms-app://s-1-15-2-111638678-219698677-36916742-1909548894-372823757-39941306-27685825/`) and register the value as a redirectUri in the portal for this app.

Let me know if you still run into issues. Also, please try with the most recent version of the library.

[2019-04-29 19:41] jevansaks commented on #1386
@jennyf19 what's confusing most people (it confused me for a long time) is that the ADAL samples all use `872cd9fa-d31f-45e0-9eab-6e460a02d1f1` as the client ID but they don't explain where that came from. It appears to be Visual Studio's own client ID that just happens to work if you use it in your own app with callback URL "urn:ietf:wg:oauth:2.0:oob". Except that it doesn't have a callback URL r

[2019-04-29 19:56] jennyf19 commented on #1386
@jevansaks I see. Thanks for the explanation. Looks like we have some documentation/sample updates to do this area.

[2019-04-29 20:00] henrik-me commented on #1568
@trwalke pls. work with @bhicks2 to figure out what to do. Also probably something to consider for MSAL rather than ADAL.

[2019-05-03 15:06] bgavrilMS opened #1593 "ADAL should not suggest to use *SerializeMsalV3 exclusively"
**Which Version of ADAL are you using ?**
ADAL 5.0.4

**Which platform has the issue?**
net45

**Repro**

1. Write custom serialization
2. Comments on the serialization methods, including on Serialize(), Deserialize(), all suggest users to use

```SerializeMsalV3``` and ```DeserializeMsalV3```

**Actual**: These APIs do **not** save ATs and IDTs. This is by design, because only RTs can be used acr

[2019-05-03 19:13] jennyf19 commented on #1593
fixed in [adal 5.0.5](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/5.0.5)

[2019-05-03 19:13] #1593 closed, assigned to nobody

[2019-05-07 11:26] Humour0625 opened #1596 "Access token expired Issue"
**Which Version of ADAL are you using ?**
4.5.1

**Which platform has the issue?**
.net MVC5

I met a strange issue .

#1.I use the ADAL to get access token :

[code]

  #2.After I get the access token,  I send a request using Microsoft Graph API to search users:

[code]
It works well.

After the token expired(about one hour later, by default the token expires in one hour), I use the same code of

[2019-05-07 11:45] Humour0625 commented on #1596
Before the access token expired, I use this to get a new access token:
[code]

[2019-05-07 13:53] marnilss opened #1597 "Which calls are required to be done from UI thread?"
### Documentation Related To Component:
AuthenticationContext.AcquireTokenAsync(…)

### Please check those that apply

- [ ] typo
- [x] documentation doesn't exist
- [x] documentation needs clarification
- [ ] error(s) in example
- [ ] needs example

### Description Of The Issue
Please note in IntelliSense XML and wiki documentation which calls needs be to invoked from UI thread.
In comments on is

[2019-05-07 14:38] jmprieur commented on #1596
@Humour0625
you need to use the token cache to make sure ADAL.Net refreshes your token when needed (tokens don't last for ever)

See this sample:
https://github.com/azure-samples/active-directory-dotnet-webapi-onbehalfof

Note that we just GAed MSAL.NET, so you if you are starting a new project you might want to start with https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-

[2019-05-07 15:31] bgavrilMS commented on #1588
I had a look at this stack trace, it seems that the ADAL code is working ok until it calls the broker. That Java exception is from the broker itself, in this case Intune Portal.

@jennyf19 - suggest you have a chat with Android folk who can trace the call on the Broker side, based on the correlation id.
@biozal - could you enable PII logging and send the logs to Jenny please https://github.com/Azu

[2019-05-07 15:33] ghost commented on #1588
@jennyf19 I updated to 5.0.5 - still seeing the same issue with broker.  Here is an updated log:

[] 2019-05-07T15:31:44.1593410Z: eb6be07c-6298-4d2b-b619-fe0ae59ff518 - AdalLoggerBase.cs: Loading from cache.
[] 2019-05-07T15:31:44.1832330Z: eb6be07c-6298-4d2b-b619-fe0ae59ff518 - AdalLoggerBase.cs: Looking up cache for a token...
[] 2019-05-07T15:31:44.1983550Z: eb6be07c-6298-4d2b-b619-fe0ae59ff51

[2019-05-07 15:37] jennyf19 commented on #1588
@biozal great! Thanks

[2019-05-07 16:05] bgavrilMS commented on #1597
I don't think any calls need to be made from the UI thread. We typically have ways of marshalling to the UI thread from any thread.

[2019-05-07 16:29] MarkZuber commented on #1597
VS was having issues on their end if they didn't call from the UI thread as well on Windows.  So there's still a possible issue lurking in here.

[2019-05-07 18:26] jennyf19 commented on #1588
@biozal Can you email the Company Portal incident ID? Here's how:
- In Company Portal, go to help
- Go to Email Support
- Go to Upload Logs Only
- Then email me the Incident Id
Thanks.
jeferrie@microsoft.com

[2019-05-07 18:33] ghost commented on #1588
@jennyf19  - yep I can do this when I get back to the hotel tonight.

[2019-05-07 21:11] heidijinxujia commented on #1588
I went through the Intune logs and did not see anything suspicious. Based on the stacktrace, the NPE is from here `Microsoft.IdentityModel.Clients.ActiveDirectory.Internal.Platform.AndroidBrokerProxy.GetIntentForBrokerActivity `

Jenny and I had synced offline. To avoid the NPE for the mainLooper, it would be nice to check the Looper.myLooper first.

[2019-05-08 00:19] biozal commented on #1588
new debug log with internal broker fix nuget package: @jennyf19

[] 2019-05-08T00:13:41.9459020Z: aa05a830-a41e-4858-9fcd-9583c7ed95d7 - AdalLoggerBase.cs: BrokerProxy: Getting the Android context
[] 2019-05-08T00:13:42.0336710Z: aa05a830-a41e-4858-9fcd-9583c7ed95d7 - AdalLoggerBase.cs: ADAL PCL.Android with assembly version '5.0.5.0', file version '5.0.5.0' and informational version '5.0.5' is ru

[2019-05-08 00:37] ghost commented on #1588
@jennyf19  here are the latest log using the internal nuget package - which I'm a little concerned about after reading it.  It states we don't have permissions set but we clearly do have permissions set both via code and via the manifest file:

[] 2019-05-08T00:29:54.4378380Z: 06ed606b-7a56-4ec6-92b4-8a5c5b579430 - AdalLoggerBase.cs: BrokerProxy: Getting the Android context
[] 2019-05-08T00:29:54.

[2019-05-08 11:22] bgavrilMS commented on #1588
Hi @biozal - [this is where](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/dev/src/Microsoft.IdentityModel.Clients.ActiveDirectory/Platforms/android/AndroidBrokerProxy.cs#L247) in code we check for those permissions - can you see if your app has permissions using Application.Context.PackageManager.CheckPermission ?

[2019-05-08 11:25] bgavrilMS commented on #1588
After we fix the permission issue, if you can repro everytime, it might be easier if we jump on a call and have a debugging session togheter (i.e. use ADAL as a project reference in your app). Sadly this part of the code is quite obscure...

[2019-05-08 14:26] ghost commented on #1588
@bgavrilMS yes - it will take me a bit to modify and write out as I’m at Build this week, but give me a few hours and I can post this.  I have this exact code running in a different app on a different AAD tenant with a phone running Android 7.1 using the same technique to set permissions.

[2019-05-08 15:03] ghost commented on #1588
@bgavrilMS @jennyf19  as I thought all three permissions are granted in the app:

GetAccounts Permission Status: Granted
ManageAccounts Permission Status: Granted
UseCredentials Permission Status: Granted

I'm checking with this code:
        private void CheckPermissionStatus()
        {
            Console.WriteLine($"GetAccounts Permission Status: {Application.Context.PackageManager.CheckPermis

[2019-05-09 07:21] myokeeh commented on #1504
I moved on to using MSAL.

[2019-05-09 07:21] #1504 closed, assigned to nobody

[2019-05-09 23:48] MattB-msft opened #1599 "CreateFromResourceUrlAsync gone missing in ADAL 5.x preview 1"
**Which Version of ADAL are you using ?**
ADAL5.0.1-preview => ADAL 5.0.5

**Which platform has the issue?**
,net462

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please

[2019-05-10 02:38] umapathyven opened #1600 "ADAL 4.5 is not handling auto sign-in redirection when AcquireTokenSilentAsync fails"
**Which Version of ADAL are you using ?**
Note that to get help, you need to run the latest preview or non-preview version
For MSAL, please log issues to https://github.com/AzureAD/microsoft-authentication-library-for-dotnet
ADAL 4.5

**Which platform has the issue?**
 net4.7, netcore, windows

**What authentication flow has the issue?**
* Desktop

    Integrated Windows Auth

* Web App
     Autho

[2019-05-10 20:05] jennyf19 commented on #1600
@umapathyven are you using the [recommended call pattern](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/AcquireTokenSilentAsync-using-a-cached-token#recommended-pattern-to-acquire-a-token) for acquiring a token? You should call acquire token silent first (which will check the cache) and then catch an AdalException and proceed with an interactive call. The library does no

[2019-05-11 19:28] umapathyven commented on #1600
Hello Jenny

I use the code something like the below but the exception handling is not being called when there is an AdalSilentTokenAcquisitionException exception.

is it something I need to add a catch block for different types of exception to handle this better ?.

catch (AdalSilentTokenAcquisitionException e) {
    // Exception: AdalSilentTokenAcquisitionException
    // Caused when there are n

[2019-05-12 00:06] MarkZuber commented on #1600
AcquireTokenSilentAsync is an async method.  You should be calling "await AcquireTokenSilentAsync(...)".  If you just call Result() you will run into locking problems.  Also, since you're calling Result() instead of following the proper async programming methodology, the exceptions will be wrapped in an AggregateException which will have the actual exception you're looking for wrapped inside it as

[2019-05-12 00:06] #1600 closed, assigned to nobody

[2019-05-14 17:23] ghost commented on #1588
@jennyf19 I have a repo that reproduces the problem - it's located here:  https://github.com/biozal/Xamarin-Forms-Reference-App

Note it needs configuration files for our environment (keystore file, passwords, app name, etc).  Please ping me and I can profile them in a protected email message.  I also can setup some time to walk something through setting up the code to debug if you like, it's not

[2019-05-14 17:54] ghost opened #1601 "ADAL in iOS not saving tokens to keychain"
**Which Version of ADAL are you using ?**
ADAL 4.5.1, 5.05

**Which platform has the issue?**
xamarin iOS

**What authentication flow has the issue?**
Broker

Other? - please describe;

**Is this a new or existing app?**
New issue

We have a sample app that has this behavior here:
https://github.com/biozal/Xamarin-Forms-Reference-App

We have entitlements setup properly according to documentation.

[2019-05-14 21:23] henrik-me commented on #1599
Change was intentional, however for certain scenarios makes sense that this is available as a static as well. @bgavrilMS ?

[2019-05-14 21:26] henrik-me commented on #1599
@MattB-msft : Can you pls. describe the scenario where you need this?

[2019-05-14 21:28] jennyf19 commented on #1601
@biozal was this working in previous versions?

Base on this...wouldn't this be an intune issue? not adal? Will take a look at the repro.

[2019-05-14 21:30] henrik-me commented on #1597
No call's should be needed on the UI thread. It's the responsibility of the caller when we call back to sync to the UI thread as needed. This should only depend on the calling application. Please re-open if you identify a scenario where this is not the case.

[2019-05-14 21:30] #1597 closed, assigned to nobody

[2019-05-14 21:41] henrik-me commented on #1596
@Humour0625 : Closing the issue. Please re-open if you have additional questions.

[2019-05-14 21:41] #1596 closed, assigned to nobody

[2019-05-14 21:51] henrik-me commented on #1589
@smzinovyev : In general MFA should be handled by calling interactive authentication. If you take a look at the ErrorCode from the exception that is what it tells you "interaction_required".

Did you read here: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Exceptions-in-ADAL.NET ?

Also did you try upgrading to ADAL v5? Alternatively have you tried using MSAL.NET?

Do yo

[2019-05-14 22:18] MattB-msft commented on #1599
This is the common flow for our tools over the last several years to discover the authority and resource components for authentication.  We used this method so as to not have to implement our own web request / fault mechanism.

This has been there since at least the 2.x version.  Why remove it from the static interface and not supply a way to get at it.

MattB

________________________________
Fro

[2019-05-15 00:50] henrik-me commented on #1582
@huajunzhao : Typically this exception would occur if multiple requests are being made and the token cache already holds a token matching the same parameters. From the code you are showing thought there would potentially not be any cache sharing as it's all in memory and the context is new'ed up on every new AuthCode retrieval.

To be able to evaluate this we would need either a sample with the re

[2019-05-15 09:55] bgavrilMS commented on #1599
Yes, I see the problem. We refactored ADAL to use an abstraction over the http layer and we made these methods non-static to be able to inject an HttpManager. Sadly, the constructor is internal, so there is no way to use the public method.

Here's what I propose:

- remove the non-static method. It won't break anyone because it can't be called, as the ctor for the class is internal
- bring back th

[2019-05-15 10:03] bgavrilMS commented on #1599
@MattB-msft - you can use the following workaround until a new release is ready:

- send a non-authenticated GET request to the resource. It should fail with a 401.
- extract the "WWW-Authenticate" header from the response
- Call `CreateFromResponseAuthenticateHeader` with the value

[2019-05-15 11:02] bgavrilMS commented on #1492
I believe this has been fixed.

[2019-05-15 11:02] #1492 closed, assigned to bgavrilMS

[2019-05-15 11:03] bgavrilMS commented on #1599
@MattB-msft  - I was trying to write an Integration test for this helper class, but I couldn't actually find a resource that returns a 401. Typical MS resource like the graph just return an HTML message, and other resource, like Sharepoint return 403. What resource do you use this against?

[2019-05-15 18:06] ghost commented on #1601
@jennyf19  as stated in MS Teams - the issue is that the InTune SDK for Xamarin uses bindings between the iOS version of ADAL and itself.  It pulls the token out from the Keychain that the Xamarin version of ADAL is supposed to put in keychain as part of the broker setup.  When we query the keychain - it's empty so they are stating the Xamarin version of ADAL should be putting the token into keych

[2019-05-17 19:02] MattB-msft commented on #1599
You can use this: https://disco.crm.dynamics.com/api/discovery/
that will return something to the effect of :
www-authenticate →Bearer error=access_denied, error_description=Authentication fail. Ticket id c4f10488-251b-4996-97ce-6407f994f022, authorization_uri=https://login.microsoftonline.com/common/oauth2/authorize, resource_id=https://disco.crm.dynamics.com/

note, you will still need to parse

[2019-05-20 03:16] jmprieur commented on #1601
@biozal @jennyf19
I don't think that this is supposed to work with ADAL? this should work with MSAL (which uses a common cache between native iOS and Xamarin.iOS and everything actually)

[2019-05-20 10:54] ghost commented on #1601
@jmprieur so what your saying then is that if I'm a company and I'm using ADAL with Broker and I have some apps with Xamarin using the Xamarin version of ADAL and I have some native apps using the iOS version of ADAL that they can't use the shared Keychain?   This seems like a massive overlook because we were told this does work and there doesn't seem to be anything in the Wiki that states this.

[2019-05-20 14:34] jmprieur commented on #1601
@biozal : If both ADAL native and ADAL Xamarin applications leverage the broker, then this will work.
But if at least one of these apps does not use the broker, this will only work with MSAL (when the broker is available for MSAL, soon)

[2019-05-20 14:49] ghost commented on #1601
@jmprieur so in our example it's a single App with two different ADAL libraries in it.  Our code uses the Xamarin ADAL.NET library - but the InTune code has a Xamarin Binding to the Native version of ADAL for iOS and Android respectively.

One of the bigger questions is why isn't the Xamarin version of ADAL with Broker saving the token to Keychain - because even if I don't call InTune there is a c

[2019-05-21 09:45] jmprieur commented on #1601
@biozal : it's saved to the keychain but the token cache formats (and location/key) in ADAL native and ADAL Xamarin are different
this is one of the big value proposition of MSAL to fix this and have a common token cache format (and location on each platform)

cc: @jennyf19 to keep me honest

[2019-05-21 10:15] ghost commented on #1601
@jmprieur with this statement then InTune's SDK for Xamarin could have never been properly tested to support this because it's Xamarin library is a Native implementation.  So our only options are to either bind to the Native Library or live without support.  MSAL is great - but we need InTune to support it and I have a feeling that isn't coming tomorrow or the next day.

[2019-05-21 10:21] jmprieur commented on #1601
@biozal : Maybe InTune does something specific about it (I'm not very familiar with InTune yet)
@jennyf19, @trwalke, @oldalton @shoatman will confirm.

[2019-05-21 10:29] ghost commented on #1601
@jmprieur InTune's SDK for Xamarin is a binding project to the Native SDK for InTune.  Because of this, it has a copy of the Native version of ADAL for iOS in the SDK and when it tries to use existing tokens, it's using the Native version of ADAL.  We are Xamarin developers, so we are using the Xamarin .NET version of ADAL.  This is how we are kind of in this mess.

[2019-05-21 11:57] jmprieur commented on #1601
Thanks for the explanation, @biozal
Please give us a bit of time to understand the where we are (we need to discuss between teams)
cc: @jennyf19, @trwalke, @oldalton @shoatman @henrik-me

[2019-05-21 12:37] Kyle-Reis commented on #1601
Hey @jmprieur, token cache sharing between .Net ADAL and Objective-C ADAL is supposed to work, so long as the [KeychainSecurityGroup property](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Token-cache-serialization#enable-token-cache-sharing-across-ios-applications) has been configured to the same keychain access group used by Objective-C ADAL (com.microsoft.adalcache).

[2019-05-21 14:26] aweFalafelApps opened #1603 "Credentials required for second resource on iOS"
**Which Version of ADAL are you using ?**
ADAL 5.0.5

**Which platform has the issue?**
Xamarin.iOS

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Is this a new or existing app?*

[2019-05-21 14:40] jmprieur commented on #1603
Did you use the recommended pattern? (AcquireTokenSilentAsync / AcquireTokenAsync)
BTW, now that MSAL.NET GA-ed, if you are starting a new project, we recommend that you switch to MSAL.NET. This is where all the future innovation will happen (and we can help you updating)

[2019-05-21 14:48] aweFalafelApps commented on #1603
I did use the recommended pattern, yes. An AdalSilentTokenAcquisitionException is thrown and caught from AcquireTokenSilentAsync and then AcquireToken is called with PromptBehavior.Auto. Does MSAL support ADFS 2.0?

[2019-05-21 14:49] aweFalafelApps commented on #1603
The AdalSilentTokenAcquisitionException is thrown on both platforms btw. AcquireToken just doesn't prompt again on Android. And thank you for the very prompt reply!

[2019-05-21 14:51] jmprieur commented on #1603
@aweFalafelApps  Oh no, sorry, I overlooked that you are using ADFS 2.0. MSAL will only support ADFS 2019. that's not an option for you.

Could it be that the second resource has a conditional access policy requiring re-sign-in when the client is on iOS? (not sure conditional access policies exist with ADFS ....)

[2019-05-21 14:53] aweFalafelApps commented on #1603
@jmprieur There are no conditional access policies

[2019-05-21 14:58] jmprieur commented on #1603
@jennyf19 @trwalke  @oldalton would we know why the behavior could be different (additional sign-in) on iOS?

[2019-05-21 16:00] jennyf19 commented on #1601
@biozal @Kyle-Reis I'm aware of this issue, and was prioritizing the Android broker issue. Will try to take a look at this today. We had followed our Objective-C ADAL team's guidance on this, and tokens should be shared across native and Xamarin apps using the same keychain access group, as @Kyle-Reis, points out. I will try to get some answers and respond here sometime today. Thanks.

[2019-05-21 16:51] oldalton commented on #1601
Hi, if the broker is involved, ADAL Obj-C currently has the issue that it intercepts any responses coming from broker even if those are meant for ADAL.NET SDK. We've released a fix to address this issue and it's included in [ADAL 2.7.11](https://github.com/AzureAD/azure-activedirectory-library-for-objc/releases/tag/2.7.11)

[2019-05-21 16:56] oldalton commented on #1603
If I remember correctly, ADFS 2.0 doesn't support MRRTs. So, getting exception in silent call is expected. Regarding why additional interaction is required, I'd analyze what kind of webview ADAL.NET is using. Both AAD and ADFS set session-only cookies as opposed to persistent cookies. On iOS, for UIWebView, those cookies will be gone as soon as process is killed. For WKWebView, cookie jar will be

[2019-05-22 18:23] aweFalafelApps commented on #1603
@jmprieur what do you need from me?

[2019-05-22 23:10] jennyf19 opened #1604 "Null Ref when IdToken is not returned"
**Which Version of ADAL are you using ?**
5.0.5 - v4.

**Repro**
[code]
ADAL does not send the scope OpenId w/the AuthCode flow, so no idToken is returned. The idToken is used when writing to the MSAL cache.

In `CacheFallbackOperations.WriteMsalRefreshToken`, we don't check for null in `result.Result.UserInfo.GivenName`, so there is a [null ref thrown here](https://github.com/AzureAD/azure-active

[2019-05-23 07:49] jmprieur commented on #1604
@jennyf19
In ASP.NET / ASP.NET core apps things are a bit different as ASP.NET request the scopes and starts the authorization flow, and then the code is redeemed by ADAL or MSAL when the code is received
I don't think that the issue is with ADAL.NET. Isn't the issue that the ResponseType requested in the ASP.NET app did not contain the idtoken.

See this line: https://github.com/Azure-Samples/act

[2019-05-23 07:53] jmprieur commented on #1604
Let's discuss this at standup.

[2019-05-28 14:35] bgavrilMS commented on #1354
This is almost 1 year old, can we close this ?

[2019-05-28 14:38] bgavrilMS commented on #1354
Closing, please reopen if there are more details.

[2019-05-28 14:38] #1354 closed, assigned to trwalke

[2019-05-29 00:42] jennyf19 opened #1606 "iOS Broker Null Ref in TokenResponse (Key missing)"
**Which Version of ADAL are you using ?**
5.0.5

**Which platform has the issue?**
Xamarin iOS + iOS Broker v2

**Repro**
- Register an app in the portal
- Register this redirectUri: `adaliosapp://com.yourcompany.xformsapp`
- Do not include MS Graph as required permissions
- Include the client_id from the app in the Xamarin project (in AppConstants.cs)
- Rebuild

- When the app loads, select the "

[2019-05-29 06:20] henrik-me commented on #1604
@jmprieur : How do  you envision that we should ensure we get the idtoken? How do we handle the error? provide a message saying how to fix this for web applications? Is this something the webextensions.withMicrosoftIdentityPlatform is supposed to address? Ideas on what we do short term to improve supportability?

[2019-05-29 06:22] henrik-me commented on #1604
@jennyf19 : which scenario is this addressing? As JM says web apps using asp.net and aspnet core should be changed as it's done in the samples. However I was thinking this was solving it for someone else for some other scenario?

[2019-05-29 08:24] jmprieur commented on #1604
webextensions.withMicrosoftIdentityPlatform ? do you mean Microsoft.Identity.Web,  @henrik-me : if that's the case, yes, it handles it.

BTW, I'm not opposed in adding the openid scope but only in flows where we need it (not in Client credentials). In the case of AcquireTokenByAuthorizationCode does it add more network calls, @jennyf19 ? also does it prevent from having other scopes?

[2019-05-29 15:57] jennyf19 commented on #1604
@jmprieur @henrik-me I'll just revert the changes and include the one for the null ref check. in msal we are sending openId w/all the calls, so was doing something similar here, but i'll leave it. It's not an extra network call as it's already included in the request. No reason to spend time on a non-issue.

[2019-05-29 17:09] jmprieur commented on #1604
@jennyf19  I actually checked today that the v2.0 endpoint demands the openid claim for grant_type == "authorization_code".
Apparently does not, but if it does not harm feel free to add it.

[2019-05-29 20:16] jennyf19 commented on #1604
@jmprieur yes...it is one of the three required scopes for v2, but I don't see a good reason to make the changes now in ADAL.

@henrik-me - what are your thoughts? I can just do the null ref check and that's it. Seems like the best option.

[2019-05-30 04:59] #1588 closed, assigned to bgavrilMS, jennyf19

[2019-05-30 06:25] jmprieur commented on #1604
What I would not want is that because we request the scope, something negative side effect happen like changing the session, which will break existing ADAL apps. Maybe the right fix is indeed to just check for the null ref as you propose, @jennyf19
cc: @henrik-me

[2019-05-30 15:50] cdacle opened #1608 "Deserialization error with AcquireTokenAsync: "No set method for property 'TenantDiscoveryEndpoint' in type 'Microsoft.IdentityModel.Clients.ActiveDirectory.InstanceDiscoveryResponse'"
**Which Version of ADAL are you using ?**
Note that to get help, you need to run the latest preview or non-preview version
For MSAL, please log issues to https://github.com/AzureAD/microsoft-authentication-library-for-dotnet
ADAL 5.0.5.0

**Which platform has the issue?**
UWP

**What authentication flow has the issue?**
HoloLens Unity App
    * [X] Interactive

Other? - please describe;

**Is this

[2019-05-30 15:56] jmprieur commented on #1608
@cdacle : is it an option for you to use MSAL.NET, instead of ADAL.NET ?
We have an issue opened already to support **Unity** on MSAL (which GAed, and which is where the innovation will happen moving forward=

[2019-05-30 17:43] cdacle commented on #1608
Is there a working example of MSAL.NET running in a HoloLens Unity app? I'm trying various IPublicClientApplication apis, e.g. `AcquireTokenByUsernamePassword`, `AcquireTokenInteractive`, `AcquireTokenByIntegratedWindowsAuth`, and they all show a similar deserialization error as with the ADAL:

[code]
a repro:
[code]

[2019-05-30 19:02] cdacle commented on #1608
I posted the MSAL issue [here](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1185)

[2019-05-31 18:05] jennyf19 commented on #1528
@samsakni Can you confirm you're using the latest version of ADAL?

Do you have a fiddler trace you can share?

[2019-05-31 18:05] jennyf19 commented on #1603
@aweFalafelApps Could we get the iOS logs from you? thanks.

[2019-06-05 18:15] XuYanXya opened #1609 "multiple_matching_tokens_detected: The cache contains multiple tokens satisfying the requirements. Call AcquireToken again providing more arguments (e.g. UserId)"
**Which Version of ADAL are you using ?**
We're using Microsoft.IdentityModel.Clients.ActiveDirectory.3.17.2

**Which platform has the issue?**
We're using .net platform

**What authentication flow has the issue?**
Web App - Authorization code - Access token retrieval

Other? - please describe;

**Is this a new or existing app?**
The app is in production, uses the same version of ADAL, but started

[2019-06-05 19:07] mathyscott commented on #1609
Same thing has been happening for us on 3.19.8 for about a month now.

[2019-06-05 19:17] jmprieur commented on #1609
@XuYanXya @mathyscott : are there users present in several clouds?

[2019-06-05 19:22] XuYanXya commented on #1609
@jmprieur Could you clarify what do you mean by several clouds?

[2019-06-05 19:27] jmprieur commented on #1609
sorry, I was not clear, @XuYanXya. I meant [National clouds](https://docs.microsoft.com/en-us/azure/active-directory/develop/authentication-national-cloud)

[2019-06-05 20:01] XuYanXya commented on #1609
@jmprieur Thanks for providing the doc. So far, we're only using Azure AD (global service). So there is no users present in multiple clouds.

[2019-06-05 22:49] henrik-me opened #1610 "NullRefException if getting a 504 from Gateway"
**Which Version of ADAL are you using ?**
Happens on v3 as well as v5.0.5

**Which platform has the issue?**
net45/netcore

**What authentication flow has the issue?**
* Desktop / Mobile
    * [X] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [X] Authorization code
    * [ ] OBO
* Web API
    * [X] OBO

Other? - p

[2019-06-06 16:40] ghost opened #1611 "Calling the AuthenticationContext TokenCache ReadItems method always returns 0 items and Count is changed to 0 after calling"
**Which Version of ADAL are you using ?**
5.0.5

**Which platform has the issue?**
iOS

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ x] Broker

Other? - please describe;

**Is this a new or existing app?**
existing app

**Repro**
var authContext = new AuthenticationContext(endpoint.Authority);
tokenCache = authContext.TokenCache.ReadItems();

**Expected behavior**
When lo

[2019-06-06 16:58] bgavrilMS commented on #1610
I can take a look at this. The underlying issue is the 504 though.

[2019-06-06 17:00] bgavrilMS commented on #1610
Normally for errors in the 500-600 range we retry once. Which seems to happen. Then instead of throwing an MsalServiceException we have a null ref, definitely a bug on our side.

Workaround - treat the NullReferenceException as an MsalServiceException. I will have a look at this in more detail, it should not be too dificult to come up with a fix, but it will take us a day or 2 to release.

[2019-06-06 17:32] #1586 closed, assigned to nobody

[2019-06-06 17:34] jmprieur commented on #1569
Not a regression.
This is a limitation in ADAL. The other way round works (MSAL). The advice is for these scenarios, move to MSAL.NET

won't fix.

[2019-06-06 17:34] #1569 closed, assigned to nobody

[2019-06-06 17:35] jmprieur commented on #1568
won't fix. It's fixed in MSAL.NET

[2019-06-06 17:35] #1568 closed, assigned to trwalke

[2019-06-06 17:36] #1550 closed, assigned to nobody

[2019-06-06 17:36] #1548 closed, assigned to MarkZuber

[2019-06-06 17:37] jmprieur commented on #1543
Won't fix in ADAL.
We'll do it in MSAL.NET (sub error code for Conditional access)

[2019-06-06 17:37] #1543 closed, assigned to nobody

[2019-06-06 17:38] jmprieur commented on #1538
won't fix in ADAL.NET
will be taken care of in the broker.
cc: @jennyf19

[2019-06-06 17:38] #1538 closed, assigned to jennyf19

[2019-06-06 17:39] jmprieur commented on #1516
The wiki is updated.

[2019-06-06 17:39] #1516 closed, assigned to nobody

[2019-06-06 17:40] #1509 closed, assigned to jmprieur

[2019-06-06 17:42] jmprieur commented on #1415
Won't fix in ADAL.NET

[2019-06-06 17:42] #1415 closed, assigned to nobody

[2019-06-06 17:48] jmprieur commented on #1345
Duplicate of #1538
cc: @jmprieur

[2019-06-06 17:48] #1345 closed, assigned to jennyf19

[2019-06-06 17:48] jmprieur commented on #1209
@jmprieur

[2019-06-06 17:49] jmprieur commented on #1209
The async serialization methods are available in MSAL.NET 4.0
Won't fix for ADAL

[2019-06-06 17:49] #1209 closed, assigned to nobody

[2019-06-06 17:50] jmprieur commented on #1204
MSAL.NET supports it
Won't fix for ADAL.NET

[2019-06-06 17:50] #1204 closed, assigned to jmprieur

[2019-06-06 18:27] jmprieur commented on #1609
Another question for you @XuYanXya : would you have a user who would have kept the same account, but changed the email address associated with the account?

[2019-06-06 18:57] XuYanXya commented on #1609
@jmprieur I can give more info:
The customer has 2 emails: A@outlook.com and B@company. B@company is made an alias of A@outlook.com.
When he tries to sign in with B@company, he was prompted that his email is used with more than one accounts from Microsoft (both work account and personal account).

I'm not sure if the customer ever changed his email address associated with one account. Why does thi

[2019-06-06 19:00] XuYanXya commented on #1609
@jmprieur Also do you have a recommended version to upgrade to without breaking changes?

[2019-06-06 19:43] bgavrilMS commented on #1610
I can't repro this. I even tried injecting a 504 using Fiddler. The only potential bad path I see is if ValidateAuthority is set to false. Is it?

[2019-06-06 20:30] jmprieur commented on #1574
I believe that the issue was with the sample. https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2 or https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2 (which are both using the `MSALPerUserMemoryTokenCacheProvider` which got fixed there?

[2019-06-06 20:31] jmprieur commented on #1574
Closing the issue

[2019-06-06 20:31] #1574 closed, assigned to MarkZuber, bgavrilMS, jmprieur

[2019-06-06 20:31] MarkZuber commented on #1609
@XuYanXya Based on your comment that B@company is an alias for A@outlook.com, these will be the same account with the same object id.  this is very likely what the problem is and is equivalent to having the user change their email address on their @outlook.com account (the account itself and it's objectid stays the same).  Are you doing your lookup based on UPN/DisplayableId or based on objectid?

[2019-06-06 20:32] jmprieur commented on #1547
Closing as there was no answer and we cannot repro on our side
Feel free to reopen if you have more repro steps.

[2019-06-06 20:32] #1547 closed, assigned to jmprieur

[2019-06-06 20:34] jmprieur commented on #1386
This was documented
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Acquiring-tokens-interactively---Public-client-application-flows#getting-the-redirect-uri-in-the-case-of-windows-universal-apps

[2019-06-06 20:34] #1386 closed, assigned to jmprieur

[2019-06-06 20:42] MarkZuber commented on #1609
I'm also confused about your statement that your redis cache doesn't have anything for the user.  Your redis cache is (presumably) what you're using to populate the ADAL tokencache, so it sounds like it's populated with something since you're seeing more than one response from AcquireTokenSilent.  Can you please clarify some of your scenario?

[2019-06-06 20:47] jmprieur commented on #1363
@jamesmcroft : is this still an issue for you?

[2019-06-06 20:49] jmprieur commented on #1353
Closing as duplicate of https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/1601 which is being fixed.

[2019-06-06 20:49] #1353 closed, assigned to bgavrilMS, jmprieur

[2019-06-06 20:53] jmprieur commented on #1137
Did you try with AcquireTokenSilentAsync?
Otherwise, we recomment to move to MSAL.NET (which GA-ed).
The model in MSAL.NET is clearer, that you call AcquireTokenSilent to get a token from the cache, and if you don't, you have the interaction. You can also force another token.

[2019-06-06 20:53] #1137 closed, assigned to jmprieur

[2019-06-06 20:54] #1515 closed, assigned to jmprieur

[2019-06-06 21:18] jmprieur commented on #371
Won't do in ADAL.NET.
WIll be considered in MSAL.NET based on requests

[2019-06-06 21:18] #371 closed

[2019-06-06 21:19] jmprieur commented on #671
Won't do in ADAL.NET.
In MSAL.NET this is not necessary as the System browser is used.

[2019-06-06 21:19] #671 closed

[2019-06-06 21:19] jmprieur commented on #1000
Won't fix in ADAL.NET

[2019-06-06 21:19] #1000 closed

[2019-06-06 21:20] #1040 closed

[2019-06-06 21:21] jmprieur commented on #1051
Closing as we cannot repro

[2019-06-06 21:21] #1051 closed

[2019-06-06 21:22] jmprieur commented on #1067
MSAL.NET should support crypto correctly.
Won't fix in ADAL.NET

[2019-06-06 21:22] #1067 closed

[2019-06-06 21:23] jmprieur commented on #1078
See the documentation: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Acquiring-tokens-interactively---Public-client-application-flows#getting-the-redirect-uri-in-the-case-of-windows-universal-apps

[2019-06-06 21:23] #1078 closed

[2019-06-06 21:25] jmprieur commented on #1144
Done in MSAL.NET
Won't fix in ADAL.NET

the creative workaround explained above can be used :)

[2019-06-06 21:25] #1144 closed, assigned to nobody

[2019-06-06 21:27] jmprieur commented on #1608
Thanks @cdacle. We'll rather make it work in MSAL.NET
Do you mind closing the ADAL.NET one?

[2019-06-07 02:06] jennyf19 commented on #1601
We decided today that the fix for this is on ADAL Ojb-C and Authenticator. They do not return client_info to ADAL, which means we do not populate the cache correctly. They will be making this fix in their next release, which should happen in a week.
cc: @biozal @jmprieur @henrik-me

[2019-06-07 03:19] henrik-me commented on #1610
@bgavrilMS the underlying issue doesn't really matter (there can be many reasons for a proxy to time-out). If the library returns a null reference exception instead of a meaningful http error then there is no good way to write code to handle the scenario. Really this should be an msal service exception to ensure callers can have the simplest possible error handling code.

[2019-06-07 07:00] jmprieur commented on #1589
Closing as there was no answer for several weeks.
Feel free to reopen.

[2019-06-07 07:00] #1589 closed, assigned to henrik-me

[2019-06-07 09:46] bgavrilMS commented on #1610
Sure, we should never throw a NullRef, it's a bug in our code, but I just can't repro it. I added more guards against null checks and more logging (based on the callstack), so if this repros we should have a better idea what's happening.

[2019-06-07 11:15] jamesmcroft commented on #1363
I will update to the latest version (5.0.5) of the NuGet packages and explore this further.

[2019-06-10 09:53] bgavrilMS commented on #1477
The Android team are working hard to make the broker compatible with MSAL, our next-gen auth library. We're focusing resources on improving the experience in MSAL (e.g. bypass the account picker by using a background service), so I'm going to close this issue.

[2019-06-10 09:53] #1477 closed, assigned to bgavrilMS

[2019-06-10 15:56] aweFalafelApps commented on #1603
Hey @jennyf19 sorry for the delay! I've got that log for you. I'd probably be more comfortable emailing it to you though instead of posting it publicly. Is that possible?

[2019-06-10 16:04] jennyf19 commented on #1603
@aweFalafelApps sounds great -> jeferrie@microsoft.com. Thanks!

[2019-06-11 03:50] m12lrpv opened #1615 "AccessToken from AcquireTokenAsync is not valid for resource"
**Which Version of ADAL are you using ? --> 4.5.1.0

**Which platform has the issue?**
net45,

* Web App
    * [ ] Authorization code

Other? - please describe;

 The app is in production, and I have upgraded to a new version of ADAL

Initially working Code

                string resource = "https://api.businesscentral.dynamics.com";
                AuthenticationContext authContext = new Authent

[2019-06-11 04:05] #1615 closed, assigned to nobody

[2019-06-11 06:19] jmprieur commented on #1615
@m12lrpv : is there an issue? or was it something on your side?

[2019-06-11 11:47] bgavrilMS commented on #1507
This seems to be Xamarin problem that occurs in certain configuration.

We don't use that static constructor for TokenCache in MSAL (and generally they are not used a lot), so migrating is probably a workaround.

[2019-06-11 14:25] #1606 closed, assigned to jennyf19

[2019-06-11 14:38] ghost commented on #1611
@jennyf19 I'll add this behavior is only happening in iOS.  In Android the feature is functioning as it should.

[2019-06-11 16:40] jennyf19 commented on #1611
Thanks, @biozal ...we're going to try and get an ADAL release out w/a few small fixes, so I'll probably have time to take a look at this. Just to clarify, is this w/using broker or without?

[2019-06-11 16:49] ghost commented on #1611
@jennyf19 I feel really bad now, you can close this issue.  I was using your test version of 5.01 when this was happening. I switched back to 5.0.5 for all our stuff today and it works on both platforms.  The issue was with broker, but given it's fixed in 5.0.5 I'm happy!

[2019-06-11 16:51] jennyf19 commented on #1611
@biozal hooray...and great timing. I wonder what fixed it. So you're all good aside from the iOS broker issue -> ADAL.NET skipping keychain w/calls from broker due to lack of client_info returned from broker..?

[2019-06-11 16:56] jennyf19 commented on #1611
Also, @biozal before we close this, I sent you our 5.0.6 release, if you want to verify the issue does not repro there, that would be great. thx.

[2019-06-11 17:15] jennyf19 commented on #1507
@mandel-macaque Any thoughts on this? Are you aware of any similar issues w/Xamarin iOS? Thanks.

[2019-06-11 17:37] ghost commented on #1611
Checking now!

[2019-06-12 06:05] m12lrpv commented on #1615
Sorry there is an issue but it's not really ADAL's responsibility which is why I quickly closed it.

The Azure AD and Dynamics teams need to get together to fix client credentials authentication such that web jobs in azure can obtain the necessary Bearer Token to allow said web job to call the Dynamics Business Central API's.

Additionally MS Dynamics Basic Authentication is not supported with ADA

[2019-06-12 07:29] jmprieur commented on #1615
Thanks for the update @m12lrpv
@henrik-me FYI

[2019-06-13 19:16] dluc opened #1619 "Validating JWT tokens and supporting multiple issuers"
moved from: https://github.com/aspnet/AspNetCore/issues/11163

### Is your feature request related to a problem? Please describe.

I'm using OpenID Connect (`Microsoft.IdentityModel.Protocols.OpenIdConnect` 5.4.0 nuget) in my C# web API, and I'd like to support and validate JWT tokens issued by multiple identity providers (MSA, LinkedIn, GitHub, Google, etc.), and I appreciate the fact that `Micro

[2019-06-13 22:04] jennyf19 commented on #1611
fixed in [adal 5.1.0](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/5.1.0)

[2019-06-13 22:04] #1611 closed, assigned to jennyf19

[2019-06-13 22:04] jennyf19 commented on #1599
@MattB-msft fixed in [adal 5.1.0](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/5.1.0)

[2019-06-13 22:04] #1599 closed, assigned to bgavrilMS

[2019-06-13 22:04] jennyf19 commented on #1610
fixed in [adal 5.1.0](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/5.1.0)

[2019-06-13 22:04] #1610 closed, assigned to bgavrilMS

[2019-06-13 22:05] jennyf19 commented on #1604
fixed in [adal 5.1.0](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/5.1.0)

[2019-06-13 22:05] #1604 closed, assigned to jennyf19

[2019-06-13 22:36] jennyf19 commented on #1606
Fixed in [adal 5.1.0 release](https://github.com/azuread/azure-activedirectory-library-for-dotnet/releases/5.1.0)

[2019-06-14 00:37] jmprieur commented on #1619
@dluc : this is not an ADAL.NET issue, but a middleware issue.
Would you mind transfering it to https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues ?

[2019-06-16 00:23] dluc commented on #1619
of course, thanks for pointing me to the right repo 👍

[2019-06-16 00:23] #1619 closed, assigned to nobody

[2019-06-19 14:00] akoh-victor opened #1620 "cannot convert from 'Microsoft.IdentityModel.Clients.ActiveDirectory.PromptBehavior' to 'Android.App.Activity' cannot convert from 'Microsoft.IdentityModel.Clients.ActiveDirectory.PromptBehavior' to 'UIKit.UIViewController'"
**Which Version of ADAL are you using ?**
version 5.1.0

**Which platform has the issue?**
 xamarin forms

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive

* Web App
    * [ ] Authorization code

Other? - please describe;

**Is this a new or existing app?**
new app in development
**Repro**

[code]

**Expected behavior**
A build and display Microsoft login page

[2019-06-19 18:29] jennyf19 commented on #1620
@ideal-it-solutions The `PlatformParameters` have to be set in the respective Android or iOS projects.
Here's how we're doing it for our sample app for [ios](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/dev/devApps/XFormsApp.iOS/iOSPlatformParametersFactory.cs#L34) and setting the factory to the [correct UIViewController](https://github.com/AzureAD/azure-activedirectory

[2019-06-20 07:57] rkshnair opened #1621 "Azure AD B2C error trying to sign in / change Password"
I am using Microsoft.Idendity.Client(V4.0.0) library along with Xamarin for login to Azure AD B2C account.

Previously I was using external browse(chrome) for opening the login window. And yesterday I changed the code like given below.

[code]
I have changed the behaviour to open the embedded browser for login by adding the   `.WithUseEmbeddedWebView(true)` configuration.

After changing this, I a

[2019-06-20 12:22] akoh-victor commented on #1620
@jennyf19  Thank you very much i would try that. For MSAL i tried after integration. the token i got does not tally when i call the api

[2019-06-20 18:48] jennyf19 commented on #1620
@ideal-it-solutions So when using MSAL, you are not getting an access token back? have you checked the scopes are correct? You might want to check out this [documentation on acquiring tokens in msal](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Acquiring-Tokens#pattern-to-acquire-tokens-in-msal-3x).

[2019-06-20 18:49] jennyf19 commented on #1621
@rkshnair ADAL.NET does not support B2C, however we are discussing this in the [issue you created in MSAL.NET](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1225)...closing this issue as unrelated to ADAL.NET,

[2019-06-20 18:49] #1621 closed, assigned to nobody

[2019-06-20 19:16] akoh-victor commented on #1620
@jennyf19 I do get access token but when I make a call to our api I get an invalid token .

[2019-06-20 19:41] jennyf19 commented on #1620
@ideal-it-solutions what's the exact error message?

[2019-06-24 11:12] akoh-victor commented on #1620
@jennyf19 Sorry for delayed response i was on break.

[2019-06-24 11:17] akoh-victor commented on #1620
To get the exact error message i will need to re implement it again.
I have been able to work with the ADAL the challenge am having now is the redirect uri.
on that i have two questions
1 how do i register the url on the android
2 how do i register the url on ios
here is my redirect uri from azure portal
msalfa10xxxxxxx-4d88-b477-ec54e54xxxxxxxx://auth

[2019-06-24 11:43] akoh-victor commented on #1620
![Screenshot_2019-06-24-12-40-19](https://user-images.githubusercontent.com/16347216/60016247-8fd9ba00-967d-11e9-9c49-e3cd3817ca87.png)
here is the error i get once i provide the user name and password

[2019-06-24 12:32] jmprieur commented on #1620
ideal-it-solutions : this means the user you try to sign-in does not exist in the tenant. I don't understand how this relates to the title of this issue?

[2019-06-24 12:36] akoh-victor commented on #1620
@jmprieur

the title have been resolved am having other issue relating to Redirecting as pointed above.

[2019-06-24 12:40] jmprieur commented on #1620
@ideal-it-solutions : thanks for the explanation (my advise, moving forward would be to raise a different issue for a different problem)
I don't think you even get to the redirect URI issue with the screenshot you are showing: Azure AD did not even accept the user.

[2019-06-24 12:44] akoh-victor commented on #1620
@jmprieur Okay that make sense i would close this issue and open an appropriate one

[2019-06-24 12:44] #1620 closed, assigned to nobody

[2019-06-24 23:57] rich617 commented on #1067
Use the "netstandard1.3" platform for .NET Core and NOT "net45". That solved the problem for me.

[2019-06-27 17:41] #1507 closed, assigned to bgavrilMS

[2019-06-27 17:45] jennyf19 commented on #1601
Issue has been fixed w/the [5.1.0 release](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/5.1.0) and an update in the authenticator app 6.3.6 release.
@biozal has verified the fix as well.

[2019-06-27 17:45] #1601 closed, assigned to jennyf19

[2019-06-28 22:13] henrik-me commented on #1012
Closing as we are not adding new features to ADAL.

Please try out [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet), the authn library which is part of the Microsoft identity platform.

If you find any issues using MSAL, please open an issue there.

[2019-06-28 22:13] #1012 closed

[2019-06-28 22:20] henrik-me commented on #893
Closing as we are not adding new features to ADAL. If you believe there is an issue which needs to be addressed in ADAL, please don't hesitate to re-open or create a new issue.

Please try out [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet), the authn library which is part of the Microsoft identity platform.

If you find any issues using MSAL, please open an issue th

[2019-06-28 22:20] #893 closed

[2019-06-28 22:21] henrik-me commented on #888
Closing as we are not adding new features to ADAL. If you believe there is an issue which needs to be addressed in ADAL, please don't hesitate to re-open or create a new issue.

Please try out [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet), the authn library which is part of the Microsoft identity platform.

If you find any issues using MSAL, please open an issue th

[2019-06-28 22:21] #888 closed

[2019-06-28 22:21] henrik-me commented on #1048
Closing as we are not adding new features to ADAL. If you believe there is an issue which needs to be addressed in ADAL, please don't hesitate to re-open or create a new issue.

Please try out [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet), the authn library which is part of the Microsoft identity platform.

If you find any issues using MSAL, please open an issue th

[2019-06-28 22:21] #1048 closed

[2019-06-28 22:22] henrik-me commented on #1052
Closing as we are not adding new features to ADAL. If you believe there is an issue which needs to be addressed in ADAL, please don't hesitate to re-open or create a new issue.

Please try out [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet), the authn library which is part of the Microsoft identity platform.

If you find any issues using MSAL, please open an issue th

[2019-06-28 22:22] #1052 closed

[2019-06-28 22:23] henrik-me commented on #1070
Closing as we are not adding new features to ADAL. If you believe there is an issue which needs to be addressed in ADAL, please don't hesitate to re-open or create a new issue.

Please try out [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet), the authn library which is part of the Microsoft identity platform.

If you find any issues using MSAL, please open an issue th