[2014-04-25 22:51] AdamSepehri opened #2 "In ADFS case, should not generate GUID UserID in case of client only scenario"

[2014-04-25 22:54] AdamSepehri opened #3 "Test WinRT silent mode with persistent cookies"

[2014-05-02 18:23] brentschmaltz opened #6 "Errors should return 'ErrorUri'"
Errors from OAuth have 3 parts: ErrorCode, ErrorDescription, ErrorUri.  This library doesn't surface ErrorUri.

[2014-05-20 18:27] omercs opened #22 "Regex update for AuthenticationParameters"
It will be similar to node.js and ios ADAL
This is related to the Authentication Challenge. ADAL receives 401 challenge and gets authority information from the header using regex.

[2014-05-28 18:46] sri- opened #24 "Update AuthenticationResult.Serialize() to return an encoded string"
An authenticationResult object should be base64 encoded before adding it to the token cache store because ADAL tries to decode it while trying to read the result from the cache. This is not obvious and fragile - if ADAL changes it's implementation, the apps that are adding tokens into the cache would be broken.

Consider updating AuthenticationResult.Serialize() to return an encoded string.

[2014-06-02 22:17] sri- opened #26 "Update AcquireTokenByAuthCode and AcquireTokenByRefreshToken to cache tokens"
In web apps that use OpenId connect handler, we rely on using ADAL for getting access tokens using AcquireTokenByAuthCode and AcquireTokenByRefreshToken methods. Since these methods do not store or retrieve tokens from cache, developers are forced to do token management themselves, which includes storing and retrieving tokens to/from cache, checking the expiration time on the tokens etc.

[2014-06-22 06:27] sri- opened #31 "AcquireToken(resource, userAssertion, clientAssertion) throws while getting an access token using a multi-resource refresh token"
A first chance exception of type 'Microsoft.IdentityModel.Clients.ActiveDirectory.AdalServiceException' occurred in Microsoft.IdentityModel.Clients.ActiveDirectory.dll

Additional information: AADSTS90014: The request body must contain the following parameter: 'client_secret or client_assertion'.

Call Stack

Microsoft.IdentityModel.Clients.ActiveDirectory.OAuth2Request.SendTokenRequestByRefreshTo

[2014-06-22 06:27] sri- opened #32 "Publish symbols for the latest build"
Please publish symbols to help debugging.

[2014-06-30 20:09] RandalliLama opened #37 "AuthenticationContext should not update the authority after retrieving a token."
The library should no longer be replacing the common tenant with a specific tenant after retrieving a token.  The method UpdateAuthorityTenantAsync should disappear.

[2014-06-30 20:38] RandalliLama opened #38 "AuthenticationParameters should use common RegEx for parsing values."
The other code bases use a standard RegEx to parse out the AuthenticationParameters.  This library should do the same.

[2014-07-09 18:30] #24 closed, assigned to nobody

[2014-07-09 19:47] #32 closed, assigned to afshins

[2014-07-14 23:26] ankumat opened #52 "AuthenticationResult.UserInfo.IdentityProvider field is populated as null, which is confusing"
I am using a native client application to get an access token for a resource, registered in a standard Azure AD tenant e.g. mytenant.onmicrosoft.com.
I am using ADAL RT in my app to get the access token. After successful authentication for
admin@ mytenant.onmicrosoft.com user, I see that AuthenticationResult.UserInfo.IdentityProvider field is null. How can it be null? I assume it should look like

[2014-07-28 18:47] #2 closed, assigned to afshins

[2014-07-28 21:54] anand-rengasamy opened #58 "Not able to sign out and sign in as different user"
I would like to provide a sign out and sign in as different user experience in my app.
In sign out, I am clearing the token cache
Ctx.TokenCacheStore.Clear() And Call 'AcquireTokenAndContinue'.

Since I do not know the user id upfront, I am using the below overload
public void AcquireTokenAndContinue(string resource, string clientId, Uri redirectUri, AuthenticationContextDelegate authDelegate);

C

[2014-07-29 01:58] anand-rengasamy opened #60 "x-client CPU should be X86 when running in WinPhone Emulator"
It should follow the same code as RT - If we remove the special case for phone in NativeHelpers
# if ADAL_WINPHONE

[code]
# else

[2014-07-29 18:23] anand-rengasamy opened #62 "ADAL RT: AcquireTokenAsync(resource, ClientId) fails when app access to account info is off"
Go to Control panel --> PC Settings --> Privacy --> General.
Make sure that option for 'Let apps access my name, picture & account info' is set to off.
This is the default settings.

In RT app, call
authContext.AcquireTokenAsync(resource, ClientId)

Getting below error.
"user_information_access_failed: Cannot access user information. Check machine's Privacy settings or initialize UserCredential wi

[2014-07-30 16:49] anand-rengasamy opened #63 "Signout-Signin experience issue in WinPhone"
Using 2.7.10729.1634-rc bits of ADAL

When user Sign out and sign-in, I expect to provide the credentials directly. But I see a message saying you are already signed in.
Below screen that provides 2 options
1.  Remain signed in with this account
2.  Sign out and sign in with another account

Reading this, I expected that I won’t be prompted for credential when clicking (1)  That is not the case. I

[2014-07-31 21:20] afshins opened #65 "Update MRRT logic based on open id connect document"
The current behavior to determine whether a refresh token is MRRT or not is based on presence of the field 'resource' in token response, but that needs to change as MRRT is a behavior of the STS, not the refresh token and needs to be determined from STS metadata using Open ID Connect Discovery.

[2014-07-31 21:22] afshins opened #66 "Update token cache logic in AcquireTokenByAuthoricationCode"
"The lack of a resource would make a cached access token inaccessible in subsequent calls, however if its associated refresh token is an MRRT then having it cached would help making subsequent AcquireTokenSilent calls succeed. Hence, it looks like we should cache the acquiretokenbyauthorizationcode result, at least when we know that the origin authority trades MRRTs."

[2014-08-04 19:28] #26 closed, assigned to sri-

[2014-08-04 19:30] #31 closed, assigned to afshins

[2014-08-04 19:34] #38 closed, assigned to nobody

[2014-08-04 19:53] #62 closed, assigned to nobody

[2014-08-04 21:29] anand-rengasamy opened #69 "AcquireTokenInteractiveHandler throws System.IndexOutOfRangeException when empty extraQueryParameters is passed."
Latest dev branch sources (2.7.10804.0745-rc)
AcquireTokenInteractiveHandler throws System.IndexOutOfRangeException when empty extraQueryParameters is passed.

Below is the code that throws this. We should be checking for string.IsNullorEmpty not just null.
 if (extraQueryParameters != null && extraQueryParameters[0] == '&')
            {
                extraQueryParameters = extraQueryParameters

[2014-08-05 03:10] anand-rengasamy opened #72 "Native projects calling AcquireTokenAndContinue in winphone throws exception"
Create a Winphone Store Native project or WinJS project.
Add reference to ADAL.
Call AcquireTokenAndContinue method

There seems to be an issue in calling WebAuthenticationBroker.GetCurrentApplicationCallbackUri in winphone. If a native project calls into a managed winmd that calls GetCurrentApplicationCallbackUri we are getting an exception.

With this bug, overload w/o redirect uri will fail – w

[2014-08-05 18:31] #69 closed, assigned to nobody

[2014-08-05 18:35] ankumat opened #74 "Handling of SSO and non SSO modes in ADAL RT needs improvement"
As per the ADAL documentation on the apis, below api would set the SSO mode
AcquireTokenAsync(string resource, string clientId);

This naturally meant to me that rest of the overloads would not set the SSO mode.However, I experienced that SSO mode was set by other overloads too when redirectUri parameter passed to them was same as the ms-App uri of the RT app.
So in another words, if developer doe

[2014-08-05 22:18] #72 closed, assigned to nobody

[2014-08-05 22:19] #74 closed, assigned to nobody

[2014-08-05 22:27] ankumat opened #75 "Need better documentation on UseCorporateNetwork usage in ADAL RT"
Integrated auth mode in the app (UseCorporateNetwork flag) using ADAL RT works only in case of SSO mode. If developer is not setting SSO mode, UseCorporateNetwork  will be ignored. Api documentation needs to make developer aware of this.

[2014-08-05 22:31] #75 closed, assigned to nobody

[2014-08-06 21:47] #52 closed, assigned to nobody

[2014-08-07 23:32] AdamSepehri opened #77 "SSO is broken on WinPhone"
The method WebAuthenticationBroker.GetCurrentApplicationCallbackUri returns exception

System.UriFormatException: Invalid URI: The hostname could not be parsed.
Result StackTrace:
   at System.Uri.CreateThis(String uri, Boolean dontEscape, UriKind uriKind)
   at System.Uri..ctor(String uriString)
   at Windows.Security.Authentication.Web.WebAuthenticationBroker.GetCurrentApplicationCallbackUri()

[2014-08-12 23:44] ankumat opened #81 "Need better help/documentation on UserIdentifierType"
The help available on the fields of UserIdentifierType is not intuitive.  e.g. it is not clear when to use OptionalDisplayableId or RequiredDisplayableId or UniqueId. Also, it is not clean how result will be different in each case.

[2014-08-13 22:59] #3 closed, assigned to afshins

[2014-08-19 01:46] anand-rengasamy opened #82 "AcquireTokenSilent should throw specific adal exception in case of no tokens in cache"
Users can rely on exception and not errorcode/message for their fall back action.

try{
result = authContext.AcquireTokenSilent(todoListResourceId, clientId);
}
Catch(SilentLoginFailedAdalException)
{
}
Catch(AdalException ex)
{
}

[2014-08-20 18:28] #60 closed, assigned to nobody

[2014-08-21 00:46] AdamSepehri opened #83 "Add exception AcquireTokenSilentAdalExcetion"
This is to make exception handling for error code failed_to_acquire_token_silently easier.

[2014-08-21 00:48] AdamSepehri opened #84 "Generate value for jti claim internally instead of receiving in the API"
The jti value used in JWT token needs to be a unique value, but there is no reason to ask developer to provide it.

Also need to verify to make sure passing jti claim to AAD does not cause rejection of the JWT.

[2014-08-21 01:47] anand-rengasamy opened #85 "ADAL winphone: Callbackdelegate is not getting called in failure cases"
Call Context.AcquireTokenAndContinue  with a callbackdelegate

In continuation method,
Call Context.ContinueAcquireTokenAsync(args)

When executing this, cancel the WAB (press back key).
Callback comes to continuation method. But call back delegate is not getting called.

[2014-08-21 17:19] afshins opened #86 "Token cache has no size limit."

[2014-08-21 20:39] #83 closed, assigned to nobody

[2014-08-21 20:44] AdamSepehri opened #87 "Rename AcquireTokenAsync overloads without redirectUri in WinRT and WinPhone"

[2014-08-21 20:46] AdamSepehri opened #88 "PromptBehavior in non-SSO API in WinRT does not have any effect"
In non-SSO mode, WAB does not preserve cookies (neither session not persistent) and WIA does not work either. So, none of the prompt behavior modes work in non-SSO case except Always.

[2014-08-21 20:48] AdamSepehri opened #89 "In WinPhone, set PromptBehavior internally to appropriate value"
We do not pass PromptBehavior explicitly in WinPhone, so we need to decide what value to use internally. Similar to WinRT, in non-SSO mode, it does not matter what value we pick. They are all the same. In SSO mode,  the only case that makes difference is when user selects KMSI.

[2014-08-21 20:50] AdamSepehri opened #90 "WIA does not work with PromptBehavior.Never (prompt=none)"
This flag is not working for federated users. We need a better solution (either changing the behavior of prompt=none or passing another flag to AAD to make sure it redirects to ADFS for federated cases while maintaining prompt=none behavior for managed users).

[2014-08-21 22:35] AdamSepehri opened #91 "Pass ms-app Uri as is to WAB is passed as redirectUri"

[2014-08-22 00:05] #89 closed, assigned to nobody

[2014-08-22 21:35] #84 closed, assigned to nobody

[2014-08-23 00:25] AdamSepehri opened #96 "Remove AcquireTokenAsync overloads without redirectUri from both WinRT and WinPhone"
Here are the implications of this change:
1. Our interactive overloads become identical across .NET, WinRT and WinPhone.
2. Common code across platforms can be used.
3. We accept ‘null’ as a sign for ‘Application Callback Uri’ which means in WinRT, we call the WAB overload without callbackUri. In WinPhone, we never call that overload anyway (to be able to pass state parameter).
4. Developer also h

[2014-08-23 01:07] #91 closed, assigned to nobody

[2014-08-23 01:09] #88 closed, assigned to nobody

[2014-08-23 01:09] #87 closed, assigned to nobody

[2014-08-23 01:09] #85 closed, assigned to nobody

[2014-08-23 01:22] afshins opened #98 "Distinguish between 'AnyUser' and 'UnknownUser' with regards to cache"
We need to distinguish between ‘I don’t care’ and ‘I don’t know’ when it comes to user. Currently, when UserAssertion is created without explicit user in On Behalf Of scenario, we assume it means ‘AnyUser’ and match it with any user we find in the cache. However, there is a user in the assertion that we don’t know as we cannot look inside that assertion. In this case, we can say ‘we don’t know’ th

[2014-08-25 21:19] #96 closed, assigned to nobody

[2014-08-26 17:13] #81 closed, assigned to nobody

[2014-08-26 17:13] #77 closed, assigned to nobody

[2014-08-26 18:56] #63 closed, assigned to nobody

[2014-08-27 00:14] #90 closed, assigned to nobody

[2014-08-27 00:14] #82 closed, assigned to nobody

[2014-08-29 00:53] ankumat opened #104 "Need better documentation on UseCorporateNetwork usage in ADAL RT"
Thanks for fixing https://github.com/MSOpenTech/azure-activedirectory-library-for-dotnet/issues/75

I am using ADAL 2.9.10828.0745 from my get. This has some fixes in AcuireTokenAsync  apis.

Current documentation on UseCorporateNetwork  says "...this flag works only in SSO mode.
But with the latest ADAL bits, I don't see anything (documentation, property, method) to set the SSO mode. As a develop

[2014-09-10 15:49] chblac opened #106 "GetNativeSystemInfo causes Windows Phone 8.1 app certification to fail"
Windows Phone 8.1 App Store Certification fails for any app that includes ADAL due to the following error:

This API is not supported for this application type - Api=GetNativeSystemInfo. Module=kernel32.dll. File=Microsoft.IdentityModel.Clients.ActiveDirectory.winmd.

ADAL needs to link against api-ms-win-core-sysinfo-l1-2-2.lib instead of kernel32.dll for this method.

chblac@microsoft.com

[2014-09-10 15:53] chblac opened #107 "Extra space appears in first ADAL prompt for username, causing auth failures unless removed"
The first ADAL prompt which appears, asking for your username, is pre-populated with a single space.  Users do not see the space, and enter their username.  Since the space+username combination is not valid, authentication fails.  Even removing the space in the subsequent page (where password is also prompted) does not seem to fix it, and the user has to close the ADAL prompt and start over.

This

[2014-09-10 15:57] chblac opened #108 "Contents of ADAL dialogs render too small and sometimes offset on Windows Phone"
ADAL dialogs render at a very small size on Windows Phone, requiring the user to manually zoom in to be able to read the text or confidently click on buttons or input boxes.  There is a large amount of empty white space which serves no purpose.

The dialogs also sometimes render offset, partially offscreen in one direction or another.  Fixing this requires first zooming out, then zooming back in w

[2014-09-11 18:52] #106 closed, assigned to nobody

[2014-09-15 18:03] AdamSepehri opened #114 "Race condition can happen in parallel token requests when sending client metrics"
There is a static object which tracks the metrics from previous calls. Setting it to null when the metrics are sent may create null reference for a parallel thread which may be sending metrics as well.

[2014-09-19 18:55] #114 closed, assigned to nobody

[2014-10-15 17:13] afshins opened #121 "Send redirect uri original string to STS without canonicalizing it"
Use OriginalString property of Uri class instead of AbsoluteUri to send redirectUri to STS. Service uses string comparison instead of Uri comparison, so the string passed should be identical to the one registered.

[2014-10-16 00:02] #108 closed, assigned to nobody

[2014-11-07 23:31] #104 closed, assigned to nobody

[2014-11-25 22:57] #107 closed, assigned to nobody

[2014-12-01 20:27] cascadian opened #128 "Windows Integrated Authentication not working"
I'm trying to get Windows Integrated Authentication to work as described in this blog post
http://www.cloudidentity.com/blog/2014/07/10/adal-v2-and-windows-integrated-authentication/

I'm getting error code `invalid_authority_type` using code similar to what's in the blog post

[code]

From a quick look at the code, it appears that the condition on [line 286 of AcquireTokenHandlerBase.cs](https://

[2014-12-02 05:15] #128 closed, assigned to nobody

[2014-12-03 00:34] mpaliath opened #129 "Library crashes on re-entry in WinJS phone app"
Crashes with the error message

The text associated with this error code could not be found.

System.UriFormatException: Invalid URI: The hostname could not be parsed.
   at System.Uri.CreateThis(String uri, Boolean dontEscape, UriKind uriKind)
   at System.Uri..ctor(String uriString)
   at Microsoft.IdentityModel.Clients.ActiveDirectory.AcquireTokenInteractiveHandler..ctor(Authenticator authentic

[2014-12-04 20:57] RandalliLama opened #130 "Change log entry format to match other ADAL libraries."
ADAL libraries are moving to this standard log entry format.

timestamp:correlation-id - ClassOrComponent: description

If it makes sense on this platform, then dotnet should adopt this format as well, or the closest natural equivalent.

[2014-12-09 20:53] AdamSepehri opened #132 "Switch hashing algorithm in ADAL desktop to a FIPS compliant one"
Switch from SHA256Managed to a FIPS compliant class

[2014-12-09 21:56] RandalliLama opened #134 "Refactor AcquireTokenForMSAHandler code in to another class."
The AcquireTokenForMSAHandler class repeats code that is already in AcquireTokenNonInteractiveHandler.  Further, there really isn't anything MSA specific going on in the class.  The code should be refactored to remove the redundancy and to remove the reference to MSA.

[2014-12-09 22:19] wc2222 opened #135 "Username/Password out-of-focus issues when redirecting to a 3rd party IDP: Shibboleth"
Impact:
- All Shibboleth users and potential other 3rd party federated Identity Provider users.
- Unacceptable UX experience

To repro:
1. Enter the user name: testuser1@fabrikam2015.com
2. The ADAL.NET library will redirect the user to her IDP sign in page, in this case Shibboleth

Expected Result:
User can see the full user name and password field, and the realm they are trying to sign in to.

A

[2014-12-09 22:55] RandalliLama opened #136 "The ActorToken JWT constant doesn't appear to be used any where?"
In JsonWebTokenConstants.cs the ReservedClaims.ActorToken constant is defined.  However, it doesn't appear to be used anywhere.  If not, it should probably be removed.  In dev there is a PCL version as well.

[2014-12-10 23:55] #130 closed, assigned to nobody

[2014-12-15 23:07] #129 closed, assigned to nobody

[2014-12-15 23:09] #132 closed, assigned to nobody

[2014-12-15 23:10] #6 closed, assigned to nobody

[2014-12-17 18:29] #136 closed, assigned to afshins

[2014-12-18 00:13] #134 closed, assigned to afshins

[2014-12-20 02:31] afshins opened #143 "Check the build process to make sure there is always a clean build"
Add some checks to make sure no old file is left in the build path

[2015-01-02 21:17] leflaco83 opened #144 "AcquireTokenSilent"
Hi! I'm having this exception when trying to run the AcquireTokenSilent method on AuthenticationContext class :
AdalSilentTokenAcquisitionException
Message : Failed to acquire token silently. Call method AcquireToken.

I'm following this sample code https://github.com/AzureADSamples/WebApp-WebAPI-OpenIDConnect-DotNet, so the scenario is the same. I searched on the web but every solution I found wa

[2015-01-02 23:14] vibronet commented on #144
The feature is definitely implemented. Are you executing the example code precisely as is, or did you modify anything in it? Typical issues with AcquireTokenSilent in web scenarios are:
- The cache is empty. AcquireTokenSilent works by returning cached tokens or using refresh tokens from the cache. In the OpenId Connect samples, the application first acquires access and refresh tokens at sign in t

[2015-01-05 12:58] leflaco83 commented on #144
Hi Vittorio, thanks a lot for the quick response. You are right, I think I misunderstood the samples and my scenario its a little bit different. Thing is I didn't get a token before a call to AcquireTokenSilent.

Regards,
Rodrigo

[2015-01-05 12:58] #144 closed

[2015-01-08 22:12] afshins opened #145 "Check in build files into the repo"
The scripts which are used for setting nuget version and building nuget

[2015-01-14 19:46] afshins opened #147 "Add login.microsoftonline.com to the white list of valid authorities"

[2015-01-15 19:53] afshins commented on #147
Fixed. #148

[2015-01-15 19:53] #147 closed

[2015-01-15 19:54] afshins commented on #145
The final decision was to remove the nuspec file from the repo. Fixed. #148

[2015-01-15 19:54] #145 closed

[2015-01-16 20:12] christav opened #150 "WebBrowser state messages go directly to Trace."
In WindowsFormsWebAuthenticationDialogBase.cs, line 191, there's a call to output diagnostic information that uses Trace.WriteLine. When using ADAL in a console app, this results in extra useless logging junk all over my console output. Trace.WriteLine is for apps, not for libraries.

Put this logging behind a TraceSwitch so it can be turned off like you've done in the main ADAL library.

[2015-01-19 16:26] Lexey opened #151 "AcquireTokenAsync(resource, clientId, userAssertion).Result deadlocks under ASP.NET"
AcquireTokenAsync(resource, clientId, userAssertion).Result deadlocks under ASP.NET 4.5 due to a well-known problem with synchronization contexts.
I guess, this method internals (and other similar methods) should explicitly call .ConfigureAwait(false).

[2015-02-14 02:28] afshins opened #155 "Add logging to trace the visited urls in authorization flow"

[2015-02-17 01:25] afshins commented on #155
Fixed.

[2015-02-17 01:25] #155 closed

[2015-02-17 01:25] afshins commented on #150
Fixed.

[2015-02-17 01:25] #150 closed

[2015-02-25 17:40] fujie opened #158 "Obtain token endpoint from metadata when calling 'AcquireTokenByAuthorizationCode' method"
In current version of ADAL.NET, when exchange authZ code to access token using 'AcquireTokenByAuthorizationCode', ADAL set token endpoint static in 'Authenticator.UpdateFromTemplateAsync' as following.
- replace last part of uri to tenant id
- add 'oauth2/token/'

This works fine when using AAD, but when I want to use 3rd party OpenID Provider this change to endpoint address causes connection prob

[2015-02-25 18:36] vibronet commented on #158
Thank you Naohiro for the feedback. As you mention, ADAL is tied to Azure AD and ADFS hence you are likely to find other logic that takes advantage of AD specific features and would not work against 3rd parties.

[2015-03-01 22:19] samgithub-duplicate opened #159 "ADAL version 2.4 AcquireToken Error"
I am able to authenticate a user when working locally, using the line

AuthenticationResult result = context.AcquireToken(resource,clientID, returnURI, PromptBehavior.Always);

Locally, I get the signin screen and the UserInfo.

When I publish the web app to Azure, the code above fails with this error

"Error HRESULT E_FAIL has been returned from a call to a COM component"

[COMException (0x800040

[2015-03-02 00:10] vibronet commented on #159
As replied on the stackoverflow thread http://stackoverflow.com/questions/28798673/azure-adal-version-2-14-acquiretoken-error
The token acquisition flow you are performing is meant to be ran on a desktop application, not a web one. The dialog that comes out on your desktop is driven by your local process and the existence of a local windows session. It cannot work within one web application, given

[2015-03-02 00:10] #159 closed

[2015-03-02 14:17] Stephanvs commented on #158
Hi,

I also found that the version 3.x branch also reflects this behaviour, are there any plans to change this to also support other third party implementations of the oauth?

I'm actually very interested in the way this framework is architected and the platforms it supports, however I'm not authenticating against an AD :disappointed:

[2015-03-09 18:01] afshins opened #161 "Investigate if amr_values=pwd is still relevant"
The speculation is that perhaps we can remove the code that looks at domain joined-ness now.  The reason the code was in there was, on a non-domain joined machine on corpnet, in Windows 8 the web auth broker would try to do Windows Integrated Auth with AD FS and it would fail because the WAB couldn’t handle showing a cred popup.  We think this is fixed now in Win 8.1.  So, we need to test if we ca

[2015-03-09 18:52] yavuzozge opened #162 "WP ADAL lib throws null reference exception when creating AuthenticationContext for a non-trusted host, with validate authority turned on and when there is no network connection."
ADAL lib v2.14.201151115

Repro steps:
In WP 8.1 emulator:
•	Enable network simulation
•	Set “Network Speed” to No network
Call AuthenticationContext.CreateAsync with
•	Authority = https://login.windows-ppe.net/common
•	validateAuthority = true

The exception is thrown in AuthenticatorTemplate.VerifyAnotherHostByInstanceDiscoveryAsync() (2nd line below)
[code]
It looks like the HTTP call fails wit

[2015-03-09 21:07] acangialosi opened #163 "ADAL Sign in Dialog does handle UI Scaling beyond 150% correctly"
I ran through a test with the native client sample from your the ADAL samples repository on a 24" / 1920x1200 resolution.
At 100% we show the sign in UI; no Scroll bars.
At 150% we shou the sign in UI with scroll bar even though there is enough vertical space for all the controls below the scroll bar.
At 200% we start to see overlapping controls
At 250% - 400% the sign in button is not clickable a

[2015-03-11 10:38] simonferquel opened #164 "AccessToken / RefreshToken are not put in cache when retrieved for the current app"
The token cache is not populated when an access token / refreshtoken is retrieved for the current app (ie without specifying an external resource) when calling GetTokenFromAuthorizeCodeAsync.
That is a blocker for my web based scenario, since I need to persist it per user (in a protected cookie or in db) to use the refresh token in subsequent requests if I need to access other web APIs.

My curren

[2015-03-12 10:33] GPugnet opened #165 "User not prompted to enter credentials when using PromptBehavior.Always"
Version :3.1.203031538-alpha

On WinRT, the AuthenticationContext do not always prompt for credentials when PromptBehavior is set to Always.

I am using the following piece of code :
var authorizationParameters = new AuthorizationParameters(PromptBehavior.Always, false);
                authenticationResult = await authenticationContext.AcquireTokenAsync(ap.Resource, clientId, redirectUri, authori

[2015-03-18 23:09] afshins opened #167 "Encrypt the content of persistent token cache in Xamarin Android and iOS"
if needed

[2015-03-25 17:21] jkwon2013 opened #168 "ADAL dialog's content not readable with Windows 8.1 High Contrast #1 theme"
Repro Steps:
1. In Windows 8.1, switch theme to High Contrast #1
2. In Visual Studio, try sign in.

![high contrast adal sign in dialog](https://cloud.githubusercontent.com/assets/11651452/6830662/8faa6ed4-d2d8-11e4-8993-4c19605e2bde.PNG)

[2015-03-25 19:59] jkwon2013 opened #169 "In Visual Studio's sign in page, account / email field doesn't have the right property set for the narrator"
Steps to reproduce:
Visual Studio 2015 RC

1. Turn on Narrator
2. Open Server Explorer.
3. Choose "Manage and Filter Subscriptions" from the Azure top level node's context menu.
4. Click on Add an account.
5. Tab out and tab back into the field that is asking for you email account.

![adal sign in](https://cloud.githubusercontent.com/assets/11651452/6834053/90f2d928-d2ee-11e4-9f95-b2470d2e4e4d.PNG

[2015-03-26 20:23] afshins opened #170 "Make AdalError public in ADAL for Silverlight"
This is in v2

[2015-03-26 21:10] afshins commented on #170
Fixed.

[2015-03-26 21:10] #170 closed

[2015-04-02 22:58] afshins opened #171 "Enhance logging to show when a token is refreshed"

[2015-04-03 01:00] acangialosi opened #172 "Cancel Dialog on ESC Key Press"
This dialog should behave more like a traditional dialog. One observation is the ESC key does not clear the dialog. It would be nice if this was supported.

[2015-04-03 22:04] Prashanth85 opened #173 "When using clientcredential method for getting access token, token does not refresh after expiration time is passed."
The access token should refresh before the expirationtime is passed. However it does not,

 string loginAuthority = String.Format(loginAuthorityFormat, requestInfo.TenetID);
  ClientCredential clientCredential = new ClientCredential(requestInfo.ClientID, requestInfo.AppKey);
 AuthenticationContext authenticationContext = new AuthenticationContext(loginAuthority, false);
 AuthenticationResult authe

[2015-04-03 22:14] afshins opened #174 "Make case insensitive comparison of user displayable ID when looking up the cache"
AAD may return upn as a combination of lower case and upper case, so if the casing of the input UserIdentifier is different, no token from the cache is hit.

[2015-04-06 18:26] #58 closed

[2015-04-06 18:30] afshins commented on #151
@Lexey Please add more details including repro steps and we will try to fix it. Thanks.

[2015-04-06 18:37] afshins opened #175 "Remove API AcquireTokenByRefreshToken"
Also remove refresh token from AuthenticationResult. ADAL is going to handle everything related to refresh token internally.

[2015-04-06 19:21] afshins commented on #169
This requires a server side change and we redirected the request to the team.

[2015-04-06 20:06] afshins commented on #158
We do not have any plan to support third party OAuth providers. We may add some extensibility points in the future, but there is no immediate plan for that either.

[2015-04-07 08:51] Stephanvs commented on #158
Thanks for taking the time to reply though.

[2015-04-08 01:14] afshins opened #176 ""Read beyond end of stream" exception when deserializing cache"
Customer reports:

We have seen a couple of instances where after we serialize our adal token cache and read the contents back from disk there is an exception thrown in the deserialize code indicating the binary reader was “Unable to read beyond the end of the stream”.

The stack we see is

TokenCache.Deserialize
BinaryReader.ReadString
BinaryReader.Read7BitEncodedInt
BinaryReader.ReadByte

Here i

[2015-04-10 22:43] afshins commented on #174
ADAL .NET already does case insensitive comparison of username (File TokenCacheKey, Method DisplayableIdEquals).

[2015-04-10 22:43] #174 closed

[2015-04-10 23:35] afshins commented on #173
I also could not repro this. Please either send me a repro or logs. Fiddler trace would help too. You can learn how to collect ADAL logs from here: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/master/README.md#logs

[2015-04-11 00:33] afshins commented on #165
@GPugnet Could you please explain more? What happens instead of showing the prompt? Do you get a token from the cache or an error? Also, if you can collect ADAL logs and Fiddler traces, that would be helpful. This shows how to get ADAL logs: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/master/README.md#logs

[2015-04-14 20:24] afshins commented on #164
@simonferquel: I cannot repro the issue you reported. What version of ADAL are you using? Also, can you provide ADAL logs? Instructions can be find at https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/master/README.md#logs

[2015-04-14 21:32] afshins commented on #66
With further examination I realized that we already do this. If a refresh token is MRRT, AAD returns the 'resource' parameter in response and we use that to store both access token and refresh token in the cache.

[2015-04-14 21:32] #66 closed

[2015-04-15 23:31] afshins commented on #171
Fixed.

[2015-04-15 23:31] #171 closed

[2015-04-15 23:34] afshins commented on #162
Fixed.

[2015-04-15 23:34] #162 closed

[2015-04-15 23:34] afshins commented on #150
@christav the fix is now released.

[2015-04-15 23:35] afshins commented on #162
@yavuzozge: The fix is now released.

[2015-04-16 23:44] afshins commented on #176
I tried to repro this, but failed.

[2015-04-20 18:47] crmann1 opened #182 "TokenCache returning and mutating live entry"
In TokenCache.cs LoadFromCache queries the ADAL cache for any items that match the requested authority/resource/client/userid.

It will return a result in two cases.
1) If there is an exact match of all the fields.
2)If the fields other than resource match and one of the tokens is an MRRT.

The problem comes with case 2.  If an MRRT is returned the code immediately checks to see if the cached item

[2015-04-20 18:54] crmann1 opened #183 "IsMRRT flag not updated correctly when server does not pass refresh token when refreshing an access token"
If the server does not respond with a refresh token and we used a refresh token to get the access token the IsMRRT flag is not correctly updated.

azure-activedirectory-library-for-dotnet-2.11.10918.1222\src\ADAL.Common\OAuth2Response.cs
                ParseTokenResponse
When a token is requested from the server using a refresh token the response that comes back
does not include a refresh token i

[2015-04-21 00:57] afshins commented on #182
@crmann1: Fixed.

[2015-04-21 00:57] #182 closed

[2015-04-21 00:57] afshins commented on #183
@crmann1: Fixed.

[2015-04-21 00:57] #183 closed

[2015-04-21 09:58] ricardopolo opened #185 "Better exception when using AcquireTokenSilent with Common Authority"
I just found that you cannot use AcquireTokenSilent() with the Common Authority.

It tooks me 2 days for found it http://stackoverflow.com/a/29768742/909974
So would be great an exception saying that not use the common authority instead a silent fail.

[2015-04-23 01:13] afshins commented on #175
Fixed. #187

[2015-04-23 01:13] #175 closed

[2015-04-24 15:28] xiaowodp opened #188 "Suggest to have better actionable message when error "Failed to acquire token silently. Call method AcquireToken" happens"
I got "Failed to acquire token silently" when call method AcquireTokenSilentAsync. At end it was because there was no matching item in the token cache because the resource I used in AcquireTokenSilentAsync() was different  from what being used when the cache was set in AcquireTokenByAuthorizationCode(). It would be nice if the message can indicate some root causes to help people resolve the issue.

[2015-04-24 23:09] afshins commented on #161
The code for adding the query string parameter is now removed.

[2015-04-24 23:09] #161 closed

[2015-04-24 23:11] afshins commented on #121
Fixed.

[2015-04-24 23:11] #121 closed

[2015-04-28 17:48] afshins opened #190 "Check for IE session count and increment before opening new browser to maintain session cookies"
ADAL is incrementing this in a static constructor, and only if the count is 0. If when the static constructor is run (i.e. the dialog is shown for the first time, or the library is loaded for the first time) the count isn’t 0 – because the user has an IE window open, no increment will happen. Now, if the user closes that IE window while the app hosting ADAL is still loaded. In this case, the count

[2015-04-28 17:57] afshins commented on #169
I could not repro it in the browser or Visual Studio 2013, but could repro it in Visual Studio 2015 RC as reported in the bug.

Repro steps:

-          Create a new “ASP.NET Web Application” project in VS.
-          Choose “Host in the cloud” option (is set by default).
-          Click on Sign In button
-          Activate narrator (Start+Enter)
-          Tab and then Shift-Tab

[2015-04-28 17:58] afshins commented on #169
I managed to repro on the browser as well, but only on the Windows 10 machine. It seems the difference is not in the request sent in VS 2015 vs. VS 2013. It is about the browser component on the machine which provides the WebBrowser control. This is the version on Windows 10 which repros the issue:

And this is the uri for the repro:

https://login.windows.net/common/oauth2/authorize?resource=http

[2015-04-28 18:16] afshins commented on #169
A bug was filed for the IE team to address this issue.

[2015-05-04 22:09] askhade opened #191 "Enroll and Cancel buttons don’t work on Enroll UI on some platforms"
Emailing the details

[2015-05-05 16:44] dstrockis commented on #98
@jelledruyts @afshins  Could ADAL accept a UniqueId in the UserAssertion constructor and perform cache lookup based on UniqueId? Or more likely accept a UserIdentiferType in the constructor?

ADAL can't look inside the user assertion, but in the On Behalf Of scenario, the audience of the token can definitely parse the token as pass ADAL the user's ObjectId, for instance.

We discussed this briefly

[2015-05-05 16:49] dstrockis commented on #98
@vibronet too for good measure.

[2015-05-05 16:57] dstrockis opened #192 "Windows Phone gives "User Canceled Sign In" error when WP emulator can't connect to internet."
Minor bug, and I'm not sure if it repros on an actual device or not.  But when developing for WP in Visual Studio, if the emulator does not have internet access, ADAL returns "User Canceled Sign In" before showing the AAD sign in page.  It was pretty misleading for me :)

[2015-05-05 17:29] dstrockis commented on #192
Using version 2.14.201151115.  Specifically running this sample: https://github.com/AzureADQuickStarts/NativeClient-WindowsPhone.

Using Windows Phone 8.1 Emulator launched from Visual Studio.  Fiddler proxy on the machine prevented the emulator from reaching any websites via browser or WAB dialog.

[2015-05-06 23:04] afshins opened #193 "ADAL for Xamarin iOS should do case insensitive comparison for redirect uri"

[2015-05-06 23:06] afshins opened #194 "ADAL for Xamarin iOS title should come from page title"
To make it auto localized, the title of the UIViewController should automatically come from the title of  the it renders.

[2015-05-07 00:13] afshins commented on #194
Fixed.

[2015-05-07 00:13] #194 closed

[2015-05-07 00:13] afshins commented on #193
Fixed.

[2015-05-07 00:13] #193 closed

[2015-05-07 00:14] afshins commented on #190
Fixed in v3. Needs to be fixed in v2 as well.

[2015-05-07 11:55] jelledruyts commented on #98
I think it would make more sense to base the cache lookup on the UniqueId if present (and not return anything if there's no explicit match i.e. the UnknownUser vs AnyUser idea). Currently it matches on DisplayableId which seems weak.

But as I've learnt in the mean time the token cache should be per-user anyway (not shared across multiple users), so for me the issue is far less important now.

[2015-05-19 01:19] jkwon2013 opened #196 "Remove the "remember this device" checkbox for 2 factor authentication in Visual Studio"
![2fa sign in page](https://cloud.githubusercontent.com/assets/11651452/7693668/c4b9229c-fd89-11e4-956c-0c71c333ae97.png)

When showing the sign in dialog for users with 2 factor authentication in Visual Studio, the checkbox highlighted above in the image should not appear, as clicking on it affects nothing in Visual Studio.
A better fix would be to remember that the device is a safe device when t

[2015-05-20 13:24] #165 closed

[2015-05-28 04:57] jcombalicer opened #198 "ClientCredential is missing in this release"
Im using the prerelease version because it got the clientcredential. Why did they remove it in their stable release.

[2015-05-28 23:34] jkwon2013 opened #199 "On high-dpi screen the ADAL MS account login dialog for azure is not properly scaled"
This was a bug reported by a VS customer:
1. Install Visual Studio on high-dpi screen laptop. In My case it's Dell XPS15 with 3200x1800
2. Use recommended 200% scaling
3. Try to connect to MS Azure, you will see a login dialog with scrollbars

![wrongly scaled msa sign in dialog](https://cloud.githubusercontent.com/assets/11651452/7873349/189b60cc-0556-11e5-9a02-fd08229a9d36.JPG)

[2015-05-29 00:31] jkwon2013 opened #200 "ADAL sign in dialog content overlapping"
This was reported by a VS customer:
[Repro Steps]
Create an Asp.Net MVC project
right lick on solution explorer and choose Add Application Insights
click enter with your azure account
put your email account

![capture](https://cloud.githubusercontent.com/assets/11651452/7874064/51bface2-055f-11e5-96ba-0d65c1e6d756.JPG)

[2015-05-29 00:57] jkwon2013 opened #201 "[VS User friendly tenet] Pressing Esc should dismiss the ADAL sign in dialog in VS"
Steps to reproduce:
1. Open a sign-in dialog
2. Use Esc to close the dialog

[2015-06-01 21:37] omercs opened #202 "Authenticator type initialization is failing on some WinRt devices"
It failed to initialize AuthenticatorTemplateList  for some WinRT devices.

[code]

AuthenticatorTemplateList's ctor reads the environment variable to create the list. This could be causing the issue for some devices. App can't recover from this exception.

[2015-06-15 15:30] GuardRex opened #206 "Active Directory Authentication Library (ADAL) for .NET 5 Core CLR (dnxcore50) Projects"
In `OnAuthorizationCodeReceived`, getting a context for Graph API this way ...
[code]
works with dnx451 1.0.0-beta4 clr x86 but fails for dnxcore50 1.0.0-beta6-* coreclr x64 with
[code]
Values for ClientId, AppKey, Authority, notification.Code, and BaseAddres should be ok ... they weren't changed between the two runtimes. Dependencies are ...
[code]

[2015-06-15 17:33] GuardRex commented on #206
I'll update+close this question at [StackOverflow](http://stackoverflow.com/questions/30851308/the-type-initializer-for-microsoft-identitymodel-clients-activedirectory-authen) if answered first over there.

[2015-06-15 22:45] GuardRex commented on #206
I upgraded my ActiveDirectory package to 3.3.205061641-alpha; no dice ... problem persists.

[2015-06-16 05:33] GuardRex commented on #206
Here is some additional info on the exception:
[code]

[2015-06-16 21:50] GuardRex commented on #206
@kpanwar @afshins @vibronet Hey guys ... how's it going. Any word on this one?

[2015-06-17 14:35] GuardRex commented on #206
Looks like this is related to the NuGet package not being ready for `dnxcore50` per [discussion here](https://github.com/aspnet/Home/issues/674#issuecomment-112822724). I'll wait for a team member to respond before closing.

[2015-06-19 00:15] omercs opened #207 "WsTrust request needs to escape reserved chars"
If user's password has one of the reserved chars, wstrust request will fail.

Escape following chars in the request:
"   &quot;
'   &apos;
<   &lt;

&   &amp;

[2015-07-01 16:42] kpanwar commented on #206
@GuardRex - I will rename aspnetcore50 to dnxcore50 in the nuget and will post back on this thread once done.

[2015-07-01 19:06] GuardRex commented on #206
@kpanwar Thanks. And I responded by E-mail to @afshins, because he said,

So, I was asking if I'm supposed to get the source at [SymbolSource](http://www.symbolsource.org/Public/Metadata/NuGet/Project/Microsoft.IdentityModel.Clients.ActiveDirectory/3.1.203031538-alpha/Release/ASP.NetCore%2cVersion%3dv5.0/Microsoft.IdentityModel.Clients.ActiveDirectory.Platform) and compile it myself.
It seems like

[2015-07-02 14:20] relusion opened #216 ""Remember me" check box is not displayed for onmicrosoft.com accounts"
If I try to login with "someusername@mydomainname.onmicrosoft.com the "remember me" check box is not displayed. For instance for live accounts it does show up and I can save my credentials.

![ok](https://cloud.githubusercontent.com/assets/13152136/8479125/f2eb07e2-20d5-11e5-9219-8ad520edf8c7.png)
![wrong](https://cloud.githubusercontent.com/assets/13152136/8479126/f2f00652-20d5-11e5-8b36-262fec38

[2015-07-07 05:35] Jeremiad opened #217 "Adal with UWP style applications"
Hi,

Adding question also to here since haven't received answer in stackoverflow http://stackoverflow.com/questions/31137374/active-directory-authentication-library-with-windows-universal-app

[2015-07-08 20:20] kpanwar commented on #207
fixed and Released

[2015-07-08 20:20] #207 closed

[2015-07-08 20:28] kpanwar commented on #206
@GuardRex - I released the updated v3 preview. check it out and let me know if you still have issues.

[2015-07-08 21:45] GuardRex commented on #206
@kpanwar Thanks ... I'll try it tonight and post back the results. Thanks again!

[2015-07-09 03:49] GuardRex commented on #206
@kpanwar I updated the ADAL reference to
[code]
Since I first filed this issue, I've moved on to `dnx-coreclr-win-x64.1.0.0-beta6-12170`, and this is still a `dnxcore50`-only project. The full dependencies section looks like this:
[code]
It's throwing a new exception after AAD gets hit when I try to get a token for Graph API at Line 98 of my Startup.cs, which is:
[code]
Looks like it's trying to g

[2015-07-09 04:30] kpanwar commented on #206
Yes, ADAL uses a minimum version of .NET 4.5. Whats your version? Also, ADAL does not play any role in sign out flows so I cannot help you there. You could probably look at MSDN forums for help.

[2015-07-09 04:53] GuardRex commented on #206
I'm on `dnxcore50`. I do have a fully working `dnx451` app running ... that one works great. I was trying to get a `dnxcore50` version running. The sample app that I reference in https://github.com/aspnet/Home/issues/674#issuecomment-112822724 is located at https://github.com/AzureADSamples/WebApp-WebAPI-OpenIdConnect-AspNet5 with a `project.json` file at https://github.com/AzureADSamples/WebApp-W

[2015-07-09 05:25] kpanwar commented on #206
@brentschmaltz @tushargupta51 @dstrockis , can you please help @GuardRex with the issue around sign out?

[2015-07-09 05:31] GuardRex commented on #206
Cool, thanks. I'm going to rename this ... it's more about `dnxcore50` than anything else.

[2015-07-09 18:51] tushargupta51 commented on #206
@GuardRex Can you share a repo for this? Or is this sample https://github.com/AzureADSamples/WebApp-WebAPI-OpenIdConnect-AspNet5 close enough?

[2015-07-09 19:00] GuardRex commented on #206
@kpanwar @tushargupta51  Ok, that's just strange! I thought for sure that I had added
[code]
last night along with the updated ADAL version and it didn't work out. I added it again just now, and it works fine. It must have been the long day and I was too tired and messed something up (or those Yuengling's that I drank last night are to blame! lol :beer:).

No, it's all good now, ADAL works perfect

[2015-07-09 19:00] #206 closed

[2015-07-09 20:16] Jeremiad commented on #217
Any information would be highly appreciated.

[2015-07-10 11:36] Zyngie opened #218 "Implement in Unity3d"
hi, I want to ask is it possible to implement this library to Unity3d project to build for android/ios application?

[2015-07-10 23:21] kpanwar commented on #216
Microsoft Accounts page has the checkbox, but AAD does not support it. This is by design.

[2015-07-10 23:21] #216 closed

[2015-07-15 09:25] merill commented on #217
Seriously guys. Windows 10 is launching in 5 days and you don't have support for UWP apps.
It's hilarious that Microsoft is providing sample applications for web authentication with Facebook, Twitter, Flickr and Google https://github.com/Microsoft/Windows-universal-samples/tree/master/webauthentication

[2015-07-15 18:07] jkwon2013 opened #219 "In VS, MSA sign in dialog's "Sign up now" link just closes the sign in dialog and doesn't work"
Repro steps:
1. Click "Add an account" link in VS's File > Account Settings dialog
2. enter in a MSA
3. When the MSA sign in dialog pops up, click on the "Sign up now" link

Expected:
Take the user through a MSA sign up flow

Actual:
The sign in dialog closes and nothing happens

I've attached a fiddler trace here: http://1drv.ms/1fJKMeZ

[2015-07-16 07:44] #217 closed

[2015-07-16 07:44] Jeremiad commented on #217
Thank merill

[2015-07-31 02:14] arturl opened #222 "AcquireTokenAsync fails in a UWP app"
Repro:

[code]

Result:

ErrorDescription = "authentication_ui_failed: The browser based authentication dialog failed to complete. The system cannot locate the resource specified. (Exception from HRESULT: 0x800C0005)"

[2015-07-31 02:17] arturl commented on #222
More info: the auth dialog comes up and lets me enter my user name (...@microsoft.com), then shows "Can't connect to service"

[2015-07-31 03:46] kpanwar commented on #222
It looks like your machine might have privacy restrictions. Try checking all settings->privacy->account info and ensure it is turned on.

[2015-07-31 18:47] arturl commented on #222
Yes, it is turned on.

[2015-08-05 22:54] jkwon2013 opened #234 "WER crash in ADAL hosted browser"
Most of Dev14 RTM hits are due to this assembly -

C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\PrivateAssemblies\Microsoft.IdentityModel.Clients.ActiveDirectory.WindowsForms.dll

The type of interest is -

Microsoft.IdentityModel.Clients.ActiveDirectory.Internal.CustomWebBrowser

The callstack is

KERNELBASE!RaiseException+0x48
clr!RaiseTheExceptionInternalOnly+0x27c
clr!Unwind

[2015-08-05 23:11] kpanwar commented on #234
@jkwon2013 - what ADAL version are you using?

[2015-08-14 08:16] VaanPan opened #238 "China Azure exception"
in "AuthenticatorTemplateList.cs", at Line 54

[code]

this will force just use login.windows.net host.

But if customer is using China Azure, and config web.config to China Azure URL, AuthenticationContext.AcquireTokenByAuthorizationCode will throw a 400 HTTP error (bad request), and cannot get any token.

You can contact me by gapan@microsoft.com, thanks.

![aa](https://cloud.githubusercontent.c

[2015-08-17 18:40] dstrockis opened #239 "Policy parameter not sent to token endpoint in AcquireTokenByAuthorizationCodeAsync"
Using nuget version: 4.0.208052020-alpha

Using this call in my web app:

`AuthenticationResult result = await authContext.AcquireTokenByAuthorizationCodeAsync(notification.Code, new Uri(redirectUri), credential, new string[] { clientId }, mostRecentPolicy);`

Results in this request:

[code]

[2015-08-26 21:35] kpanwar opened #240 "Add support to launch external browser for Intune enrollment"
Add support to launch external browser for Intune enrollment

[2015-08-28 22:54] dstrockis commented on #239
Fixed! https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/commit/72ee1437251ee2aadd9d94a4718398368a575034

[2015-08-28 22:54] #239 closed

[2015-09-04 15:31] makhdumi opened #242 "Exception is thrown when ID returned by server does not match ID in request"
This totally breaks Visual Studio's Server Explorer (logs in successfully, but thanks to this, cannot proceed past that!) and causes issue with the PowerShell Tools. Why is an exception being thrown on the *client* side when no failures or errors were reported on the server side?

Azure returns a different ID in several very valid situations, like when a user's Microsoft email address has been cha

[2015-09-11 23:11] linweigao opened #244 "Are we able to get more detailed HTTP related trace if we cannot get auth token?"
Are we able to get more detailed HTTP related trace if we cannot get auth token?
And the time used to get the token?

[2015-09-11 23:20] kpanwar commented on #244
ADAL returns everything in the payload that was sent by the server. Any error and the details about it displayed in the web view is not controlled by the library.

[2015-09-18 19:54] maxpert opened #247 "Windows Phone not receiving user_interaction_required on AcquireTokenSilentAsync"
Hey guys,

 I have been having issues in refreshing token when user changes his password I can see from WinRT test cases we should receive as error user_interaction_required on Windows Phone however I am receiving failed_to_acquire_token_silently (Failed to acquire token silently. Call method AcquireToken). Calling AcquireTokenAndContinue is not feasible in my case because my case user is in middl

[2015-09-18 20:37] RandalliLama commented on #247
@maxpert Can you be more specific about which AcquireToken api you are calling?

[2015-09-18 20:44] RandalliLama commented on #242
@makhdumi I'm sorry this is causing you issues.  For an explanation of why we do this, please see this StackOverflow post.  It is directed at iOS, but the same principles apply.

http://stackoverflow.com/questions/26694432/adal-ios-different-user-was-authenticated-expected-useramydomain-com-actual/26727024#26727024

In ADAL.NET V2 you can use an overload of AcquireToken that takes the following en

[2015-09-18 20:45] RandalliLama commented on #240
@kpanwar Could you update the status on this?

[2015-09-18 20:47] RandalliLama commented on #238
@VaanPan The expected behavior is that login.windows.net is aware of all of the other AAD instances and will correctly verify that they are valid.

What version of ADAL are you using?  What is the authority that you are passing to ADAL.

[2015-09-18 20:49] RandalliLama commented on #234
@jkwon2013 Reopen this when you have more info.

[2015-09-18 20:50] #234 closed

[2015-09-18 20:50] kpanwar commented on #240
This work is complete in the feature branch. I will close this out when we merge to dev and prepare to release.

[2015-09-18 21:58] maxpert commented on #247
I am calling AcquireTokenSilentAsync

[2015-09-18 22:19] RandalliLama commented on #219
@jkwon2013 This library does not support MSAs unless they are guest accounts in an AAD tenant.  That doesn't sound like the scenario you are describing.

[2015-09-18 22:19] #219 closed

[2015-09-18 22:20] RandalliLama commented on #218
@Zyngie It's not something that is on a  our current roadmap.

[2015-09-18 22:22] RandalliLama commented on #200
@jkwon2013 Is this still an issue.  This would be a rendering problem on the server side.  My guess is that this has been fixed by now.

[2015-09-18 22:22] RandalliLama commented on #199
@kpanwar Can you attempt a repro of this?

[2015-09-18 22:23] RandalliLama commented on #198
@jcombalicer If this is still an issue for you please reopen.  I don't know which stable release with the missing overload you are referring to.

[2015-09-18 22:23] #198 closed

[2015-09-18 22:24] RandalliLama commented on #196
@jkwon2013 This is not related to ADAL as MSA accounts are only supported as guest accounts in AAD tenants.  Let me know if that is actually your scenario.

[2015-09-18 22:24] #196 closed

[2015-09-18 22:26] RandalliLama commented on #192
@dstrockis Given the lack of other complaints on this issue I don't think that it is a high enough priority look in to.  Please reopen if you disagree.

[2015-09-18 22:26] #192 closed

[2015-09-18 22:35] RandalliLama commented on #185
Agree.

[2015-09-18 22:36] RandalliLama commented on #191
@kpanwar Was this resolved OOB?

[2015-09-18 22:37] RandalliLama commented on #176
Will reopen if we get any more reported issues.

[2015-09-18 22:37] #176 closed

[2015-09-18 22:37] #173 closed

[2015-09-18 22:38] RandalliLama commented on #201
Dup of #172

[2015-09-18 22:38] #201 closed

[2015-09-18 22:39] #169 closed

[2015-09-18 22:39] RandalliLama commented on #168
Server issue that has hopefully been fixed by now.

[2015-09-18 22:39] #168 closed

[2015-09-18 22:40] #164 closed

[2015-09-18 22:40] RandalliLama commented on #167
@kpanwar Please triage this issue.

[2015-09-18 22:41] RandalliLama commented on #190
@kpanwar Please take a look at this.  I think we saw another incident of this in the recent history.

[2015-09-18 22:42] maxpert commented on #247
Basically here is the flow when I realize that the token has expired I try to refresh the token with AcquireTokenByRefreshTokenAsync that returns me authentication_failed as Error, I then make a call to AcquireTokenSilentAsync in effort to get the token by doing a silent acquire. I looked at some of test cases where I can see user_interaction_required coming down telling me I need to redirect the

[2015-09-18 22:43] #158 closed

[2015-09-18 22:43] #151 closed

[2015-09-18 23:03] RandalliLama commented on #143
@cchar is working on this.

[2015-09-18 23:05] #98 closed

[2015-09-18 23:07] RandalliLama commented on #65
@kpanwar I don't understand how important this is.  Can you follow up?
@vibronet Do you have an opinion?

[2015-09-18 23:08] RandalliLama commented on #37
This isn't going to be changed anytime soon.  It will have to wait for a another major release.  Closing until we revisit.

[2015-09-18 23:08] #37 closed

[2015-09-18 23:37] RandalliLama commented on #135
Shibboleth needs to provide ux that works in mobile/native.  There isn't much that ADAL can do about this.

[2015-09-18 23:37] #135 closed

[2015-09-21 16:43] kpanwar commented on #247
For your scenario to display a message that the user password has expired will not work because the server does not return any messages related to user state.

[2015-09-21 16:44] kpanwar commented on #167
We already save the cache in app containers in both iOS and Android just like native code does.

[2015-09-21 16:44] #167 closed

[2015-09-21 16:53] maxpert commented on #247
What do you suggest I should do? How can I accurately see if password expired without invoking AcquireTokenAndContinue.

[2015-09-21 17:00] kpanwar commented on #247
Only way would be to show the UI and if the user password has expired, he/she will be asked to change the password within the webview.

[2015-09-21 17:15] maxpert commented on #247
But that will authenticate and give be back the updated access token, plus I also verified with iOS they seem to get the error code. Why is this issue only specific to WP?

[2015-09-21 17:50] kpanwar commented on #247
Error codes are not guaranteed to remain the same. It is a best effort on the server side and I would strongly advise you to not take a dependency on them.

[2015-09-21 22:18] devigned opened #248 "AcquireTokenAsync timeout when called asynchronously"
Per issue: https://github.com/Azure/azure-sdk-for-net/issues/1432 the user has an MVC app that is hanging on AcquireTokenAsync. Any thoughts on why this is hanging?

[2015-09-21 23:03] kpanwar commented on #248
Not really. The simplest way for the developer is to try out the sample apps published at https://github.com/AzureADSamples to repro the problem and eliminate any user configuration issues.

[2015-09-22 16:44] devigned commented on #248
@kpanwar I don't see any public repos there. Did you mean some other uri?

[2015-09-22 18:27] kpanwar commented on #248
Its https://msdn.microsoft.com/en-us/library/azure/dn646737.aspx that has all the samples list.

[2015-09-28 21:48] Hihaj opened #249 "Token caching fails silently for the act-on-behalf-of scenario when UserAssertion is created with only assertion value"
Background
---
I'm building a web app that uses ADAL to aquire an access token for Dynamics CRM on behalf of the currently logged in (Azure AD) user. The app creates a `UserAssertion` from the logged in user's bootstrap token, like this:

[code]

(This pattern was taken from the "official" act-on-behalf-of sample, but was based on an old version, [here](https://github.com/Azure-Samples/active-dire

[2015-10-01 11:33] daserge commented on #129
Is `Windows.Security.Authentication.Web.WebAuthenticationBroker.getCurrentApplicationCallbackUri()` supported as a `redirectUrl` on Windows Phone 8.1?
I can still see `UriFormatException` in `2.19.208020213`.

[2015-10-02 16:43] devigned opened #251 "DPI Scaling is causing usability issues in Azure PowerShell"
When I use "Add-AzureAccount", sign-in dialog is displayed.
The sign-in dialog is too small and it can't change size. It's user-unfriendly.

From: https://github.com/Azure/azure-powershell/issues/1043#issuecomment-145058226

[2015-10-06 23:58] kpanwar commented on #251
What version of ADAL are you using?

[2015-10-07 04:30] kpanwar opened #254 "Return error message to developer when WPJ cert is not found on token endpoint challenge"
Return error message to developer when WPJ cert is not found on token endpoint device auth challenge.
We should not respond to the challenge when there is no certificate. Instead we should return and error to the developer that says "DEVICE_CERTIFICATE_NOT_FOUND"

[2015-10-12 16:21] kpanwar opened #256 "Capture tenant id from broker response in Xamarin Android"
Capture tenant id from broker response in Xamarin Android

[2015-10-14 17:55] ginach opened #257 "Authentication errors in UWP throw "Stream does not support seeking" exception"
The error handling in OAuth2Response.ReadErrorResponse() is throwing "Stream does not support seeking" exceptions in cases where GetResponseStream() returns a stream that does not have seek enabled, such as in UWP apps.

[2015-10-14 18:02] ginach opened #258 "WebException.Response and response stream not disposed properly in OAuth2Response.ReadErrorResponse()"
In OAuth2Response.ReadErrorResponse() the stream of the response object isn't disposed after being retrieved. The calling code of this method doesn't dispose the WebResponse object from the exception or the stream on the response either.

[2015-10-14 21:40] dstrockis opened #259 "Convergence-v4: A web app can't get a token without offline_access"
We should probably enable web apps to get tokens without requiring offline_access.  Not sure how to do it though.  Probably needs a design discussion.

[2015-10-15 22:35] kpanwar commented on #256
Fixed.

[2015-10-15 22:35] #256 closed

[2015-10-15 22:35] kpanwar commented on #254
fixed.

[2015-10-15 22:35] #254 closed

[2015-10-20 02:44] nigel-sampson opened #264 "AcquireTokenAsync returning a token from the wrong directory"
I'm currently developing an app for a client connecting to Azure AD.

Using the following code:

[code]

What we're seeing that when on my development machine we're not seeing a prompt for credentials any more (we used, but something has changed externally to the code) but it will automatically return a token for my work Active Directory `nigel.s@markermetro.com` rather than the client's AD.

This

[2015-10-21 23:59] maxpert opened #265 "Windows Phone receiving too many authentication_ui_failed: The browser based authentication dialog failed to complete"
We have a Windows Phone app and we are seeing too many crashes from clients saying **Microsoft.IdentityModel.Clients.ActiveDirectory.AdalException: authentication_ui_failed: The browser based authentication dialog failed to complete**

Known issue? Here is stack trace for more details:

[code]

[2015-11-16 23:27] IlSocio opened #270 "Profile 259 not supported?"
I tried to install both the latest stable release 2.19 and the latest pre-release 3.5, but both the libraries fails the installation on a PCL which targets the profile 259.

`You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile259', but the package does not contain any assembly references or content files that are compatible with that framew

[2015-11-24 18:28] juturu opened #271 "AcquireTokenAsync in test code with UserCredentials fails with FormatException 'The format of value 'application/soap+xml;' is invalid.'"
I'm using -pre release version of ADAL nuget package in unit test code to get auth tokens using UserCredentials.
[code]

AcquireTokenAsync fails with error "'System.FormatException" with message "The format of value 'application/soap+xml;' is invalid.".

This issue didn't repro with latest stable version of Adal package.

[2015-12-09 15:41] jasonjoh opened #275 "AcquireTokenAsync fails if scopes are capitalized"
Repro setup: Basic WPF application, Visual Studio 2015, latest pre-release experimental version of the library.

This code results in a null `AuthenticationResult.Token':

    string[] scopes = { "https://outlook.office.com/Mail.Read" };
    AuthenticationResult result = null;
    result = await authContext.AcquireTokenAsync(scopes, null, clientId,
      redirectUri, new PlatformParameters(PromptB

[2016-01-14 02:54] kpanwar opened #276 "AdalIdHelper.GetAdalVersion() fails in Sandboxed environment"
AdalIdHelper.GetAdalVersion() fails in Sandboxed environment as it needs FileIOPermission. Solution is to use Assembly.getFullName in the method implementation and parse version from the string.

[2016-01-14 03:08] kpanwar opened #277 "WSTrust 2005 NegotiateAuthentication policy is incorrectly interpreted as WSTrust 1.3"
WSTrust 2005 NegotiateAuthentication policy is incorrectly interpreted as WSTrust 1.3

[2016-01-15 20:51] kpanwar commented on #277
Fixed in release 2.20

[2016-01-15 20:51] #277 closed

[2016-01-15 20:51] kpanwar commented on #257
Fixed in release 2.20

[2016-01-15 20:51] #257 closed

[2016-01-15 20:51] kpanwar commented on #271
Fixed in release 2.19.

[2016-01-15 20:51] #271 closed

[2016-01-15 20:54] kpanwar commented on #249
A username is required to add entry to the cache. Documentation needs to be more explicit about it this.

[2016-01-15 20:56] kpanwar commented on #200
@jkwon2013: I am going to close this issue. If you still see it as a problem then please feel free to reopen it.

[2016-01-15 20:56] #200 closed

[2016-01-15 21:01] kpanwar commented on #265
This error is coming from outside of ADAL as authentication is completely outsourced to WAB. ADAL only receives the successful or failed completion of the request.

[2016-01-15 21:01] #265 closed

[2016-01-15 21:02] kpanwar commented on #238
@VaanPan: Is this still an issue?

[2016-01-15 21:03] kpanwar commented on #259
without offline_access there will be no refresh token. Currently we do not support "not getting refresh token". why is this a requirement now? We should follow up with convergence team and @vibronet

[2016-01-21 10:03] rwwilden commented on #249
This also seems to be the cause of a token cache error I'm experiencing:

    Microsoft.IdentityModel.Clients.ActiveDirectory.AdalException:
        multiple_matching_tokens_detected:
        The cache contains multiple tokens satisfying the requirements. Call AcquireToken
        again providing more requirements (e.g. UserId)

What I see happening is two users (almost) simultaneously storing a t

[2016-01-25 22:18] danyoel opened #285 "nuget package: fwlink 258232 leads to soft 404"
The nuget Project URL fwlink http://go.microsoft.com/fwlink/?LinkId=258232 goes to https://msdn.microsoft.com/en-us/library/jj573266, which appears to be a soft 404 "We're sorry, the page you requested cannot be found."

[2016-01-26 11:21] seriewe commented on #249
I have the same problem like rwwilden described, and also hoped to fix the issue with the described solution.
I use OpenIdConnectAuthentication and WindowsAzureActiveDirectoryBearerAuthentication in the same Project for the MVC App and an API. The API is called by a SP WebPart with a Token obtained by adal.js. Inside the Server Application I use the token to get a new token on behalf of the user a

[2016-01-26 12:22] rwwilden commented on #249
Not been able to reproduce this yet. The problem occurs three to four times a week on a test environment. I added ADAL.NET as source code to the project and added additional logging in the library itself. Since then the problem hasn't come back yet... When anything happens I'll update this thread.

[2016-01-27 02:48] kpanwar commented on #276
Fixed.

[2016-01-27 02:48] #276 closed

[2016-01-30 23:34] kpanwar opened #287 "Add logger.info messages to delete and clear tokencache methods in v2/v3."
Add logger.info messages to delete and clear tokencache methods

[2016-01-30 23:35] kpanwar opened #288 "Provide error details in AcquireTokenSilentException"
Provide error details in AcquireTokenSilentException

[2016-02-03 03:27] Bonelol opened #289 "System.NullReferenceException in ADAL 3.0 in Xamarin.Android"
Error: Java.Lang.RuntimeException: java.lang.reflect.InvocationTargetException ---> Java.Lang.ReflectiveOperationException: Exception of type 'Java.Lang.ReflectiveOperationException' was thrown. ---> System.NullReferenceException: Object reference not set to an instance of an object
at Microsoft.IdentityModel.Clients.ActiveDirectory.WebUI.SetAuthorizationResult (Microsoft.IdentityModel.Clients.Act

[2016-02-03 17:00] kpanwar commented on #289
@Bonelol - Can you provide more details as to when does this happen? Is this method called before calling acquireToken, Upon completion of a successful auth or cancellation?

[2016-02-03 21:44] Bonelol commented on #289
@kpanwar - Here is the details. When user click Login button, it calls AcquireToken and should open a webview in a new activity that loads azure auth page. But some Samsung phone screen lost response here and after a few seconds the app crashed. So it's before user enter password and hit the Login button in the webview. Hope I make it clear enough

[2016-02-04 00:38] kpanwar commented on #289
@Bonelol - I was unable to repro your issue on SM-G900V running Lollipop (5.0). Can you please try to use the sample app bundled in the project at https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/tree/dev/tests/TestApp/AdalAndroidTestApp and see if the issue repros for you?

[2016-02-04 02:31] kpanwar opened #290 "Ensure cross tenant RT does not get used across environments (PROD vs PPE)"
Ensure cross tenant RT does not get used across environments (PROD vs PPE)

[2016-02-10 03:35] Bonelol commented on #289
@kpanwar - I have let my user to test the sample app (I don't have a samsung cellphone). After click 'Acquire Token' button, it show up auth page with no problem, then he typed in username and redirect to our ADFS auth server and app crashed when he try to type in password. So I think there may be some issues in either page redirecting or our ADFS auth page. Do you know if there is any service has

[2016-02-10 03:42] Bonelol commented on #289
@kpanwar - forgot to tell you that we use Xamarin Forms to design the app, but I don't think there are differences in ADAL between Xamarin Android and Xamarin Forms, am I right?

[2016-02-10 18:49] dstrockis commented on #259
I'm not 100% sure this is a requirement - but certainly the protocol allows for it.  I'll discuss with V at next opportunity.

Customer question here: https://www.yammer.com/azureadvisors/#/threads/show?threadId=598432866&messageId=599308250

[2016-02-17 19:59] IlyaGrebnov opened #296 "Add test case for AuthenticationResult Serialize/Deserialize. You corrent implementatio simple desnot work."

[2016-02-17 20:46] kpanwar commented on #296
What ADAL version are you using? Can you also please share exception details?

[2016-02-17 23:44] IlyaGrebnov commented on #296
Sorry, problem on my end. I have different serialization settings (camalCase).

[2016-02-17 23:44] #296 closed

[2016-02-18 19:32] kpanwar commented on #289
@Bonelol - Is your ADFS trying to do Client TLS auth by any chance? If so, then it is not supported at the moment.

[2016-02-18 19:41] #191 closed

[2016-02-27 03:13] kpanwar commented on #287
Fixed in latest releases

[2016-02-27 03:13] #287 closed

[2016-02-27 03:17] kpanwar commented on #249
@rwwilden - You should consider having cache per user in your server side implementation. Here is a post explaining it. http://www.cloudidentity.com/blog/2014/07/09/the-new-token-cache-in-adal-v2/

[2016-02-27 03:18] kpanwar commented on #258
@abhishek58g - can you confirm if this was fixed in both v2 and v3?

[2016-02-27 03:19] #240 closed

[2016-02-27 03:19] kpanwar commented on #188
added inner exception for over the wire exceptions

[2016-02-27 03:19] #188 closed

[2016-02-27 03:20] kpanwar commented on #288
fixed

[2016-02-27 03:20] #288 closed

[2016-02-27 03:20] kpanwar commented on #202
This is because they are trying to use .NET 4.0  and it is not supported

[2016-02-27 03:20] #202 closed

[2016-02-27 05:07] xiaowodp commented on #188
Thank you very much !

Xiao

On Feb 26, 2016, at 7:19 PM, Kanishk Panwar <notifications@github.com<mailto:notifications@github.com>> wrote:

added inner exception for over the wire exceptions

—
Reply to this email directly or view it on GitHub<https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/188#issuecomment-189566458>.

[2016-03-07 16:30] kpanwar opened #305 "disable HTTP redirects in webview for v2"
disable HTTP redirects in webview

[2016-03-07 16:30] kpanwar opened #306 "disable HTTP redirects in webview for v3"
disable HTTP redirects in webview for v3

[2016-03-07 18:28] kpanwar opened #307 "Multi threaded cache load issue v2"
Multi threaded cache load issue v2

[2016-03-07 18:28] kpanwar opened #308 "Multi threaded cache load issue v3"
Multi threaded cache load issue v3

[2016-03-08 19:13] belenko opened #309 "Certificate Authentication is Broken in Latest Prerelease"
When using `Microsoft.IdentityModel.Clients.ActiveDirectory` version `3.9.302261508`, attempts to acquire authentication token by using client certificate will fail with the following error:

Downgrading to latest stable version (`2.23.302261847`) solves the problem, so I suspect this is some kind of regression.

Upon further investigation, both version do indeed produce properly signed `client_as

[2016-03-08 22:41] #309 closed

[2016-03-09 23:42] Bonelol commented on #289
@kpanwar - Found the reason, some CSS style will cause webview crash. So it's not ADAL issue.

[2016-03-09 23:42] #289 closed

[2016-03-12 04:36] #306 closed

[2016-03-12 04:36] #305 closed

[2016-03-15 05:18] sjwaight opened #315 "PCL - AcquireTokenAsync results in 400 Bad Request - The size of request headers is too long."
Running the v4.0.209160138-alpha release a Xamarin app and after a period I hit a scenario where the Logins no longer work and I simply get a web response of "400 Bad Request - The size of request headers is too long." which looks suspiciously like this issue with the JS library: https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/179

[2016-03-16 19:44] lucadibiagio opened #316 "CreateByDiscoveryAsync failed with message "Federation Metadata Url is missing for federated user""
hi all,
we are trying to acquire token using the the AcquireTokenAsync using the following overload:

**AcquireTokenAsync(string resource, string clientId, ClientCredential **clientCredential)**
unfortunatelly we obtain this error

**Microsoft.IdentityModel.Clients.ActiveDirectory.AdalException: missing_federation_metadata_url: Federation Metadata Url is missing for federated user. This user type

[2016-03-17 05:15] kpanwar opened #318 "Remove default key for ios broker"
Remove default key for ios broker

[2016-03-23 07:26] kpanwar opened #320 "Remove non-interactive auth from iOS/Android/WinRT - v3"
Remove non-interactive auth from iOS/Android/WinRT

[2016-03-23 09:13] kpanwar opened #321 "Add logging implementation for iOS/Android - v3"
Add logging implementation for iOS/Android - v3

[2016-03-23 18:46] kpanwar opened #322 "Add about:blank to whitelist of web browser control"
Add about:blank to whitelist of web browser control

[2016-03-24 08:03] kpanwar commented on #316
Live Accounts are not supported for username password flow.

[2016-03-24 08:28] kpanwar opened #325 "add whitelist for url schemes in ADAL v2"
add whitelist for url schemes in ADAL v2. See V3 for reference

[2016-03-24 09:40] kpanwar opened #329 "clean up documentation and headers for v3"
clean up documentation and headers for v3

[2016-03-24 22:14] #318 closed

[2016-03-24 22:15] #321 closed

[2016-03-24 22:31] kpanwar opened #330 "ADAL throws an invalid argument exception when there is no trailing slash in the authority URL"
ADAL throws an invalid argument exception when there is no trailing slash in the authority URL

[2016-03-24 22:31] #330 closed

[2016-03-25 04:27] #322 closed

[2016-03-25 04:27] #316 closed

[2016-03-26 04:39] KaiWalter opened #334 "Cannot find ContinueAcquireTokenAsync for Windows Phone 8.1 in ADAL v4"
I want to implement a B2C-flow for Windows Phone 8.1 with v4.0.209160138-alpha. At the point when the App comes back with WAB from `ContinueWebAuthentication(WebAuthenticationBrokerContinuationEventArgs args)` I cannot find the `ContinueAcquireTokenAsync(args)` in the v4 library. See also [my StackOverflow question](http://stackoverflow.com/questions/36071143/adal-4-experimental-behaves-different-

[2016-03-29 03:18] kpanwar commented on #334
@KaiWalter - I am sorry I have been busy with other high priority work. I will try to get back to you tomorrow.

[2016-03-29 06:30] KaiWalter commented on #334
@kpanwar - That's good to hear. I'm somehow dead in the water here. Thanks for the update.

[2016-03-29 18:22] kpanwar commented on #329
change the header to be MIT license. If the header does not exist then add it to the .cs file.

[2016-04-01 13:50] belaie opened #343 "AuthenticationContext.AcquireToken issues access token for user with account locked out!"
AuthenticationContext.AcquireToken  issues access token while user account is Locked out in Azure Active Directory.

We have observed:

User which has account locked out in the Azure Active Directory still gets the Access token from ADAL using AuthenticationContext.AcquireToken  as long as the username and password combination is given correct.

Code:

UserToken userToken = new UserToken();

[2016-04-01 19:26] kpanwar commented on #334
Issue resolved in SO.

[2016-04-01 19:26] #334 closed

[2016-04-01 19:32] kpanwar commented on #343
I would need more information for this issue. Was the account locked within one hour of the token acquisition? If so, then ADAL will return you the cached token.

[2016-04-02 09:16] belaie commented on #343
Okay, I would check this and let you know. While can you point me to the ADAL cached token documentation to understand how this works?

[2016-04-04 17:17] #320 closed

[2016-04-04 17:17] #307 closed

[2016-04-04 17:17] #308 closed

[2016-04-04 17:19] kpanwar commented on #343
http://www.cloudidentity.com/blog/2014/07/09/the-new-token-cache-in-adal-v2/

[2016-04-05 01:31] kpanwar opened #345 "Fix iOS ExpireOn claim conversion from Broker - V3"
Xamarin iOS ignored the expires_on claim returned from the broker and used UTC.Now + expires_in to compute expiration time. This resulted in current time as expiration time for the access token.

[2016-04-05 02:30] kpanwar commented on #345
fixed.

[2016-04-05 02:30] #345 closed

[2016-04-07 13:08] andersosthus opened #348 "ADAL v3 beta does not seem to work properly in the latest Windows 10 Preview build."
Active Directory Authentication Library (ADAL) v3 does not work properly in preview build 14316-rs1_release.160402-2217 when used outside of an UAP app (for instance console app or WPF app).

Instead of showing the proper login frame, it just shows an blank white page. Also it doesn't respond when trying to close it, and the only way to end it is to kill the process.

I've tried versions:

- 3.1.2

[2016-04-08 22:04] kpanwar commented on #348
ADAL delegates all the web authentication to Web Authentication Broker (WAB) and does not (cannot) control any web flows. I will communicate the issue with the WAB team.

[2016-04-08 22:10] andersosthus commented on #348
Thank you. If they need me to provide any logs, please put them in contact with me.

[2016-04-09 03:26] darrelmiller commented on #348
I tried rolling back to the stable 2.23 and saw the same behaviour.

[2016-04-11 00:57] kpanwar commented on #348
It is because the issue is with Windows. Consider filing a report with Windows.

[2016-04-11 00:58] kpanwar commented on #343
@belaie - Any updates?

[2016-04-11 01:09] kpanwar commented on #247
We added the ability to get inner exception details when acquiring a refresh token fails.

[2016-04-11 01:09] #247 closed

[2016-04-11 01:11] kpanwar commented on #329
@abhishek58g close this issue if you are done with the work.

[2016-04-11 01:12] kpanwar commented on #258
@abhishek58g - can you confirm?

[2016-04-11 04:04] kpanwar commented on #259
@dstrockis did you get a closure on this?

[2016-04-11 04:06] kpanwar commented on #248
@devigned - Did this issue resolve for you? I did some read up and found out that this could happening if you don't call configureAwait(false) on your method calls.

[2016-04-11 04:08] kpanwar commented on #249
We released fixed in both v2 and v3 where we also cache user assertion hash passed in and make sure that incorrect token is not returned for a given user.

[2016-04-11 04:08] kpanwar commented on #249
@seriewe Are you still running into issues?

[2016-04-11 05:26] abhishek58g commented on #329
Closed it.

[2016-04-11 05:26] #329 closed

[2016-04-11 14:36] devigned commented on #248
It wasn't a problem I personally was running into. It was a customer issue in the referenced github issue.

I think it would have been most effective to interact with them directly in the other thread, but I think that time has past considering it was 201 days ago the issue was posted.

I'll close this issue.

[2016-04-11 14:36] #248 closed

[2016-04-11 21:11] kpeek opened #353 "Does not support v2 token endpoint"
When creating an AuthenticationContext and then calling AcquireTokenByAuthorizationCodeAsync, the /v2.0 is stripped from the token endpoint URL.

If the provided authority is https://login.microsoftonline.com/{tenant}/v2.0, the expected token endpoint is https://login.microsoftonline.com/{tenant}/oauth2/v2.0/token, but it's building https://login.microsoftonline.com/{tenant}/oauth2/token instead

[2016-04-11 21:17] kpanwar commented on #353
V2 is supported in the new library under preview. https://github.com/AzureAD/microsoft-authentication-library-for-dotnet

[2016-04-12 04:27] kpanwar opened #354 "supporting client heuristics for outages"
Add client heuristic support when there is an outage.

[2016-04-12 07:22] #259 closed

[2016-04-12 07:24] kpanwar commented on #315
Though this is a server side issue, I would strongly recommend to use https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/tree/dev for building apps using v2 model. Preview is also available in nuget.org (http://www.nuget.org/packages/Microsoft.Identity.Client/1.0.303282006-alpha)

[2016-04-12 11:03] andersosthus commented on #348
@kpanwar I've submitted it through the feedback hub, but if you have and tips about other (better?) places to submit it I'm all ears.

[2016-04-12 17:04] abhishek58g commented on #258
Yes.It is fixed in v2 and v3. The stream object is used inside a using construct which automatically calls Dispose at the end of the block.
MSDN Documentation link :- https://msdn.microsoft.com/en-us/library/system.io.memorystream(v=vs.110).aspx

[2016-04-13 06:15] #353 closed

[2016-04-14 00:54] abhishek58g opened #356 "ADAL Code scrubbing and cleanup"

[2016-04-14 03:57] kpanwar opened #358 "apply ADAL v3 code analysis and warning as error build updates"
ADAL v3 code analysis and warning as error updates

[2016-04-15 05:26] kpanwar opened #362 "apply ADAL v2 code analysis and warning as error build updates"
apply ADAL v2 code analysis and warning as error build updates

[2016-04-15 17:33] tgilgil opened #364 "lastest nuget includes source code"
Nuget 2.24304111323 installs the source code instead of the release dlls. I'm thinking this is not normal!

The packages folder contains source files and .pdb files

[2016-04-15 23:13] kpanwar commented on #364
I cannot repro the problem. I see both lib and src in the packages folder and my test project does refer to DLLs. Could be an issue with nuget.exe

[2016-04-15 23:17] kpanwar opened #365 "Add forceRefresh flag in ADAL v3 silent calls"
Add forceRefresh flag in ADAL v3 silent calls. This will allow developers to get a new Access Token even when the existing token has not expired.

[2016-04-16 00:18] tgilgil commented on #364
The packages folder contains source files and and associated pdb files. Is this expected?

[2016-04-16 00:20] kpanwar commented on #364
Package folder contains lib/ and SRC/. Lib contains pdb and DLL and SRC/ contains the source code.

[2016-04-16 00:25] #364 closed

[2016-04-16 00:28] tgilgil commented on #364
Alright! The older versions on NuGet did not have the source code and pdb included when installed so I thought there was a problem :)

[2016-04-16 02:17] alaincroisetiere commented on #364
This is the only version on nuget.org packaged with source.

[2016-04-20 15:17] mababey opened #371 "Pin certificates for STS endpoints"
When apps authenticate to AAD, a Man-in-the-Middle (MITM) would be able to intercept AAD access tokens, enabling the attacker to impersonate the AAD end user and access directory data and perform user operations against AAD, Graph and other federated services, or modify response data in transit back to the device in an attempt to inject a remote compromise of the client.

ADAL only establishes sec

[2016-04-21 06:24] kpanwar opened #372 "Add DPAPI protection to in-memory cache in ADAL v3"
Add DPAPI protection to in-memory cache in ADAL v3. investigate if this needs to be an Opt-In or Opt-Out feature.

[2016-04-22 02:05] blumu commented on #348
I had the same issue and was able to resolve it with the following steps:
- Kill all browsers including Chrome IE and Edge
- Kill lync, outlook, all command prompts
- Start a single powershell command window
- **Kill explorer.exe under task explorer** This step is important. Just killing browsers is not enough!
- In the remaining powershell window run any command that triggers the AD prompt that w

[2016-04-25 09:10] MJems commented on #144
I am getting same error, actually i converted application to ASP.NET, and checked all 3 scenario mentioned on above comment, and those are fine. still getting same issue.

can you please help me to fix this issue ASAP.

[2016-04-25 13:33] kpanwar commented on #144
If you use the latest 2.24 then you will get an inner exception that will tell you why acquire token silent failed. Can you check and share the details.

[2016-04-25 23:50] rustd opened #376 "ADAL does not work with ASP.NET Core RC2"
This library (3.9.302261508-alpha) throws an exception ADALError.zip
[ADALError.zip](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/files/235607/ADALError.zip)
when using in ASP.NET Core RC2 Web App [WebAppRead_Sample.zip](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/files/235608/WebAppRead_Sample.zip)
This works on Full .NET Framework but not on .NET Co

[2016-04-26 18:53] vijayaramb opened #379 "authority_not_in_valid_list: 'authority' is not in the list of valid addresses"
i am trying to acquire token silent on behalf of the user in my webapi service. I am left out with this error. Could someone help me out

[2016-04-26 18:54] kpanwar commented on #379
can you provide more details? what authority did you pass in to the authentication context constructor etc?

[2016-04-27 17:28] vijayaramb commented on #379
aadInstance = "https://login.microsoftonline.com/{0}{1}{2}"

code snippet:
 //string userObjectID = ClaimsPrincipal.Current.FindFirst("http://schemas.microsoft.com/identity/claims/objectidentifier").Value;
                string userObjectID = _sessionLogic.GetUserObjectIDFromAAD(_userDetails);

                string authority = String.Format(CultureInfo.InvariantCulture, Startup.aadInstance, Sta

[2016-04-27 17:32] vijayaramb commented on #379
today i am getting this error: Failed to acquire token silently. Call method AcquireToken

[2016-04-27 17:35] kpanwar commented on #379
did your first issue get resolved? If you use latest ADAL there will be an inner exception that you can check for actual failure details.

[2016-04-27 18:32] vijayaramb commented on #379
first issue got rosolved, but getting the next one "Failed to acquire token silently. Call method AcquireToken". could you help me out, where i am failing.
FYI, i am not using the above code in mvc web application, where we can pop up microsoft login page for user login. Instead i am using this code in web api (say signin api) where i will get the user credentials, impilictly call AAD and get back

[2016-04-27 19:35] vijayaramb opened #380 "Failed to acquire token silently. Call method AcquireToken"
I am getting error "Failed to acquire token silently. Call method AcquireToken".
could you help me out, where i am failing.

FYI, i am not using the above code in mvc web application, where we can pop up microsoft login page for user login. Instead i am using this code in web api (say signin api) where i will get the user credentials, impilictly call AAD and get back the token for the user. Thats

[2016-04-28 08:01] MJems commented on #144
Here is the complete source code. This is website so open this as website not project.
[WebSite15.zip](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/files/240045/WebSite15.zip)

[2016-04-28 08:02] MJems commented on #144
I converted this into ASP.NET, and when it called below code(AcquireTokenSilentAsync) nothing happened. on above thread code is attached.

`internal static async Task EnsureOutlookServicesClientCreatedAsync(string capabilityName)
{
var signInUserId = ClaimsPrincipal.Current.FindFirst(ClaimTypes.NameIdentifier).Value;
var userObjectId = ClaimsPrincipal.Current.FindFirst("http://schemas.microsoft.co

[2016-04-28 11:27] MJems commented on #144
It get fixed, working now.

[2016-04-29 14:54] vijayaramb opened #381 "missing_federation_metadata_url: Federation Metadata Url is missing for federated user. This user type is unsupported."
I am getting federation metadata url missing error, when i try to acquire token using user credential in my web api service.

I am using the below code snippet:

UserCredential uc = new UserCredential(credentials.Username, credentials.Password);
                var authContext = new AuthenticationContext(Startup.Authority, new NaiveSessionCache());
                var result = await authContext.Ac

[2016-04-29 15:20] kpanwar commented on #381
Are yiu using a Microsoft account like outlook.com or Hotmail.com? If so then it is not supported.

[2016-04-29 15:21] kpanwar commented on #381
I mean username and password flow for that user type.

[2016-04-29 15:22] vijayaramb commented on #381
no i am using azure active user account

[2016-04-29 15:26] vijayaramb commented on #381
to make it simple,  i am trying to get access token and refresh token for azure active directory users from my web api service which is already registered as an application in B2C

[2016-04-29 15:45] kpanwar commented on #381
You really should not be using username and password flow for confidential clients like a web API. This feature is enabled as an error and will be disabled soon.

[2016-04-29 16:15] vijayaramb commented on #381
so what is the library and approach should i use for getting access token and refresh token for my users who will call my login web api service with just username and password.

[2016-04-29 18:01] kpanwar commented on #381
@vijayaramb what kind of app did you create in b2c portal? Native client or web API?

[2016-04-29 18:23] vijayaramb commented on #381
i am creating web api in b2c portal

[2016-05-02 17:00] kpanwar commented on #381
@vijayaramb How is the developer calling your web API? Ideally, you should have a native client that acquires tokens for the web API. The access token is then sent to your web API that you can later redeem to get more access tokens for other resources using on behalf of flow.

[2016-05-02 22:21] kpanwar opened #383 "Check assertion Hash when there are multiple tokens found - v2"
For the server side scenarios, ADAL should check user assertion Hash (if provided) when there are multiple tokens found because the developer did not supply upn.

[2016-05-02 22:22] kpanwar opened #384 "Check assertion Hash when there are multiple tokens found - v3"
For the server side scenarios, ADAL should check user assertion Hash (if provided) when there are multiple tokens found because the developer did not supply upn.

[2016-05-04 06:03] mhutch opened #385 "ADAL fails to initialize on Android when fill linking is enabled"
When using ADAL with Xamarin.Android, if full linking is enabled, then ADAL fails with the following exception:

System.ArgumentNullException: Value cannot be null.
Parameter name: type
  at System.Activator.CreateInstance (System.Type type, Boolean nonPublic) [0x00006] in <filename unknown>:0
  at System.Activator.CreateInstance (System.Type type) [0x00000] in <filename unknown>:0
  at Microsoft.

[2016-05-05 18:21] kpanwar opened #387 "ADAL should send haschrome=1 QP for all interactive requests"
ADAL should send haschrome=1 QP for all interactive requests. This will hide the back button the UI and developers will stop getting access_denied error when it was actually user_cancel.

[2016-05-05 21:00] kpanwar opened #392 "Enable resource owner grant flow for ADFS in v2"
Enable resource owner grant flow for ADFS in v2

[2016-05-06 04:58] kpanwar commented on #385
fixed.

[2016-05-06 04:58] #385 closed

[2016-05-06 05:14] kpanwar commented on #384
fixed.

[2016-05-06 05:14] #384 closed

[2016-05-06 05:14] kpanwar commented on #383
fixed.

[2016-05-06 05:14] #383 closed

[2016-05-06 05:14] kpanwar commented on #392
fixed.

[2016-05-06 05:14] #392 closed

[2016-05-06 05:15] kpanwar commented on #380
discussion in https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/379

[2016-05-06 05:15] #380 closed

[2016-05-06 05:22] #358 closed

[2016-05-06 05:22] #362 closed

[2016-05-06 05:22] #356 closed

[2016-05-09 15:52] kpanwar commented on #387
fixed.

[2016-05-09 15:52] #387 closed

[2016-05-09 15:55] kpanwar opened #400 "Case Sensitivity of the MessageID fails on some federation providers - v2"
Case Sensitivity of the MessageID fails on some federation providers because ADAL v2 uses "messageID" in the SOAP request. Spec says that it should be MessageID and only ADFS ignores it.

[2016-05-09 15:55] kpanwar opened #401 "Case Sensitivity of the MessageID fails on some federation providers - v3"
Case Sensitivity of the MessageID when attempting to send XML payload to active endpoint fails on some federation providers because ADAL v3 uses "messageID" in the SOAP request. Spec says that it should be MessageID and only ADFS ignores it.
Use Ping or shibboleth to repro

[2016-05-09 23:01] kpanwar opened #402 "enable refresh_token grant for ADFS in v2"
enable refresh_token grant for ADFS in ADAL v2

[2016-05-10 15:51] kpanwar commented on #402
fixed.

[2016-05-10 20:14] kpanwar opened #405 "Fix array resize issue during Url encoding - v2"
Fix array resize issue during Url encoding where Array.Resize call was not being provided new size of the array and developer got index out of bound exception.

[2016-05-10 20:14] kpanwar opened #406 "Fix array resize issue during Url encoding - v3"
Fix array resize issue during Url encoding where Array.Resize call was not being provided new size of the array and developer got index out of bound exception.

[2016-05-11 08:52] #406 closed

[2016-05-11 08:52] kpanwar commented on #405
fixed

[2016-05-11 08:52] #405 closed

[2016-05-11 08:52] kpanwar commented on #402
fixed

[2016-05-11 08:52] #402 closed

[2016-05-13 14:21] AlexBrownShi opened #410 "Need to be able to use UISafariWebView from within ADAL.iOS"
We are using certificate authentication, but unfortunately, Safari's client certs do not appear to be available for the default UIWebView to access.  Can we give a user-configurable option that allows it to use the UISafariWebView instead?

[2016-05-13 17:46] titobf opened #411 "Nuget Package Version"
The readme.md of this repo states that "The latest stable release is 3.10.305110106". However, I was unable to find that version in the NuGet Manager. It says that the latest stable version is 2.26.305102204.

However, I was able to install v3 by running the following command in the PMC:

Install-Package Microsoft.IdentityModel.Clients.ActiveDirectory -IncludePrerelease -Version 3.10.305110106

I'

[2016-05-13 18:20] kpanwar commented on #410
for Objc issues, please file them at https://github.com/AzureAD/azure-activedirectory-library-for-objc

[2016-05-13 18:20] kpanwar commented on #411
I have updated the package to be listed.

[2016-05-13 18:20] #411 closed

[2016-05-13 18:24] titobf commented on #411
Great. I can see the new version now. Thanks

[2016-05-13 20:11] AlexBrownShi commented on #410
This is not an Obj-C issue.  There is a line of code in THIS project https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/master/src/ADAL.PCL.iOS/AuthenticationAgentUIViewController.cs#L64

I believe that that UIWebView object could be switched out for a UISafariWebView Object and my problem will be solved.

I believe that is C# code in Xamarin.iOS.  I'd do it myself - and I mi

[2016-05-13 23:06] kpanwar commented on #410
We do not think it is right to add SFSafariViewController in ADAL API.

The way OAuth2 flows work is that the server redirects the user back to the redirect URI provided by the app and returns a authorization code as a query parameter. SFSafariViewController can only return data back to the calling app launching the said app using the app-scheme. This means your app's redirect uri should be <your-

[2016-05-13 23:06] #410 closed

[2016-05-16 08:38] smourier opened #412 "DictionaryRequestParameters bug in recent versions?"
In ADAL older versions (Experimental), the DictionaryRequestParameters used to override the ToString() method. Now it doesn't any more which causes this code to build an incorrect auth url:

            var url = authContext.GetAuthorizationRequestUrlAsync(scope, clientId, etc..) or
            var result = authContext.AcquireTokenAsync(scope, clientId, etc..)

The build url now has this form:
htt

[2016-05-16 21:09] kpanwar commented on #412
Fixed the issue in 3.10.305161347

[2016-05-16 21:09] #412 closed

[2016-05-17 01:03] ricardopolo opened #416 "Dependencies error after upgrading from 2.0 to 3.0"
After updating the Nuget since yesterday we are getting this exception

[code]

Meanwhil we will downgrade, but please check it. We also tryi installing and uninstalling the latest version back and it sill fails.

[2016-05-17 01:04] kpanwar commented on #416
What kind of application are you running?

[2016-05-17 01:06] ricardopolo commented on #416
Website, .Net framework 4.6

[2016-05-17 01:15] kpanwar commented on #416
Is this a standard ASP.NET website running in windows environment?

[2016-05-17 01:30] ricardopolo commented on #416
MVC, Windows 10 Environment. Also tested in a bran new machine compiling in Appveyor

[2016-05-17 01:37] kpanwar commented on #416
@ricardopolo I am unable to repro your problem. I just created a simple website where I create authenticationcontext within page_load. My app loads just fine. My web config is below.
`<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>

[2016-05-17 12:56] MarkDordoy-JustEat opened #417 "Version 3 doesn't seem to support Interactive Login for MFA"
Hello

With version 2 of this library i was able to do the following (using powershell):

[code]

and i would get the following pop up:

![twofactor](https://cloud.githubusercontent.com/assets/7372737/15322810/cc46f4a4-1c36-11e6-86f2-8197c2389f67.PNG)

On successful credentials/two factor i would have an access token i could then use.

Im unable to get the same result in version 3. I can see Acqui

[2016-05-17 15:48] kpanwar commented on #417
You should be using something like
`            AuthenticationContext context = new AuthenticationContext("https://sts.just-eat.com/adfs", false);
            var result = await context.AcquireTokenAsync("https://aws.just-eat.com/adfs", "31e1ae37-054b-422f-abf1-11112312312", new Uri("https://aws.just-eat.com/"),new PlatformParameters(PromptBehavior.Always, null));
`

[2016-05-18 02:27] #417 closed

[2016-05-20 16:20] onovotny opened #419 "Restructure NuGet/project package"
My suggestion here is to use the `\ref` / bait-and-switch technique to release a single library instead of needing a PCL  + .Platform package.

The bulk of the impl can be a `netstandard 1.x` library and then platform-specific cross-compiled versions exist in the package that will light-up when used on those platforms.

[2016-05-20 17:00] jaevan opened #420 "ADAL for .NET does not account for WS-Trust responses where returned token type is SAML 1.1"
# Issue:
1. AcquireToken(string resource, string clientId, UserCredential userCredential) overload is used
2. User is federated with WS-Trust
3. IDP returns WS-Trust tokens with type <t:TokenType>http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1/t:TokenType

In this scenario we will see the user successfully retrieve a SAML 1.1 type WS-Trust token from their IDP, but then AD

[2016-05-20 17:57] kpanwar commented on #419
netstandard has not GA yet. We cannot move to that model until GA is done.

[2016-05-22 15:25] yamamoWorks opened #422 "PromptBehavior.Always is not work in UWP."
PromptBehavior.Always is not work in UWP application.

`var authContext = new AuthenticationContext("https://login.windows.net/common");`
`var platformParams = new PlatformParameters(PromptBehavior.Always, false);`
`var result = await authContext.AcquireTokenAsync("https://management.core.windows.net/", "xxxx", new Uri("xxx"), platformParams);`

I guess the reason is that 'GetCacheLoadPolicy' meth

[2016-05-23 11:32] casaout opened #424 "Getting JavaScript-errors when authenticating using ADAL"
I am using the Microsoft Graph API (in a WPF app, .Net Framework 4.5) and successfully connecting a user to the API with ADAL. Two users (testing the application) reported a JavaScript-error during the authentication process with Office 365 (using ADAL), see Screenshot below.

A few months ago I noticed these pop-ups too, but they were gone after I've updated the ADAL **Nuget-Package.** I just che

[2016-05-23 20:47] ravensorb opened #428 "Support for more profiles (like 259)"
Are there any plans to update this library to be usable in more profiles. I am targeting iOS, Android, Windows Mobile 8.1 and Windows 10 Mobile.  Right now i get errors about unsupported profile 259 when trying to add the package.

[2016-05-24 01:21] kpanwar commented on #428
There are no plans on supporting Windows Phone 8.1. We only only support UWP apps.

[2016-05-24 01:21] #428 closed

[2016-05-24 01:22] kpanwar commented on #424
This is a server side error that ADAL has no control over. I will communicate with the server team to fix this. More importantly, the library you are using is unsupported. You should consider using our next-gen library MSAL available at https://www.nuget.org/packages/Microsoft.Identity.Client.

[2016-05-24 01:22] #424 closed

[2016-05-24 01:30] ravensorb commented on #428
That's great -- only issue is, the current package will not install into a PCL project that targets anything over 8.0.  The main ADAL.PCL project needs its profile updated (or its nuspec updated) so that it will install into some of the newer profiles like 151 or 259.

[2016-05-24 02:38] kpanwar commented on #422
fixed in 3.10.305231913

[2016-05-24 02:38] #422 closed

[2016-05-24 02:43] ravensorb commented on #419
I agree -- what would be the advantage of the "bait-and-switch"?

[2016-05-24 03:12] kpanwar commented on #419
Most importantly, Xamarin works without any issues. ADAL uses several platform specific features that would require investigation before moving to NetStandard.

[2016-05-24 05:19] casaout commented on #424
hi @kpanwar Thanks for your quick response! I will have a look at MSAL. However, I am not sure if this is the right thing to do, as the official tutorial/documentation from @dstrockis still refers to ADAL (https://azure.microsoft.com/en-us/documentation/articles/active-directory-v2-devquickstarts-wpf/). Thanks for a clarification!

[2016-05-24 13:31] yamamoWorks commented on #422
great !

[2016-05-24 13:49] yamamoWorks opened #437 "PromptBehavior in Android and iOS"
You know the PlatformParameters in UWP has PromptBehavior.
`var platformParams = new PlatformParameters(PromptBehavior.Always, false);`

But the PlatformParameters in Android and iOS dose not have PromptBehavior.
I think that implementation of PromptBehavior is not depend platform.

Are these will be implemented in the near future?
I hope so.

Regards

[2016-05-25 01:52] markcowl opened #438 "Login-AzureRmAccount UI - We require a web browser plugin but it won't install here."
Cross-posting from: https://github.com/Azure/azure-powershell/issues/2303
[code]
This is the dialog that is displayed when executing ```AuthenticationContext.Authenticate``` in Adal 2.18.x using interactive login.  How can the customer work around this browser restriction?

[2016-05-25 17:41] KRDMApps commented on #376
I had this error until I added "Microsoft.AspNetCore.Mvc.Formatters.Xml": "1.0.0-rc2-final" to project.json.

[2016-05-26 06:25] kpanwar commented on #438
what is the minimum browser version supported by the plugin? ADAL use browser control (trident) provided by .NET framework. By default it runs in IE 7 mode. You could try to update the version to see if the plugin works. https://weblog.west-wind.com/posts/2011/May/21/Web-Browser-Control-Specifying-the-IE-Version

[2016-05-31 16:33] kpanwar commented on #416
@ricardopolo any updates?

[2016-05-31 17:19] ricardopolo commented on #416
@kpanwar I'll replicate it tomorrow and post updates :)

[2016-06-01 15:23] mhutch commented on #419
Using bait and switch is possible without netstandard.

See http://log.paulbetts.org/the-bait-and-switch-pcl-trick/

[2016-06-01 15:25] onovotny commented on #419
One advantage is often simpler code - easier to maintain. You don't have to jump through as many hoops to factor things in two libraries when you can just ifidef things out for the PCL (and throw a not implemented exception). Effectively, the PCL just becomes a reference assembly ala @mhutch's link above.

[2016-06-01 15:53] mattridgway commented on #376
I was getting the same, it was fixed by the suggestion from @KRDMApps

[2016-06-01 16:03] kpanwar commented on #376
We released the preview for ADAL supporting RC2. https://www.nuget.org/packages/Microsoft.IdentityModel.Clients.ActiveDirectory/3.11.305310302-alpha

[2016-06-01 16:03] #376 closed

[2016-06-01 16:04] kpanwar commented on #438
@markcowl any updates?

[2016-06-01 19:25] sgreenlee11 opened #443 "AcquireToken method is missing from AuthenticationContext class in Powershell"
I have noticed that the AcquireToken method is no longer available for a PowerShell object created with the AuthenticationContext class in v3 of the library. This existing code is still working when tested using v 2 of the ADAL library. Here is the process used to create the AuthenticationContext object:

Add-Type -Path "Microsoft.IdentityModel.Clients.ActiveDirectory.dll"
$authority = "https://lo

[2016-06-01 19:42] kpanwar commented on #443
You have to use UserPasswordCredential class in ADAL v3

[2016-06-01 20:49] kpanwar opened #444 "updated SOAP action header is not getting set in the request being sent"
updated SOAP action header is not getting set in the request being sent in src/ADAL.PCL/WsTrustRequest.cs

[2016-06-02 12:35] JohanPetersson opened #446 "What happend to AcquireTokenByRefreshTokenAsync in version 3?"
Can we achieve the same functionality in another way?

[2016-06-02 14:38] kpanwar commented on #446
We have removed the support to return refresh token to the developer to avoid abuse by misinformation. What is your scenario where you need the refresh token? Maybe we can suggest alternatives.

[2016-06-02 14:44] JohanPetersson commented on #446
So by using ADAL 3 there is no refresh token in the users claims anymore?

We're using the user's refresh token to acquire an access token to SharePoint Online.

[2016-06-02 15:05] kpanwar commented on #446
Refresh token is still present but it is internal implementation details as far as the developer is concerned. You should call acquireTokenSilent(<sharepoint resource>, UserIdentifier) to get the token for another resource. ADAL already supports acquiring tokens for multiple resources.

[2016-06-02 15:28] JohanPetersson commented on #446
I guess this requires that the refresh token is already present in the token cache? Which is not the case in our code, since the user obtains the refresh token outside ADAL in Microsoft.Owin.Security.WsFederation.

Backstory...
We're integrating with Auth0 through their WS-FED plugin and they integrate in their turn with our client's ADFS through OpenId Connect.
Then we need to make authenticated

[2016-06-06 14:30] casaout commented on #424
@kpanwar Could you please elaborate a little more on what you meant with your comment two weeks ago? CC: @dstrockis  Thanks!

[2016-06-06 15:26] kpanwar commented on #424
We will be updating the documentation soon to remove references to the experimental library.

[2016-06-07 05:31] casaout commented on #424
Perfect. @kpanwar  Can you please let me know when the documentation is updated? Thanks!

[2016-06-07 05:33] ricardopolo commented on #416
I fixed uninstalling and installing it back.

[2016-06-07 05:33] #416 closed

[2016-06-08 15:58] AlfredoMS opened #448 "Link to samples and docs redirects to 404"
The link to the samples and documentation  in the README.md file redirects to https://github.com/AzureADSamples which returns 404.

[2016-06-08 23:59] AArnott opened #449 "ADAL dialog content shows logo that does not meet high contrast expectations"
#168 fixed most of the issues, but the VS logo itself still does not conform to high contrast theming.
![image](https://cloud.githubusercontent.com/assets/3548/15915000/59af9d90-2d9a-11e6-8fd2-d18604621f96.png)

[2016-06-09 00:08] kpanwar commented on #449
Does it look as expected in a browser like IE?

[2016-06-09 06:52] stefffdev opened #450 "TokenCache is not working in a Xamarin.Android Release Build"
When I'm running a release build of my xamarin.forms app on android, the tokencache is not working, failing with the error
`06-09 07:47:27.153: W/(12494): 09.06.2016 05:47:27:  - TokenCachePlugin.cs: Failed to save cache: System.Runtime.Serialization.InvalidDataContractException: No set method for property 'OffsetMinutes' in type 'System.Runtime.Serialization.DateTimeOffsetAdapter'.`

Everything w

[2016-06-09 15:38] kpanwar commented on #450
This is a known issue in xamarin. https://forums.xamarin.com/discussion/58736/crash-in-release-build-when-using-datacontractjsonserializer
Sadly, no action has been taken on this bug yet. :(

[2016-06-09 19:39] AArnott commented on #449
No. It looks bad there too:
![image](https://cloud.githubusercontent.com/assets/3548/15943712/356f759a-2e3f-11e6-91b1-d49cbdc32ffc.png)

[2016-06-09 19:46] kpanwar commented on #449
I will let the service team know that this needs to be fixed.

[2016-06-09 21:04] AArnott commented on #449
Thanks.

[2016-06-09 21:26] #449 closed

[2016-06-09 21:27] #450 closed

[2016-06-09 23:07] MKhowaja opened #452 "Link to the Samples and Documentation is broken"
In the readme for the repo, the link under samples and documentations: https://github.com/AzureADSamples
takes me to a page not found error page.

[2016-06-09 23:59] #438 closed

[2016-06-13 20:05] titobf opened #453 "Converged Model Authentication"
I'm looking to be able to authenticate both Office 365 accounts and Microsoft accounts, and I found this: [microsoft-graph-authentication-with-the-converged-model-preview/](http://simonjaeger.com/microsoft-graph-authentication-with-the-converged-model-preview/)

Does this library supports or provides tools to authenticate against the OAuth v2.0 Endpoints?

[2016-06-13 23:39] kpanwar commented on #453
it does not. You need to use https://github.com/AzureAD/microsoft-authentication-library-for-dotnet. Nugets are at https://www.nuget.org/packages/Microsoft.Identity.Client

[2016-06-13 23:39] #453 closed

[2016-06-13 23:40] titobf commented on #453
Thanks!

[2016-06-14 17:58] polita opened #455 "Add Serviceability attribute to assemblies for desktop .NET to enable servicing libraries"
In .NET 4.5.1, the CLR team added a feature for serviceability that allows library owners to service a library installed locally to an app without having to GAC it. They use something called a breadcrumb list to keep track of where the assembly is located, and if the assembly is serviced through MU, all occurrences in the breadcrumb list get updated.

To make this work, it looks like you need an a

[2016-06-15 19:55] titobf commented on #453
This post could be helpful to someone else going through the same path:

http://simonjaeger.com/microsoft-authentication-library-preview/

[2016-06-16 02:29] brentschmaltz opened #457 "Add nuget.config to folder with .sln"
nuget.config should be used to define and control the order of the feeds used to resolve nugets and assemblies.

[2016-06-17 14:52] normanhh3 opened #458 "SecurePassword.Clear is throwing "Instance is read-only""
Hi Folks,

I'm trying to use the System.Security.SecureString to forward on user credentials from my apps user to authenticate with.

When I do that using a SecureString the ApplyTo method of [this class](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/c6b050a160b79f88e5efc9e3014a0ad836b98d67/src/ADAL.PCL.Desktop/UserPasswordCredential.cs) is doing a Clear which is resulti

[2016-06-20 09:03] AndreaCuneo opened #460 "TokenCache not working properly for UserCredential scenario"
Hi,

the token cache doesn't take into account the password for the caching of the token. This leads to some unfortunate scenario where a malicious user can get access to a token only knowing the username if the user has acquired a token in the last hour (more with refresh).

To reproduce:

[code]

Expected result:
- the second call to AcquireToken should fail

Actual result:
- the second call ret

[2016-06-20 09:10] AndreaCuneo commented on #460
This has also another subtle problem were the cache, caches the "failed to acquire token" response when the wrong credentials are used first.

To reproduce:

[code]

Expected result:
- the second call to AcquireToken should succeed

Actual result:
- the second call return an exception

[2016-06-21 00:07] vquaiato opened #461 "odata.error Access Token missing or malformed"
Hello.

I am trying to create an `ActiveDirectoryClient` but I am receiving this error when I try to make a request
[code]

My code is:
[code]
I am receiving an `access token` but I am still receiving the same error. Any clues or guidelines?

Thank you.

[2016-06-21 05:59] premchandpl commented on #249
@kpanwar , I am facing this issue and this is the stack trace

System.AggregateException: One or more errors occurred. ---> Microsoft.IdentityModel.Clients.ActiveDirectory.AdalException: multiple_matching_tokens_detected: The cache contains multiple tokens satisfying the requirements. Call AcquireToken again providing more requirements (e.g. UserId)\r\n   at Microsoft.IdentityModel.Clients.ActiveD

[2016-06-21 06:43] SaadBinShahid commented on #452
Anybody found the correct link ?

[2016-06-21 06:43] SaadBinShahid commented on #448
Anybody found the correct link ?

[2016-06-21 07:32] casaout commented on #424
@kpanwar and @dstrockis We are planning to release our tool July, 1st and it would be great if we could use the official libary instead of the unsupported/old ADAL. When are you planning to update the documentation? Or do you have any other resource I could use to migrate from ADAL to MSAL? Thanks!

[2016-06-21 10:45] wouterroos commented on #460
I can confirm that this is an issue. I'm currently able to circumvent this issue by passing a `new TokenCache()` argument when creating the `AuthenticationToken`.

[2016-06-21 21:06] hock2k5 opened #462 "PCL UserCredential no longer supports password."
I see that the password from the constructor of the `UserCredential` was removed.  For Desktop.PCL the `UserPasswordCredential` is available to pass in a password but now nothing is available to use on the non-desktop PCL.

I am using Xamarin.iOS and have a  custom login screen with a username/password text entry where the user logs in.  How should I pass in the password to authenticate?

[2016-06-22 19:41] kpanwar commented on #461
error is returned by the resource that you are trying to access. ADAL is returning the token that AAD returned. There is nothing that ADAL can do about this.

[2016-06-22 19:41] #461 closed

[2016-06-22 19:41] #446 closed

[2016-06-22 19:41] #452 closed

[2016-06-22 19:44] kpanwar commented on #460
this is by design. We always look into cache for the tokens. you should consider using web view where you have options to force re-auth or you can clear or pass a new token cache instance. on a side note, can you provide the cache dump that actually shows caching of "failed to acquire token"?

[2016-06-22 19:46] kpanwar commented on #462
We only allow for using webview in Xamarin iOS and android.

[2016-06-22 19:46] #462 closed

[2016-06-22 19:47] kpanwar commented on #457
it is already here, https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/master/.nuget/NuGet.Config

[2016-06-22 19:47] #457 closed

[2016-06-22 19:48] kpanwar commented on #448
duplicate of https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/452

[2016-06-22 19:48] #448 closed

[2016-06-22 19:50] #455 closed

[2016-06-22 19:51] hock2k5 commented on #462
This functionality worked in 3.5.207081303-alpha.

Will this be coming back or do I need to change my app to use the webview?

[2016-06-23 05:37] wouterroos commented on #460
After doing some testing, I found that my scenario slightly defers from the one @AndreaCuneo mentioned. Consider the following test:

    [TestMethod]
    public async Task CredentialTest()
    {
        var clientId = "app-id";
        var resourceId = "resource-id";
        var authority = "https://login.windows.net/" + "app-tenant";
        var user1Credentials = new UserCredential("username1",

[2016-06-23 06:04] kpanwar commented on #462
This functionality is not coming back.

[2016-06-27 22:07] dzimchuk opened #469 "Unexpected multiple_matching_tokens_detected even when User has been provided - v3"
I noticed the following error when calling AcquireTokenSilentAsync:

I pretty much understand what it means but the problem is that I do provide a UserId (unique id) and still get this error even though I see distinct items in the cache itself.

The problem occurs because `AcquireTokenHandlerBase` initializes `CacheQueryData` in its constructor and it uses fields such as `this.UniqueId` and `this.

[2016-06-27 23:27] danstiner commented on #419
Another point in favor, we encountered a problem where _a project referencing a project_ using this package would fail at runtime with a TypeInitializationException because the platform specific dll is not copied to the output directory of the referencing project. We expect the bait-and-switch method would resolve this.

Relevant SO post on how msbuild does not bring over references it detects are

[2016-06-28 13:12] acgritt opened #470 "Why was the SecureString parameter removed from ClientCredential?"
We are currently using ADAL 2.26.305102204 within our Service Fabric application for accessing the Azure Key Vault.  Due to how we are securing the Client Secret in the settings.xml, when we retrieve it, it returns as a SecureString.  In the version of ADAL we are using we are able to pass this into the ClientCredential.  In the most current version of ADAL this support has been removed and we are

[2016-06-29 17:49] nickuraltsev opened #472 "AdalError does not contain invalid_grant and user_password_expired error codes"
I am using ADAL to authenticate users against Windows Azure Active Directory. I'm getting error codes that are not included in [`AdalError`](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/master/src/ADAL.PCL/Constants.cs#L58):

- `invalid_grant` *(when the specified user credentials are invalid)*
- `user_password_expired`

Is `AdalError` supposed to contain all possible e

[2016-06-30 18:36] abhishek58g opened #474 "Removing the Client Metrics feature"
Removing the Client Metrics feature

[2016-06-30 19:29] jeffpatton1971 commented on #443
I'm actually working on some cmdlets in powershell for working with some of the azure rest api stuff. I use the acquiretoken method just fine and I don't know that i'm using what @kpanwar mentioned.

https://github.com/jeffpatton1971/ARA/blob/master/Authentication/Authentication.psm1#L33

[2016-06-30 19:33] sgreenlee11 commented on #443
Thanks Jeff. It seems that some of my issues may have been coming from using the preview version of PowerShell ISE. I was eventually able to use the acquiretoken method with ADAL v3 and the UserCredential class to bypass the credential prompt in the standard ISE version.

[2016-06-30 19:33] #443 closed

[2016-07-01 02:07] #474 closed

[2016-07-01 02:08] kpanwar commented on #469
Duplicate of https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/460

[2016-07-01 02:18] kpanwar commented on #472
AdalError only contains errors represented by the library. any server error would come back as ServiceReturnedError.

[2016-07-01 02:18] #472 closed

[2016-07-01 07:25] dzimchuk commented on #469
@kpanwar Could you please elaborate in what way this issue is a duplicate of #460?

[2016-07-01 16:48] kpanwar commented on #469
In both the bugs, the root cause is the same. CacheQueryData initialization is causing various errors. Thanks for the GREAT description though. I have made the fix in ADAL v2. I need to port it to ADAL v2.

[2016-07-01 17:00] kpanwar commented on #469
I will open this again to commit the v2 fix.

[2016-07-05 19:16] abhishek58g opened #478 "Adding telemetry feature to ADAL dot-net"
Adding telemetry feature to ADAL dot-net

[2016-07-05 19:42] smflorentino opened #479 "Documentation for Controlling ADAL Logging"
In the readme under "Logs/Desktop Applications" there are 2 different lines of code that control trace output:
`AdalTrace.LegacyTraceSwitch.Level = TraceLevel.Info;`

and a few lines down:
`AdalTrace.TraceSource.Switch.Level = SourceLevels.Information;`

In my .NET 4.5.2 Desktop App, I had to set **both** options above to get my desired trace output when running in Visual Studio. Why are both requ

[2016-07-06 00:58] smoothdeveloper commented on #248
@devigned @kpanwar I'm facing same issues now, been spending a day trying to figure out what is wrong with that sole call.

If I cancel evaluation and run another call, the task will eventually resolve, I have 0 clue how to get this working in my actual application code.

Since my only intent is to get a hold of credentials for most of the management APIs, wouldn't it make sense for MS to help azu

[2016-07-06 01:25] kpanwar commented on #248
Did you put configure await as false as previously suggested?

[2016-07-06 01:31] kpanwar commented on #248
Also the feedback you provide is being addressed in the new version of the portal (not part of aad). Aad is just another service offered in azure.can you share details around the stuff that is outdated in azure ad samples? There are multiple samples because each one addresses the use of the libraries for different combination of scenarios.

[2016-07-06 02:02] akonyer commented on #248
The problem for me was that I was not using "async all the way down".

There were places I was using async/await, and then other places I was forcing it to be synchronous by calling .Result, which was causing a deadlock. I'm not 100% sure why the deadlock was happening, but using async all the day down did solve the issue.

It is good practice in general when you are working with async code.

Hope

[2016-07-06 03:21] smoothdeveloper commented on #248
@kpanwar thanks for your help.

Is there a way I can get a `ComputeManagementClient` and a `SqlManagementClient` without Azure Active Directory?

I'm trying this now:

[code]

When I run this in interactive environment, I'm still getting no result and deadlocked thread, the same in the C# code of my application.

@kpanwar sorry for my ignorance, but what are the implications for calling `Configure

[2016-07-06 16:57] RandalliLama opened #481 "Add API that allows apps to report app name and version for telemetry."
It would be helpful to be able to identify which apps have which version of ADAL so that we can identify apps that should be updated.

Do not implement this until we have agreement on the shape of the public API changes.

[2016-07-07 07:23] justinyoo opened #482 "UserPasswordCredential doesn't support .NET Core"
Hi, Team.

When I import this ADAL into my .NET Core library, it complains at the `UserPasswordCredential` class like:

![image](https://cloud.githubusercontent.com/assets/1538528/16645429/37ce670e-4467-11e6-80a1-ca966a85ac76.png)

It doesn't seem that I can create a custom class inheriting the `UserCredential` class for workaround. Is there any suggestion that I can use the `UserPasswordCredentia

[2016-07-08 18:52] kpanwar commented on #469
Fixed in https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/pull/480

[2016-07-08 18:52] #469 closed

[2016-07-13 18:37] tseemann-xematec opened #486 "MissingMethodException "No parameterless constructor defined for this object" when reading from token cache"
Hi there!

After upgrading Microsoft.IdentityModel.Clients.ActiveDirectory from v3.10 to v3.12, we are experiencing an issue when serializing data to and from our token cache. We are using PCLStorage v1.0.2 for cross-platform access to local files.

After completely deleting the cache file and retrieving a new security token from the Azure AD token provider, data gets saved to the cache with no er

[2016-07-13 20:50] abhishek58g commented on #479
Visual Studio implements listeners on both LegacyTraceSwitch and TraceSource. Hence you see logs from both in Visual Studio.But you can use AdalTrace.TraceSource in your app and implement a listener for it to get the logs.

[2016-07-13 21:08] smoothdeveloper commented on #248
Just a short update: I downgraded to 2.19.208020213 and our problem vanished, both sync and async methods work.

[2016-07-13 21:17] kpanwar commented on #486
Looks like a different package is being used for JSON (de)serialization and it may be causing issues. What was the version of Serialization package before?

[2016-07-13 21:53] #479 closed

[2016-07-14 11:01] tseemann-xematec commented on #486
Serialization is done via System.Runtime.Serialization according to the call stack, so no additional serialization packages are used. In addition, the local cache file has been deleted to ensure that no older cache is causing any version mismatch.

We are experiencing the following flow:
1. Run app from scratch with no existing cache file
2. Call AcquireTokenAsync causing a logon request via the A

[2016-07-14 18:18] rcarduner opened #487 "AuthenticationContext.AcquireTokenAsync() occasionally returns null access token from cache"
Since upgrading to ADAL library version 3.10.305231913 (from 2.4.x), we have been seeing occasional cases where the access token returned from the cache is null. Specifically, we’re seeing a call to AcquireTokenAsync returns a successful AuthenticationResult, but the AccessToken member is null. There is no indication of any failure.

We are using application identities in a multi-tenant applicatio

[2016-07-14 20:28] kpanwar commented on #487
Thanks for the detailed repro. This REALLY helps! I will update the code to include the check as you suggested. For the AuthenticationResult(Ex) I am going to implement deep cloning to make sure original entries are not mutated during hand off to developer.

[2016-07-15 01:20] kpanwar opened #488 "ext_expires_in is not saved from the server response"
ext_expires_in is not saved from the server response. TokenResponse needs to be updated to reflect the change.

[2016-07-15 01:23] kpanwar opened #490 "AuthenticationAgentContinuationHelper throws null pointer exception"
AuthenticationAgentContinuationHelper throws null pointer exception when there is no ADAL call pending. ADAL should check if there is a call pending, then only save the response from activity result.

[2016-07-16 00:42] #490 closed

[2016-07-16 02:00] kpanwar opened #493 "UserAssertion is not assumed to be JWT when not provided by developer"
UserAssertion is not assumed to be JWT when not provided by developer. default is null and the request fails

[2016-07-19 14:25] agent354 commented on #486
@tseemann-xematec Did you find any solution for this?  I'm experiencing the same issue.

[2016-07-19 14:37] tseemann-xematec commented on #486
No, we are still struggling with it. We have a suspicion that the problem may be related to the fact that our company has added an ADFS token provider to our on-prem AD, so users are being authenticated by ADFS instead of Azure AD. It seems odd though, as the problem did not exist before 3.12 and our ADFS was added some time before that. What is your setup? Are you using ADFS as well?

[2016-07-19 14:53] agent354 commented on #486
I'm using straight up connection to Azure AD.  Was originally trying to integrate into my application but it was failing so I tried the sample at https://github.com/Azure-Samples/active-directory-webapp-webapi-multitenant-openidconnect-aspnetcore and even that fails with no changes.  Are you able to use as a earlier release because I haven't been able to find one that works.

[2016-07-19 14:54] hock2k5 opened #495 "Xamarin.iOS - JWT validation failed: IDX10214: Audience validation failed."
Looking for guidance getting around this issue.

I have a Xamarin.iOS project using a PCL.  I can authenticate and access the web service just fine and test it through the browser and it works.  On my mobile app I get prompted for credentials, enter in my credentials and successfully get a token back.  I pas the token as 'Bearer' in the authorization header to a simple web service and get the foll

[2016-07-19 22:24] benrbray opened #496 "Could not install ADAL for Xamarin.Forms PCL"
Does the current version of the ADAL package support Xamarin.Forms PCL projects?  When I open up a new Xamarin.Forms PCL project and attempt to install the latest ADAL package (v3.12.0) I get the following unhelpful error:

[code]

I'm using Visual Studio 2015 with Xamarin.Forms v2.3.0.107.  Is this a bug?

[2016-07-19 22:27] benrbray opened #497 "Missing Resources after installing ADAL package with Xamarin.Forms"
I am developing a Xamarin.Forms PCL mobile application and need access to an internal API that requires authentication via Azure.  My coworker gave me a code snippet that works in a console application, and I am attempting to adapt it for my mobile application.

I am able to successfully add the [ADAL package](https://www.nuget.org/packages/Microsoft.IdentityModel.Clients.ActiveDirectory/3.5.20708

[2016-07-20 17:18] tseemann-xematec commented on #486
In our situation the problem started when we upgraded from 3.10 to 3.12, so I would assume that 3.10 still works. I will try to downgrade some time during next week to see if my assumption is correct. Are you using PCLStorage to persist the cache as well, or are you using something else?

[2016-07-20 23:58] kpanwar commented on #496
Actually the error tells you that Profile111 is not supported. This is because WinPhone8.1 is not supported  by ADAL.

[2016-07-20 23:58] #496 closed

[2016-07-20 23:59] kpanwar commented on #497
Experimental library is not supported. consider using https://github.com/AzureAD/microsoft-authentication-library-for-dotnet

[2016-07-21 00:11] #497 closed

[2016-07-21 16:07] benrbray commented on #497
Like I said in my original post, I've also tried the non-experimental ADAL v3.5.207081303-alpha version, and the same errors occur.  From the MSAL documentation, it looks like there is no way to authenticate against an existing Azure AD, an instead a new project must be configured from an MSAL-specific dashboard.

The errors I mentioned are also a bit cryptic--why did the packages (both experiment

[2016-07-21 17:05] benrbray commented on #496
Which profiles are supported?  Does the documentation specify this somewhere?

[2016-07-21 17:06] kpanwar commented on #496
Profile7

[2016-07-21 17:13] kpanwar commented on #486
Adal uses .net built-in serialization API and no dependency on pcl storage.

[2016-07-21 18:00] tseemann-xematec commented on #486
I am aware of that. I thought maybe the cache file itself, which in our case is handled by PCLStorage, was somehow being corrupted. Do you have any suggestions where to look for the cause of this problem? What class in the token cache stream could be missing a default constructor?

[2016-07-21 18:39] benrbray commented on #496
Thanks for the suggestion, I got a bit farther this time but still ran into errors.  Here are the steps I took:

1. Create a new Xamarin PCL project.  Change `<TargetFrameworkProfile>` in the .csproj file corresponding to the PCL to `Profile7`.  Reload project.
2. Install `Microsoft.IdentityModel.Clients.ActiveDirectory` v3.12.0 via NuGet to both the PCL and Xamarin.Android projects.
3. Rebuild so

[2016-07-21 20:18] kpanwar commented on #496
I am guessing your system path is exceeding 256 characters at build time. Can you try moving the project to a root folder and see if that works please?

[2016-07-21 20:57] benrbray commented on #496
That's... insane.  No more errors.  Thanks for your help, I can't believe that's what the problem was.

[2016-07-21 23:51] kpanwar commented on #496
Insane would be one word. :)

[2016-07-22 06:07] marty-wang commented on #385
which version contains the fix? because I still see the very issue in v3.12.0.

[2016-07-25 05:11] kpanwar commented on #495
Tokens are issued by the service and ADAL simply returns them back to the developer. I would suggest that you look if you are expecting a trailing slash '/' or something for your audience.

[2016-07-25 05:11] #495 closed

[2016-07-25 05:55] kpanwar commented on #385
I just tested and the library works as expected. Can you try it in a new sample project? I am not sure what your setup is like.

[2016-07-25 06:33] kpanwar commented on #486
I am sorry but I cannot repro this issue on my end. I created a sample desktop app where I referenced 3.10 and acquired a token and I serialized the cache to the disk. I created another desktop app refrencing 3.12 where I simply reloaded the persisted cache and checked the cache size.

[2016-07-25 06:34] kpanwar commented on #486
@agent354 - are you using some other library to persist the data?

[2016-07-25 06:43] kpanwar commented on #482
This is not supported by design.

[2016-07-25 06:43] #482 closed

[2016-07-25 06:44] #460 closed

[2016-07-25 06:46] kpanwar commented on #470
Portable libraries don't have support for SecureString, but we will make API update to include the support in a different way.

[2016-07-25 06:46] #354 closed

[2016-07-25 06:47] #315 closed

[2016-07-25 06:51] kpanwar commented on #270
windows 8.0 (v2 and v3) and Windows Phone 8.1 (v3) are not supported.

[2016-07-25 06:51] #270 closed

[2016-07-25 06:52] kpanwar commented on #275
Please use MSAL instead of experimental.

[2016-07-25 06:52] #275 closed

[2016-07-25 06:53] kpanwar commented on #285
It has been fixed.

[2016-07-25 06:53] #285 closed

[2016-07-25 07:10] #348 closed

[2016-07-25 07:11] #379 closed

[2016-07-25 07:11] #343 closed

[2016-07-25 07:11] #251 closed

[2016-07-25 07:12] #242 closed

[2016-07-25 07:12] #381 closed

[2016-07-25 07:24] justinyoo commented on #482
@kpanwar Thanks for getting back to me.

Is there any timeline that we can use `UserPasswordCredential` in .NET Core? I don't understand "not supported by design". Does that mean `UserPasswordCredential` won't support .NET Core? If not, could you provide a workaround?

[2016-07-25 07:30] kpanwar commented on #482
Yes, we will not add support for UserPasswordCredential in .NET core. There are other ways to authenticate as well. See https://github.com/Azure-Samples/active-directory-dotnet-deviceprofile

[2016-07-25 07:38] kpanwar commented on #244
We now return the error details if acquireTokenSilent fails.

[2016-07-25 07:38] #244 closed

[2016-07-25 07:39] kpanwar commented on #222
@arturl - Is this still an issue with the windows GA?

[2016-07-25 07:40] kpanwar commented on #218
Adal v3 supports Xaamrin iOS/android.

[2016-07-25 07:40] #218 closed

[2016-07-25 07:40] #258 closed

[2016-07-25 08:00] kpanwar commented on #249
Latest version of ADAL on both v2 and v3 support assertion hash matching now.

[2016-07-25 08:00] #249 closed

[2016-07-25 08:02] #143 closed

[2016-07-25 12:36] agent354 commented on #486
@kpanwar Did you try repro the issue with sample aspnetcore web application mentioned above?  I'm guessing it might have to do with that framework also?  I had tried using Session and Entity framework to store the data.  I was able to rollback to 3.10 and get it working.

[2016-07-26 00:14] markcowl opened #499 "[2.28] AuthenticationContext.AcquireToken(string, string, UserCredential) does not use UserId when retreiving tokens from TokenCache"
When using a call pattern like this:

UserCredential credential = new UserCredential(userId, password);
result = context.AcquireToken(config.ResourceClientUri, config.ClientId, credential);

If the token cache contains a token with the same Authority, Resource, and ClientId, but a different UserId, that token is incorrectly returned.

[2016-07-26 04:38] kpanwar commented on #499
This issue is pending release. Here is the exact fix https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/pull/498/commits/398c31be97888032760f698966839d72612fe878#diff-c16713ffecc5e8ae253814844a26e365L113

[2016-07-26 18:53] markcowl opened #500 "Null reference exception in Device authentication flow in 3.11, 3.12 for .netstandard1.6"
The Device authentication flow will always throw a null reference exception when attempting to acquire a token by device code.

This is because the constructor for ```AcquireTokenHandlerBase``` uses [```requestData.ClientKey```](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/master/src/ADAL.PCL/AcquireTokenHandlerBase.cs#L53) and [```requestData.Resource```](https://githu

[2016-07-26 19:15] martincalsyn commented on #486
I am seeing this as well in a UWP app using 3.12 installed from nuget.  The simplest repro is:

                var cleartext = this.Serialize();
                this.Deserialize(cleartext);

I get the 'no parameterless constructor' during deserialization in AuthenticationResultEx.cs

[2016-07-26 19:23] kpanwar commented on #486
This is interesting because with 3.12 we started using netcore GA packages. The code for AuthenticationResultEx, AuthenticationResult and UserInfo classes have not changed for a while!

[2016-07-26 19:32] kpanwar commented on #500
Thanks for filing the issue. I am in the process of making fixes and adding coverage. I will update the bug with pull request reference once done.

[2016-07-26 22:31] markcowl commented on #500
@kpanwar Thanks, I have a local fix that I'm using for now, I can prepare a pull request if you like.

[2016-07-27 00:20] kpanwar opened #504 "Add ConfigureAwait(false) to all the async calls"
Add ConfigureAwait(false) to all the async calls so that the developer can call the API in a synchronous manner, if needed.

[2016-07-27 01:19] kpanwar commented on #499
Fixed in 2.28.1

[2016-07-27 01:19] #499 closed

[2016-07-27 01:20] kpanwar commented on #458
Fixed in 3.13.0

[2016-07-27 01:20] #458 closed

[2016-07-27 01:20] kpanwar commented on #470
Fixed in 3.13.0

[2016-07-27 01:20] #470 closed

[2016-07-27 01:21] kpanwar commented on #487
Fixed in 3.13.0

[2016-07-27 01:21] #487 closed

[2016-07-27 01:21] kpanwar commented on #493
Fixed in 3.13.0

[2016-07-27 01:21] #493 closed

[2016-07-27 01:21] kpanwar commented on #500
Fixed in 3.13.0

[2016-07-27 01:21] #500 closed

[2016-07-27 02:11] kpanwar commented on #490
fixed in 3.13.1

[2016-07-27 03:36] kpanwar commented on #486
@martincalsyn, @agent354, @tseemann-xematec  This issue in UWP is happening because of Microsoft.NetCore.UniversalWindowsPlatform > 5.0.0. Cache deserialization works just fine with 5.0.0. Can  you all please confirm what version of netcore platform is being used at your end?

[2016-07-27 05:58] tseemann-xematec commented on #486
Affirmative. We are using Microsoft.NetCore.UniversalWindowsPlatform v5.2.1.

[2016-07-27 15:51] RipalV opened #506 "AcquireTokenAsync fails for UserPasswordCredential"
For automated tests, I am trying to issue token from AD using user authentication.

Below is the code snippet used to issue token, it is using UserPasswordCredentials to authenticate:

`var authContext = new AuthenticationContext("https://login.microsoftonline.com/mytestdomain.com");`
`var resourceAppClientId = "E70FFF8D-16A9-4436-A16A-C7AD6A54DE32";`
`var clientId = "A0F33560-F4F5-42BB-868F-16AB0

[2016-07-27 15:55] kpanwar commented on #506
You are using confidential client (web API) to authenticate the user. You need to create a native application to not get prompted for client secret.

[2016-07-27 18:43] kpanwar commented on #486
Looks the CoreFx is the right place for this issue. https://github.com/dotnet/corefx/issues/10374

[2016-07-28 10:41] RipalV commented on #506
Thanks a lot for your quick response.
As you pointed out, it was failing as I was using WebApi app. registering a separate native app for automation tests worked.
I guess proper error message from AD might have helped.

[2016-07-28 10:41] #506 closed

[2016-07-29 13:43] older opened #507 "Make exceptions serializable"
Is there any reason why AdalServiceException is not serializable? I'm getting the following exception when I'm trying to use ADAL in BizTalk application:

And according to Microsoft's own [Design Guidelines for Developing Class Libraries](https://msdn.microsoft.com/en-us/library/ms229064%28v=vs.100%29.aspx) exceptions must be serializable:

[2016-07-29 15:26] mptolly opened #508 "Issue on Xamarin.iOS after the password is reset for a user"
I am seeing a UIKitThreadAccessException on Xamarin.iOS when executing the AuthenticationContext.AcquireTokenAsync(resource,clientId,returnUri,platformParameters) function after the user has changed their password.

See StackTrace below:

[code]

I have found a workaround that let me handle the prompt as expected.  The code for the workaround is below:

[code]

[2016-07-30 15:18] tseemann-xematec commented on #486
@kpanwar I understand from the dotnet/corefx roadmap that this issue will not be fixed until milestone 1.1, which is scheduled for release November 30 '16. We have tried to downgrade the Microsoft.NetCore.UniversalWindowsPlatform package from 5.2.1 to 5.1.0 as a temporary workaround. Unfortunately we are now facing a version conflict on System.Net.Sockets. When building our UWP project (part of a

[2016-08-01 12:53] tseemann-xematec commented on #486
Hi again! The "Payload contains two or more files with the same destination path" error above was a result of using ADAL 3.12 together with Microsoft.NetCore.UniversalWindowsPlatform 5.1.0. We have now also downgraded ADAL to 3.10 and thereby eliminated this error.

We are really looking forward to having the dotnet/corefx issue fixed, so that we are not forced to stay on an old version of ADAL.

[2016-08-01 22:40] kpanwar commented on #486
you can try to add
    "System.Runtime.Serialization.Json": "4.0.1",
    "System.Runtime.Serialization.Primitives": "4.1.0",
    "System.Runtime.Serialization.Xml": "4.1.0",
    "System.Private.DataContractSerialization": "4.1.0"

in your project.json and still be able to use 3.13.0

[2016-08-02 00:13] tseemann-xematec commented on #486
I tried adding those packages but keep getting these two errors:

Payload contains two or more files with the same destination path 'System.Net.Sockets.dll'. Source files:
C:\Users\tse\.nuget\packages\runtime.win.System.Net.Sockets\4.1.0\runtimes\win\lib\netcore50\System.Net.Sockets.dll
C:\Users\tse\.nuget\packages\System.Net.Sockets\4.0.0\lib\netcore50\System.Net.Sockets.dll

Payload contains two

[2016-08-02 00:15] kpanwar commented on #486
You can use Microsoft.NETCore.UniversalWindowsPlatform 5.2.2 and override specific packages like I suggested. That should clean up the error hopefully. If it does not then you can clear out the packages folder so that there is nothing in first place to complain about. :)

[2016-08-02 00:26] tseemann-xematec commented on #486
Ah, I see. So by forcing the project to use older versions of System.Runtime.Serialization.* and System.Private.DataContractSerialization, we can still use the new Microsoft.NETCore.UniversalWindowsPlatform and ADAL packages.

I just tried this and got rid of the compiler errors :) Hopefully, this doesn't cause any runtime issues because of incompatibility between these older packages and NETCore

[2016-08-02 06:54] dodoatsalesforce opened #509 "Keyset does not exist in Mono"
I am seeing the following stack trace when authenticating to Office 365 as a service account (with a X.509 certificate). The below stack trace only occurs when running on Mono (currently version 4.4.0.182). Doesn't happen on Windows.

[code]

It seem to be related to ADAL.PCL.Desktop/CryptographyHelper.cs:GetCryptoProviderForSha256
Mono passes ```rsaProvider.CspKeyContainerInfo.ProviderType == 1``

[2016-08-02 14:16] egoebel opened #510 "AcquireTokenAsync with UserCredentials gets unhandled exception HttpRequestWrapperException"
This only seems to happen if the password for the user is incorrect.  The error is unhandled and causes a crash: An unhandled exception of type 'Microsoft.IdentityModel.Clients.ActiveDirectory.HttpRequestWrapperException' occurred in mscorlib.dll

This works correctly in version 2.*

[2016-08-03 09:49] jamesmundy opened #511 "Main Project referencing a library that includes ActiveDirectory NuGet requires reference to package also"
Two of us on StackOverflow have noticed this issue after updating to the latest version of the ActiveDirectory nuget package so I thought I'd notify you here and see if this is indeed an issue: http://stackoverflow.com/questions/37940169/nuget-reference-behaves-in-a-strange-fashion

Basically, I have a asp.net web project which references a library which I use to retrieve tokens securely from Azur

[2016-08-03 11:35] glatzert commented on #486
I stumbled over this bug, by trying to use the session as a TokenCache in a Asp.NET Core application(because we need a Farm aware Token cache there).

Would it be feasible to just add an empty constructor, so the Serialization will work again or configure the Deserializer to know which constructor to call?

[2016-08-03 16:06] kpanwar commented on #486
Adding default constructor did not actually resolve the problem. It means there is also some other data type inside the class that does not support default constructor.

[2016-08-03 16:06] #486 closed

[2016-08-05 17:07] ravensorb opened #512 "TokenCache not working after last update"
Before the last update, the TokenCache was automatically saved/loaded for all the platforms -- ever since the last update, this stopped working and now the TokenCache is always empty when the application first starts up.  Did something change in the design or is this a bug?

I am currently using 3.13.1 in Visual Studio 2015 with Update 3 and running in my app on Windows UWP, Android, and IOS.

[2016-08-05 17:17] kpanwar commented on #512
Can you confirm if your issue is not related to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/486

[2016-08-05 17:23] ravensorb commented on #512
Hmm, good question, here is my current code for my UWP

[code]

[2016-08-05 17:37] kpanwar commented on #512
Code looks fine. What is the version of UWP framework?

[2016-08-05 17:53] ravensorb commented on #512
Building against: 10.0; Build 10586
App Running Env: Windows Mobile 10.0.10586.0

[2016-08-05 22:16] kpanwar commented on #512
I meant universal platform framework version in your project references.

[2016-08-05 22:21] ravensorb commented on #512
Ahh, 5.2.2

[2016-08-11 14:08] AlexBrownShi commented on #410
I'm confused about why you would use an App redirect uri of ://?  Can you explain that?  My expectation would be that your redirect scheme would be your app's custom scheme as registered in the plist file.  For example, our app might be shisolutions://, when the SFSafariWebView gets a redirect for this custom scheme, it will call the openURL method in the AppDelegate for our app.  From here we sho

[2016-08-11 14:25] AlexBrownShi commented on #410
Would the use of universal links be a safe way to avoid this issue?

For example, the Redirect in the SafariWebView would take the user to a web page that is associated with the app.

I'm not sure how one would launch a universal link from a browser, however - my understanding is that universal app linking is implemented on the client library.

[2016-08-11 18:16] AlexBrownShi commented on #410
Also, I'm confused as to why the iOS objective C example seems to be using a <scheme>://<bundle> redirection url.  Is it redirecting from a Safari web view instead of UIWebView?

[2016-08-11 18:16] AlexBrownShi commented on #410
https://azure.microsoft.com/en-us/documentation/articles/active-directory-devquickstarts-ios/

[2016-08-11 18:38] kpanwar commented on #410
You are correct about the concern where another app gets the auth code.
Sample is using appscheme://bundle-id redirect uri so that the app can communicate with azure authenticator got device auth and SSO.

[2016-08-11 22:34] kpanwar commented on #512
This is a known issue as mentioned before.

[2016-08-11 22:34] #512 closed

[2016-08-11 22:37] kpanwar commented on #510
Is this a federated or a managed user?

[2016-08-12 02:12] ravensorb commented on #512
I am not getting the exception though -- wouldn't that indicate it is a separate issue?

[2016-08-12 02:42] kpanwar commented on #512
can you capture ADAL logs from your app? ADAL writes to logcat by default. you could also provide a callback via https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/master/src/ADAL.PCL/IAdalLogCallback.cs

[2016-08-12 11:37] egoebel commented on #510
It was a federated user.

[2016-08-12 23:19] abhishek58g opened #513 "Returning entire Http Error response to the developer as a inner exception of HttpRequestException"

[2016-08-15 14:57] glatzert opened #514 "ADAL in ASP.NET Core Web -> WebApi"
Hey everyone,

I saw the sample od ADAL with an ASP.NET Core Web Application, which uses OpenIdConnect and an Web Api Backend, which uses oAuth Bearer Authentication (https://github.com/Azure-Samples/active-directory-dotnet-webapp-webapi-openidconnect/tree/master/TodoListWebApp/Utils)

Then I implemented the OpenIdConnect-Events, to make sure ADAL get's the Tokens in the Cache. Everything fine so

[2016-08-16 03:49] rogerthealien opened #516 "Cannot AcquireTokenSilentAsync"
Hi,

I'm following the sample here: https://github.com/Azure-Samples/active-directory-dotnet-webapi-onbehalfof to set up a WebAPI that accesses downstream (O365 resources) on behalf of a user who signs in on a different application, and passes their Bearer token through a GET call to my API.

I have the following AuthenticationContext set up

[code]

Where ```StoredTokenCache``` is my custom token

[2016-08-16 03:55] kpanwar commented on #516
What authority are you passing in the constructor?

[2016-08-16 04:05] rogerthealien commented on #516
Hi @kpanwar, updated my initial comment with some more config code.

The authority is: ``` string authority = string.Format(CultureInfo.InvariantCulture, aadInstance, tenant);``` where ``` aadInstance = https://login.microsoftonline.com/{0} ``` and ```tenant``` is my correct tenant.

[2016-08-16 04:12] kpanwar commented on #516
You are passing upn as a unique id instead of passing it as a required displayable id in the user identifier class. Can you change it and try?

[2016-08-16 04:19] rogerthealien commented on #516
Same exception being thrown.

[2016-08-16 04:37] kpanwar commented on #516
I will look at this tomorrow. If you get a chance, can you please get the cache key from the token cache via debugger and share the logs?

[2016-08-16 04:51] rogerthealien commented on #516
In the TokenCacheDictionary (TokenCache object) I can see the following key:

[code]

The flow for my application is the following:
- The user signs in on a CLIENT Web application (AngularJS using adal.js to manage auth).
- The user make a POST request to my SERVICE Web API, attaching the Bearer token in the Authorization header of the request.
- The SERVICE Web API tries to acquire a 'UserPlusCli

[2016-08-16 04:54] kpanwar commented on #516
What adal version are you using?

[2016-08-16 05:01] rogerthealien commented on #516
```<package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.9.304210845" targetFramework="net45" />```

[2016-08-16 12:15] sjwaight commented on #511
Note this behaviour is particularly destructive in Azure Functions... where the code appears to work for a period then starts throwing this error. I downgraded to 3.12.0 and will monitor behaviour.

[2016-08-16 16:47] kpanwar commented on #511
@sjwaight - Are you saying that this particular issue does not manifest in 3.12, but it does in 3.13?

@jamesmundy - You are comparing ADAL v2 to v3. It is a major release where we make breaking changes. ADAL v3 uses "Portable Library + Platform Specific Library" model to allow for dependency injection at runtime. v3 does not use older profile based nuget packaging (which worked for you).
Platform

[2016-08-16 16:51] rogerthealien commented on #516
Replacing the UserIdentifier type seems to work:

[code]

with:

[code]

seems to work.

[2016-08-16 16:56] #516 closed

[2016-08-16 21:47] sjwaight commented on #511
So far since dropping in 3.12.0 I haven't seen this issue.  Note that Azure Functions only supports 'net46' project types so I am wondering if that is causing nuget to not retrieve the right platform-specific components. Having said this I am at a loss as to how 3.13.1 worked for ~ half a day then started throwing this error.

[2016-08-16 22:19] kpanwar commented on #511
@sjwaight - can you move to 3.13.1 and ensure that you actually are using it? Lets see that if this problem happens again. I find it hard to believe that this exception would happen after half a day.

[2016-08-17 00:03] sjwaight commented on #511
Can confirm that updating to 3.13.1 immediately throws an exception - 3.12.0 is fine. Azure Functions App environment 0.4 (which only support 'net46' projects). Stack trace is below.

System.TypeInitializationException: The type initializer for 'Microsoft.IdentityModel.Clients.ActiveDirectory.AuthenticationContext' threw an exception. ---> System.TypeInitializationException: The type initializer f

[2016-08-17 01:17] kpanwar commented on #511
@sjwaight - I am not sure how your project is set up, but I tried to repro the same by creating a console app that requires minimum .NET 4.6.1 and was able to use the library with no issues. Also, platform specific components are bundled in a single nuget and are not packaged separately.
Can you share a repro project?

[2016-08-17 01:50] sjwaight commented on #511
I have created the simplest demonstration I can here:

https://github.com/sjwaight/adalazurefunctionsissue

Note we are running against B2C but the error does not seem related to that.

In order to get the demonstration running you will need to deploy the contents of the three files into an Azure Functions App (copy / paste of contents will suffice) and then update the necessary Guids / credential

[2016-08-17 02:14] sjwaight commented on #511
Note that after running an Azure Function for a period with 3.12.0 I have also run into the same issue with 3.12.0 - is there some form of internal buffer that only requires a logging event after a certain period of time?

[2016-08-17 05:04] meijin007 opened #517 "Is there a way to block specific tenand ID?"
we don't want to allow to access with LiveID users which getting all the same tennantID.

[2016-08-17 11:31] jamesmundy commented on #511
@kpanwar sorry I downgraded to v2.x as that was what I was using previously. I didn't have time to roll out other versions to production to test.

[2016-08-18 00:13] rogerthealien opened #519 "Acquire multi-resource token"
How do I acquire a multi-resource token in version 3+?

Tried calling ```AcquireTokenSilentAsync``` for ```otherResourceId```, right after acquiring token for ```graphResourceId```:

[code]
<del>
but it fails with:

Failed to refresh access token. AADSTS90014: The request body must contain the following parameter:
'client_secret or client_assertion'.

Is this still possible? I can see #446 conclud

[2016-08-18 01:35] kpanwar commented on #519
What authority did you pass to your API?

[2016-08-18 16:50] kpanwar commented on #508
The issue is not with password update. The issue is that canOpenUrl() requires UIThread. What version of iOS are you running

[2016-08-18 16:51] kpanwar commented on #517
you can pass msafed=0 query parameter.

[2016-08-18 16:51] #517 closed

[2016-08-18 16:54] kpanwar commented on #511
@sjwaight - There is no internal log buffer. If the platform DLL was missing the API would fail right when you try to initialize AuthenticationContext. I am not sure how Azure Functions work and how can I debug their procedure to load modules.

[2016-08-18 16:57] mptolly commented on #508
I am running on the iOS 9.3.4 simulator.

[2016-08-18 23:30] sjwaight commented on #511
Please note I find the resolution of this via "closing" to be unacceptable and simply saying you don't understand Azure Functions doesn't help solve my issue. It makes it hard to push ADAL / AAD / Azure Functions as a viable model for production systems.

[2016-08-18 23:32] kpanwar commented on #511
I did not mean to close it. I was responding to it via phone.

[2016-08-18 23:59] sjwaight commented on #511
OK, great! Let me know if there is anything else I can do to help identify root cause. I have a Function that isn't displaying this issue but that is not receiving a large number of calls in a short period - might this be a locking issue of some variety? (I am just throwing out ideas so apologise if they make no sense)

[2016-08-19 23:01] #519 closed

[2016-08-22 16:54] #513 closed

[2016-08-23 00:28] kpanwar commented on #508
I am unable to repro your issue with an iOS app and XForms app. Can you share the exact code you are running?

[2016-08-23 00:37] mptolly commented on #508
I am running the code in a Xamarin.iOS app, no Xamarin.Forms.

I am running the following lines of code in the FinishedLaunching method of the AppDelegate.

ApiProperties.AuthenticationContext = new AuthenticationContext(ApiProperties.Authority);
            if (ApiProperties.AuthenticationContext.TokenCache.ReadItems().Count() > 0)
                ApiProperties.AuthenticationContext = new Authent

[2016-08-23 00:40] kpanwar commented on #508
FinishedLaunching of AppDelegate is fired before the view is actually loaded. the API call should be made in a your view controller's viewLoaded() instead.

[2016-08-23 00:47] mptolly commented on #508
I did not, as other than the crash after a password change, everything is working as expected.

[2016-08-23 00:48] kpanwar commented on #508
I just tried the same and I don't this problem. I see "2016-08-22 17:47:26.100 SimpleiOSApp[6482:77128] Warning: Attempt to present <AuthenticationAgentUINavigationController: 0x7c36d800> on <MainViewController: 0x7a71e610> whose view is not in the window hierarchy!"

One difference is that I created the auth context inside viewDidLoad

[2016-08-23 01:53] mptolly commented on #508
I moved the the code to the ViewDidLoad method and still got the error.  As I noted above, I have async on the ViewDidLoad method signature (public override async void ViewDidLoad(){}).  Could that be contributing to the error showing?

[2016-08-23 01:57] kpanwar commented on #508
you can test by adding a simple button and calling acquireToken in the Action implementation.

[2016-08-23 01:58] kpanwar opened #520 "ComputeHash method in iOS throws null exception"
ComputeHash method in iOS throws null exception

[2016-08-23 02:08] #520 closed

[2016-08-23 02:09] kpanwar commented on #509
yes, this looks like a mono issue.

[2016-08-23 20:12] kpanwar commented on #508
What is the ADAL version you are using?

[2016-08-23 22:01] mptolly commented on #508
I am using 3.13.1.

[2016-08-23 22:16] kpanwar commented on #508
We already have 13.3.3 out. try that. Also please try to call acquireToken in a button click event

[2016-08-23 23:03] nathandavidson opened #522 "AcquireTokenAsync fails with ArgumentException "Illegal characters in path.""
AcquireTokenAsync fails with ArgumentException "Illegal characters in path."

Using ADAL 3.13.3 targeting .NET Framework 4.6.1 in a console app project, the following (anonymized) code results in an unexpected exception:

`var context = new AuthenticationContext("https://login.windows.net/myexampletenant.onmicrosoft.com");`
`var token = context.AcquireTokenAsync("https://management.azure.com/", "4

[2016-08-23 23:07] nathandavidson commented on #522
Here is a repro solution. Parameter values will need to be replaced with real values before debugging.
[ConsoleApplication1.zip](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/files/433734/ConsoleApplication1.zip)

[2016-08-24 02:24] mptolly commented on #508
An error is still thrown in 3.13.3 (the latest version it allows me to update to), however this time I get an AdalException with the message "authentication_ui_failed" that is wrapped around the "UIKit Consistency error: you are calling a UIKit method that can only be invoked from the UI thread." exception.  Hooking up the authentication to a button when the app is opened from a closed state is no

[2016-08-24 02:51] kpanwar commented on #508
I have made the fix. pending release

[2016-08-24 03:31] kpanwar commented on #510
fixed in 3.13.4

[2016-08-24 03:31] #510 closed

[2016-08-24 03:31] kpanwar commented on #522
fixed in 3.13.4

[2016-08-24 03:31] #522 closed

[2016-08-24 03:31] kpanwar commented on #508
fixed in 3.13.4

[2016-08-24 03:31] #508 closed

[2016-08-24 03:32] #509 closed

[2016-08-24 03:34] kpanwar commented on #511
I checked again and I don't see a case where this would manifest in the future after creation of a function. Everytime the function is invoked, you are creating a new instance of the authentication context. see if creating a singleton instance would help. I think it would.

[2016-08-24 08:50] netogallo opened #525 "Error reporting"
I have observed the following three error messages returned by ADAL:

1) Network request '' failed. Status=InternalServerError, ReasonPhrase='Internal Server Error'. Runtime Error

2) Network request '' failed. Status=Ok, ReasonPhrase='OK'. Sign in to your account

3) Network request '' failed. Status=InternalServerError, ReasonPhrase='Internal Server Error'. Category=InternalServerError, Message=

[2016-08-24 12:51] ericgrover commented on #511
This issue has nothing to do with the way the library is being used.  The package is broken.  I can reproduce this problem easily by just creating a solution with 2 class libraries.  If I add the latest ADAL to one, then reference it in the other lib, when you build, it does not copy over the platform dll into the referencing lib's bin folder.

This is the 2nd case I have seen where key nuget pack

[2016-08-24 16:31] kpanwar commented on #525
I don't think those messages are returned by ADAL. ADAL or AAD don't return messages that are specific to sharepoint.

[2016-08-24 16:33] kpanwar commented on #511
@sjwaight's problem is different. it works for him for sometime and then it does not.

@jamesmundy and you have the same problem. The issue can be circumvented by adding ADAL library reference to both the projects. It sucks, but it works.

[2016-08-24 16:37] ericgrover commented on #511
Adding it to the second library completely defeats my application architecture where I have a separation of concerns.  I don’t want to tightly couple a dependency on ADAL to every assembly that injects the service that uses it.

From: Kanishk Panwar [mailto:notifications@github.com]
Sent: Wednesday, August 24, 2016 12:34 PM
To: AzureAD/azure-activedirectory-library-for-dotnet <azure-activedirector

[2016-08-25 08:17] jamesmundy commented on #511
Agree with @ericgrover here, we both have the same issue and you shouldn't have to add the NuGet package to both libraries. It does work but it still really needs to be fixed.

[2016-08-25 16:15] kpanwar commented on #511
This is something that needs to be addressed by nuget folks. As one of you pointed out, it could be due to the changes in the way core clr is handled by nuget.

[2016-08-26 22:43] jacob-ebey opened #526 "TokenCache Serialization fails UWP"
After upgrading from 3.10.305231913 to 3.13.4 and Microsoft.NETCore.UniversalWindowsPlatform from 5.1.0 to 5.2.2, TokenCache.Deserialize fails.

I believe I saw this documented somewhere already so feel free to delete if a duplicate.

[2016-08-27 01:31] ScottArbeit opened #527 "ADALTrace removed; diagnostics instructions need updating?"
The [README.md](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/dev/README.md) file refers to the `ADALTrace` static class as a way to configure diagnostic logging for ADAL.NET. That class seems to have been removed now.

Is there a new method for enabling diagnostic logging that we can update the documentation for?

Thanks!

[2016-09-01 07:07] MKuckert opened #528 "iOS: Allow setting preferred UIStatusBarStyle"
Since iOS 7 each ViewController may override [preferredStatusBarStyle](https://developer.apple.com/reference/uikit/uiviewcontroller/1621416-preferredstatusbarstyle) to return one of the [UIStatusBarStyle](https://developer.apple.com/reference/uikit/uistatusbarstyle) values. This is required when using [UIViewControllerBasedStatusBarAppearance](https://developer.apple.com/library/ios/documentation/

[2016-09-08 14:43] MKuckert opened #534 "iOS: ViewController passed with PlatformParameters is leaked"
The ViewController passed into `AcquireTokenAsync` is leaked by the library and never collected by the garbage collector.
The `AcquireTokenInteractiveHandler` class assigns the given parameters instance to `PlatformPlugin.BrokerHelper.PlatformParameters`, which in turn is never null-ed. This leads to a hard reference to the given ViewController.

[2016-09-08 18:03] kpanwar commented on #534
I will make the view controller assignment a weak reference

[2016-09-10 13:55] novogeek commented on #482
We have a daemon service that was authenticating to an API **as a user** and we were using UserPasswordCredential method to fetch access token (by passing username and password). But when we upgraded the solution to .Net Core (and the latest ADAL package), this has broken. If UserPasswordCredential is no more supported, what is the alternate approach to authenticate non-interactively for the afore

[2016-09-13 00:25] alexangas opened #536 "NuGet: fwlink 258232 links to V2.x"
The "Project URL" link in the NuGet package links to a page discussing V2.x ("Important: The API topics in this reference apply to ADAL version 2.19.208020213 for .NET Desktop)".

It should probably link to https://azure.microsoft.com/en-us/documentation/articles/active-directory-authentication-libraries/.

[2016-09-13 09:21] Squiggle commented on #482
Ditto. I'm trying to authenticate against a 3rd party API in an Azure WebJob, which was previously working fine using UserPasswordCredential.

What is now the recommended approach here?

[2016-09-13 12:46] kpanwar commented on #511
http://www.codiply.com/blog/dependency-injection-across-multiple-layers-with-ninject/

This shows why you are seeing the problem. Platform DLL is only used via dependency injection and ends up getting stripped by the linker.

[2016-09-15 02:36] talynone commented on #482
So how would one write a headless client for lets say CRM dynamics which requires an Oath 2.0 authentication to Active Directory to access the web api in .NET core?

[2016-09-16 23:05] kpanwar commented on #526
this is a known issue with NetCore.

[2016-09-16 23:05] #526 closed

[2016-09-16 23:06] #525 closed

[2016-09-16 23:09] kpanwar opened #539 "UWP fails when handling WebAuthenticationStatus.ErrorHttp"
The problem originates in WebUI.ProcessAuthorizationResult (from src\ADAL.PCL.WinRT\WebUI.cs). In the event that the system returns WebAuthenticationStatus.ErrorHttp, it creates an AuthorizationResult with the returned HTTP status code in the returnedUriInput field.

    case WebAuthenticationStatus.ErrorHttp:
        result = new AuthorizationResult(AuthorizationStatus.ErrorHttp, webAuthenticatio

[2016-09-17 00:14] kpanwar opened #541 "Remove code analysis xml files from nugets"
Remove code analysis xml files from nugets. This applies to both v2 and v3.

[2016-09-21 08:19] nulltoken opened #542 "Package downgrade warning"
Referencing the nuget package from aspnetcore triggers the following downgrade warnings upon build

[code]

This _seems_ to be related to the nuspec file directly referencing `System.Text.RegularExpressions` in 4.0.12.

As I can't find in the repository the script to generate the NuGet packages, I'm afraid I can't propose a Pull Request.

Not being an xplat expert, it's completely possible this is

[2016-09-21 14:54] JosephEarl commented on #527
We had the same problem and found you can use `LoggerCallbackHandler.Callback` and set it to a custom implementation of `IAdalLogCallback` - https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/master/src/ADAL.PCL/IAdalLogCallback.cs.

[2016-09-22 22:11] jacob-ebey commented on #526
Thank you, I was able to find the filed issue.

[2016-09-23 17:48] anangaur commented on #163
On high DPI the sign in window gets scroll bars and overlapped controls. On my surfacebook with resolution of 3000x2000, the UI doesn't scale and shows both horizontal and vertical scrollbars:
![attachfilehandler](https://cloud.githubusercontent.com/assets/14800916/18795828/39ae8df0-817b-11e6-9ddc-8b58da99fd68.png)

[2016-09-26 10:20] devlanfear opened #543 "Issue when accessing Office 365 social api with ADAL"
We are trying to access Office 365 Social API with ADAL library (Microsoft.IdentityModel.Clients.ActiveDirectory - 3.13.1.846, Microsoft.IdentityModel.Clients.ActiveDirectory.Platform-3.13.1.846) -
https://test.sharepoint.com/_api/social.feed/actor(item=@v)/feed?@v=%27https://test.sharepoint.com/sites/Demo/newsfeed.aspx%27

We get HTTP response with StatusCode = 401:
x-ms-diagnostics: 3000003;reas

[2016-09-28 19:22] kpanwar commented on #543
This is not an ADAL issue. You should file the issue in https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet

[2016-09-28 19:22] #543 closed

[2016-09-28 19:24] kpanwar commented on #511
@jamesmundy @ericgrover - I am going to close this issue soon as I have already shared why you are seeing a given behavior. Please let me know if you have any other questions.

[2016-09-28 19:25] kpanwar commented on #419
http://www.codiply.com/blog/dependency-injection-across-multiple-layers-with-ninject/

This shows why you are seeing the problem. Platform DLL is only used via dependency injection and ends up getting stripped by the linker.

[2016-09-28 19:25] #419 closed

[2016-09-28 20:09] ericgrover commented on #511
@kpanwar So I understand that it is a linker issue caused by the use of DI.  The question is, will this get fixed in the nuget package?

[2016-09-29 15:06] rahulseth01 commented on #511
I am facing the same error with "Microsoft.IdentityModel.Clients.ActiveDirectory" version 3.13.x and .Net Framework 4.5.

To repro :- After adding the Nuget and clean the Solution and Debug.
Since left with no option, moved back to Version 2.28.x  :-(

[2016-09-29 15:34] kpanwar commented on #511
@ericgrover - I am not sure how can this be resolved in nuget package without a dependency resolver.

[2016-09-29 18:25] ericgrover commented on #511
If you are implying that in order to use this nuget package that it is up to the consumer to architect their app in a certain way (differently than in previous versions of the package), then you need to go back to the drawing board.

From: Kanishk Panwar [mailto:notifications@github.com]
Sent: Thursday, September 29, 2016 11:34 AM
To: AzureAD/azure-activedirectory-library-for-dotnet <azure-actived

[2016-09-29 18:27] kpanwar commented on #511
@ericgrover - I am not. I am looking for suggestions. Do you have any?

[2016-09-29 18:58] ericgrover commented on #511
Well, it would seem that the DI scheme that you are using needs to be rethought as it does not meet the requirements of usage.  It might be that there will need to be separate nuget packages per platform.  I know that is not the ideal, but until another way is devised, it may be necessary.

[2016-09-29 19:04] kpanwar commented on #511
Best way would be to move to netstandard. That will Make things work as you expect. But they don't have unified API surface for UI interact and no support for winforms either. Being between a rock and a hard place, current DI approach seems to be the only viable option.

[2016-09-30 05:47] nulltoken commented on #542
Bump? :pray:

[2016-10-04 16:27] glatzert commented on #514
Would you perhaps consider adding an `ITokenCache`, or an `public void AddCacheItem` or making the `StoreToCache(...)` to an `protected` method? This would enable developers to better use (or I'd say bypass) the TokenCaches in High-Availability-Web-Environments where a single user will always have his own TokenCache instance? (So 1:1 User-to-Request-Mapping)

[2016-10-04 16:41] kpanwar commented on #514
you can pass null into the authenticationcontext constructor to bypass the cache. We provide delegates in the token cache for the developer to hook into the cache read/write and persist cache in a DB or some other storage. Check out this article explaining token cache. http://www.cloudidentity.com/blog/2014/07/09/the-new-token-cache-in-adal-v2/

[2016-10-04 22:29] abhishek58g opened #544 "Exception in ADAL webview on EvoSTS consent screen"
The javascript code is getting accounted as non https url in ADAL.

[2016-10-04 22:35] kpanwar opened #545 "Ignore web view error if dialogresult = OK"
Update web view logic for desktop flavor to ignore errors if dialogresult = OK. This is needed to circumvent an issue in mshtml where a double redirect is fired and second one results in an error even thought first interception of redirect uri should have terminated the flow.

[2016-10-05 09:07] glatzert commented on #514
If I pass a null to the AuthContext constructor - how would I present ADAL the AuthToken and RefreshTokens for `AcquireTokenSilent()`?

[2016-10-05 12:05] kpanwar commented on #514
You cannot. Other option is to configure delegates to persist cache. You can then create Authcontext and hydrate the cache with the persisted data. See the link i posted about Adal cache.

[2016-10-05 14:20] glatzert commented on #514
That is unfortunate. So I'll work around that somehow. Probably I'll just derive from `TokenCache` and use a unhealthy amount of reflection to push my Tokens into the Cache.
Perhaps you would consider an `ITokenCache` or `TokenCache.AddItem`, so we don't have to pull the TokenCache into OpenIdConnectEvents and can just use ADAL for deciding wether a refresh token has to be used or not.

[2016-10-05 14:29] kpanwar commented on #514
I am not understanding "my tokens" part. You should be able to supply same token cache instance to auth context created by you and opwnidconnect implementation of asp.net. Or at least provide same delegates for persistence. That will make sure the cache is shared correctly. Does the shared article not solve your issues? Will my suggestion not work either?

[2016-10-05 15:01] glatzert commented on #514
The ASP.net OpenIdConnect-Handler will already provide me an ready to use AccessToken and a RefreshToken. The Tokens are also used to determine the lifetime of the Authentication-Session of the user and will be stored to a Cookie (as in Asp.net core samples for oidc) - i am trying not to break that mechanism. - These two Tokens are "my" Tokens (as opposed to ADALs).
Now that AccessToken will expir

[2016-10-05 15:20] kpanwar commented on #514
Can't a sync method be called asynchronously using task factory? But I do see the problem you have.

[2016-10-05 15:25] kpanwar commented on #514
What you propose cannot really be done because if you supply access token from the outside, then Adal has no idea about its expiration time. It will not be able to make that decision for you. I think what you need is calling token cache delegates in an async manner.

[2016-10-05 15:32] glatzert commented on #514
Sync mehods can be called async (or just be called), but calling *a*sync methods from a sync method - as serialize and deserialize are - can have difficulties.
Essentially I COULD use `myTask.Result`, or `myTask.Wait()`, but I am not confident, if that'll be a good idea.

Isn't IAT and EXP part of the AccessToken?

I'll take another look into using the TokenCache with an asnyc store and will come

[2016-10-05 15:32] glatzert commented on #514
And thanks for your time so far.

[2016-10-05 15:35] kpanwar commented on #514
Adal does not look into access tokens and treats them as opaque blob. In fact in the future the tokens could be encrypted as well. Keep me posted!

[2016-10-05 15:39] glatzert commented on #514
That just rises another question: if not from the Access Tokens - how does ADAL know it has to use get a new Access token?

[2016-10-05 15:41] kpanwar commented on #514
Magic. Just kidding. AAD returns exp_in as a part of the response from the token endpoint. Adal uses it to compute expiration time in UTC and saves it to cache.

[2016-10-06 21:51] jamescro opened #547 "ADAL 3.x will not install in a UWP project"
NuGet installation of ADAL 3.x in a UWP project fails because of conflicting downstream dependencies. ADAL v2.28.x is therefore the latest supported version of ADAL that can work in a UWP app.

Errors in output:

Detected package downgrade: System.Text.RegularExpressions from 4.1.0 to 4.0.12 App1.UWP (>= 1.0.0) -> Microsoft.IdentityModel.Clients.ActiveDirectory (>= 3.13.5) -> System.Xml.ReaderWrit

[2016-10-07 21:10] abhishek58g opened #548 "Renewing Cert for WinRT App v2"
The present cert has expired.

[2016-10-08 09:45] nulltoken commented on #542
I understand this is not a major issue. However, I'd be really grateful for some feedback.

Am I doing something wrong? Is that a known issue? Is there a "blocker" in the current build/packaging process that could prevent this dependency upgrade from happening?

Once again, I know this isn't a high priority topic. However, this kind of message adds noise (that I'd really like to get rid of) in my

[2016-10-08 14:49] venknar opened #552 "Support for setting custom WebProxy with ADAL"
We are using the ADAL client library to fetch token from AAD.
Since the ADAL client library is making a network call to the AAD service for fetching the AAD token, I wish to know how to configure a web proxy ?

The code that we use to fetch the AAD token is as follows:

var authenticationContext = new AuthenticationContext(authority);
var clientAssertion = new ClientAssertionCertificate(AadAccessC

[2016-10-10 07:38] glatzert commented on #514
Okay - I have a working solution. The only thing I do not like about it, is the fact that it might reauthenticate the user during it's process:

During OpenIdConnect-Events:
`public override async Task AuthorizationCodeReceived(AuthorizationCodeReceivedContext context)
        {
            var clientCred = new ClientCredential(context.Options.ClientId, context.Options.ClientSecret);

[2016-10-10 12:12] NarenRoy opened #553 "How to get Reference of Azure AD login view loading in Xamarin App"
I have to do some customizations while that azure login page view loading and and after sign in(login) button clicked.

[2016-10-10 12:15] kpanwar commented on #542
@abhishek58g - can you investigate this please?

[2016-10-11 06:24] kpanwar commented on #553
It is not exposed by design.

[2016-10-11 06:24] #553 closed

[2016-10-11 17:50] ncarandini commented on #548
Looking at commit 7c6898d this should be closed, doesn't it?

[2016-10-11 18:04] #548 closed

[2016-10-11 19:05] abhishek58g commented on #539
@kpanwar Can we close this issue ?

[2016-10-11 19:08] kpanwar commented on #539
merged. Pending release.

[2016-10-11 19:08] #539 closed

[2016-10-21 10:33] aline-almeida commented on #547
Same thing here!

[2016-10-24 19:40] #528 closed

[2016-10-24 19:41] #545 closed

[2016-10-24 19:41] kpanwar commented on #544
fixed via https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/pull/546

[2016-10-24 19:41] #544 closed

[2016-10-24 19:42] kpanwar commented on #547
duplicate of #542

[2016-10-24 19:42] #547 closed

[2016-10-24 21:32] kpanwar commented on #514
Looks like you have a working solution. I am closing this issue. Please let me know if you have any questions.

[2016-10-24 21:32] #514 closed

[2016-10-25 01:35] kpanwar commented on #541
fixed

[2016-10-25 01:35] #541 closed

[2016-10-25 03:11] kpanwar commented on #264
@nigel-sampson - I was going through the old issues list and realized that your issue was never addressed. I apologize for the lack of attention to your issue. :( I hope you were able to resolve it.

[2016-10-25 03:12] kpanwar commented on #199
This issue was related to MSA not rendering UI that was high DPI. It has been for a while.

[2016-10-25 03:12] #199 closed

[2016-10-25 03:15] kpanwar commented on #163
@anangaur - Is this still an issue? There was fix made on service side for this.

[2016-10-25 17:48] ssaroiu commented on #527
JosephEarl's solution worked for me for ADAL version 3.13.5. Thanks!

[2016-10-26 21:26] nigel-sampson commented on #264
@kpanwar I've since moved on from the role / project that had that issue, but as of around May 2016 it was an issue.

It appeared that when `UseCorporateNetwork` was set to true then it would pick up Microsoft accounts associated with the logged on user account.

[2016-11-01 23:42] kpanwar commented on #542
Fixed in 3.13.7. https://www.nuget.org/packages/Microsoft.IdentityModel.Clients.ActiveDirectory/3.13.7

[2016-11-01 23:42] #542 closed

[2016-11-01 23:42] kpanwar commented on #545
fixed in https://www.nuget.org/packages/Microsoft.IdentityModel.Clients.ActiveDirectory/3.13.7

[2016-11-01 23:42] kpanwar commented on #544
fixed in https://www.nuget.org/packages/Microsoft.IdentityModel.Clients.ActiveDirectory/3.13.7

[2016-11-01 23:43] kpanwar commented on #539
fixed in https://www.nuget.org/packages/Microsoft.IdentityModel.Clients.ActiveDirectory/3.13.7

[2016-11-01 23:43] kpanwar commented on #528
fixed in https://www.nuget.org/packages/Microsoft.IdentityModel.Clients.ActiveDirectory/3.13.7

[2016-11-02 06:13] sheldonyss opened #558 "AdalServiceException: unknown_error: Unknown error"
I countered below error when I call this line of code: AC.AcquireTokenByAuthorizationCodeAsync(). Nothing has changed in my application. But suddenly today I encountered this error.

Version: <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.13.7" targetFramework="net452" />

Server Error in '/' Application.

A task was canceled.

Description: An unhandled exception occurred

[2016-11-02 06:26] kpanwar commented on #558
Does it repro with 3.13.5?

[2016-11-02 08:00] nulltoken opened #559 "'error: Failed to resolve conflicts' while upgrading from 3.13.5 to 3.13.7"
Hello,

Following #542 fix, I've applied the following patch

[code]

That led to an... amazingly (4Mb+)... verbose error log. Any idea?

[code]

[2016-11-02 08:01] nulltoken commented on #542
@kpanwar Thanks for this. However, while upgrading, I may have bumped into another issue. Logged with #559.

[2016-11-02 09:02] nulltoken commented on #559
Repro case:

[code]

**project.json**
[code]

**Program.cs**
[code]

running `dotnet restore` triggers a similar build log as above.

[2016-11-02 10:15] sheldonyss commented on #558
Sorry. This issue can be closed. I just realized the error is due to our company network. The OAuth authentication endpoint cannot be connected.
For some reasons the real exception is not shown here and it took me a while to realize that the error is due to network connectivity.

[2016-11-02 11:54] #558 closed

[2016-11-09 22:00] nulltoken commented on #559
@kpanwar Am I the only one encountering this? Is there anything messed up with the repro case above?

[2016-11-09 22:01] kpanwar commented on #559
are you only encountering this with dotnet preview version?

[2016-11-09 22:15] nulltoken commented on #559
@kpanwar This is what .NET Core 1.0.1 outputs as a version (see comment from @richlander in https://blogs.msdn.microsoft.com/dotnet/2016/09/13/announcing-september-2016-updates-for-net-core-1-0/)

[2016-11-11 17:50] afourney commented on #222
I am also experiencing this problem when using version 2.28.1 (via the Cordova Plugin https://github.com/AzureAD/azure-activedirectory-library-for-cordova).

I've filed a similar bug with them: [https://github.com/AzureAD/azure-activedirectory-library-for-cordova/issues/105](https://github.com/AzureAD/azure-activedirectory-library-for-cordova/issues/105)

But I think it's an issue with *this* nati

[2016-11-12 10:26] nulltoken commented on #559
@kpanwar Would you need anything more from me? Can you reproduce the behavior described above?

[2016-11-14 20:05] crmann1 opened #561 "SHA 256 signed assembly"
Is ADAL planning on updating the signing of the shipping assemblies from SHA1 to SHA256?

For the application I am working on we are trying to get as many of the dlls we depend on signed with SHA256 as possible.

[2016-11-15 19:03] rebro-msft opened #562 "Overcoming ADAL exception in VSTests in build service"
We are experiencing the following exception on our Rolling Build Machine (RBM) during the test run portion of our build service:
[code]
The exception does not occur on our local dev boxes, nor does it occur when we run the tests manually on the RBM (ie. open VS, and run tests via Test Explorer).  Our build definition is using the older XAML-based format.  We recognize this is an old format and tha

[2016-11-15 19:26] kpanwar commented on #562
As discussed previously, you have to work with .NET and VSO team for clarity on this. I close this issue for now, until there is clear evidence of ADAL misbehavior. We can open it again if needed and will make the necessary fixes.

[2016-11-15 19:26] #562 closed

[2016-11-15 19:33] rebro-msft commented on #562
Our email thread also said to try contacting ADAL (from Lee), this was that follow-up.  Alright, I'll investigate with .NET folks first.

[2016-11-16 20:42] eamodio opened #563 "App referencing 3.13.7 fails to build on dotnet core 1.1"
[code]

I have a couple web apps that I've just upgraded to dotnet core 1.1 and using 3.13.7 causes them to fail to build, while`3.13.6` works fine
[code]

[2016-11-18 16:24] marcwmiller commented on #559
I am encountering same issue:

`{
  "version": "1.0.0-*",
  "buildOptions": {
    "emitEntryPoint": true
  },

  "dependencies": {
    "Microsoft.Azure.KeyVault.Extensions": "2.0.2-preview",
    "Microsoft.IdentityModel.Clients.ActiveDirectory": "3.13.7",
    "Microsoft.NETCore.App": {
      "type": "platform",
      "version": "1.0.1"
    },
    "WindowsAzure.Storage": "7.2.1"
  },

  "frameworks

[2016-11-18 16:48] timmydo commented on #563
seems like it works if you change it to "NETStandard" in the project json lock file?

[2016-11-20 09:44] miguelrivera commented on #559
I am encountering the same, it is when you include ADAL in from a library and use that library within an other application. ADAL 3.13.7 requires NetStandard library and in the common import in the application referes to NETStandard, i.e. a casing issue. I've tried to create the package locally with the correct casing and it work, fine.

[2016-11-20 18:41] bjartebore opened #565 "Support for changing the animation style on iOS"
It would be nice to be able to set the animation style of the ADAL ViewController

I believe this would easily be accomplished with a ModalTransitionStyle property (and a TransitioningDelegate property) in the PlatformParameter class.

[2016-11-21 21:26] kpanwar opened #567 "Fix Adal v3 license"
Update the nuspec file in the build system for ADAL v3 to point to https://go.microsoft.com/fwlink/?linkid=841311 for license URL.

[2016-11-22 14:35] psignoret commented on #482
The idea here is that for apps to collect and store a user's username and password is not the correct approach for non-interactive authentication. Here are some details on why you shouldn't do this:

 - http://stackoverflow.com/a/29110987
 - http://stackoverflow.com/a/28597758
 - http://stackoverflow.com/a/26795582
 - http://stackoverflow.com/a/39250380

When you have a process running with no use

[2016-11-22 15:13] talynone commented on #482
@psignoret My app works as an api proxy to the crm dynamics online web api (which is protected via AD oauth and application id). That's just the way web api in CRM works, I can't control its auth mechanism. The proxy is fully headless and has no concept or care of a logged in user. Other apps/services leverage this proxy api. There 100% no user interaction whatsoever in any way. Because of this I

[2016-11-22 17:07] Ro3A commented on #482
I'd like to present another similar use case just to highlight the obvious need for headless auth / user password credntials.

We have a customer portal where our users (construction contractors) can view their quotes (stored in CRM) as well other other business related documents like invoices (Dynamics AX) etc. This portal talks to our backend Web API app service that is only privately accessible

[2016-11-22 17:57] yavuzozge opened #568 "System.NullReferenceException: Object reference not set to an instance of an object in v2.28.2"
I observe the following exception in ADAL v2.28.2 running on Win 10 phones.

11/21/2016 02:23:24: a03b8aa0-1688-49cf-939b-93646869d293 - AcquireTokenHandlerBase.cs: System.NullReferenceException: Object reference not set to an instance of an object.
   at Microsoft.IdentityModel.Clients.ActiveDirectory.HttpHelper.<SendPostRequestAndDeserializeJsonResponseAsync>d__0`1.MoveNext()
--- End of stack tr

[2016-11-23 19:38] kpanwar commented on #563
@eamodio - does @timmydo's suggestion works for you?

[2016-11-23 19:41] kpanwar commented on #559
@miguelrivera @nulltoken - So the fix here is to update the adal's nuspec with correct casing i.e. NETStandard.

[2016-11-23 19:42] eamodio commented on #563
@kpanwar Not sure, but the lock files are regenerated on a restore. So even if it worked it wouldn't be a good solution. For now I have just version locked it to 3.13.6 which works.

[2016-11-23 20:13] miguelrivera commented on #559
@kpanwar Yes, that should do it.

[2016-11-23 21:02] jraadt commented on #563
Same here.  I had to revert back to 3.13.6 for it to work.

[2016-11-24 15:16] psignoret commented on #482
**@talynone**:

Your scenario looks like a *perfect* candidate for the *on-behalf-of flow* (which is the only approach I didn't mention in my earlier comment). This flow is [briefly described](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-authentication-scenarios#delegated-user-identity-with-oauth-20-on-behalf-of-draft-specification) in the [Daemon or Server Application

[2016-11-24 15:48] Ro3A commented on #482
@talynone did not specify if his Web API was authenticated using AD or not. However, in my case, our end users are NOT registered in AD. We use AspNet Identity for our client, and the Web API is "internal only" protected via networking rather than user authentication.

If the Web API proxy is not AD integrated and the end users themselves are not AD users, I'm fairly certain this flow does not wor

[2016-11-24 15:56] psignoret commented on #482
@Ro3A hold on, I haven't addressed your scenario. I can't type that fast. :smile:.

[2016-11-24 16:45] psignoret commented on #482
**@Ro3A**:

Though I encourage you to read through my last response to @talynone, it's not going to help you, since the end-users accessing your app are not necessarily users that can sign in to your Azure AD tenant, let alone users that themselves have permissions to Dynamics CRM Online. (And @talynone, if this is also the case for you, then you should also read this.)

@dstrockis' link to @vibro

[2016-11-24 17:28] kpanwar commented on #482
@psignoret - resource owner grant for confidential clients was exposed as an error. We are going to disable that feature soon.

[2016-11-24 18:21] psignoret commented on #482
Ah, thanks @kpanwar. Updated to show instead how a public client would invoke it.

[2016-11-24 18:39] Ro3A commented on #482
So all that said, since what you're recommending is a last resort (and nearly a hack since the library doesn't support it), one must assume this use case is very small. From what I've seen across dozens of stack overflow articles and blogs, I believe it's a much larger use case and warrants a better solution.

In my case, it seems like AspNet Identity is a no go if the app needs access to AD prote

[2016-11-29 18:24] afourney commented on #222
I may have resolved the issued by adding:

&lt;preference name="adal-use-corporate-network" value="true" /&gt;

To the application manifest.

[2016-11-29 18:35] #222 closed

[2016-11-29 23:04] afourney commented on #222
Ok, more progress.
When working in visual studio, adding:
&lt;Capability Name="privateNetworkClientServer" /&gt;
to the manifest file fixes the problem.

However, this does not work when side loading apps. When side loading, one has to create an LoopbackExemption exemption for AuthHost.exe

E.g., CheckNetIsolation LoopbackExempt -a -n="microsoft.windows.authhost_8wekyb3d8bbwe"

This appears to be

[2016-11-30 06:29] TheSamsterZA commented on #563
@kpanwar I was just bitten by this and @timmydo's fix got me past the error above. Please expedite a 3.13.8 release that fixes the .nuspec file.

[2016-11-30 07:13] TheSamsterZA commented on #563
I am now getting a different error:

[code]

Which has left me bewildered since I can clearly see that I am referencing the assembly:

![image](https://cloud.githubusercontent.com/assets/4981594/20742188/f5eac22c-b722-11e6-9929-0493977c9c8c.png)

`Microsoft Visual Studio  Professional 2015 Update 3, version 14.0.25431.01`

`Microsoft.IdentityModel.Clients.ActiveDirectory, version 3.13.7`

Runtime:

[2016-11-30 07:15] kpanwar commented on #563
Clientassertioncertificate class is not yet supported for .net core.

[2016-11-30 21:53] TheSamsterZA commented on #563
I've switched from

[code]

to

[code]

and had to change my code from:

[code]

to

[code]

I now get:

[code]

This code is used to get the AppToken for the first time.

I feel like I am missing something that should be obvious. Please help.

[2016-11-30 21:54] kpanwar commented on #563
Pleas don't use v4. It was an experimental release and incompatible with AAD v1

[2016-11-30 22:25] TheSamsterZA commented on #563
@kpanwar So where does this leave me? Should I not target .NET Core since there seems to be many issues with getting ADAL to work on it?

If you could point me in the right direction (advice, docs, tutorials, sample code) that would be much appreciated.

[2016-11-30 22:59] kpanwar commented on #563
I will make the typo fix tomorrow

[2016-12-02 09:03] bjartebore commented on #508
This seems to still be a problem in 3.13.17 when brokered authentication is enabled

at UIKit.UIApplication.CanOpenUrl (Foundation.NSUrl url) [0x00000] in /Users/builder/data/lanes/3969/44931ae8/source/xamarin-macios/src/build/ios/native/UIKit/UIApplication.g.cs:190
at Microsoft.IdentityModel.Clients.ActiveDirectory.BrokerHelper.get_CanInvokeBroker () [0x00027] in /Users/bjarte.bore/Prosjekt/stato

[2016-12-02 19:02] onovotny opened #569 "ADAL missing System.Runtime.Seralization.Json dependency on NetCoreApp"
The .NET Core dependencies aren't getting `System.Runtime.Seralization.Json` included. You have to manually add that additional dependency or you'll get a typeinitialization exception.

Right now ADAL is only pulling in `NETStandard.Library` but that doesn't include the aforementioned dependency within that meta-package.

[2016-12-02 19:24] kpanwar commented on #569
I am pushing out a fix today to address this and another issue.

[2016-12-02 21:01] kpanwar commented on #569
@onovotny - I am updating the dependency to
`
<group targetFramework="netstandard1.4">
	<dependency id="NETStandard.Library" version="1.6" />
        <dependency id="System.Runtime.Serialization.Json" version="4.0.2" />
 	<dependency id="System.Runtime.Serialization.Primitives" version="4.1.1" />
 </group>
`

[2016-12-02 21:10] onovotny commented on #569
I don't think you need to have the primitives on explicitly? That should be transitively brought in via the `System.Runtime.Serialization.Json`

[2016-12-02 21:11] onovotny commented on #569
FWIW, version 4.3 is the latest nuget package, and that goes along with NETStandard.Library 1.6.1.

[2016-12-02 23:28] kpanwar commented on #559
@nulltoken @miguelrivera - 3.13.8 has been released. Here is the updated dependencies --
		<group targetFramework="netstandard1.4">
			<dependency id="NETStandard.Library" version="1.6" />
			<dependency id="System.Runtime.Serialization.Json" version="4.0.2" />
			<dependency id="System.Runtime.Serialization.Primitives" version="4.1.1" />
		</group>

[2016-12-02 23:28] #559 closed

[2016-12-02 23:29] kpanwar commented on #569
@onovotny - I was asked by Fowler and Eric from NET team to add it. 3.13.8 has been released

[2016-12-02 23:29] #569 closed

[2016-12-02 23:29] kpanwar commented on #563
3.13.8 has been released

[2016-12-02 23:29] #563 closed

[2016-12-03 11:02] nulltoken commented on #559
🎉

[2016-12-03 15:53] gsacavdm commented on #482
@Ro3A, B2C does support storing user related data.
Here's a link that explains how you'd do this:
https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-custom-attr

[2016-12-03 17:30] Ro3A commented on #482
I'll look into moving that direction then. Thanks for the guidance on this thread guys.

[2016-12-05 10:59] psignoret commented on #482
@Ro3A: Careful though, you can't sign up for services such as CRM Online with an Azure AD B2C tenant. So though you can (and probably should) use Azure AD B2C as the identity service for your application, you won't be able to use the on-behalf-of flow to get access to the CRM Online API in the context of these users. (Because CRM Online won't recognize the user as a user who has permissions in CRM